@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel


@(Html.ASOFTTab()
          .Name("WMF3000Tab")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("A00.ReportInfor", "A00", "00"))
                  .Selected(true)
                  .HtmlAttributes(new { @id = "TabMaster01", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                  .Content(Tab01().ToHtmlString());

              tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("A00.BusinessAnalystID", "A00", "00"))
                  //.Selected(false)
                  .HtmlAttributes(new { @id = "TabMaster02", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                  .Content(Tab02().ToHtmlString());
          })
    )
@helper Tab01(){
    <div id="MainReportTab">
    </div>
}

@helper Tab02()
{
    @*<div class="asf-filter-main" id="AnaFilterTitle">
        <div class="AnaParent" style="padding-top: 10px;">
            @LocalizedHelper.GetLocalizedResourceString("A00.BusinessAnalystID", "A00", "00")
        </div>
    </div>*@
    @Html.ASOFTHidden("CheckInList", "FromAna01ID");
    @Html.ASOFTHidden("CheckInList", "ToAna01ID");
    @Html.ASOFTHidden("CheckInList", "FromAna02ID");
    @Html.ASOFTHidden("CheckInList", "ToAna02ID");
@Html.ASOFTHidden("CheckInList", "FromAna03ID");
@Html.ASOFTHidden("CheckInList", "ToAna03ID");
@Html.ASOFTHidden("CheckInList", "FromAna04ID");
@Html.ASOFTHidden("CheckInList", "ToAna04ID");
    <div id="Parameter">
    <div class="asf-filter-main" id="AnaFilterHeader">
        <div class="AnaParent">
            <div class="AnaTitle">
                &nbsp;
            </div>
            <div class="AnaComboFrom AnaTextCenter">
                @LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00")
            </div>
            <div class="AnaComboTo AnaTextCenter">
                @LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00")
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter1">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 01
                
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 01 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna01ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 01 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna01ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A01", htmlAttributes: new { id = "FromAna01ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A01", htmlAttributes: new { id = "ToAna01ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter2">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 02
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 02 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna02ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 02 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna02ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A02", htmlAttributes: new { id = "FromAna02ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A02", htmlAttributes: new { id = "ToAna02ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter3">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 03
                 
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 03 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna03ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 03 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna03ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A03", htmlAttributes: new { id = "FromAna03ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A03", htmlAttributes: new { id = "ToAna03ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter4">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 04
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 04 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna04ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 04 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna04ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A04", htmlAttributes: new { id = "FromAna04ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A04", htmlAttributes: new { id = "ToAna04ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter5">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 05
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 05 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna05ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 05 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna05ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A05", htmlAttributes: new { id = "FromAna05ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A05", htmlAttributes: new { id = "ToAna05ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter6">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 06
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 06 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna06ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 06 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna06ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A06", htmlAttributes: new { id = "FromAna06ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A06", htmlAttributes: new { id = "ToAna06ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter7">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 07
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 07 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna07ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 07 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna07ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A07", htmlAttributes: new { id = "FromAna07ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A07", htmlAttributes: new { id = "ToAna07ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter8">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 08
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 08 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna08ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 08 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna08ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A08", htmlAttributes: new { id = "FromAna08ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A08", htmlAttributes: new { id = "ToAna08ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter9">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 09
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 09 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna09ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 09 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna09ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A09", htmlAttributes: new { id = "FromAna09ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A09", htmlAttributes: new { id = "ToAna09ID" }))
            </div>
        </div>
    </div>
    <div class="asf-filter-main" id="AnaFilter10">
        <div class="AnaParent">
            <div class="AnaTitle">
                @LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00") 10
                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 10 " +@LocalizedHelper.GetLocalizedResourceString("A00.FromAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "FromAna10ID", style = "display: none"  })

                @Html.Label(@LocalizedHelper.GetLocalizedResourceString("A00.AnalystID", "A00", "00")+ " 10 "+@LocalizedHelper.GetLocalizedResourceString("A00.ToAna", "A00", "00").ToLower(), htmlAttributes: new { @for = "ToAna10ID", style = "display: none" })
               
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A10", htmlAttributes: new { id = "FromAna10ID" }))
            </div>
            <div class="AnaComboTo">
                @(Html.ASOFTBussinessComboBox().ASOFTAnalystNum_WM(model => model.Data, "A10", htmlAttributes: new { id = "ToAna10ID" }))
            </div>
        </div>
    </div>
        </div>
}





<style>
    .AnaTitle {
        float: left;
        width: 25%;
        margin-top: 5px;
    }

    .AnaComboFrom {
        width: 35%;
        float: left;
    }

    .AnaComboTo {
        width: 35%;
        float: left;
        padding-left: 5%;
    }

    .AnaParent {
        width: 100%;
        float: left;
    }

    .AnaTextCenter {
        text-align: center;
    }
</style>
