@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

<fieldset>
            <legend>
                <label>Thời gian</label>
            </legend>
<div class="asf-filter-main" id="PeriodFilter1">
    <div class="block-left">
        <div class="asf-filter-label">
            @Html.ASOFTRadioButton(model => model.Data, 1, new { id = "rdoFilterDate" }).CheckedIf(true)
            Từ ngày
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker, htmlAttributes: new { @id = "FromDate1", @name = "FromDate1" }).Value(ASOFTEnvironment.WorkingDate)
                    .Value(DateTime.Now)
                    .Enable(true)
                    )
        </div>
    </div>
    <div class="block-right">
        Trở về trước
    </div>
</div>
<div class="asf-filter-main" id="PeriodFilter2">
    <div class="block-left">
        <div class="asf-filter-label">
            @Html.ASOFTRadioButton(model => model.Data, 0, new { id = "rdoFilterDate1" }).CheckedIf(false)
            Từ ngày
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker, htmlAttributes: new { @id = "FromDate2", @name = "FromDate2" }).Value(ASOFTEnvironment.WorkingDate)
                    .Value(DateTime.Now)
                    .Enable(true)
                    )
        </div>
    </div>
    <div class="block-right">
        Trở về sau
    </div>
</div>
<div class="asf-filter-main" id="PeriodFilter3">
    <div class="block-left">
        <div class="asf-filter-label">
            @Html.ASOFTRadioButton(model => model.Data, 0, new { id = "rdoFilterDate2" }).CheckedIf(false)
            Ngày
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker, htmlAttributes: new { @id = "FromDate3", @name = "FromDate3" }).Value(ASOFTEnvironment.WorkingDate)
                    .Value(DateTime.Now)
                    .Enable(true)
                    )
        </div>
    </div>
</div>
    </fieldset>
