@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel


<div class="asf-filter-main" id="EmployeeID">
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID","A00","00")
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID1"}))
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID2"}))
        </div>
    </div>
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID","A00","00")
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID3"}))
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID4"}))
        </div>
    </div>
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID","A00","00")
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID5"}))
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
       
    })
</script>