@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel


<div class="asf-filter-main" id="EmployeeID">
    <div class="block-left"> 
        @Html.ASOFTHidden("EmployeeID01" + "_Content_DataType", 7)
        @Html.ASOFTHidden("EmployeeID01"+ "_Type_Fields", 3)
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID_BI","A00","00")01
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTEmployeeID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID01"}))
        </div>
    </div>
    <div class="block-right">
         @Html.ASOFTHidden("EmployeeID02" + "_Content_DataType", 7)
        @Html.ASOFTHidden("EmployeeID02"+ "_Type_Fields", 3)
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID_BI","A00","00")02
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTEmployeeID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID02"}))
        </div>
    </div>
    <div class="block-left"> 
         @Html.ASOFTHidden("EmployeeID03" + "_Content_DataType", 7)
        @Html.ASOFTHidden("EmployeeID03"+ "_Type_Fields", 3)
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID_BI","A00","00")03
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTEmployeeID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID03"}))
        </div>
    </div>
    <div class="block-right">
         @Html.ASOFTHidden("EmployeeID04" + "_Content_DataType", 7)
        @Html.ASOFTHidden("EmployeeID04"+ "_Type_Fields", 3)
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID_BI","A00","00")04
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTEmployeeID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID04"}))
        </div>
    </div>
    <div class="block-left"> 
         @Html.ASOFTHidden("EmployeeID05" + "_Content_DataType", 7)
        @Html.ASOFTHidden("EmployeeID05"+ "_Type_Fields", 3)
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.EmployeeID_BI","A00","00")05
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTEmployeeID_BI(model => model.Data,true, htmlAttributes: new {id = "EmployeeID05"}))
        </div>
    </div>

     <div class="block-right"> 
          @Html.ASOFTHidden("IsAll_BI" + "_Content_DataType", 6)
        @Html.ASOFTHidden("IsAll_BI"+ "_Type_Fields", 2)
      

         <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.IsAll_BI","A00","00")
        </div>
         <div class="asf-filter-input" style="padding-top: 12px">
           @(Html.CheckBox("IsAll_BI", htmlAttributes: new {id = "IsAll_BI"}))
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
       
    })
</script>