@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

<style>
    .block-left1 {
        float: left;
        width: 20%;
    }

    .block-left1 .asf-filter-input {
        width: 50%;
    }

    .block-left1 .asf-filter-label {
        width: 50%;
    }

    .width-40 {
        width: 40%;
    }
</style>

@(Html.ASOFTTab()
          .Name("AF3002Tab")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("AF3002.InfoCommon", "AF3002", "T"))
                  .Selected(true)
                  .HtmlAttributes(new { @id = "TabMaster01", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                  .Content(Tab01().ToHtmlString());

              tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("AF3002.InfoData", "AF3002", "T"))
                  //.Selected(false)
                  .HtmlAttributes(new { @id = "TabMaster02", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                  .Content(Tab02().ToHtmlString());
          })
    )
@helper Tab01()
{
    <div id="MainReportTab">
        <!-- Filter báo cáo -->
        <fieldset id='OOR' style='margin-top: 20px; margin-bottom: 10px;'>
            <legend>
                <label>@LocalizedHelper.GetLocalizedResourceString("AF3002.Format", "AF3002", "T")</label>
            </legend>
            <div class="asf-filter-main" id="IsDetail001">
                <div class="block-left">
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-input" style="float: left;">
                    </div>
                </div>
            </div>
            <div class="asf-filter-main" id="ReportCode001">
                <div class="block-left">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-input" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="asf-filter-main" id="ReportTitle001">
                <div class="block-left" style="width: 100%;">
                    <div class="asf-filter-label" style="width: 19.555555%;">
                    </div>
                    <div class="asf-filter-input" style="width: 80.444444%;">
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Time -->
        <fieldset id='OORTimeFilter' style='margin-top: 20px; margin-bottom: 10px;'>
            <legend>
                <label>@LocalizedHelper.GetLocalizedResourceString("AF3002.Time", "AF3002", "T")</label>
            </legend>
            <div class="asf-filter-main" id="AmountUnit001">
                <div class="block-left">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
}
@helper Tab02()
{
    <div id="MainReportTab">
        <!-- Filter báo cáo -->
        <div class="asf-filter-main" id="IsDebit001">
            <div class="block-left">
                <div class="asf-filter-input">
                </div>
            </div>
            <div class="block-right">
                <div class="asf-filter-input" style="float: left;">
                </div>
            </div>
        </div>
        <fieldset id='OOR' style='margin-top: 20px; margin-bottom: 10px;'>
            <legend>
                <label>@LocalizedHelper.GetLocalizedResourceString("AF3002.Group", "AF3002", "T")</label>
            </legend>
            <div class="asf-filter-main" id="Group001">
                <div class="block-left">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
            <div class="asf-filter-main" id="Group002">
                <div class="block-left">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
            <div class="asf-filter-main" id="Group003" style ="display:none;">
                <div class="block-left">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Inventory -->
        <fieldset id='OORTimeFilter' style='margin-top: 20px; margin-bottom: 10px;'>
            <legend>
                <label>@LocalizedHelper.GetLocalizedResourceString("AF3002.Inventory", "AF3002", "T")</label>
            </legend>
            <div class="asf-filter-main" id="InventoryType001">
                <div class="block-left">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
            <div class="asf-filter-main" id="Inventory001">
                <div class="block-left">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Filter -->
        <fieldset id='OORTimeFilter' style='margin-top: 20px; margin-bottom: 10px;'>
            <legend>
                <label>@LocalizedHelper.GetLocalizedResourceString("AF3002.Filter", "AF3002", "T")</label>
            </legend>
            <div class="asf-filter-main" id="Filter001">
                <div class="block-left1">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-left width-40">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right width-40">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
            <div class="asf-filter-main" id="Filter002">
                <div class="block-left1">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-left width-40">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right width-40">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
            <div class="asf-filter-main" id="Filter003">
                <div class="block-left1">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-left width-40">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
                <div class="block-right width-40">
                    <div class="asf-filter-label">
                    </div>
                    <div class="asf-filter-input">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
}