@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.A00.Business.Common;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

@{
    
    string where = "";
    if (ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_ANGEL)
    {
        if ((ViewBag.ScreenID.Equals("BF3006") || ViewBag.ScreenID.Equals("BF3004")))
        {
            where = " AND InventoryTypeID BETWEEN 'SP11' AND 'SP51'";
        }
        else if (ViewBag.ScreenID.Equals("BF3005"))
        {
            where = " AND InventoryTypeID <= 'SP89'";
        }
    }
}


<div class="asf-filter-main" id="FromToInventoryTypeID">
    <div class="block-left">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.FromInventoryTypeID", "A00", "00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTInventoryTypeID_BI(model => model.Data, false, where, htmlAttributes: new { id = "FromInventoryTypeID" }))
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.ToInventoryTypeID", "A00", "00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTInventoryTypeID_BI(model => model.Data, false, where, htmlAttributes: new { id = "ToInventoryTypeID" }))
        </div>
    </div>
</div>
@if (ViewBag.ScreenID.Equals("BF3005"))
{
    <div class="asf-filter-main" id="FromToI03ID">
        <div class="block-left">
            <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("BF3005.FromI03ID", "BF3005", "BI")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTAnaID_AT1015(model => model.Data, anaTypeID: "I03", htmlAttributes: new { id = "FromI03ID" }))
            </div>
        </div>
        <div class="block-right">
            <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("BF3005.ToI03ID", "BF3005", "BI")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTAnaID_AT1015(model => model.Data, anaTypeID: "I03", htmlAttributes: new { id = "ToI03ID" }))
            </div>
        </div>
    </div>
}


<script>

    $(document).ready(function () {
    })
</script>
