@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel


<div class="asf-filter-main" id="FromToDate">
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.rdoFilterFromDate","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker, htmlAttributes: new {@id = "FromDate", @name = "FromDate" })//.Value(ASOFTEnvironment.WorkingDate)
                    .Enable(true)
                    )
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.rdoFilterToDate","A00","00")
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTDateEdit(model => model.TypeDateTimePicker,htmlAttributes: new {@id = "ToDate", @name = "ToDate"})//.Value(ASOFTEnvironment.WorkingDate)
                    .Enable(true)
                    )
        </div>
    </div>
</div>


@{
        @Html.ASOFTHidden("IsPeriod", 0)
        @Html.ASOFTHidden("FromTranMonth")
        @Html.ASOFTHidden("ToTranMonth")
        @Html.ASOFTHidden("FromTranYear")
        @Html.ASOFTHidden("ToTranYear")

        @Html.ASOFTHidden("FromDate_Content_DataType", 13)
        @Html.ASOFTHidden("ToDate_Content_DataType", 13)
        @Html.ASOFTHidden("FromTranMonth_Content_DataType", 5)
        @Html.ASOFTHidden("ToTranMonth_Content_DataType", 5)
        @Html.ASOFTHidden("FromTranYear_Content_DataType", 5)
        @Html.ASOFTHidden("ToTranYear_Content_DataType", 5)

        @Html.ASOFTHidden("FromDate_Type_Fields", 5)
        @Html.ASOFTHidden("ToDate_Type_Fields", 5)
        @Html.ASOFTHidden("FromTranMonth_Type_Fields", 1)
        @Html.ASOFTHidden("ToTranMonth_Type_Fields", 1)
        @Html.ASOFTHidden("FromTranYear_Type_Fields", 1)
        @Html.ASOFTHidden("ToTranYear_Type_Fields", 1)
}



<script>
    function FromPeriodChange() {
        $("#FromTranMonth").val(this.value().split('/')[0]);
        $("#FromTranYear").val(this.value().split('/')[1]);
    }
    function ToPeriodChange() {
        $("#ToTranMonth").val(this.value().split('/')[0]);
        $("#ToTranYear").val(this.value().split('/')[1]);
    }

    $(document).ready(function () {
        $("#rdoFilterPeriod").attr("name", "rdoFilter");
        $("#rdoFilterDate").attr("name", "rdoFilter");
        $("input[name='rdoFilter']").click(function (e) {
            var value = $(this).val();
            var isDateCheck = (value == '1');
            $("#FromDate").data("kendoDatePicker").enable(isDateCheck);
            $("#ToDate").data("kendoDatePicker").enable(isDateCheck);

            //$("#FromPeriodFilter").data("kendoComboBox").enable(!isDateCheck);
            //$("#ToPeriodFilter").data("kendoComboBox").enable(!isDateCheck);

            if (isDateCheck) {
                $("#IsPeriod").val('0');
            }
            else {
                $("#IsPeriod").val('1');
            }
        });
        //$("#FromTranMonth").val($("#FromPeriodFilter").val().split('/')[0]);
        //$("#FromTranYear").val($("#FromPeriodFilter").val().split('/')[1]);

        //$("#ToTranMonth").val($("#ToPeriodFilter").val().split('/')[0]);
        //$("#ToTranYear").val($("#ToPeriodFilter").val().split('/')[1]);
    })
</script>