@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

<div id="GroupTitle1" style="display: none">@LocalizedHelper.GetLocalizedResourceString("AF3004.GroupTitle1", "AF3004", "T")</div>
<div id="GroupTitle2" style="display: none">@LocalizedHelper.GetLocalizedResourceString("AF3004.GroupTitle2", "AF3004", "T")</div>
<!-- Filter Kỳ -->
<div id="TimeFilter_1">
    <div class="asf-filter-main" id="PeriodFilter">
        <div class="block-left">
            <div class="asf-filter-label">
                <span>
                    @Html.ASOFTRadioButton(model => model.Data, 0, new { id = "rdoTimeFilter" }).CheckedIf(true)
                </span>
                @LocalizedHelper.GetLocalizedResourceString("A00.FromPeriod", "A00", "00")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTReport_Period(model => model.Data, htmlAttributes: new { id = "fromPeriod" }))
            </div>
        </div>
        <div class="block-right">
            <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.ToPeriod", "A00", "00")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTReport_Period(model => model.Data, htmlAttributes: new { id = "toPeriod" }))
            </div>
        </div>
    </div>

    <!-- Filter Quý -->
    <div class="asf-filter-main" id="QuarterFilter">
        <div class="block-left">
            <div class="asf-filter-label">
                <span>
                    @Html.ASOFTRadioButton(model => model.Data, 1, new { id = "rdoTimeFilter" })
                </span>
                @LocalizedHelper.GetLocalizedResourceString("A00.FromQuarter", "A00", "00")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTReport_Quarter(model => model.Data, htmlAttributes: new { id = "fromQuarter" }))
            </div>
        </div>
        <div class="block-right">
            <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.ToQuarter", "A00", "00")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTReport_Quarter(model => model.Data, htmlAttributes: new { id = "toQuarter" }))
            </div>
        </div>
    </div>

    <!-- Filter Năm -->
    <div class="asf-filter-main" id="YearFilter">
        <div class="block-left">
            <div class="asf-filter-label">
                <span>
                    @Html.ASOFTRadioButton(model => model.Data, 2, new { id = "rdoTimeFilter" })
                </span>
                @LocalizedHelper.GetLocalizedResourceString("A00.FromYear", "A00", "00")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTReport_Year(model => model.Data, htmlAttributes: new { id = "fromYear" }))
            </div>
        </div>
        <div class="block-right">
            <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.ToYear", "A00", "00")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTReport_Year(model => model.Data, htmlAttributes: new { id = "toYear" }))
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        
    });
</script>
