@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#    10/09/2015       Quang Chiến        Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.CI.CIF1062ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "CIF1062").ToHtmlString();
}

<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTPageTitle(m => m.Title, "CIF1062").ToHtmlString(), Breakcrumb = true})
    <div id="ViewMaster" class="asf-panel-view-master" >
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        <div id="viewPartial">
            @Html.Partial("CIF1062M")
        </div>
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1060.js")"></script>   
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1061.js")"></script> 
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/CI/Content/Common.css")" rel="stylesheet" type="text/css" />
        <link  href="@Url.Content("~/Content/Styles/RWD/ViewNoDetail/asoftRWD480pxViewNo.css")" rel="stylesheet" type="text/css" />
<link  href="@Url.Content("~/Content/Styles/RWD/ViewNoDetail/asoftRWD600pxViewNo.css")" rel="stylesheet" type="text/css" />
}

<!-- Hidden Field -->
@Html.ASOFTHidden("UrlCIF1060", Url.Action("Index"))
@Html.ASOFTHidden("urlCIF1062M", Url.Action("CIF1062M"))
@Html.ASOFTHidden("UrlCIF1061", Url.Action("CIF1061"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlCheckEdit", Url.Action("CheckEdit"))