
@using ASOFT.ERP.A00.Core
@model SOF2033ViewModel
@using ASOFT.ERP.ViewModel.SO

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Width = 800;
}
@Html.ASOFTHidden("SOF2033_Barcode", (string)ViewBag.Barcode)
@Html.ASOFTHidden("SOF2033_Type", (int)ViewBag.Type)

 @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "SOF2033" }))
 {

        <div>
            <table>
                <tr>
                    <td class="asf-td-caption" style="width: 100px">@Html.ASOFTLabel(m => m.VoucherDate)</td>
                    <td class="asf-td-field">@Html.ASOFTDateEdit(m => m.VoucherDate)</td>
                </tr>
            </table>
        </div>
        <div id="SOF2033Message"></div>
        <div>@ViewBag.TitleOut</div>

        @Html.Partial("GridExport", Model)

        <div>
            <table>
                <tr>
                    <td class="asf-td-caption" style="width: 100px">@Html.ASOFTLabel(m => m.ImVoucherDate)</td>
                    <td class="asf-td-field">@Html.ASOFTDateEdit(m => m.ImVoucherDate)</td>
                </tr>
            </table>
        </div>

        <div>@ViewBag.TitleIn</div>
        @Html.Partial("GridImport", Model)

        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                    .Name("SOF2033BtnClose").Events(e=>e.Click("SOF2033_btnClose_Click")))                           
                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                    .Name("SOF2033BtnSave").Events(e=>e.Click("SOF2033_btnSave_Click")))                           
                                </div>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
 }
<script src="@Url.Content("~/Areas/SO/Scripts/SOF2033/SOF2033.js")" type="text/javascript"></script>