
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.ViewModel.MT;

@model MTF0080ViewModel

@{
    Layout = "";
    var gridsettingMTF0080 = new ASOFTGridSetting
    {
        NameGrid = "MTF0080_GridMaster",
        keyColumnID = "ObjectID",
        NameEventPost = "MTF0080.sendFilter",
        Scrollable = true,
        ActionName = "GetDataObject",
        ControllerName = "MTF0080",
        IsShowCheck = false,
        IsAutoHeight = false,
        HtmlAttribute = new { style = "height:300px;", @class = "asf-grid" },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
            new ASOFTGridColumnSetting
            {
                IDColumn = "RowNum",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Order"),
                Width = 70,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new { style = "text-align:center" })
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTF0080ViewModel.COL_OBJECTID,
                TitleColumn = Html.ASOFTRaw(model => model.ObjectID),
                Width = 200,
                VisibleColumn = true,
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = MTF0080ViewModel.COL_OBJECTNAME,
                TitleColumn = Html.ASOFTRaw(model => model.ObjectName),
                VisibleColumn = true,
            },        
        }
    };
}

<script>
    $(document).ready(function () {
        if (MTF0080Popup) {
            $("#SearchText").focus();
            $("#SearchText").select();
        }
    });
</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormFilterMTF0080" }))
{
    <div class="asf-filter-container">
        @Html.ASOFTHidden("ObjectType", Model.ObjectType)
        <div class="asf-common-search popup-input">
            <span class="k-textbox k-space-right">
                @Html.ASOFTTextBox(model=>model.SearchText, htmlStyle: new { width = Unit.Percentage(100)})

                @(Html.ASOFTButton("", htmlStyle: new { width = "24px", height = "24px" })
                      .Name("btnFilterMTF0080")
                      .HtmlAttributes(new { Class = "k-icon asf-i-search-24" })
                      .Events(e => e.Click("MTF0080.btnfilter_Click")))
            </span>
        </div>
    </div>
}
<div class="drop-fieldset">
    @(Html.ASOFTCreateGrid<MTF0080GridViewModel>(gridsettingMTF0080))
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                       .Name("btnCloseObjectMTF0080").Events(e => e.Click("MTF0080.btnCloseObjectClick")))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChoose"))
                                        .Name("btnOkObjectMTF0080").Events(e => e.Click("MTF0080.btnOkObjectClick"))
                                       )
                            </div>
                        </div>
                    </td>
                </tr>
    </table>
</div>