@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     06/12/2017      Kim Vũ          Create new
//####################################################################
*@
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.LM
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.ViewModel.Helper;

@{
    ASOFT.ERP.A00.Entities.Common.ComboBoxDynamic DynamicComboModel = null;
    ASOFTSysFieldsViewModel model1 = new ASOFTSysFieldsViewModel();
}
<div class="container_12" style="height: 110px">
    <div class="container3">
        <div class="form-content">
            <!--SourceID-->
            <div class="asf-filter-main">
                <div class="block-left">
                    <div class="asf-filter-label">
                        @LocalizedHelper.GetLocalizedResourceString("LMF1023.SourceID", "LMF1023", "LM")
                    </div>
                    <div class="asf-filter-input">
                        @{  
                            DynamicComboModel = new ASOFT.ERP.A00.Entities.Common.ComboBoxDynamic();
                            DynamicComboModel.sysComboBoxID = LocalizedHelper.GetLocalizedsysComboBox().Find(x => x.ComboBoxID.Equals("cboSourceIDAsset_LM")).sysComboBoxID;
                            DynamicComboModel.ScreenID = "LMF1023";
                            DynamicComboModel.Module = "LM";                                                                          
                            @Html.ASOFTBussinessComboBox().ASOFTComboBoxMultiColumn(model => model1.Data, DynamicComboModel, false, htmlAttributes: new { @id = "SourceID", @Module = "LM", @ScreenID = "LMF1023", @sysComboBoxID = LocalizedHelper.GetLocalizedsysComboBox().Find(x => x.ComboBoxID.Equals("cboSourceIDAsset_LM")).sysComboBoxID })
                        }
                    </div>
                </div>
            </div>

            <!--InheritID-->
            <div class="asf-filter-main">
                <div class="block-left">
                    <div class="asf-filter-label">
                        @LocalizedHelper.GetLocalizedResourceString("LMF1023.Inherit", "LMF1023", "LM")
                    </div>
                    <div class="asf-filter-input">
                        @Html.ASOFTTextBox(model => model1.Data, htmlAttribute: new { @id = "AssetID", @name = "AssetID" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_12 asf-form-button">
        <ul>
            <li>
                @(Html.ASOFTSearchButton()
                          .Name("BtnFilter")
                          .Events(e => e.Click("LMF1023.BtnFilter_Click"))
                          )
            </li>
            <li>
                @(Html.ASOFTSearchResetButton()
                          .Name("LMF1023.BtnClearFilter")
                        //.Events(e => e.Click("BtnClearFilter_Click"))
                          )
            </li>
        </ul>
    </div>
</div>
