@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     23/10/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core;
@model CIF0020ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "CIF0020").ToHtmlString();
    ViewBag.Width = 800;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlLogo", Url.Action("Logo", "CIF0020", null, HttpContext.Current.Request.Url.Scheme))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id="CIF0020" }))
{    
    @(Html.ASOFTTab()
        .Name("CIF0020Tab")
        .Items(tabstrip =>
        {
            tabstrip.Add().Text(Html.ASOFTRaw(model => model.Tab01))
                .Selected(true)
                .HtmlAttributes(new { @id = "TabMaster01" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                .Content(Tab01().ToHtmlString());

            tabstrip.Add().Text(Html.ASOFTRaw(model => model.Tab02))
                .HtmlAttributes(new { @id = "TabMaster02" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                .Content(Tab02().ToHtmlString());

        })
    )
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td align="right">
                    <div class="asf-popup-button-container">
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                  .Name("BtnClose")
                                  .Events(e => e.Click("CIF0020.btnClose_Click")))
                        </div>
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                    .Name("BtnConfig")
                                    .Events(e => e.Click("CIF0020.btnConfig_Click")))
                        </div>    
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@helper Tab01()
{
    <div class="asf-form-container">
        <div class="form-content">
            <table class="asf-table-view">
                <tr>
                    <td style="vertical-align:top">@Html.ASOFTLabel(model => model.Logo)</td>
                    <td>
                        @Html.ASOFTLogo("CIF0020", "Logo", new { Area = "CI" }, width:130, height:110)
                    </td>
                    <td colspan="3" style="vertical-align:top">
                       @(Html.Kendo().Upload()
                              .Name("upload")
                              .Messages(m => m.Select(ASOFTLanguage.FindWordA00("A00.btnUpload")))
                              .Multiple(false)
                              .ShowFileList(true)
                              .Async(a => a.Save("Save", "CIF0020").AutoUpload(true)
                            ).Events(e => e.Success("CIF0020.onSuccess")
                                            .Upload("CIF0020.onUpload"))
                        )
                    </td>
                </tr>
               <tr>
                    <td class="form-td">@Html.ASOFTLabel(model => model.CompanyName)</td>
                    <td colspan="4">@Html.ASOFTTextBox(model => model.CompanyName)</td>
                </tr>
                <tr>
                    <td class="form-td">@Html.ASOFTLabel(model => model.ShortName)</td>
                    <td colspan="4">@Html.ASOFTTextBox(model => model.ShortName)</td>
                </tr>
                <tr>
                    <td class="form-td">@Html.ASOFTLabel(model => model.Tel)</td>
                    <td>@Html.ASOFTTextBox(model => model.Tel)</td>
                    <td class="td-space"></td>
                    <td class="form-td">@Html.ASOFTLabel(model => model.Fax)</td>
                    <td>@Html.ASOFTTextBox(model => model.Fax)</td>
                </tr>
                <tr>
                    <td class="form-td">@Html.ASOFTLabel(model => model.Email)</td>
                    <td colspan="4">@Html.ASOFTTextBox(model => model.Email)</td>
                </tr>
                <tr>
                    <td class="form-td">@Html.ASOFTLabel(model => model.CityID)</td>
                    <td>@Html.ASOFTTextBox(model => model.CityID)</td>
                    <td class="td-space"></td>
                    <td class="form-td">@Html.ASOFTLabel(model => model.CountryID)</td>
                    <td>@Html.ASOFTTextBox(model => model.CountryID)</td>
                </tr>
                <tr>
                    <td class="form-td">@Html.ASOFTLabel(model => model.Director)</td>
                    <td colspan="4">@Html.ASOFTTextBox(model => model.Director)</td>
                </tr>
                @*<tr>
                    <td class="form-td">@Html.ASOFTLabel(model => model.BankAccountID)</td>
                    <td colspan="4">@Html.ASOFTBussinessComboBox().ASOFTBankAccountID(model => model.BankAccountID)</td>
                </tr>*@
                <tr>
                    <td>@Html.ASOFTLabel(model => model.Address)</td>
                    <td colspan="4">@Html.ASOFTTextArea(model => model.Address)</td>
                </tr>
            </table> 
        </div>
    </div>
}


@helper Tab02()
{
        <div class="asf-form-container">
            <div class="form-content">
                <div class="form-content-left">
                    <table class="asf-table-view">
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.BaseCurrencyID)</td>
                            <td colspan="3">@Html.ASOFTBussinessComboBox().ASOFTCurrencyID(model => model.BaseCurrencyID)</td>
                        </tr>
                        @if(ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_KIMYEN)
                        {
                            <tr>
                                <td class="form-td">@Html.ASOFTLabel(model => model.CommissionManageRate)</td>
                                <td colspan="3">@Html.ASOFTTextBox(model => model.CommissionManageRate)</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="form-content-right">
                    <table class="asf-table-view">
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.PeriodNum)</td>
                            <td colspan="3">@Html.ASOFTSpinEdit(model => model.PeriodNum)</td>
                        </tr>
                        @if(ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_KIMYEN)
                        {
                            <tr>
                                <td class="form-td">@Html.ASOFTLabel(model => model.CommissionEmployeeRate)</td>
                                <td colspan="3">@Html.ASOFTTextBox(model => model.CommissionEmployeeRate)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    @*
}

        <div class="asf-form-container">
            <div class="form-content">
                <div class="form-content-left">
                    <table class="asf-table-view">
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.BaseCurrencyID)</td>
                            <td colspan="3">@Html.ASOFTBussinessComboBox().ASOFTCurrencyID(model => model.BaseCurrencyID)</td>
                        </tr>
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.UnitCostDecimals)</td>
                            <td colspan="3">@Html.ASOFTSpinEdit(model => model.UnitCostDecimals)</td>
                        </tr>
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.PercentDecimal)</td>
                            <td colspan="3">@Html.ASOFTSpinEdit(model => model.PercentDecimal)</td>
                        </tr>
                    </table>
                </div>
                <div class="form-content-right">
                    <table class="asf-table-view">
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.PeriodNum)</td>
                            <td colspan="3">@Html.ASOFTSpinEdit(model => model.PeriodNum)</td>
                        </tr>
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.QuantityDecimals)</td>
                            <td colspan="3">@Html.ASOFTSpinEdit(model => model.QuantityDecimals)</td>
                        </tr>
                        <tr>
                            <td class="form-td">@Html.ASOFTLabel(model => model.ConvertedDecimals)</td>
                            <td colspan="3">@Html.ASOFTSpinEdit(model => model.ConvertedDecimals)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>*@
}

    
@section styleFeature{
    <link href="@Url.Content("~/Areas/CI/Content/CIF0020.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF0020.js?v=" + ASOFTEnvironment.Version)"></script>
}