@using ASOFT.ERP.ViewModel.DRM
@model DRF2012ViewModel
@{
    var initData = new JavaScriptSerializer().Serialize(Model);
}

@Html.ASOFTHidden("initData", initData)
@Html.ASOFTHidden(model => model.TeamID)
@Html.ASOFTHidden(model => model.TableID)
@Html.ASOFTHidden("UserID", ASOFTEnvironment.UserID)
@Html.ASOFTHidden(model => model.IsBankClose)

@helper Group01()
{
    <div class="asf-master-content">
        @*<div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">
                        @Html.ASOFTLabel(model => model.TeamID)
                        @Html.ASOFTHidden(model => model.APK)
                        @Html.ASOFTHidden(model => model.IsSendVPL)
                        @Html.ASOFTHidden(model => model.IsSendXR)
                        @Html.ASOFTHidden(model => model.IsClose)
                        @Html.ASOFTHidden(model => model.IsClosed)
                    </td>
                    <td class="dot"></td>
                    <td class="content-text" id="TeamID">@Html.DisplayFor(model => model.TeamID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.CustomerID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CustomerID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.CustomerName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CustomerName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractNo)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="ContractNo">@Html.DisplayFor(model => model.ContractNo)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtorID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DebtorID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtorName)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="DebtorName">@Html.DisplayFor(model => model.DebtorName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractQuantity)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.ContractQuantity)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.FeePlace)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FeePlace)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.DebtAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtPeriod)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.DebtPeriod)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.IsNew)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.IsNewText)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DebtDate)</td>
                </tr>
            </table>
        </div>*@
        @*<div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label first-col">@Html.ASOFTLabel(model => model.PaidAmount, htmlStyle: new { width = "150px", @float = "left" })</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.PaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.PaidPerMonth)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.PaidPerMonth)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractBeginDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContractBeginDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractEndDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContractEndDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.UnPaidAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.UnPaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.UnPaidElse)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.UnPaidElse)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.PunishFee)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.PunishFee)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.OverDueProfit)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.OverDueProfit)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.FirstUnPaidAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FirstUnPaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.LoanBeginDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LoanBeginDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.LoanEndDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LoanEndDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NearPaidDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NearPaidDate)</td>
                </tr>
            </table>
        </div>*@
        @*<div class="asf-content-block last">
            <table class="asf-table-view">*@
                @*<tr>
                    <td class="content-label first-col">@Html.ASOFTLabel(model => model.NearPaidAmount, htmlStyle: new { width = "150px", @float = "left" })</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.NearPaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.PaidPeriodTotal)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.PaidPeriodTotal)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.UnPaidPeriodTotal)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.UnPaidPeriodTotal)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.FirstPaidPeriod)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FirstPaidPeriod)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextPaidPeriod)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NextPaidPeriod)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.AccountingDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AccountingDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.OverDueDays)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.OverDueDays)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.OverDueDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.OverDueDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.BankAccount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.BankAccount)</td>
                </tr>*@
                @*<tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.OtherNote)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.OtherNote">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.OtherNote)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.WorkHistory)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.WorkHistory">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.WorkHistory)</div>
                    </td>
                </tr>*@
           @* </table>
        </div>*@

        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">
                        @Html.ASOFTLabel(model => model.TeamID)
                        @Html.ASOFTHidden(model => model.APK)
                        @Html.ASOFTHidden(model => model.IsSendVPL)
                        @Html.ASOFTHidden(model => model.IsSendXR)
                        @Html.ASOFTHidden(model => model.IsClose)
                        @Html.ASOFTHidden(model => model.IsClosed)
                    </td>
                    <td class="dot"></td>
                    <td class="content-text" id="TeamID">@Html.DisplayFor(model => model.TeamID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.CustomerID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CustomerID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.CustomerName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CustomerName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.IsNew)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.IsNewText)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.FeePlace)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FeePlace)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtorID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DebtorID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractNo)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="ContractNo">@Html.DisplayFor(model => model.ContractNo)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtorName)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="DebtorName">@Html.DisplayFor(model => model.DebtorName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.BankAccount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.BankAccount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractQuantity)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.ContractQuantity)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.DebtAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractBeginDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContractBeginDate)</td>
                </tr>
                
                
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.LoanBeginDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LoanBeginDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.LoanEndDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LoanEndDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtPeriod)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.DebtPeriod)</td>
                </tr>
                <tr>
                    <td class="content-label first-col">@Html.ASOFTLabel(model => model.DebtDate, htmlStyle: new { width = "150px", @float = "left" })</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DebtDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.PaidPerMonth)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.PaidPerMonth)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NearPaidDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NearPaidDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NearPaidAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.NearPaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.PaidAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.PaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.PaidPeriodTotal)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.PaidPeriodTotal)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.UnPaidPeriodTotal)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.UnPaidPeriodTotal)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.FirstPaidPeriod)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FirstPaidPeriod)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextPaidPeriod)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NextPaidPeriod)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.AccountingDate)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.DisplayFor(model => model.AccountingDate)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.OverDueDays)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.ASOFTDisplayNumber(model => model.OverDueDays)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.OverDueDate)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.DisplayFor(model => model.OverDueDate)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.ContractEndDate)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.DisplayFor(model => model.ContractEndDate)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.FirstUnPaidAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.DisplayFor(model => model.FirstUnPaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.UnPaidAmount, htmlStyle: new { width = "170px", @float = "left" })</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.ASOFTDisplayNumber(model => model.UnPaidAmount)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.UnPaidElse)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.ASOFTDisplayNumber(model => model.UnPaidElse)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.PunishFee)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.ASOFTDisplayNumber(model => model.PunishFee)</td>
                </tr>
                <tr>
                    <td class="content-label" colspan="2">@Html.ASOFTLabel(model => model.OverDueProfit)</td>
                    <td class="dot"></td>
                    <td class="content-text" colspan="2">@Html.ASOFTDisplayNumber(model => model.OverDueProfit)</td>
                </tr>
               
            </table>
        </div>
       
        <div class="full-fieldset padding-format full-single">
            <div class="full">
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.NewStatus)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.NewStatus">
                            <div>@Html.DisplayFor(model => model.NewStatus)</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Note)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.Note">
                            <div>@Html.DisplayFor(model => model.Note)</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.OtherNote)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.OtherNote">
                            <div>@Html.DisplayFor(model => model.OtherNote)</div>
                        </td>
                    </tr>
                </table>                
            </div>
        </div>
    </div>
    <div class="asf-master-content">
        <div class="asf-content-block-sys left" style="height: 138px;">
            <fieldset style="height: 100%; margin-top: -8px;">
                <legend><b>@Html.ASOFTLabel(model => model.SendClose)</b></legend>
                <table class="asf-table-send" style="width: 100%;">
                    <tr>
                        <td class="content-label" style="width: 20%;">@Html.ASOFTLabel(model => model.IsSendXRName)</td>
                        <td class="dot">:</td>
                        <td class="content-text" style="width: 30%;">@Html.DisplayFor(model => model.IsSendXRName)</td>
                        <td class="content-label" style="width: 20%;">@Html.ASOFTLabel(model => model.XRSendDate)</td>
                        <td class="dot">:</td>
                        <td class="content-text" style="width: 30%;">@Html.DisplayFor(model => model.XRSendDate)</td>
                    </tr>
                    <tr>
                        <td class="content-label" style="width: 20%;">@Html.ASOFTLabel(model => model.IsSendVPLName)</td>
                        <td class="dot">:</td>
                        <td class="content-text" style="width: 30%;">@Html.DisplayFor(model => model.IsSendVPLName)</td>
                        <td class="content-label" style="width: 20%;">@Html.ASOFTLabel(model => model.VPLSendDate)</td>
                        <td class="dot">:</td>
                        <td class="content-text" style="width: 30%;">@Html.DisplayFor(model => model.VPLSendDate)</td>
                    </tr>
                    <tr>
                        <td class="content-label" style="width: 20%;">@Html.ASOFTLabel(model => model.IsCloseName)</td>
                        <td class="dot">:</td>
                        <td class="content-text" style="width: 30%;">@Html.DisplayFor(model => model.IsCloseName)</td>
                        <td class="content-label" style="width: 20%;">@Html.ASOFTLabel(model => model.CloseDate)</td>
                        <td class="dot">:</td>
                        <td class="content-text" style="width: 30%;">@Html.DisplayFor(model => model.CloseDate)&nbsp;@Html.ASOFTLabel(model => model.IsBankClose, htmlStyle: new { display = Model.IsBankClose == 1 ? "" : "none" })</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="asf-content-block-sys right">
            <fieldset style="margin-top: -8px;">
                <legend><b>@Html.ASOFTLabel(model => model.DRF2012Tab05Title)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.ContractReceiveDate)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.ContractReceiveDate)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.ManagerNote)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.ManagerNote">
                            <div class='content-ellipsis'>@Html.DisplayFor(model => model.ManagerNote)</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.ContractGroupID)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.ContractGroupID)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.ContractStatus)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.ContractStatus)</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
   <div class="asf-master-content">
    <div style="padding: 0px 20px">
            <fieldset style="margin-top: -8px;">
                 <legend><b>@Html.ASOFTLabel(model => model.DRF2012Tab09Title)</b></legend>
        <div class="asf-content-block first">
          <table class="asf-table-view" Style="width:389px">
            <tr>
                    <td Style="width:45px">@Html.ASOFTLabel(model => model.FromPeriodID)</td>
                    <td  class="asf-td-contain-combo" >
                        @(Html.ASOFTBussinessComboBox().ASOFTPeriod(model => model.FromPeriodID)
                                    .SelectedIndex(0)
                                    .Events(e => e.Change("DRF2011.LoadDRF2012Grid")
                                ))</td>
                    <td class="dot" Style="width:20px"></td>
                    <td Style="width:45px">@Html.ASOFTLabel(model => model.ToPeriodID)  </td>
                    <td class="asf-td-contain-combo" Style="width:140px">
                        @(Html.ASOFTBussinessComboBox().ASOFTPeriod(model => model.ToPeriodID)
                                    .SelectedIndex(0)
                                   .Events(e => e.Change("DRF2011.LoadDRF2012Grid")
                            ))
                    </td>
                </tr>
            </table>   
        </div>   
        <div class="full-fieldset padding-format full-single">
                            <div class="form-content">    
                                @Html.Partial("DRF2012Grid")
                            </div>
        </div>
    </fieldset>
    </div>
   </div>
   
}

@helper Group02()
{
    <div class="asf-master-content">
        <div class="asf-content-block-sys left" style="height: 309px;">
            <!--asf-content-block first -->
            <fieldset style="height: 299px">
                <legend><b>@Html.ASOFTLabel(model => model.DebtorInfomation)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.IdentifyCardNo)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.IdentifyCardNo)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.IdentifyCardDate)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.IdentifyCardDate)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Birthday)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Birthday)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.RegistrationBook)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.RegistrationBook)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.HouseholdName)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.HouseholdName)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.WorkPlace)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.WorkPlace">
                            <div class='content-ellipsis'>@Html.DisplayFor(model => model.WorkPlace)</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.WorkNote)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.WorkNote">
                            <div class='content-ellipsis'>@Html.DisplayFor(model => model.WorkNote)</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Duty)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Duty)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.AddQuantity)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.ASOFTDisplayNumber(model => model.AddQuantity)</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="asf-content-block-sys right">
            <!--asf-content-block middle-->
            <fieldset>
                <legend><b>@Html.ASOFTLabel(model => model.AssetInfomation)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.AssetInfo)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.AssetInfo)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Asset)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Asset)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.BikeType)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.BikeType)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.BikeName)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.BikeName)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.BikeColor)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.BikeColor)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.BikeEngineNo)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.BikeEngineNo)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.NumberPlate)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.NumberPlate)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.BikePrice)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.BikePrice)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.CavetStatus)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.CavetStatus)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.PrePaid)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.PrePaid)</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        @*<div class="asf-content-block last">
            <fieldset>
                <legend><b>@Html.ASOFTLabel(model=>model.SendClose)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.IsSendXRName)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.IsSendXRName)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.IsSendVPLName)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.IsSendVPLName)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.IsCloseName)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.IsCloseName)</td>
                    </tr>
                </table>
            </fieldset>
        </div>*@
    </div>
}

@helper Group03()
{
    Html.Partial("GridAddress", new DRF2010GridViewModel());
}

@helper Group04()
{
    <div class="asf-master-content">
        <div class="asf-content-block-sys left">
            <fieldset>
                <legend><b>@Html.ASOFTLabel(model => model.ReceiverInfo)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver01)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver01)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver02)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver02)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver03)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver03)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver04)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver04)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver05)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver05)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver06)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver06)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver07)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver07)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver08)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver08)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver09)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver09)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Receiver10)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Receiver10)</td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend><b>@Html.ASOFTLabel(model => model.FaxEmailInfo)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Fax01)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Fax01)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Fax02)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Fax02)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.ComEmail)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.ComEmail)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.HomeEmail)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.HomeEmail)</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="asf-content-block-sys right" style="height: 457px;">
            <fieldset style="height: 446px;">
                <legend><b>@Html.ASOFTLabel(model => model.PhoneInfo)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.MobiPhone01)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.MobiPhone01)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.MobiPhone02)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.MobiPhone02)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.ComPhone01)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.ComPhone01)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.ComPhone02)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.ComPhone02)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.HomePhone01)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.HomePhone01)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.HomePhone02)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.HomePhone02)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New01)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New01)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New02)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New02)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New03)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New03)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New04)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New04)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New05)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New05)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New06)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New06)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New07)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New07)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New08)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New08)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.New09)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.New09)</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
}

@helper Group05()
{
    <div class="asf-master-content">
        <div class="asf-content-block-sys left">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractReceiveDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.ContractReceiveDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ManagerNote)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.ManagerNote">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.ManagerNote)</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block-sys right">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractGroupID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContractGroupID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractStatus)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContractStatus)</td>
                </tr>
            </table>
        </div>
    </div>
}

@helper Group06()
{
    <div class="detail-panel">
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar2 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        @Html.Partial("GridEveryDay")
    </div>
}

@helper Group07()
{
    <div class="asf-master-content">
        <table class="asf-table-view">
            <tr>
                <td style="padding: 0 20px;">
                    <pre style="font-family: inherit;">@Model.WorkHistory</pre>
                </td>
            </tr>
        </table>
    </div>
}


@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new { @class = "block-panel-master" })
      .Animation(animation => animation.Enable(true))
      .Events(events => events
        .Expand("DRF2011.PanelExpand")
    )
        //.Events(m => m.Activate("CRMF2062.autoFitHeightAllColumn"))
        .Events(events => events           
            .Expand("DRF2011.expandPanel")
        )
      .Items(panelbar =>
             {
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab01Title))
                     .HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Expanded(true).Content(Group01().ToHtmlString());
                
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab02Title))
                     .HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Content(Group02().ToHtmlString());
                 
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab08Title))
                   .HtmlAttributes(new { @class = "block-panel-master-header" })
                   .Content(Group07().ToHtmlString());

                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab03Title))
                     .HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Content(Html.Partial("GridAddress", new DRF2010GridViewModel()).ToHtmlString());

                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab04Title))
                     .HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Content(Group04().ToHtmlString());

                 //panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab05Title))
                 //   .HtmlAttributes(new { @class = "block-panel-master-header" })
                 //   .Content(Group05().ToHtmlString());

                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab06Title))
                     .HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Content(Group06().ToHtmlString());

                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2012Tab07Title))
                         .HtmlAttributes(new { @class = "block-panel-master-header" })
                         .Content(Html.Partial("GridPayment").ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.HistoryInfo")).HtmlAttributes(new { @class = "block-panel-master-header" })
                    .Content(
                    @Html.Action("Index", new { controller = "History", area = "", tableID = "DRT2010", ValueSearch = Model.ContractNo }).ToString()
                    );
                 //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);
             })
      )