@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using  ASOFT.ERP.ViewModel.CRM;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.DRM.DRF2010ViewModel

@helper FilterCol1(){
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.BranchID)</td>
        <td colspan="4"> @(Html.ASOFTBussinessComboBox().ASOFTDRMBranchIDList(model => model.BranchID))</td>
    </tr>
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.CustomerID)</td>
        <td colspan="4"> @(Html.ASOFTBussinessComboBox().ASOFTDRMCustomerID(model => model.CustomerID, true).SelectedIndex(0))</td>
    </tr>
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.DebtorID)</td>
        <td colspan="4">@Html.ASOFTTextBox(model => model.DebtorID)</td>
    </tr>
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.DebtorName)</td>
        <td colspan="4">@Html.ASOFTTextBox(model => model.DebtorName)</td>
    </tr>
    <tr>
        <td class="container_period_label">@Html.ASOFTLabel(model => model.NextActionDate)</td>
        <td class="container_period_control">
            @(Html.ASOFTDateEdit(model=>model.FromNextActionDate).Value(Model.FromNextActionDate))
        </td>
        <td colspan="2" class="container_period_label" align="center">-</td>
        <td class="container_period_control">
            @(Html.ASOFTDateEdit(model=>model.ToNextActionDate).Value(Model.ToNextActionDate))
        </td>
    </tr>
    <tr>
        <td class="container_period_label">@Html.ASOFTLabel(model => model.ContractReceiveDate)</td>
        <td class="container_period_control">
            @(Html.ASOFTDateEdit(model=>model.FromContractReceiveDate).Value(Model.FromContractReceiveDate))
        </td>
        <td colspan="2" class="container_period_label" align="center">-</td>
        <td class="container_period_control">
            @(Html.ASOFTDateEdit(model=>model.ToContractReceiveDate).Value(Model.ToContractReceiveDate))
        </td>
    </tr>
        <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.DispathStatus)</td>
        <td colspan="4" class="container_period_control">@Html.ASOFTBussinessComboBox().ASOFTDRMPrintDoc(model => model.DispathStatus).Value("%")</td>
    </tr>
}

@helper FilterCol2(){
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ContractNo)</td>
        <td>@Html.ASOFTTextBox(model => model.ContractNo)</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.TeamID)</td>
        <td class="container_period_control">@Html.ASOFTBussinessComboBox().ASOFTDRMTeamID(model => model.TeamID, true).SelectedIndex(0)</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.IsNew)</td>
        <td class="container_period_control">@Html.ASOFTBussinessComboBox().ASOFTDRMResume(model => model.IsNew).Value("%")</td>
    </tr>
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.ContractGroupID)</td>
        <td colspan="4">
            @(Html.ASOFTBussinessComboBox().ASOFTDRMInfoTypeID(model => model.ContractGroupID, "Reason", 
                                ASOFTLanguage.FindWordA00("A00.ContractGroupID"), 
                                ASOFTLanguage.FindWordA00("A00.ContractGroupName")))
        </td>
    </tr>
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.DispathTypeID)</td>
        <td colspan="4">
            @(Html.ASOFTBussinessComboBox().ASOFTDRMDispathTypeID(model => model.DispathTypeID).SelectedIndex(0))
        </td>
    </tr>
    @*<tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.NextActionDate)</td>
        <td colspan="4">@Html.ASOFTDateEdit(model => model.NextActionDate).Value(Model.NextActionDate)</td>
    </tr>*@
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.NextActionID)</td>
        <td colspan="4">
            @(Html.ASOFTBussinessComboBox()
                    .ASOFTDRMInfoTypeID(model => model.NextActionID, "Action",
                        ASOFTLanguage.FindWordA00("A00.ActionID"), ASOFTLanguage.FindWordA00("A00.ActionName")))
        </td>
    </tr>
}

@helper FilterCol3(){
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.City)</td>
        <td colspan="4">  
            @(Html.ASOFTBussinessComboBox()
                                .ASOFTCICityID(model => model.City, ASOFTLanguage.FindWordA00("A00.AT1002_CityID"), 
                                    ASOFTLanguage.FindWordA00("A00.AT1002_CityName"),true,
                                    option: new ComboOption() { EventRequestEnd = "DRF2010.comboBox_RequestEnd" }).SelectedIndex(0)
                                .Events(e=>{
                                    e.Change("DRF2010.comboBox_Changed");
                                    e.Open("DRF2010.comboBox_OpenedCity");
                                }))
        </td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.District)</td>
        <td colspan="4">
            @(Html.ASOFTBussinessComboBox()
                                .ASOFTCIDistrictID(model => model.District, ASOFTLanguage.FindWordA00("A00.AT1013_DistrictID"), 
                                    ASOFTLanguage.FindWordA00("A00.AT1013_DistrictName"),true,
                                    option: new ComboOption() { EventRequestEnd = "DRF2010.comboBox_RequestEnd" }).SelectedIndex(0)
                                .Events(e=>{
                                    e.Change("DRF2010.comboBox_Changed");
                                    e.Open("DRF2010.comboBox_Opened");
                                }
                                ))
        </td>
    </tr> 
     <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.Ward)</td>
        <td>@(Html.ASOFTTextBox(model => model.Ward))</td>
    </tr>    
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.Street)</td>
        <td colspan="4">@(Html.ASOFTTextBox(model => model.Street))</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.PhoneNumber)</td>
        <td colspan="4">@(Html.ASOFTTextBox(model => model.PhoneNumber))</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.NextActionAddress)</td>
        <td colspan="4">@(Html.ASOFTTextBox(model => model.NextActionAddress))</td>
    </tr>
    @*<tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ContractReceiveDate)</td>
        <td colspan="4">@(Html.ASOFTDateEdit(model => model.ContractReceiveDate).Value(Model.ContractReceiveDate))</td>
    </tr>*@
}


@{
    Html.RenderSection("MainView", new Dictionary<string, object>() { 
        { "FilterCol1", this.FilterCol1().ToHtmlString() },     
        { "FilterCol2", this.FilterCol2().ToHtmlString() },     
        { "FilterCol3", this.FilterCol3().ToHtmlString() }   
    });
}
