@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     25/08/2014      Đức Quý         Tạo mới
//####################################################################
*@

@using System.Web.UI.WebControls
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.DRM;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;

@model DRF2010ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2010Title, "DRF2010").ToHtmlString();
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewData.Add("MainView", this);
}

@section Header {
    <!-- Header BreakCrumb -->
    @Html.ASOFTHeader(new HeaderModel
                          {
                              Title = Html.ASOFTPageTitle(m => m.DRF2010Title, "DRF2010").ToHtmlString(),
                              Breakcrumb = true
                          })
}

@Html.Partial("FormFilter")

<!-- Filter buttons -->
@section FilterButtons {
    <!-- Search button -->
     <li id="TotalAddress" >
        Có
           <span style="color:red" id="TAID">  @Html.DisplayFor(m => m.TotalAddress)</span>
        địa chỉ được tìm thấy
    </li>
    <li>
        @(Html.ASOFTSearchButton()
              .Name("BtnFilterDRF2010")
              .Events(e => e.Click("DRF2010.btnFilter_Click"))
              )
    </li>
    
    <!-- Reset button -->
    <li>
        @(Html.ASOFTSearchResetButton()
            .Name("BtnResetFilterDRF2010")
            .Events(e => e.Click("DRF2010.btnClearFilter_Click"))
            )
    </li>
}

@section GridToolBar {
    <!-- Toolbar buttons -->
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}

@section Grid {
    <!-- Grid master -->
    @Html.Partial("GridResume")
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2010/DRF2010.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2010/DRF2011.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2003/DRF2003.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2000/DRF2004.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}
@Html.ASOFTHidden("ScreenID", "DRF2010")
@Html.ASOFTHidden("UrlDRF2011", Url.Action("DRF2011"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlDeleteAll", Url.Action("DeleteAll"))
@Html.ASOFTHidden("UrlInsert", Url.Action("Insert"))
@Html.ASOFTHidden("UrlDRF2003", Url.Action("Index", "DRF2003", new { area = "DRM" }))
@Html.ASOFTHidden("UrlDoPrintOrExport", Url.Action("DoPrintOrExport", "DRF2010"))
@Html.ASOFTHidden("UrlGetReportFile", Url.Action("GetReportFile", "DRF2010"))
@Html.ASOFTHidden("UrlReportViewer", Url.Action("ReportViewer", "DRF2010"))
@Html.ASOFTHidden("UrlDoExportHtml", Url.Action("DoExportHtml", "DRF2010"))
@Html.ASOFTHidden("UrlHtmlCVXR1", Url.Action("HtmlCVXR1", "DRF2080", new { area = "DRM" }))
@Html.ASOFTHidden("UrlHtmlCVCA", Url.Action("HtmlCVCA", "DRF2080", new { area = "DRM" }))


@Html.ASOFTHidden("UrlHtml", Url.Action("PrintDoc_Html", new { controller = "DRF2080", area = "DRM" }))
@Html.ASOFTHidden("UrlDRF2004", Url.Action("DRF2004", "DRF2000", new { area = "DRM" }))