@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     18/03/2014      Minh Lâm      Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0000ViewModel


@{
    ViewBag.Title = @Html.ASOFTPageTitle(model => model.SystemConfig, "POSF0000").ToHtmlString();
    DateTime? buidTime = null;
    if (ViewBag.BuildTimestamp != null)
         buidTime = ViewBag.BuildTimestamp as DateTime?;
}


<div id='contentMaster'>
    @Html.ASOFTHeader(new HeaderModel()
{
    Title = @Html.ASOFTPageTitle(m => m.System, "POSF0000").ToHtmlString(),
    Breakcrumb = true
})
    <div style="width: 100%; overflow: hidden; float: left;">
        <div id="ViewMaster" class="asf-panel-view-master">
            <div class="asf-master-content">
                @(Html.Kendo().PanelBar()
                      .Name("panelbar")
                      .HtmlAttributes(new
                      {
                          @class = "block-panel-master"
                      })
                      .Animation(animation => animation.Enable(true))
                      .Items(panelbar => panelbar.Add().Text(@Html.ASOFTRaw(m => m.System))
                          .HtmlAttributes(new
                          {
                              @class = "block-panel-master-header"
                          })
                          .Expanded(true).Content(
                              this.GeneralSettingHelperResult().ToHtmlString()
                          ))
                      )
            </div>
        </div>
    </div>


    @if (buidTime != null)
    {
        <div class="asf-build-time" style="position: fixed; bottom: 0; right: 0; padding: 5px 10px; background-color: gray">
            <p>Release date : @buidTime.Value.ToString("dddd dd/MM/yyyy hh:mm:ss")</p>
        </div>
    }


</div>

@helper GenerateSettingItem(string screenID, string elementID, string elementText)
{
    // Kiểm tra phân quyền cho màn hình
    // Nếu có quyền thì hiện thẻ <a> bình thường
    // Nếu không có quyền thì hiện thẻ div mờ
    if (Model.CheckPermission(screenID))
    {
    <a id="@elementID" href="#" class="container-block-settings">
        <div class="asf-i-set asf-i-set-default">
            <img src="~/Content/Images/pos-setting.png" />
        </div>
        <div class="display-block-content">
            <div class="display-block-content-key">

                <span>@elementText</span>

            </div>
            <div class="display-block-content-info">@elementText</div>
        </div>
    </a>
    }
    else
    {
    <div class="container-block-settings-disable">
        <div class="asf-i-set asf-i-set-default">
            <img src="~/Content/Images/pos-setting.png" />
        </div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <span>@elementText</span>

            </div>
            <div class="display-block-content-info">@elementText</div>
        </div>
    </div>    
    }
}

@helper GeneralSettingHelperResult()
{
        // Thiết lập chung
    @GenerateSettingItem("POSF0007", "posf0007Popup", Html.ASOFTRaw(m => m.Common))    
    
    if (Model.IsKINGCOM())
    {
        // Thiết lập tùy chọn đơn vị
    @GenerateSettingItem("POSF0001", "posf0001Popup", Html.ASOFTRaw(m => m.Shop1))    
    }
    else if (Model.IsPHUCLONG())
    {
    @GenerateSettingItem("POSF0001", "posf0001Popup", Html.ASOFTRaw(m => m.Shop2))    
    }
    else
    {
    @GenerateSettingItem("POSF0001", "posf0001Popup", Html.ASOFTRaw(m => m.Shop1))    
    }


        // Thiết lập hình thức thanh toán
    @GenerateSettingItem("POSF0006", "posf0006Popup", Html.ASOFTRaw(m => m.Payment))    
    
        // Phiếu chứng từ     
@*GenerateSettingItem("POSF0002", "posf0002Popup", Html.ASOFTRaw(m => m.VoucherNo))   *@ 

        // Thiết lập cách tính điểm 
    @GenerateSettingItem("POSF0003", "posf0003Popup", Html.ASOFTRaw(m => m.PointNo))    
        
        // Khóa sổ kỳ kế toán  
    @GenerateSettingItem("POSF0008", "periodClosePopup", Html.ASOFTRaw(m => m.ClosePeriod))    
    
        // Mở sổ kỳ kế toán   
    @GenerateSettingItem("POSFXXXX", "periodOpenPopup", Html.ASOFTRaw(m => m.OpenPeriod)) 
}

@Html.ASOFTHidden("Closing", ASOFTEnvironment.Closing)


@(Html.ASOFTPopup()
    .Name("PeriodPopup")
    .Width(500))



@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF0000.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0000.js")" type="text/javascript"></script>
}