@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     04/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF0070ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF0070Title, "DRF0070").ToHtmlString();
    ViewBag.Width = 600;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "DRF0070"}))
{
 <div class="asf-form-container">
    <div class="form-content">
        <fieldset>
            <legend>@Html.ASOFTLabel(model=>model.BFeeCoefficient)</legend>
            <table class="asf-table-view">
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.BFeeCoefficient1)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.BFeeCoefficient1)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.BFeeCoefficient2)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.BFeeCoefficient2)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.BFeeCoefficient3)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.BFeeCoefficient3)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.BFeeCoefficient4)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.BFeeCoefficient4)</td>
                </tr>
            </table>
        </fieldset>
        <fieldset class="fieldSet">
            <legend>@Html.ASOFTLabel(model=>model.BBonCoefficient)</legend>
            <table class="asf-table-view">
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.BBonCoefficient1)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.BBonCoefficient1)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.BBonCoefficient2)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.BBonCoefficient2)</td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF0070.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                .Name("BtnConfig")
                                .Events(e => e.Click("DRF0070.btnConfig_Click")))
                    </div>                          
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF0070/DRF0070.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}