@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0038ViewModel

@{
    ViewBag.Title = @Html.ASOFTPageTitle(model => model.Title, "POSF0038").ToHtmlString();
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Width = 900;
    
}

<div id="choose-dishes">
    <div class="header row">
        &nbsp;
    </div>

    <div class="body row scroll-y" id="inner-div">
        <div class="left col" id="categories">
            <div class="header row">
                <h2>@Html.ASOFTLabel(model => model.Category)</h2>
            </div>
            <div class="body row scroll-y">
                <ul id="category_list">
                    <li class="selected">
                        <p>Bánh</p>
                    </li>

                </ul>
            </div>


        </div>
        <div class="right col" id="dishes">
            <div class="header row">
                <h2>@Html.ASOFTLabel(model => model.Dish)</h2>
            </div>
            <div class="body row scroll-y">
                <ul id='dish_list'>
                </ul>
            </div>


        </div>
    </div>

    <div class="footer row">
        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td>
                        <div class="asf-popup-button-container">

                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                          .Name("btnClose"))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChoose"))
                                          .Name("btnSave"))

                            </div>


                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>




@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0038.js")" type="text/javascript"></script>
}
@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF0038.css")" rel="stylesheet" type="text/css" />
         <link href="@Url.Content("~/Areas/POS/Content/POSF0038RWD/POSF0038RWD.css")" rel="stylesheet" type="text/css" />
}


