@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0038ViewModel

@{
    ViewBag.Title =@Html.ASOFTPageTitle(model => model.Title, "POSF0038").ToHtmlString();
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Width = 900;
    
}

<span id="slider-container">
    <input id="slider-quantity" value="0" />
</span>



<div id="choose-dishes">
    <div id="inner-container">
        <div id="categories">
            <h2>@Html.ASOFTLabel(model => model.Category)</h2>
            <ul id="category_list">
                <li class="selected">
                    <p>Bánh</p>
                </li>

            </ul>
        </div>
        <div id="dishes">
            <h2>@Html.ASOFTLabel(model => model.Dish)</h2>
            <ul id='dish_list'>

                <li>
                    <img class="dish-img" src="~/Areas/POS/Content/Images/dish-1.jpg" />
                    <span class="dish-quantity">
                        <span class="dish-minus">&#8211;</span>
                        <input class="dish-quantity-input" value="0" name="quantity" data-quantity="0" />
                        <span class="dish-plus">+</span>
                    </span>
                    <span class="dish-name">Chả giò</span>
                    <span>
                        <input id="banh_ngot6" class="dish-choose" type="checkbox" value="checked" data-id="DISH1" />
                        <label for="banh_ngot6"></label>
                    </span>

                </li>
            </ul>
        </div>


    </div>

    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td>
                    <div class="asf-popup-button-container">

                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                          .Name("btnClose"))
                        </div>
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChoose"))
                                          .Name("btnSave"))

                        </div>


                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0038.js")" type="text/javascript"></script>
}
@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF0038.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Areas/POS/Content/POSF0038RWD/POSF0038RWD.css")" rel="stylesheet" type="text/css" />
}


