@model ASOFT.ERP.ViewModel.ASOFTCUButtonViewModel
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @{
                            var isPermission = false;
                            if(Model.FormStatus == ASOFTFormActionType.AddNew)
                            {
                                isPermission = Model.HideSaveNext && Model.HideSaveCopy;
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                        .Name(Model.NameClose)
                                        .Events(e => e.Click(!isPermission ? Model.EventClose : "ASOFT.asoftPopup.closeNormal")))
                            }
                            else
                            {
                                isPermission = Model.HideSave;
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                        .Name(Model.NameClose)
                                        .Events(e => e.Click(!isPermission ? Model.EventClose : "ASOFT.asoftPopup.closeNormal")))
                            }
                         }
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                .Name(Model.NameSaveCopy)
                                .Events(e => e.Click(Model.EventSaveCopy))
                                .HideIf(Model.HideSaveCopy))
                    </div>  
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                .Name(Model.NameSaveNext)
                                .Events(e => e.Click(Model.EventSaveNext))
                                .HideIf(Model.HideSaveNext))                     
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name(Model.NameSave)
                                .Events(e => e.Click(Model.EventSave))
                                .HideIf(Model.HideSave))
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>