@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     07/12/2017      Kim Vũ          Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.LM
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.ViewModel.Helper;
@model LMF0002ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "LMF0002").ToHtmlString();
    ViewBag.Width = 600;
    int i = 1;
    
}

<style>
    .para-input-left {
        width: 45% !important;
        float: left;
    }

    .para-input-right {
        width: 45% !important;
        float: right;
    }

    .label-isused {
        width: 30% !important;
    }

    .label-name {
        width: 70% !important;
    }

    .label-isused input {
        float: unset !important;
        vertical-align: middle;
        margin-left: 15px;
    }

    .text-center {
        text-align: center;
        font-weight: bold;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "LMF0002" }))
{
    <div class="asf-form-container">
        <div class="form-content">

            <div class="asf-filter-main" style="padding-bottom: 10px;">
                <div class="block-left" style="width: 30%;">
                    <div class="asf-filter-label label-isused text-center">
                        @LocalizedHelper.GetLocalizedResourceString("LMF0002.Used", "LMF0002", "LM")
                    </div>
                    <div class="asf-filter-label label-name text-center">
                        @LocalizedHelper.GetLocalizedResourceString("LMF0002.SystemName", "LMF0002", "LM")
                    </div>
                </div>
                <div class="block-right" style="width: 67%;">
                    <div class="asf-filter-label para-input-left text-center">
                        @LocalizedHelper.GetLocalizedResourceString("LMF0002.UserName", "LMF0002", "LM")
                    </div>
                    <div class="asf-filter-label para-input-right text-center">
                        @LocalizedHelper.GetLocalizedResourceString("LMF0002.UserNameE", "LMF0002", "LM")
                    </div>
                </div>
            </div>
            @foreach (var item in Model.lstData)
            {
                <div class="asf-filter-main" style="padding-bottom: 10px;">
                    <div class="block-left" style="width: 30%;">
                        <div class="asf-filter-label label-isused text-center">
                            @Html.ASOFTCheckbox(model => model.IsUsed, hasLabel: false, htmlAttributes: new { @id = item.TypeID, @name = item.TypeID }).CheckedIf(item.IsUsed == 1)
                        </div>
                        <div class="asf-filter-label label-name">
                            @string.Format("{0} - {1}", item.TypeID, item.SystemName)
                        </div>
                    </div>
                    <div class="block-right" style="width: 67%;">
                        <div class="asf-filter-input para-input-left">
                            @Html.ASOFTTextBox(model => item.UserName, htmlAttribute: new { @id = item.TypeID, @name = item.TypeID, @class = item.IsUsed == 1 ? "" : "asf-disabled-li" })
                        </div>
                        <div class="asf-filter-input para-input-right">
                            @Html.ASOFTTextBox(model => item.UserNameE, htmlAttribute: new { @id = string.Format("{0}E", item.TypeID), @name = item.TypeID, @class = item.IsUsed == 1 ? "" : "asf-disabled-li" })
                        </div>
                    </div>
                </div>    
            }

        </div>
    </div>

}
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose"))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose"))
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>




@section styleFeature{
    <link href="@Url.Content("~/Areas/LM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/LM/Scripts/LMF0002/LMF0002.js?v=" + ASOFTEnvironment.Version)"></script>

}
@Html.ASOFTHidden("UrlConfirm", Url.Action("Confirm", "LMF0002"))
