
@model CRMF2011ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Width = 800;
    string Unbind = "0";
    if(Model.DivisionID != ASOFTEnvironment.DivisionID)
    {
        Unbind = "1";
    }
}
@*@Html.ASOFTHidden("Unbind", Unbind)*@
@Html.ASOFTHidden("ModelStatus", Model.AccountName == null ? "0" : "1")
@Html.ASOFTHidden("APK", (string)ViewBag.APK)
@Html.ASOFTHidden("VoucherNo", (string)ViewBag.VoucherNo)
@Html.ASOFTHidden("RouteID", Model.RouteID )
@Html.ASOFTHidden("DeliveryEmployeeID", Model.DeliveryEmployeeID)
@Html.ASOFTHidden("NotesQuantity", Model.NotesQuantity)
@Html.ASOFTHidden("DivisionID", ASOFTEnvironment.DivisionID)
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CRMF2011" }))
{
    <div class="asf-form-container">
            <div class="form-content">
                 <table class="asf-table-view">
                <tr>
                    <td class="container_label">@Html.ASOFTLabel(model => model.AccountName)</td>
                    <td class="container_control" colspan="2">
                        @Html.ASOFTTextBox(model => model.AccountName,
                            htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
                <tr>
                    <td>@Html.ASOFTLabel(model => model.RouteName)
                    </td>
                    <td>
                        @Html.ASOFTTextBox(model => model.RouteName,
                            htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                    <td>
                        @Html.ASOFTButton("...").Name("btnChooseRouteName").Events(e=>e.Click("btnChooseRouteName_Click"))
                        @Html.ASOFTDeleteButton("btnDeleteRoute_Click").Name("btnDeleteRoute")
                    </td>
                </tr>
                <tr>
                    <td>@Html.ASOFTLabel(model => model.DeliveryEmployeeName)</td>
                    <td>
                        @Html.ASOFTTextBox(model => model.DeliveryEmployeeName,
                            htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                    <td>
                        @Html.ASOFTButton("...").Name("btnChooseDeliveryEmployeeID").Events(e=>e.Click("btnChooseDeliveryEmployeeID_Click"))
                        @Html.ASOFTDeleteButton("btnDeleteDelivery_Click").Name("btnDeleteDelivery")
                    </td>
                </tr>
           
                <tr>
                    <td class="container_label">@Html.ASOFTLabel(model => model.Notes)</td>
                    <td class="container_control" colspan="2">
                        @Html.ASOFTTextBox(model => model.Notes,
                            htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
                 <tr>
                    <td class="container_label"></td>
                    <td class="container_control" colspan="2">
                        @Html.ASOFTCheckbox(model => model.IsDeposit)
                    </td>
                </tr>
        </table>
           </div>
       </div>
}
     <div class="asf-form-container container_12 pagging_bottom ">
    @Html.Partial("CRMF2011GridProduct")
        </div>
    
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td align="right">
                    <div class="asf-popup-button-container">
        <div>
            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
            .Name("btnClose").Events(e=>e.Click("btnClose_Click")))
        </div>
        <div>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnPrintClose"))
        .Name("btnSaveCopy").Events(e=>e.Click("btnPrintClose_Click")).Enable(Model.DivisionID == ASOFTEnvironment.DivisionID))
        </div>
        <div>
            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnPrintNew"))
        .Name("btnSaveNew").Events(e=>e.Click("btnPrintNew_Click")).Enable(Model.DivisionID == ASOFTEnvironment.DivisionID))
        </div>
                        </div>
                    </td>
            </tr>
        </table>
    </div>
    
<script src="@Url.Content("~/Areas/CRM/Scripts/CRMF2011/CRMF2011.js")" type="text/javascript"></script>

<style>
    #btnChooseRouteName {
        min-width:30px;
        margin-left: 3px;
    }

    #btnDeleteRoute{
        min-width:30px;
    }

    #btnChooseDeliveryEmployeeID{
        min-width:30px;
        margin-left: 3px;
    }

    #btnDeleteDelivery{
        min-width:30px;
    }
    #RouteName {
        background-color:#d0c9c9;
    }
    #DeliveryEmployeeName {
        background-color:#d0c9c9;
    }
    #AccountName {
        background-color:#d0c9c9;
    }

</style>

