@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     11/08/2014      Minh Lam        Tạo mới
//####################################################################
*@
@model ASOFT.ERP.ViewModel.POS.POSF0066ViewModel

<div id="payment_container">
    <div class="clearfix"></div>
    <div class="pos_header">

        <h3>@Html.ASOFTRaw(model => model.PaymentTitle)</h3>
    </div>
    <div class="pos_inner other-height">
        <div class="grid_6 line_right">

            <div class="grid_12">
                <div class="grid_6">
                    @Html.ASOFTLabel(model => model.TotalAmount)
                </div>
                <div class="grid_6 asf-cols-align-right">
                    @Html.ASOFTWrapperTagFor(model => model.TotalAmount,
                htmlAttributes: new RouteValueDictionary {
                    {"data-bind","text: TotalAmount"}
                })
                </div>
            </div>

            <div class="grid_12">
                <div class="grid_4">
                    @Html.ASOFTLabel(model => model.TotalDiscountAmount)
                </div>
                <div class="grid_4 asf-cols-align-right">
                    @(Html.ASOFTDecimalBoxFor(model => model.TotalDiscountRate,
                    htmlStyle: new
                    {
                        width = "60%"                        
                    },
                    htmlAttribute: new Dictionary<string, object> {
                        {"class" , "special numberic"},
                        {"data-bind","value: TotalDiscountRate"}})
                    )&nbsp;%
                </div>
                <div class="grid_4 asf-cols-align-right">
                    @(Html.ASOFTDecimalBoxFor(model => model.TotalDiscountAmount,
                    htmlStyle: new
                    {
                        width = "calc(100% - 3px)",
                        padding_right = "3px"
                    },
                    htmlAttribute: new Dictionary<string, object> {
                        {"class" , "special numberic"},
                        {"data-bind","value: TotalDiscountAmount"}})
                    )
                </div>
            </div>

            <div class="grid_12">
                <div class="grid_4">
                    @Html.ASOFTLabel(model => model.TotalRedureRate)
                </div>
                <div class="grid_4 asf-cols-align-right">
                    @(Html.ASOFTDecimalBoxFor(model => model.TotalRedureRate,
                    htmlStyle: new
                    {
                        width = "60%"
                    },
                    htmlAttribute: new Dictionary<string, object> {
                        {"class" , "special numberic"},
                        {"data-bind","value: TotalRedureRate"}})
                    )&nbsp;%
                </div>
                <div class="grid_4 asf-cols-align-right">
                    @(Html.ASOFTDecimalBoxFor(model => model.TotalRedureAmount,
                    htmlStyle: new
                    {
                        width = "calc(100% - 3px)",
                        padding_right = "3px"
                    },
                    htmlAttribute: new Dictionary<string, object> {
                        {"class" , "special numberic"},
                        {"data-bind","value: TotalRedureAmount"}})
                    )

                </div>
            </div>
            <!--<div class="grid_12">
                                    <div class="grid_4">
                                
                                        @Html.ASOFTLabel(model => model.AccruedScore)
                                    </div>
                                    <div class="grid_8">
                                        @Html.ASOFTWrapperTagFor(model => model.AccruedScore,
                                            htmlAttributes: new RouteValueDictionary {
                                                {"data-bind","text: AccruedScore"}
                                            })
                                    </div>
                                </div>

                                <div class="grid_12" >
                                    <div class="grid_5">
                                        @Html.ASOFTLabel(model => model.PayScore)
                                    </div>
                                    <div class="grid_7">
                                        @*(Html.ASOFTTextBox(model => model.PayScore,
                                      htmlStyle: new { width = "80%" },
                                      htmlAttributes: new Dictionary<string, object> {
                                          {"class" , "special"},
                                          {"data-bind","value: PayScore"},
                                          {"data-role","numerictextbox"}})
                                      .Events(e => e.Change("Cash_Change")).Spinners(false)
                                      ) *@                              
                                    </div>
                                </div>

                                <div class="grid_12">
                                    <div class="grid_4">
                                        @* Điểm tích lũy lần cuối*@
                                        @Html.ASOFTLabel(model => model.LastAccruedScore)
                                    </div>
                                    <div class="grid_8">
                                        @Html.ASOFTWrapperTagFor(model => model.LastAccruedScore,
                                            htmlAttributes: new RouteValueDictionary {
                                                {"data-bind","text: TotalTaxAmount"}
                                            })
                                    </div>
                                    <div class="grid_12 line"></div>
                                </div>-->

            <div class="grid_12">
                <div class="grid_6">
                    @Html.ASOFTLabel(model => model.TotalTaxAmount)
                </div>
                <div class="grid_6 asf-cols-align-right">
                    @Html.ASOFTWrapperTagFor(model => model.TotalTaxAmount,
                htmlAttributes: new RouteValueDictionary {
                    {"data-bind","text: TotalTaxAmount"}
                })
                </div>
            </div>

            <div class="grid_12 line">&nbsp;</div>

            <div class="grid_12">
                <div class="grid_6">
                    @Html.LabelFor(model => model.TotalInventoryAmount, htmlAttributes: new
                    {
                        @class = "bold special"
                    })
                </div>
                <div class="grid_6 asf-cols-align-right">
                    @Html.ASOFTWrapperTagFor(model => model.TotalInventoryAmount,
                htmlAttributes: new RouteValueDictionary {
                    {"data-bind","text: TotalInventoryAmount"},
                    {"class","amount special"}
                })
                </div>
            </div>


        </div>

        <div class="grid_6">
            <div id="divPaymentID1" class="grid_12 hidden">
                <div class="grid_6">
                    @Html.LabelFor(model => model.PaymentObjectAmount01, htmlAttributes: new
                    {
                        @class = "special"
                    })
                </div>
                <div class="grid_6">
                    @(Html.ASOFTDecimalBoxFor(model => model.PaymentObjectAmount01,
                    htmlStyle: new
                    {
                        width = "calc(100% - 3px)",
                        padding_right = "3px"
                    },
                    htmlAttribute: new Dictionary<string, object> {
                        {"class" , "special numberic"},
                        {"data-bind","value: PaymentObjectAmount01"}})
                    )
                </div>

            </div>
            <div id="divPaymentID2" class="grid_12 hidden">
                <div class="grid_6">
                    @Html.LabelFor(model => model.PaymentObjectAmount02, htmlAttributes: new
                    {
                        @class = "special"
                    })
                </div>
                <div class="grid_6">
                    @(Html.ASOFTDecimalBoxFor(model => model.PaymentObjectAmount02,
                    htmlStyle: new
                    {
                         width = "calc(100% - 3px)",
                        padding_right = "3px"
                    },
                    htmlAttribute: new Dictionary<string, object> {
                        {"class" , "special numberic"},
                        {"data-bind","value: PaymentObjectAmount02"}})
                    )
                </div>

            </div>

            <div class="grid_12">
                <div class="grid_6">
                    @Html.LabelFor(model => model.Change, htmlAttributes: new
                    {
                        @class = "special"
                    })
                </div>
                <div class="grid_6 asf-cols-align-right">
                    @Html.ASOFTWrapperTagFor(model => model.Change,
                htmlAttributes: new RouteValueDictionary {
                    {"data-bind","text: Change"},
                    {"class","amount special return-amount"}
                })
                </div>
            </div>
        </div>
    </div>

</div>



