@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     10/12/2015     Quang Chiến      Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.HRM
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Core.Control;
@model OOF0020ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.OOF0020Title, "OOF0020").ToHtmlString();
    ViewBag.Width = 500;
    
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "OOF0020" }))
{
    <div class="asf-form-container">
        <div class="form-content">
            <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.TimeLaw)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTSpinEdit(model => model.TimeLaw))  
                    </td>
                </tr>
                 <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.TimeCompany)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTSpinEdit(model => model.TimeCompany))  
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.MaxAllowedTime)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTSpinEdit(model => model.MaxAllowedTime))  
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailApprove)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTETemplate(model => model.EmailApprove))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailSuggest)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTETemplate(model => model.EmailSuggest))
                    </td>
                </tr>
            </table>

        </div>
    </div>
   @(Html.ASOFTHidden(ASOFT.ERP.A00.Entities.Database.OOT0020.COL_LASTMODIFYDATE,
                                Model.LastModifyDate != null ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : ""))

}
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("OOF0020.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("OOF0020.btnSave_Click")))
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>




@section styleFeature{
    <link href="@Url.Content("~/Areas/HRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/HRM/Scripts/OOF0020/OOF0020.js?v=" + ASOFTEnvironment.Version)"></script>

}
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update", "OOF0020"))
