@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     04/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF0160ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF0160Title, "DRF0160").ToHtmlString();
    ViewBag.Width = 600;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id="DRF0160" }))
{
    <div class="asf-form-container">
        <div class="form-content">
            <fieldset>
                <legend>@Html.ASOFTLabel(model=>model.EFeeCoefficient)</legend>
                @(Html.ASOFTTab()
                      .Name("DRF0160Tab")
                      .Items(tabstrip =>
                      {
                          tabstrip.Add().Text(Html.ASOFTRaw(model => model.DRF0160Tab01Title))
                              .Selected(true)
                              .HtmlAttributes(new { @id = "TabMaster01" })
                              .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                              .Content(Tab01().ToHtmlString());

                          tabstrip.Add().Text(Html.ASOFTRaw(model => model.DRF0160Tab02Title))
                              .HtmlAttributes(new { @id = "TabMaster02" })
                              .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                              .Content(Tab02().ToHtmlString());

                          tabstrip.Add().Text(Html.ASOFTRaw(model => model.DRF0160Tab03Title))
                             .HtmlAttributes(new { @id = "TabMaster02" })
                             .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                             .Content(Tab03().ToHtmlString());
                          
                          tabstrip.Add().Text(Html.ASOFTRaw(model => model.DRF0160Tab04Title))
                             .HtmlAttributes(new { @id = "TabMaster02" })
                             .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                             .Content(Tab04().ToHtmlString());

                      })
                      )
            </fieldset>
            <fieldset class="fieldSet">
                <legend>@Html.ASOFTLabel(model=>model.EBonCoefficient)</legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.EBonCoefficient1)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.EBonCoefficient1)</td>
                    </tr>
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.EBonCoefficient2)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.EBonCoefficient2)</td>
                    </tr>
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.EBonCoefficient3)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.EBonCoefficient3)</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td align="right">
                    <div class="asf-popup-button-container">
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                  .Name("BtnClose")
                                  .Events(e => e.Click("DRF0160.btnClose_Click")))
                        </div>
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                    .Name("BtnConfig")
                                    .Events(e => e.Click("DRF0160.btnConfig_Click")))
                        </div>    
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@helper Tab01()
{
    <table class="asf-table-view">
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee1Coefficient1)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee1Coefficient1)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee1Coefficient2)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee1Coefficient2)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee1Coefficient3)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee1Coefficient3)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee1Coefficient4)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee1Coefficient4)</td>
        </tr>
    </table>
}


@helper Tab02()
{
    <table class="asf-table-view">
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee2Coefficient1)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee2Coefficient1)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee2Coefficient2)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee2Coefficient2)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee2Coefficient3)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee2Coefficient3)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee2Coefficient4)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee2Coefficient4)</td>
        </tr>
    </table>
}

@helper Tab03()
{
    <table class="asf-table-view">
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee3Coefficient1)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee3Coefficient1)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee3Coefficient2)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee3Coefficient2)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee3Coefficient3)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee3Coefficient3)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee3Coefficient4)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee3Coefficient4)</td>
        </tr>
    </table>
}

@helper Tab04()
{
    <table class="asf-table-view">
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee4Coefficient1)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee4Coefficient1)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee4Coefficient2)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee4Coefficient2)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee4Coefficient3)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee4Coefficient3)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.EFee4Coefficient4)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.EFee4Coefficient4)</td>
        </tr>
    </table>
}

    
@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF0160/DRF0160.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}