@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control

@helper CommonSettings()
{
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";
    
    //Phân quyền màn hình thiết lập hệ thống
    var idDefaultInfo = ASOFTEnvironment.CheckPermission("AS", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "idDefaultInfo" : "";
    var clsDefaultInfo = ASOFTEnvironment.CheckPermission("AS", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDefaultInfo = ASOFTEnvironment.CheckPermission("AS", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình xem dữ liệu của người khác
    var idSF0002 = ASOFTEnvironment.CheckPermission("SF0002", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf0002Popup" : "";
    var clsBlockSF0002 = ASOFTEnvironment.CheckPermission("SF0002", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF0002 = ASOFTEnvironment.CheckPermission("SF0002", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
     //Thiết lập phân quyền dữ liệu
    var idSF0003 = ASOFTEnvironment.CheckPermission("SF0003", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf0003Popup" : "";
    var clsBlockSF0003 = ASOFTEnvironment.CheckPermission("SF0003", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF0003 = ASOFTEnvironment.CheckPermission("SF0003", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    //Phân quyền dữ liệu
    var idSF0004 = ASOFTEnvironment.CheckPermission("SF0004", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf0004Popup" : "";
    var clsBlockSF0004 = ASOFTEnvironment.CheckPermission("SF0004", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF0004 = ASOFTEnvironment.CheckPermission("SF0004", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    //Phân quyền màn hình
    var idSF0001 = ASOFTEnvironment.CheckPermission("SF0001", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf0001Popup" : "";
    var clsBlockSF0001 = ASOFTEnvironment.CheckPermission("SF0001", ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF0001 = ASOFTEnvironment.CheckPermission("SF0001", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    // Phân quyền báo cáo
    var idSF0006 = ASOFTEnvironment.CheckPermission("SF0006", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf0006Popup" : "";
    var clsBlockSF0006 = ASOFTEnvironment.CheckPermission("SF0006", ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF0006 = ASOFTEnvironment.CheckPermission("SF0006", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //// Phân quyền lịch sử
    var idSF1040 = ASOFTEnvironment.CheckPermission("SF1040", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf1040Popup" : "";
    var clsBlockSF1040 = ASOFTEnvironment.CheckPermission("SF1040", ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF1040 = ASOFTEnvironment.CheckPermission("SF1040", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //// Danh mục vài trò
    var idSF1050 = ASOFTEnvironment.CheckPermission("SF1050", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf1050Popup" : "";
    var clsBlockSF1050 = ASOFTEnvironment.CheckPermission("SF1050", ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF1050 = ASOFTEnvironment.CheckPermission("SF1050", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    ////Gán quyền người dùng
    var idSF1052 = ASOFTEnvironment.CheckPermission("SF1052", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "sf1052Popup" : "";
    var clsBlockSF1052 = ASOFTEnvironment.CheckPermission("SF1052", ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSF1052 = ASOFTEnvironment.CheckPermission("SF1052", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Mã tự động đối tượng
    var idCIF1330 = ASOFTEnvironment.CheckPermission("CIF1330", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? "cif1330Popup" : "";
    var clsBlockCIF1330 = ASOFTEnvironment.CheckPermission("CIF1330", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgCIF1330 = ASOFTEnvironment.CheckPermission("CIF1330", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
     
     
     <!-- Thiết lập phân quyền dữ liệu-->@*
    <div class="container-block-settings">
        <div class="asf-i-set asf-i-set-default"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="sf0003Popup" href="#">@ASOFTLanguage.FindWordA00("A00.ConfigurePermissionData")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.ConfigurePermissionData")</div>
        </div>
    </div> *@
    <!-- Phân quyền dữ liệu-->
    @*<div class="container-block-settings">
        <div class="asf-i-set asf-i-set-default"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="sf0004Popup" href="#">@ASOFTLanguage.FindWordA00("A00.PermissionData")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.PermissionData")</div>
        </div>
    </div>*@
    <!-- Phân quyền xem dữ liệu người khác-->
    <div class="container-block-settings">
        <div class="asf-i-set asf-i-set-default"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="sf0002Popup" href="#">@ASOFTLanguage.FindWordA00("A00.PermissionSeeDataAnotherPerson")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.PermissionSeeDataAnotherPerson")</div>
        </div>
    </div>
    
     <!-- Phân quyền nhóm người dùng-->
    <div class="@clsBlockSF0001">
        <div class="@imgSF0001"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idSF0001" href="#">@ASOFTLanguage.FindWordA00("A00.ScreenPermission")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.ScreenPermission")</div>
        </div>
    </div>
    
    if (ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_XUONGRONG)
        ||ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_MEIKO)
        || ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_ANBINH)
        || ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_ANGEL)
        || ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_EIMSKIP)
        || ASOFTEnvironment.CustomerIndex.Equals(-1)
        ) {
    <!-- Phân quyền báo cáo -->
    <div class="@clsBlockSF0006">
        <div class="@imgSF0006"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idSF0006" href="#">@ASOFTLanguage.FindWordA00("A00.PermissionReport")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.PermissionReport")</div>
        </div>
    </div>
    }
    if (ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_XUONGRONG)) {
    <!-- xem thông tin lịch sử -->
    <div class="@clsBlockSF1040">
        <div class="@imgSF1040"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idSF1040" href="#">@ASOFTLanguage.FindWordA00("A00.PermissionHistory")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.PermissionHistory")</div>
        </div>
    </div>
    }
      if (ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_DONGDUONG)) {
        <div class="@clsBlockSF1050">
            <div class="@imgSF1050"></div>
            <div class="display-block-content">
                <div class="display-block-content-key">
                    <a id="@idSF1050" href="#">@ASOFTLanguage.FindWordA00("A00.Role")</a>
                </div>
                <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.Role")</div>
            </div>
        </div>
        <div class="@clsBlockSF1052">
            <div class="@imgSF1052"></div>
            <div class="display-block-content">
                <div class="display-block-content-key">
                    <a id="@idSF1052" href="#">@ASOFTLanguage.FindWordA00("A00.RolePermission")</a>
                </div>
                <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.RolePermission")</div>
            </div>
        </div>
    }
    
    <!-- Mã tự động đối tượng -->
    <div class="@clsBlockCIF1330">
    <div class="@imgCIF1330" style="background: url(/Content/Images/matudongdoituong.png)"></div>
    <div class="display-block-content">
        <div class="display-block-content-key">
            <a id="@idCIF1330" href="#">@ASOFTLanguage.FindWordA00("A00.ConfigObject")</a>
        </div>
        <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.ConfigObject")</div>
    </div>
    </div>
}


@helper CISettings()
{   
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";
    
    //Phân quyền màn hình thông tin công ty
    var idCIF0010 = ASOFTEnvironment.CheckPermission("CIF0010", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? "cif0020Popup" : "";
    var clsBlockCIF0010 = ASOFTEnvironment.CheckPermission("CIF0010", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgCIF0010 = ASOFTEnvironment.CheckPermission("CIF0010", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình thiết lập mail server
    var idCIF0020 = ASOFTEnvironment.CheckPermission("CIF0020", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? "cif0010Popup" : "";
    var clsBlockCIF0020 = ASOFTEnvironment.CheckPermission("CIF0020", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgCIF0020 = ASOFTEnvironment.CheckPermission("CIF0020", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình định nghĩa mã phân tích
    var idCIF0030 = ASOFTEnvironment.CheckPermission("CIF0030", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? "cif0030Popup" : "";
    var clsBlockCIF0030 = ASOFTEnvironment.CheckPermission("CIF0030", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgCIF0030 = ASOFTEnvironment.CheckPermission("CIF0030", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình thiết lập hệ thống
    var idCIF0001 = ASOFTEnvironment.CheckPermission("CIF0001", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? "cif0001Popup" : "";
    var clsBlockCIF0001 = ASOFTEnvironment.CheckPermission("CIF0001", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgCIF0001 = ASOFTEnvironment.CheckPermission("CIF0001", ASOFTConstants.MODULE_CI, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled; 
    
     if (!ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_MEIKO)) {
    <!-- Thông tin mặc định -->    
    <div class="@clsBlockCIF0010">
        <div class="@imgCIF0010"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idCIF0010" href="#">@ASOFTLanguage.FindWordA00("A00.CompanyInfo")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.CompanyInfo")</div>
        </div>
    </div>
    }   
    <!-- Thiết lập mail server -->
    <div class="@clsBlockCIF0020">
        <div class="@imgCIF0020"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idCIF0020" href="#">@ASOFTLanguage.FindWordA00("A00.ConfigMailServer")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.ConfigMailServer")</div>
        </div>
    </div>
    if (!ASOFTEnvironment.CustomerIndex.Equals(ASOFTConstants.CUSTOMERINDEX_MEIKO)) {
    <!-- Thiết lập mã phân tích -->
    <div class="@clsBlockCIF0030">
        <div class="@imgCIF0030"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idCIF0030" href="#">@ASOFTLanguage.FindWordA00("A00.ConfigAnaID")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.ConfigAnaID")</div>
        </div>
    </div>
    }
    
     <!-- Thiết lập hệ thống -->
    <div class="@clsBlockCIF0001">
        <div class="@imgCIF0001"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idCIF0001" href="#">@ASOFTLanguage.FindWordA00("A00.ConfigAnaTypeID")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.ConfigAnaTypeID")</div>
        </div>
    </div>
}

@helper POSettings()
{ 
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";

    //Phân quyền màn hình thông tin công ty
    var idPOF0001 = ASOFTEnvironment.CheckPermission("POF0001", ASOFTConstants.MODULE_PO, ASOFTPermission.AddNew) ? "pof0001Popup" : "";
    var clsBlockPOF0001 = ASOFTEnvironment.CheckPermission("POF0001", ASOFTConstants.MODULE_PO, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgPOF0001 = ASOFTEnvironment.CheckPermission("POF0001", ASOFTConstants.MODULE_PO, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    <!-- Thiết lập đơn hàng mua -->    
    <div class="@clsBlockPOF0001">
        <div class="@imgPOF0001"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idPOF0001" href="#">@ASOFTLanguage.FindWordA00("A00.POrder")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.POrder")</div>
        </div>
    </div> 
}

@helper DRMSettings()
{
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";

    //Phân quyền màn hình thiết lập hệ thống
    var idDRF0020 = ASOFTEnvironment.CheckPermission("DRF0020", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0020Popup" : "";
    var clsBlockDRF0020 = ASOFTEnvironment.CheckPermission("DRF0020", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0020 = ASOFTEnvironment.CheckPermission("DRF0020", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi khách hàng A
    var idDRF0060 = ASOFTEnvironment.CheckPermission("DRF0060", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0060Popup" : "";
    var clsBlockDRF0060 = ASOFTEnvironment.CheckPermission("DRF0060", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0060 = ASOFTEnvironment.CheckPermission("DRF0060", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi khách hàng B
    var idDRF0070 = ASOFTEnvironment.CheckPermission("DRF0070", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0070Popup" : "";
    var clsBlockDRF0070 = ASOFTEnvironment.CheckPermission("DRF0070", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0070 = ASOFTEnvironment.CheckPermission("DRF0070", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi khách hàng C
    var idDRF0080 = ASOFTEnvironment.CheckPermission("DRF0080", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0080Popup" : "";
    var clsBlockDRF0080 = ASOFTEnvironment.CheckPermission("DRF0080", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0080 = ASOFTEnvironment.CheckPermission("DRF0080", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi khách hàng D
    var idDRF0090 = ASOFTEnvironment.CheckPermission("DRF0090", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0090Popup" : "";
    var clsBlockDRF0090 = ASOFTEnvironment.CheckPermission("DRF0090", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0090 = ASOFTEnvironment.CheckPermission("DRF0090", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi khách hàng E
    var idDRF0160 = ASOFTEnvironment.CheckPermission("DRF0160", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0160Popup" : "";
    var clsBlockDRF0160 = ASOFTEnvironment.CheckPermission("DRF0160", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0160 = ASOFTEnvironment.CheckPermission("DRF0160", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi khách hàng F
    var idDRF0170 = ASOFTEnvironment.CheckPermission("DRF0170", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0170Popup" : "";
    var clsBlockDRF0170 = ASOFTEnvironment.CheckPermission("DRF0170", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0170 = ASOFTEnvironment.CheckPermission("DRF0170", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi khách hàng G
    var idDRF0180 = ASOFTEnvironment.CheckPermission("DRF0180", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0180Popup" : "";
    var clsBlockDRF0180 = ASOFTEnvironment.CheckPermission("DRF0180", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0180 = ASOFTEnvironment.CheckPermission("DRF0180", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình chỉ tiêu lợi nhuận
    var idDRF0100 = ASOFTEnvironment.CheckPermission("DRF0100", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0100Popup" : "";
    var clsBlockDRF0100 = ASOFTEnvironment.CheckPermission("DRF0100", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0100 = ASOFTEnvironment.CheckPermission("DRF0100", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình chốt số liệu
    var idDRF0210 = ASOFTEnvironment.CheckPermission("DRF0210", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "transactionEnding" : "";
    var clsBlockDRF0210 = ASOFTEnvironment.CheckPermission("DRF0210", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0210 = ASOFTEnvironment.CheckPermission("DRF0210", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình tỉ lệ thù lao nhóm
    var idDRF0110 = ASOFTEnvironment.CheckPermission("DRF0110", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0110Popup" : "";
    var clsBlockDRF0110 = ASOFTEnvironment.CheckPermission("DRF0110", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0110 = ASOFTEnvironment.CheckPermission("DRF0110", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình tỉ lệ phân bổ
    var idDRF0120 = ASOFTEnvironment.CheckPermission("DRF0120", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0120Popup" : "";
    var clsBlockDRF0120 = ASOFTEnvironment.CheckPermission("DRF0120", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0120 = ASOFTEnvironment.CheckPermission("DRF0120", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phân quyền theo chức năng
    var idDRF0130 = ASOFTEnvironment.CheckPermission("DRF0130", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0130Popup" : "";
    var clsBlockDRF0130 = ASOFTEnvironment.CheckPermission("DRF0130", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0130 = ASOFTEnvironment.CheckPermission("DRF0130", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thu hồi
    var idDRF0200 = ASOFTEnvironment.CheckPermission("DRF0200", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0200Popup" : "";
    var clsBlockDRF0200 = ASOFTEnvironment.CheckPermission("DRF0200", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0200 = ASOFTEnvironment.CheckPermission("DRF0200", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phí thù lao mới
    var idDRF0220 = ASOFTEnvironment.CheckPermission("DRF0220", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0220Popup" : "";
    var clsBlockDRF0220 = ASOFTEnvironment.CheckPermission("DRF0220", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0220 = ASOFTEnvironment.CheckPermission("DRF0220", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình trạng thái truy cập
    var idDRF0230 = ASOFTEnvironment.CheckPermission("DRF0230", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? "drf0230Popup" : "";
    var clsBlockDRF0230 = ASOFTEnvironment.CheckPermission("DRF0230", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgDRF0230 = ASOFTEnvironment.CheckPermission("DRF0230", ASOFTConstants.MODULE_DRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    
    <!-- Thông tin mặc định -->
    <div class="@clsBlockDRF0020">
        <div class="@imgDRF0020"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0020" href="#">@ASOFTLanguage.FindWordA00("A00.Config")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.Config")</div>
        </div>
    </div>
    
    
    <!-- Kỳ kế toán -->
    var idOpen = string.Empty;
    var idClose = string.Empty;
    var clsBlockOpen = string.Empty;
    var imgBlockOpen = string.Empty;
    var clsBlockClose = string.Empty;
    var imgBlockClose = string.Empty;
    if (ASOFTEnvironment.GetSession<byte>(ASOFTConstants.MODULE_DRM + ASOFTEnvironment.KEY_CLOSING) == 1)
    {
        idOpen = "openBook_DRM";
        idClose = "";
        clsBlockOpen = "container-block-settings";
        imgBlockOpen = "asf-i-set asf-i-set-default";
        clsBlockClose = "container-block-settings-disabled";
        imgBlockClose = "asf-i-set-disabled asf-i-set-default";
    }
    else
    {
        idOpen = "";
        idClose = "closeBook_DRM";
        clsBlockOpen = "container-block-settings-disabled";
        imgBlockOpen = "asf-i-set-disabled asf-i-set-default";
        clsBlockClose = "container-block-settings";
        imgBlockClose = "asf-i-set asf-i-set-default";
    }

    <div class="@clsBlockClose">
        <div class="@imgBlockClose"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a
                    href="#"
                    id = '@idClose'>
                    @ASOFTLanguage.FindWordA00("A00.CloseBook")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.CloseBook")</div>
        </div>
    </div>
    
    <!-- Mở sổ kỳ kế toán -->
    <div class="@clsBlockOpen">
        <div class="@imgBlockOpen"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a
                    href="#"
                    id='@idOpen'>
                    @ASOFTLanguage.FindWordA00("A00.OpenBook")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.OpenBook")</div>
        </div>
    </div>
    
    <!-- Thu hồi phí KHA -->
    <div class="@clsBlockDRF0060">
        <div class="@imgDRF0060"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0060" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0060")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0060")</div>
        </div>
    </div>
    
    <!-- Thu hồi phí KHB -->
    <div class="@clsBlockDRF0070">
        <div class="@imgDRF0070"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0070" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0070")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0070")</div>
        </div>
    </div>
    
    <!-- Thu hồi phí KHC -->
    <div class="@clsBlockDRF0080">
        <div class="@imgDRF0080"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0080" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0080")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0080")</div>
        </div>
    </div>
    
    <!-- Thu hồi phí KHD -->
    <div class="@clsBlockDRF0090">
        <div class="@imgDRF0090"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0090" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0090")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0090")</div>
        </div>
    </div>
    
    <!-- Thu hồi phí KHE -->
    <div class="@clsBlockDRF0160">
        <div class="@imgDRF0160"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0160" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0160")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0160")</div>
        </div>
    </div>
    
     <!-- Thu hồi phí KHF -->
    <div class="@clsBlockDRF0170">
        <div class="@imgDRF0170"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0170" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0170")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0170")</div>
        </div>
    </div>
    
    <!-- Thu hồi phí KHG -->
    <div class="@clsBlockDRF0180">
        <div class="@imgDRF0180"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0180" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0180")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0180")</div>
        </div>
    </div>
    
     <!-- Chỉ tiêu lợi nhuận -->
    <div class="@clsBlockDRF0100">
        <div class="@imgDRF0100"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0100" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0100")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0100")</div>
        </div>
    </div>
    
    <!-- Chốt số liệu chỉ tiêu - doanh số -->
    <div class="@clsBlockDRF0210">
        <div class="@imgDRF0210"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0210" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0210")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0210")</div>
        </div>
    </div>
    
     <!-- Tỉ lệ thù lao nhóm-->
    <div class="@clsBlockDRF0110">
        <div class="@imgDRF0110"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0110" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0110")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0110")</div>
        </div>
    </div>
    
    <!-- Tỉ lệ phân bổ -->
    <div class="@clsBlockDRF0120">
        <div class="@imgDRF0120"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0120" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0120")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0120")</div>
        </div>
    </div>
    
    <!-- Phân quyền theo chức năng -->
    <div class="@clsBlockDRF0130">
        <div class="@imgDRF0130"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0130" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0130")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0130")</div>
        </div>
    </div>
    
    <!-- Tỉ lệ phí thu hồi so với mức thấp nhất -->
    <div class="@clsBlockDRF0200">
        <div class="@imgDRF0200"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0200" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0200")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0200")</div>
        </div>
    </div>
    
    <!-- Tỉ lệ phí thù lao mới -->
    <div class="@clsBlockDRF0220">
        <div class="@imgDRF0220"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0220" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0220")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0220")</div>
        </div>
    </div>
    
    <!-- Trạng thái truy cập -->
    <div class="@clsBlockDRF0230">
        <div class="@imgDRF0230"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idDRF0230" href="#">
                    @ASOFTLanguage.FindWordA00("A00.DRF0230")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.DRF0230")</div>
        </div>
    </div>
}

@helper OOSettings()
{   
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";
    
    //Phân quyền màn hình thiết lập xét duyệt
    var idOOF0010 = ASOFTEnvironment.CheckPermission("OOF0010", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? "oof0010Popup" : "";
    var clsBlockOOF0010 = ASOFTEnvironment.CheckPermission("OOF0010", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgOOF0010 = ASOFTEnvironment.CheckPermission("OOF0010", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình thiết lập OT
    var idOOF0020 = ASOFTEnvironment.CheckPermission("OOF0020", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? "oof0020Popup" : "";
    var clsBlockOOF0020 = ASOFTEnvironment.CheckPermission("OOF0020", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgOOF0020 = ASOFTEnvironment.CheckPermission("OOF0020", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình thiết lập quản lý phép
    var idHF0390 = ASOFTEnvironment.CheckPermission("HF0390", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? "hf0390Popup" : "";
    var clsBlockHF0390 = ASOFTEnvironment.CheckPermission("HF0390", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgHF0390 = ASOFTEnvironment.CheckPermission("HF0390", ASOFTConstants.MODULE_HRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    
    <!-- Thiết lập thời gian xét duyệt -->
    <div class="@clsBlockOOF0010">
        <div class="@imgOOF0010"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idOOF0010" href="#">@ASOFTLanguage.FindWordA00("A00.OOF0010")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.OOF0010")</div>
        </div>
    </div>
    
    <!-- Thiết lập thời gian OT -->
    <div class="@clsBlockOOF0020">
        <div class="@imgOOF0020"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idOOF0020" href="#">@ASOFTLanguage.FindWordA00("A00.OOF0020")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.OOF0020")</div>
        </div>
    </div>

    <!-- Thiết lập quản lý phép-->
    <div class="@clsBlockHF0390">
        <div class="@imgHF0390"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idHF0390" href="#">@ASOFTLanguage.FindWordA00("A00.HF0390")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.HF0390")</div>
        </div>
    </div>
    
}

@helper CRMSettings()
{
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";
    
    //Thông tin phân quyền màn hình thiết lập CRM
    var idCRMF0000 = ASOFTEnvironment.CheckPermission("CRMF0000", ASOFTConstants.MODULE_CRM, ASOFTPermission.AddNew) ? "CRMF0000Popup" : "";
    var clsBlockCRMF0000 = ASOFTEnvironment.CheckPermission("CRMF0000", ASOFTConstants.MODULE_CRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgCRMF0000 = ASOFTEnvironment.CheckPermission("CRMF0000", ASOFTConstants.MODULE_CRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    
    <!-- Màn hình thiết lập CRM -->
    <div class="@clsBlockCRMF0000">
        <div class="@imgCRMF0000"></div>
            <div class="display-block-content">
                <div class="display-block-content-key">
                    <a id="@idCRMF0000" href="#">@ASOFTLanguage.FindWordA00("A00.CRMF0000")</a>
                </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.CRMF0000")</div>
        </div>
    </div>
    
    var idCRMF0001 = ASOFTEnvironment.CheckPermission("CRMF0001", ASOFTConstants.MODULE_CRM, ASOFTPermission.AddNew) ? "CRMF0001Popup" : "";
    var clsBlockCRMF0001 = ASOFTEnvironment.CheckPermission("CRMF0001", ASOFTConstants.MODULE_CRM, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgCRMF0001 = ASOFTEnvironment.CheckPermission("CRMF0001", ASOFTConstants.MODULE_CRM, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    
    <!-- Màn hình thiết lập CRM -->
    <div class="@clsBlockCRMF0001">
        <div class="@imgCRMF0001"></div>
            <div class="display-block-content">
                <div class="display-block-content-key">
                    <a id="@idCRMF0001" href="#">@ASOFTLanguage.FindWordA00("A00.CRMF0001")</a>
                </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.CRMF0001")</div>
        </div>
    </div>
}

@helper SOSettings()
{
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";
    
    //Thông tin phân quyền màn hình thiết lập SO
    var idSOF0000 = ASOFTEnvironment.CheckPermission("SOF0000", ASOFTConstants.MODULE_SO, ASOFTPermission.AddNew) ? "SOF0000Popup" : "";
    var clsBlockSOF0000 = ASOFTEnvironment.CheckPermission("SOF0000", ASOFTConstants.MODULE_SO, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgSOF0000 = ASOFTEnvironment.CheckPermission("SOF0000", ASOFTConstants.MODULE_SO, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    
    <!-- Màn hình thiết lập CRM -->
    <div class="@clsBlockSOF0000">
        <div class="@imgSOF0000"></div>
            <div class="display-block-content">
                <div class="display-block-content-key">
                    <a id="@idSOF0000" href="#">@ASOFTLanguage.FindWordA00("A00.SOF0000")</a>
                </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.SOF0000")</div>
        </div>
    </div>
}

@(Html.ASOFTPanel()
    .Name("panelbar")
    .HtmlAttributes(new { @class = "block-panel-master" })
    .Animation(animation => animation.Enable(true))
    .Items(panelbar => 
    {
        panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.CommonConfig")).HtmlAttributes(new { @class = "block-panel-master-header" })
        .Expanded(true)
        .Content(this.CommonSettings().ToHtmlString());

        panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.ModuleCI")).HtmlAttributes(new { @class = "block-panel-master-header" })
            .Visible(true)
            .Content(this.CISettings().ToHtmlString());

        panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.ModulePO")).HtmlAttributes(new { @class = "block-panel-master-header" })
          .Visible(true)
          .Content(this.POSettings().ToHtmlString());

        panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.ModuleDRM")).HtmlAttributes(new { @class = "block-panel-master-header" })
            .Visible((ASOFTEnvironment.GetSession<int>(ASOFTConstants.MODULE_DRM + ASOFTEnvironment.KEY_CustomerIndex) == ASOFTConstants.CUSTOMERINDEX_XUONGRONG)
                        )
            .Content(this.DRMSettings().ToHtmlString());
        
        //Panel bar CRM
        panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.ModuleCRM")).HtmlAttributes(new { @class = "block-panel-master-header" })
            .Visible((ASOFTEnvironment.GetSession<int>(ASOFTConstants.MODULE_CRM + ASOFTEnvironment.KEY_CustomerIndex) == ASOFTConstants.CUSTOMERINDEX_HOANGTRAN) || ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_DONGDUONG)
            .Content(this.CRMSettings().ToHtmlString());

        //Panel bar SO
        panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.ModuleSO")).HtmlAttributes(new { @class = "block-panel-master-header" })
            .Visible((ASOFTEnvironment.GetSession<int>(ASOFTConstants.MODULE_SO + ASOFTEnvironment.KEY_CustomerIndex) == ASOFTConstants.CUSTOMERINDEX_ANGEL))
            .Content(this.SOSettings().ToHtmlString());
    })
)