@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control

@helper GeneralSettingHelperResult()
{
    var blockSettingsEnabled = "container-block-settings";
    var blockSettingsDisabled = "container-block-settings-disabled";
    var imgEnabled = "asf-i-set asf-i-set-default";
    var imgDisabled = "asf-i-set-disabled asf-i-set-default";
    
    //Phân quyền màn hình thiết lập hệ thống
    var idMTF0020 = ASOFTEnvironment.CheckPermission("MTF0020", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? "mtf0020Popup" : "";
    var clsBlockMTF0020 = ASOFTEnvironment.CheckPermission("MTF0020", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgMTF0020 = ASOFTEnvironment.CheckPermission("MTF0020", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;

    //Phân quyền màn hình phân quyền chức năng
    var idMTF0090 = ASOFTEnvironment.CheckPermission("MTF0090", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? "mtf0090Popup" : "";
    var clsBlockMTF0090 = ASOFTEnvironment.CheckPermission("MTF0090", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
    var imgMTF0090 = ASOFTEnvironment.CheckPermission("MTF0090", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    
    <!-- Thông tin mặc định -->
    <div class="@clsBlockMTF0020">
        <div class="@imgMTF0020"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="@idMTF0020" href="#">@ASOFTLanguage.FindWordA00("A00.Config")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.Config")</div>
        </div>
    </div>
    
    <!-- Kỳ kế toán -->
    var idOpen = string.Empty;
    var idClose = string.Empty;
    var clsBlockOpen = string.Empty;
    var imgBlockOpen = string.Empty;
    var clsBlockClose = string.Empty;
    var imgBlockClose = string.Empty;
    if (ASOFTEnvironment.Closing == 1)
    {
        idClose = "";
        clsBlockClose = "container-block-settings-disabled";
        imgBlockClose = "asf-i-set-disabled asf-i-set-default";

        //Phân quyền màn hình mở sổ
        idOpen = ASOFTEnvironment.CheckPermission("MTFXXXX", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? "as0001Popup" : "";
        clsBlockOpen = ASOFTEnvironment.CheckPermission("MTFXXXX", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
        imgBlockOpen = ASOFTEnvironment.CheckPermission("MTFXXXX", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    }
    else
    {
        idOpen = "";
        clsBlockOpen = "container-block-settings-disabled";
        imgBlockOpen = "asf-i-set-disabled asf-i-set-default";

        //Phân quyền màn hình khóa sổ
        idClose = ASOFTEnvironment.CheckPermission("MTF0040", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? "mtf0040Popup" : "";
        clsBlockClose = ASOFTEnvironment.CheckPermission("MTF0040", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? blockSettingsEnabled : blockSettingsDisabled;
        imgBlockClose = ASOFTEnvironment.CheckPermission("MTF0040", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew) ? imgEnabled : imgDisabled;
    }
    <div class="@clsBlockClose">
        <div class="@imgBlockClose"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a
                    href="#"
                    id = @idClose>
                    @ASOFTLanguage.FindWordA00("A00.CloseBook")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.CloseBook")</div>
        </div>
    </div>
    
    <!-- Quản lý báo cáo -->
    <div class="@clsBlockOpen">
        <div class="@imgBlockOpen"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a
                    href="#"
                    id=@idOpen>
                    @ASOFTLanguage.FindWordA00("A00.OpenBook")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.OpenBook")</div>
        </div>
    </div>
    
    <!-- Thiết lập phân quyền chức năng -->
    <div class="@clsBlockMTF0090">
        <div class="@imgMTF0090"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
               <a id="@idMTF0090" href="#">@ASOFTLanguage.FindWordA00("A00.FunctionPermission")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.FunctionPermission")</div>
        </div>
    </div>
}


@(Html.Kendo().PanelBar()
    .Name("panelbar")
    .HtmlAttributes(new { @class = "block-panel-master" })
    .Animation(animation => animation.Enable(true))
    .Items(panelbar => panelbar.Add().Text("Thiết lập chung").HtmlAttributes(new { @class = "block-panel-master-header" })
        .Expanded(true).Content(
            this.GeneralSettingHelperResult().ToHtmlString()
        ))
)