@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     19/6/2014       Chanh Thi        Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Database

@model ASOFT.ERP.ViewModel.POS.POSF0032ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = @Html.ASOFTPageTitle(@Html.PopupEditTitle(m => m.Title), "POSF0032").ToHtmlString();
    ViewBag.Width = 900;
}

<div class="asf-form-container">

    @using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "POSF0032"
    }))
    {
        @Html.ASOFTHidden(model => model.TotalDiscountAmountCurrentTable)
        @Html.ASOFTHidden(model => model.TotalDiscountRateCurrentTable)
        @Html.ASOFTHidden(model => model.TotalRedureAmountCurrentTable)
        @Html.ASOFTHidden(model => model.TotalRedureRateCurrentTable)
        @Html.ASOFTHidden(model => model.APK);
        @Html.ASOFTHidden(model => model.AreaID);
        @Html.ASOFTHidden(model => model.TableID);
        <div class="container_12">
            <div class="grid_5">
                <div class="top-div">
                    <div id="status-bar">
                        <ul>
                            <li class="orange_square">Đã chế biến
                            </li>
                            <li class="green_square">Đã in hóa đơn
                            </li>
                        </ul>
                    </div>
                    <div id="bill-split">
                       <ul>
                           <li>
                               @Html.ASOFTLabel(model => model.Title1)
                           </li>
                            <li>
                               @Html.ASOFTTextBox(model => model.VoucherNo, htmlStyle: new { width = Unit.Percentage(140) }).ReadOnlyIf(true)
                           </li>
                       </ul>
                   </div>
                 <div class="clearfix"></div>
                </div>
                @Html.Partial("GridTable1")
            </div>
            <div class="grid_2 middle-buttons">
                <div class="top-div">&nbsp;</div>
                <div>
                    <ul>
                        <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeSingle"))
                      .Name("changeSingle")
                      .Events(m => m.Click("changeSingle")))
                        </li>
                        <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeReturn"))
                      .Name("returnSingle")
                      .Events(e => e.Click("returnSingle")))
                        </li>
                    </ul>
                </div>
            </div>
            <div class="grid_5">
                <div class="top-div">
                    <h2 class="left-header">@Html.ASOFTLabel(model => model.Title2)</h2>
                    <div class="clearfix"></div>
                </div>
                @Html.Partial("GridTable2")
                <div class="clearfix"></div>
                <ul id="total-bill">
                    <li>
                        @Html.ASOFTLabel(model => model.CountTotalAmount)
                    </li>
                    <li>
                        @Html.ASOFTTextBox(model => model.CountTotalAmount, htmlStyle: new { width = Unit.Percentage(210) }).ReadOnlyIf(true)
                    </li>
                </ul>
            </div>
        </div>       
      
        <div class="container_12 asf-form-button">
            <ul >
                <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnPrint"))
                      .Name("posf00201SaveNew")
                      .Events(m => m.Click("posf00201SaveNew_Click")))
                </li>
                <li>
                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                      .Name("BtnClose")
                      .Events(e => e.Click("ASOFT.asoftPopup.closeOnly")))

                </li>

            </ul>
        </div>  
    }
</div>

@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF0032.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Areas/POS/Content/POSF0032RWD/POSF0032RWD.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0032.js")" type="text/javascript"></script>
}
