
@model ASOFT.ERP.ViewModel.S.SF1001ViewModel
@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Database


<div class="container_12">
    <div class="grid_6">
        <table class="asf-table-view">
            <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Birthday)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTDateEdit(model => model.Birthday))
                </td>
            </tr>
            <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.HireDate)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTDateEdit(model => model.HireDate))
                </td>
            </tr>
            <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EndDate)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTDateEdit(model => model.EndDate))
                </td>
            </tr>
            <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Nationality)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().Nationality(model => model.Nationality))
                </td>
            </tr>
            <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.IndentificationNo)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTTextBox(model => model.IndentificationNo))
                </td>
            </tr>
             <tr>
                <td style="vertical-align:top">@Html.ASOFTLabel(model => model.Image01ID)</td>
                <td>@Html.ASOFTLogo("SF1000", "Avatar", new { Area = "S" },  width:100, height:100)</td>
                <td style="vertical-align:top">
                    @(Html.Kendo().Upload()
                            .Name("upload").HtmlAttributes(new { id = "Image01ID" })
                            .Messages(m => m.Select(ASOFTLanguage.FindWordA00("A00.btnUpload")))
                            .Multiple(false)
                            .ShowFileList(true)
                            .Async(a => a.Save("Save", "SF1000", new { Area = "S" }).AutoUpload(true)
                        ).Events(e => e.Success("onImageSuccess")
                                        .Upload("onImageUpload"))
                    )
                    <div style="padding-left: 9px;">
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnDeleteImages"))
                                .Name("btnDeleteImages").Events(e => e.Click("btnDeleteImages_Click"))
                                )
                    </div>
                </td>
              </tr>
        </table>
    </div>
    <div class="grid_6 line_left">
        <table class="asf-table-view">
               <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.DutyID)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTDRMDutyID(model => model.DutyID))
                </td>
            </tr>
            <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.PassportNo)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTTextBox(model => model.PassportNo))
                </td>
            </tr>
              <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.BankAccountNumber)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTTextBox(model => model.BankAccountNumber))
                </td>
            </tr>
            <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Gender)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().CodeMaster(model => model.Gender, "AT00000036"))
                </td>
            </tr>
             <tr>
                <td class="asf-td-caption">@Html.ASOFTLabel(model => model.MarriedStatus)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().CodeMaster(model => model.MarriedStatus, "AT00000037"))
                </td>
            </tr>
        </table>
    </div>
    <div class="asf-filter-main">
        <div>&nbsp&nbsp @Html.ASOFTLabel(model => model.Signature)</div><br>
                   @(Html.Kendo().Editor()
          .Name("editor")
          .HtmlAttributes(new { style = "height:250px; width: 100%" })
          .Tools(tools => tools
              .Clear()
              .Bold().Italic().Underline().Strikethrough()
              .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
              .InsertUnorderedList().InsertOrderedList()
              .Outdent().Indent()
              .CreateLink().Unlink()
              .InsertImage()
              .SubScript()
              .SuperScript()
              .TableEditing()
              .ViewHtml()
              .Formatting()
              .FontName()
              .FontSize()
              .FontColor().BackColor()
          )
          //.StyleSheets(css => css
          //.Add(Url.Content("~/Content/Styles/asoftRD.css")).Add(Url.Content("~/Areas/POS/Content/POSF00161.css")))
          .Value(@<text>
                @Html.Raw(Model.Signature)
          </text>)
    )
        </div>
</div>