@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved.
//#
//# History:
//#     Date Time       Updater         Comment
//#     09/10/2014      Hồ Hoàng Tú      Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using ASOFT.ERP.ViewModel.S;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.S.SF1002ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "SF1002").ToHtmlString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFeature
{
    <script src="@Url.Content("~/Areas/S/Scripts/SF1002.js?v=" + ASOFTEnvironment.Version)"></script>
} 
<div id="contentMaster">

    @Html.ASOFTHeader(new HeaderModel { Title = Html.ASOFTPageTitle(model => model.Title, "SF1002").ToHtmlString(), Breakcrumb = true })
    <div id="ViewMaster" class="asf-panel-view-master">
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @if (Model.Toolbar1 != null)
                {
                    Model.Toolbar1.EventEdit = "SF1002Param.btnEdit_Click";
                    Model.Toolbar1.EventDelete = "SF1002Param.btnDelete_Click";
                    Model.Toolbar1.EventResetPassUser = "SF1002Param.btnChangePass_Click";
                    Model.Toolbar1.EventLockUser = "SF1002Param.btnLockUser_Click";
                    Model.Toolbar1.EventUnlockUser = "SF1002Param.btnUnLockUser_Click";
                }
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        <div id="viewPartial">
            @Html.Partial("SF1002M", Model)
        </div>
    </div>
</div>
@Html.ASOFTHidden("UrlSF1000", Url.Action("index"))
@Html.ASOFTHidden("SF1002EmployeeID", Model.EmployeeID)
@Html.ASOFTHidden("LockUser", Url.Action("SetLockUserID"))
@Html.ASOFTHidden("UnLockUser", Url.Action("SetUnLockUserID"))
@Html.ASOFTHidden("SF1002M", Url.Action("SF1002M"))