@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#    20/02/2017      Quang Chiến         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF1031ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF1031Title, "DRF1031").ToHtmlString();
    ViewBag.Width = 500;

    // Form Status
    bool isInsert = Model.FormStatus.Equals(ASOFTFormActionType.AddNew);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "DRF1031"}))
{
 <div class="asf-form-container">
    <div class="form-content">
            <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.PortID)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.PortID, checkRegularExp: true).ReadOnlyIf(Model.FormStatus != ASOFTFormActionType.AddNew)
                        @(Html.ASOFTHidden(DRT1020.COL_LASTMODIFYDATE, 
                                Model.LastModifyDate != null ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : ""))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Description)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextBox(model => model.Description))</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Notes)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextBox(model => model.Notes))</td>
                </tr>
                <tr>
                    <td class="asf-td-caption"></td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTCheckbox(model=>model.Disabled).HideIf(isInsert)
                    </td>
                </tr>
            </table>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF1031.btnClose_Click")))
                    </div>
                    <div >
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                .Name("BtnSaveCopy")
                                .Events(e => e.Click("DRF1031.btnSaveCopy_Click"))
                                .HideIf(!isInsert))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                .Name("btnSaveDRF1031")
                                .Events(e => e.Click("DRF1031.btnSaveNext_Click"))
                                .HideIf(!isInsert))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("DRF1031.btnSave_Click"))
                                .HideIf(isInsert))
                    </div>
                            
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
@*    <link href="@Url.Content("~/Areas/DRM/Content/DRF2001.css")" rel="stylesheet" type="text/css" />*@
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF1030/DRF1031.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}