@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     1/12/2014      Như Huyên        Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.S.SF1032ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.SF1032Title, "SF1032").ToHtmlString();
}

@Html.ASOFTHidden("UrlSF1031", Url.Action("SF1031"))
@Html.ASOFTHidden("UrlSF1032M", Url.Action("SF1032M"))
@Html.ASOFTHidden("UrlSF1030", Url.Action("Index"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@*@Html.ASOFTHidden("UrlCheckEdit", Url.Action("CheckEdit"))*@
@Html.ASOFTHidden("iD", Model.ID)
@Html.ASOFTHidden("languageID", Model.LanguageID)
@Html.ASOFTHidden("module", Model.Module)

<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTPageTitle(m => m.SF1032Title, "SF1032").ToHtmlString(), Breakcrumb = true})
    <div id="ViewMaster" class="asf-panel-view-master" >
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        <div id="viewPartial">
            @Html.Partial("SF1032M")
        </div>
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/S/Scripts/SF1030.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/S/Scripts/SF1031.js?v=" + ASOFTEnvironment.Version)"></script>
}

