@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     18/03/2014      Minh Lâm      Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0036ViewModel


@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Width = 800;
    ViewBag.Title = @Html.ASOFTPageTitle(model => model.Title, "POSF0036").ToHtmlString();
    var areaLabel = Html.ASOFTRaw(model => model.Area);
}
@using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "POSF00161"
    }))
{
    
    
    <div id="choose-tables">
        <div class="header row">           
            <div class="note container_12">
                <div class="grid_3">
                    <span class="rectange white"></span>
                    <h3>@Html.ASOFTRaw(model => model.Empty)</h3>
                </div>
                <div class="grid_3">
                    <span class="rectange orange"></span>
                    <h3>@Html.ASOFTRaw(model => model.Choosed)</h3>
                </div>
                <div class="grid_3">
                    <span class="rectange red"></span>
                    <h3>@Html.ASOFTRaw(model => model.Cooked)</h3>
                </div>
                <div class="grid_3">
                    <span class="rectange green"></span>
                    <h3>@Html.ASOFTRaw(model => model.Printed)</h3>
                </div>
            </div>
            <div class="container_12 line"></div>
        </div>
        <div class="body row scroll-y" id="areas-div">
        </div>
        <div class="footer row">
            <div class="asf-form-button">
                <table class="asf-table-view">
                    <tr>
                        <td>@*align="right"*@
                            <div class="asf-popup-button-container">
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose")).Name("btnClose"))
                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChoose")).Name("btnChoose"))

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    

    
}
@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0036.js")" type="text/javascript"></script>
}
@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF0036.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Areas/POS/Content/POSF0036RWD/POSF0036RWD.css")" rel="stylesheet" type="text/css" />
}