@using System.Web.Optimization
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.ViewModel;
@using XCaptcha.Web.Mvc;
@model ASOFT.ERP.A00.Entities.Common.Login
@{
    Layout = "";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="vn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hệ thống quản trị nguồn nhân lực doanh nghiệp</title>
    @Styles.Render("~/bundles/styles")
    @RenderPage("../Shared/_Environment.cshtml")
    @Html.RenderJsCulture()
    @Scripts.Render("~/bundles/script")

    <link 
        href="@Url.Content("~/Content/Styles/RWD/asoftLoginRWD.css")" 
        rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/login.js?v=" + ASOFTEnvironment.Version)" type="text/javascript"></script>
    <script charset="utf-8" type="text/javascript">
        var currentController = '@ViewContext.RouteData.GetRequiredString("controller")'
        var currentAction = '@ViewContext.RouteData.GetRequiredString("Action")'
        var solutionUrl = "@Url.Action("EncryptedCaptchaSolution")"
        var imageUrl = "@Url.Action("CaptchaImage")" + "?solution="
    </script>

</head>
<body class="@this.ViewContext.Controller.ValueProvider.GetValue("controller").RawValue">
    @{
        var urlDashBoard = string.Empty;
        if (ASOFTEnvironment.CustomerIndex == 34)
        {
            urlDashBoard = Url.Action("Index", new { area = "DRM", controller = "DRF0000" });
        }
        else if (ASOFTEnvironment.CustomerIndex == 25 || ASOFTEnvironment.CustomerIndex == 32 || ASOFTEnvironment.CustomerIndex == 56 || ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_MINHSANG)
        //else if (ASOFTEnvironment.BusinessArea != null && ASOFTEnvironment.ModuleID == ASOFTConstants.MODULE_POS)
        {
            urlDashBoard = Url.Action("Index", new { area = "POS", controller = "DashBoard" });
        }
        else if (ASOFTEnvironment.CustomerIndex == 35)
        {
            urlDashBoard = Url.Action("Index", new { area = "RD", controller = "DashBoard" });
        }
        else if (ASOFTEnvironment.CustomerIndex == 50)
        {
            urlDashBoard = Url.Action("Index", new { area = "HRM", controller = "DashBoard" });
        }
        else if (ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_HOANGTRAN || ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_DONGDUONG)
        {
            urlDashBoard = Url.Action("Index", new { area = "CRM", controller = "DashBoard" });
        }
        else if (ASOFTEnvironment.CustomerIndex == 57)
        {
            if (ASOFTEnvironment.CheckPermission("BF0000", ASOFTPermission.AddNew))
            {
                urlDashBoard = Url.Action("Index", new { area = "BI", controller = "BF0000" });
            }
            else
            {
                urlDashBoard = Url.Action("Index", "Contentmaster", new RouteValueDictionary() { { "id", "SO/SOF2010" } });
            }
        }
        //else if (ASOFTEnvironment.CustomerIndex == -2)
        //{
        //    urlDashBoard = Url.Action("Index", "Contentmaster", new RouteValueDictionary() { { "id", "KPI/KPIF2000" } });        
        //}
        else if (ASOFTEnvironment.CustomerIndex == 70)
        {
            //urlDashBoard = Url.Action("Index", new { area = "WM", controller = "DashBoard" });
            urlDashBoard = Url.Action("Index", "Contentmaster", new RouteValueDictionary() { { "id", "WM/WMF2000" } });
        }
        else if (ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_GODREJ)
        {
            urlDashBoard = Url.Action("Index", new { area = "T", controller = "DashBoard" });
        }
        else
        {
            urlDashBoard = Url.Action("Index", new { area = "S", controller = "SF0000" });
        }
        bool logout = Model.Logout != null;
    }
    @Html.ASOFTHidden("urlLoginSuccess", string.IsNullOrEmpty(Model.ReturnUrl) ? urlDashBoard : (Equals(Model.ReturnUrl, "/") ? urlDashBoard : Model.ReturnUrl))

    @Html.RenderScripts()
    @{
        Html.EnableClientValidation();
        
    }
    @using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "login"
    }))
    {
        @Html.ASOFTHidden("logOutBack", logout)
        <div class="mainTable">
            @if (ASOFTEnvironment.CustomerIndex == 70)
            { 
                <div class="asf-login-header-eimskip"></div>
                <div class="asf-login-header-RWD" hidden>
                    <img src="/Content/Images/loginRWD.png"></div>
                <div class="asf-login-content-eimskip">
                    <div class="asf-login-form-eimskip">

                        <table cellpadding="0" cellspacing="2">

                            <tr id="fake_margin">
                                <td align="left" colspan="2">&nbsp; </td>
                            </tr>
                            <tr valign="middle">
                                <td align="left" colspan="2">
                                    <div class="asf-login-error-msg hidden">
                                        <p>Tên hoặc mật khẩu không đúng</p>
                                    </div>

                                    @Html.ASOFTTextBox(model => model.UserID, null,
                                new
                                {
                                    placeholder = ASOFTLanguage.FindWordA00("A00.UserID")
                                },
                                new
                                {
                                    width = "240px",
                                    height = "32px"
                                })
                                </td>
                            </tr>

                            <tr valign="middle">
                                <td align="left" colspan="2">
                                    @Html.ASOFTPassWord(model => model.Password,
                                new
                                {
                                    placeHolder = ASOFTLanguage.FindWordA00("A00.Password")
                                },
                                new
                                {
                                    width = "240px",
                                    height = "32px"
                                })
                                </td>
                            </tr>

                            @* <tr valign="middle">
                            <td align="left" colspan="2">
                                @(Html.ASOFTBussinessComboBox().ASOFTMultiDivisionID(model => model.DivisionID, 
                                    option: new ComboOption(){ ShowAll = true },
                                    htmlStyle: new { width = "240px", height = "32px" })
                                    .Events(e=>e.Change("multiDivisionID_Change")))
                            </td>
                        </tr>*@

                            <tr valign="middle" id="asoftcaptcha" class="hidden">
                                <td valign="top" align="left" style="width: 115px">
                                    @Html.ASOFTTextBox(model => model.Captcha, null,
                                new
                                {
                                    placeholder = ASOFTLanguage.FindWordA00("A00.Captcha")
                                },
                                htmlStyle: new
                                {
                                    width = "105px",
                                    height = "32px"
                                })
                                </td>
                                <td align="left">
                                    <div class="asf-login-capcha">
                                        @Html.XCaptcha().Image(m => m.EncrypedSolution)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" colspan="2">
                                    @(Html.ASOFTButton(
                        htmlAttributes: new
                        {
                            @class = "asf-btn-login"
                        })
                                    .Name("btnLogin")
                                    .Content(ASOFTLanguage.FindWordA00("A00.btnLogin"))
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="asf-login-footer-eimskip">
                    <div class="info">
                        <div class="row">
                            <span style="font-size: 13px"><b>EIMSKIP VIETNAM CO.,LTD</b></span>
                        </div>
                        <div class="row">
                            <span>HDTC Building, 36 Bui Thi Xuan street, Ben Thanh Ward, District 1, HCMC</span>
                        </div>
                        <div class="row">
                            <span>Tel: (+84) 6264 63 80</span>
                        </div>
                        <div class="row">
                            <span><a href="http://www.eimskip.com">www.eimskip.com</a> or 
                            <a href="http://www.logisticsinvietnam.vn">www.logisticsinvietnam.vn</a>
                                - <a href="mailto:info@eimskip.vn">info@eimskip.vn</a></span>
                        </div>
                    </div>
                    <div class="asf-login-logo-footer"></div>
                </div>
            }
            else
            {
                <div class="asf-login-header"></div>
                <div class="asf-login-header-RWD" hidden>
                    <img src="/Content/Images/loginRWD.png"></div>
                <div class="asf-login-content">
                    <div class="asf-login-form">

                        <table cellpadding="0" cellspacing="2">

                            <tr id="fake_margin">
                                <td align="left" colspan="2">&nbsp; </td>
                            </tr>
                            <tr valign="middle">
                                <td align="left" colspan="2">
                                    <div class="asf-login-error-msg hidden">
                                        <p>Tên hoặc mật khẩu không đúng</p>
                                    </div>

                                    @Html.ASOFTTextBox(model => model.UserID, null,
                                new
                                {
                                    placeholder = ASOFTLanguage.FindWordA00("A00.UserID")
                                },
                                new
                                {
                                    width = "240px",
                                    height = "32px"
                                })
                                </td>
                            </tr>

                            <tr valign="middle">
                                <td align="left" colspan="2">
                                    @Html.ASOFTPassWord(model => model.Password,
                                new
                                {
                                    placeHolder = ASOFTLanguage.FindWordA00("A00.Password")
                                },
                                new
                                {
                                    width = "240px",
                                    height = "32px"
                                })
                                </td>
                            </tr>

                            @* <tr valign="middle">
                            <td align="left" colspan="2">
                                @(Html.ASOFTBussinessComboBox().ASOFTMultiDivisionID(model => model.DivisionID, 
                                    option: new ComboOption(){ ShowAll = true },
                                    htmlStyle: new { width = "240px", height = "32px" })
                                    .Events(e=>e.Change("multiDivisionID_Change")))
                            </td>
                        </tr>*@

                            <tr valign="middle" id="asoftcaptcha" class="hidden">
                                <td valign="top" align="left" style="width: 115px">
                                    @Html.ASOFTTextBox(model => model.Captcha, null,
                                new
                                {
                                    placeholder = ASOFTLanguage.FindWordA00("A00.Captcha")
                                },
                                htmlStyle: new
                                {
                                    width = "105px",
                                    height = "32px"
                                })
                                </td>
                                <td align="left">
                                    <div class="asf-login-capcha">
                                        @Html.XCaptcha().Image(m => m.EncrypedSolution)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" colspan="2">
                                    @(Html.ASOFTButton(
                        htmlAttributes: new
                        {
                            @class = "asf-btn-login"
                        })
                                    .Name("btnLogin")
                                    .Content(ASOFTLanguage.FindWordA00("A00.btnLogin"))
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="asf-login-module"></div>
                </div>
                <div class="asf-login-footer">
                    <div class="info">
                        <div class="row">
                            <span style="font-size: 13px"><b>@ASOFTLanguage.FindWordA00("A00.CompanyName")</b></span>
                        </div>
                        <div class="row">
                            <span>@ASOFTLanguage.FindWordA00("A00.CompanyAddress")</span>
                        </div>
                        <div class="row">
                            <span>@ASOFTLanguage.FindWordA00("A00.CompanyTel")</span>
                        </div>
                        <div class="row">
                            <span><a href="http://www.asoft.com.vn">www.asoft.com.vn</a>
                                - <a href="mailto:info@asoft.com.vn">info@asoft.com.vn</a></span>
                        </div>
                    </div>
                    <div class="asf-login-logo-footer"></div>
                </div>
            }
        </div>
    }
    @(Html.ASOFTPopup()
        .Name("PopupIframe")
        .Draggable(false)
        .Animation(false)
        .Scrollable(false)
        .Title(false)
        .Modal(true)
        .Iframe(true)
    )
</body>




<!--Dialog confirm and message-->
@Html.Partial("~/Views/Shared/EditorTemplates/Dialog.cshtml")
</html>
