@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//####################################################################
*@

@model ASOFT.ERP.ViewModel.POS.POSF00231ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = @Html.PopupEditTitle(m => m.Title);
    ViewBag.Width = 900;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "POSF00231" }))
{
    <div class="asf-form-container container_12 pagging_bottom ">
        <div class="grid_6 alpha float_left">
            <table class="asf-table-view">
                <tr>
                    <td class="container_label">@Html.ASOFTLabel(model => model.VoucherDate)

                    </td>
                    <td class="container_control">
                        @Html.ASOFTDateEdit(model => model.VoucherDate, htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
                <tr>
                    <td>@Html.ASOFTLabel(model => model.VoucherNo)</td>
                    <td>
                        @Html.ASOFTTextBox(model => model.VoucherNo, htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
               
            </table>
        </div>
        <div class="grid_0"></div>
        <div class="grid_6 omega float_right line_left_with_grid">
            <table class="asf-table-view">
                 <tr>
                    <td class="container_label">@Html.ASOFTLabel(model => model.PreparedBy)</td>
                    <td class="container_control">
                        @Html.ASOFTCombobox(model => model.PreparedBy, htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
                <tr>
                    <td>@Html.ASOFTLabel(model => model.Description)

                    </td>
                    <td>
                        @Html.ASOFTTextBox(model => model.Description, htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="asf-li-container">
                        <ul class="float_right">
                            <li>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnInherit"))
                                    .Name("btnInherit")
                                    .Events(e => e.Click("inherit_Click")))
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="asf-form-container container_12">
        @Html.Partial("GridVoucherDetail")
    </div>
    <div class="container_12 asf-form-button">
        <ul class="empty">
            <li>
                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveClose"))
                      .Name("POSF00231SaveClose")
                      .Events(e => e.Click("popupClose")))
            </li>
            <li>
                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                      .Name("POSF00231SaveNew")
                      .Events(e => e.Click("popupClose")))
            </li>
            <li>
                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                      .Name("POSF00231Close")
                      .Events(e => e.Click("popupClose")))
            </li>
        </ul>
    </div>
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF00231.js")" type="text/javascript"></script>
}