@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.ASOFTSystemInfoViewModel

<div class="asf-master-content">
        <div class="asf-content-block-sys left">
           <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateUserID"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CreateUserID)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateDate"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CreateDate)</td>
                </tr>
            </table>
         </div>
        <div class="asf-content-block-sys right">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyUserID"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LastModifyUserID)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyDate"))</td>
                    <td class="dot"></td>
                    <td class="content-text"> @Html.DisplayFor(model => model.LastModifyDate)</td>
                </tr>
            </table>
        </div>
    </div>  