
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Core
@model ASOFTSysFieldsViewModel
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.ViewModel

@{
    int index = ViewBag.Index;
    string module = ViewBag.Module;
    string ScreenID = ViewBag.ScreenID;
    string table = ViewBag.Table;
    bool OrAnd = ViewBag.OrAnd;
    string strOrAnd = OrAnd ? "Và" : "Hoặc";
    string idSearch = "divCBSearch" + index;
    string idOrAnd = OrAnd ? ("idAnd" + index) : ("idOr" + index);
}

 <div class="container3" id="@idSearch">
        <div style="float: left;" id="@idOrAnd">@strOrAnd</div>
        <br />
        <div style="float: left; width: 5%">&nbsp;</div>
        <div style="float: left; width: 100%">
            <div style="float: left; width: 3%">&nbsp;</div>
            <div style="float: left; width: 10%">@ASOFTLanguage.FindWordA00("A00.SearchFollow") :</div>
            <div style="float: left; width: 18%">@Html.ASOFTBussinessComboBox().ASOFTDynamicSearch(m => m.Data, module, ScreenID, table, htmlAttributes: new { id = "CBSearch" + index, requaird = "true" }).Events(e => e.Change("cbSearch_Change"))</div>
            <div style="float: left; width: 2%">&nbsp;</div>
             <div style="float: left; width: 18%">@Html.ASOFTBussinessComboBox().ASOFTDynamicCompare(m => m.Data, index, option: new ComboOption() { EventPostData = "getCompareSearch" }, htmlAttributes: new { id = "CBCompare" + index , requaird = "true"}).Events(e => e.Change("cbCompare_Change"))</div>
            <div style="float: left; width: 2%">&nbsp;</div>
            <div style="float: left; width: 26%">@Html.ASOFTTextBox(m => m.Data, htmlAttribute: new { id = "TxtSearch" + index }) 
@Html.ASOFTDateEdit(m => m.TypeDateTimePicker, htmlAttributes: new { id = "DateSearch" + index, @class = "asf-hidden" })@Html.ASOFTDateEditLongTime(m => m.TypeDateTimePicker, htmlAttributes: new { id = "DateTimeSearch" + index, @class = "asf-hidden" })
@Html.ASOFTBussinessComboBox().ASOFTSCodeMasterIsCommon(m => m.Data, htmlAttributes: new { id = "CBCheck" + index, @class = "asf-hidden" })
@Html.ASOFTSpinEdit(m => m.ValueSpin, htmlAttributes: new { id = "SpinSearch" + index, @class = "asf-hidden" }) 
                <div> 
                    <div style="float: left; width: 49%">@Html.ASOFTTextBox(m => m.Data, htmlAttribute: new { id = "TxtSearchFrom" + index, @class = "asf-hidden" })
                         @Html.ASOFTDateEdit(m => m.TypeDateTimePicker, htmlAttributes: new { id = "DateSearchFrom" + index,@class = "asf-hidden" }) 
                    @Html.ASOFTDateEditLongTime(m => m.TypeDateTimePicker, htmlAttributes: new { id = "DateTimeSearchFrom" + index, @class = "asf-hidden"  }).Events(e => e.Close("LongDateTime"))
                    @Html.ASOFTSpinEdit(m => m.ValueSpin, htmlAttributes: new { id = "SpinSearchFrom" + index, @class = "asf-hidden" })
                    </div>
                     <div style="float: left; width: 2%">&nbsp;</div>
                    <div style="float: left; width: 49%">@Html.ASOFTTextBox(m => m.Data, htmlAttribute: new { id = "TxtSearchTo" + index, @class = "asf-hidden"})
                     @Html.ASOFTDateEdit(m => m.TypeDateTimePicker, htmlAttributes: new { id = "DateSearchTo" + index,@class = "asf-hidden" }) 
                     @Html.ASOFTDateEditLongTime(m => m.TypeDateTimePicker, htmlAttributes: new { id = "DateTimeSearchTo" + index, @class = "asf-hidden"  }).Events(e => e.Close("LongDateTime"))
                     @Html.ASOFTSpinEdit(m => m.ValueSpin, htmlAttributes: new { id = "SpinSearchTo" + index, @class = "asf-hidden" })
                    </div>
                </div>
            </div>  
            <div style="float: left; width: 2%">&nbsp;</div>
            <div style="float: left; width: 19%"> 
                 @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.And"))
                              .Name("BtnAnd_divCBSearch" + index)
                              .Events(e => e.Click("btnAddSearch_Click")))
                 @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.Or"))
                              .Name("BtnOr_divCBSearch" + index)
                              .Events(e => e.Click("btnAddSearch_Click")))
                <img style="cursor: pointer" src="~/Content/Images/close16x16.png" onclick="deleteSearch_Click('@idSearch')"/>
            </div>
        </div>
</div>


