@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     13/02/2017      Quang Hoàng     Tạo mới
//####################################################################
*@

@model ASOFT.ERP.ViewModel.POS.POSF00281ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = @Html.ASOFTPageTitle(@Html.PopupEditTitle(m => m.Title), "POSF00281").ToHtmlString();
    ViewBag.Width = 1000; 
}
@Html.ASOFTHidden(model => model.APK)
@Html.ASOFTHidden("isCLOUD", true)
@if(ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_MINHSANG)
{
    @Html.ASOFTHidden(model => model.isPOST0016)
}
@Html.ASOFTHidden(model => model.APKPOST0016)

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "POSF00281" }))
{
    @Html.ASOFTHidden(model => model.EmployeeName)
    @Html.ASOFTHidden(model => model.DivisionID)
    @Html.ASOFTHidden(model => model.VoucherTypeID)
    @Html.ASOFTHidden(model => model.WarehouseID)
    <div class="asf-form-container container_12 pagging_bottom ">
        <div class="grid_6 alpha float_left  line_right">
            <table class="asf-table-view">
                <tr hidden>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.ShopID)</td>
                        <td class="asf-td-field" colspan="2">
                            @(Html.ASOFTBussinessComboBox().ASOFTShopIDPOS(model => model.ShopID,
                                          htmlStyle: new
                                          {
                                              width = Unit.Percentage(100)
                                          })) 
                        </td>
                    </tr>
                <tr>
                    <td class="container_label">@Html.ASOFTLabel(model => model.VoucherNo)</td>
                    <td class="container_control" colspan="2">
                        @Html.ASOFTTextBox(model => model.VoucherNo,
                            htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
                <tr>
                    <td>@Html.ASOFTLabel(model => model.VoucherDate)
                    </td>
                    <td colspan="2">
                        @(Html.ASOFTDateEdit(model => model.VoucherDate,
                              htmlAttributes: new Dictionary<string, object>
                              {
                                  {"data-bind", "value:VoucherDate"}
                              }
                              )
        //.Value(ASOFTEnvironment.WorkingDate)
                              )
                    </td>
                </tr>
            </table>
        </div>
        <div class="grid_0"></div>
        <div class="grid_6 omega float_right">
            <table class="asf-table-view">
                <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmployeeID)</td>
                        <td class="asf-td-field" colspan="2">
                            @Html.ASOFTTextBox(model => model.EmployeeID,
                            htmlStyle: new { width = Unit.Percentage(100) }).ReadOnlyIf(true)

                            @(Html.ASOFTButton("")
                            .Name("btnChooseContact")
                            .HtmlAttributes(new { style = "border: none !important; z-index:10001; position: fixed; right: 27px; height: 25px; width: 27px;", @class = "asf-i-search-24" })
                            .Enable(true)
                            .Events(e => e.Click("btnChooseEmployeeID_Click")))
                        </td>
                 </tr>
                <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Description)</td>
                        <td class="asf-td-field" colspan="2">
                            @Html.ASOFTTextBox(model => model.Description,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                 </tr>
            </table>
        </div>
    </div>
    <div class="asf-form-container container_12">
        @Html.Partial("GridVoucherDetail")
    </div>
     <div class="asf-form-button" style="padding-top: 25px">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            @if (Model.FormStatus == ASOFTFormActionType.AddNew)
                            {
                                bool hasPermission = false;
                                if (Model.AllowAdd())
                                {
                                    hasPermission = true;
                                }
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                               .Name("BtnClose")
                              .Events(e => e.Click(hasPermission ? "btnClose_Click" : "ASOFT.asoftPopup.closeOnly"))
                            )
                                </div>
                                <div>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                .Name("POSF00281SaveCopy")
                                .Events(m => m.Click("SaveCopy_Click"))
                                .Enable(hasPermission)
                                )
                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                .Name("POSF00281SaveNew")
                                .Events(m => m.Click("SaveNew_Click"))
                                 .Enable(hasPermission))
                                </div>

                            }
                            else
                                if (Model.FormStatus != ASOFTFormActionType.AddNew)
                                {
                                    bool hasPermission = false;
                                    if (Model.CheckPermission("POSF00281", ASOFTPermission.Update))
                                    {
                                        hasPermission = true;
                                    }

                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                  .Name("BtnClose")
                                 .Events(e => e.Click(hasPermission ? "btnClose_Click" : "ASOFT.asoftPopup.closeOnly")))
                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                  .Name("POSF00281btnSaveNew")
                                  .Events(e => e.Click( Model.isPOST0016 ? "btnUpdatePOST0016_Click" : "btnUpdate_Click"))
                                  .Enable(hasPermission)
                                  )
                                </div>

                                }
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    <span class="asf-disabled-visibility">
            @Html.ASOFTTextBox(model => model.LastModifyDateValue)
     </span>
}

@section jsFeature
    {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF00281.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF00151Autocomplete.js")" type="text/javascript"></script>
}

@Html.ASOFTHidden("POSF00281DivisionID", Model.DivisionID)