@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     14/12/2015      Quang Hoàng      Tạo mới
//####################################################################
*@

@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.CRM.CRMF2003ViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CRMF2003" }))
{
    @Html.ASOFTHidden("SetFromDate", ASOFTEnvironment.BeginDate);
    @Html.ASOFTHidden("SetToDate", ASOFTEnvironment.EndDate);
    <div id ="History">
        <div class ="title-history">
            <div class= "history-bar">@LocalizedHelper.GetLocalizedResourceString("CRMF2003.CRMF2002Title", "CRMF2003","CRM")</div>
            <div class="close_box" ><img src="~/Areas/CRM/Content/images/close.png"/></div>
        </div>
        <div class="asf-form-container container_12 pagging_bottom ">
        <div class="history-content">
            <div class="grid_6 alpha float_left">
                <table class="asf-table-view">
                    <tr>
                        <td class="container_label">>@LocalizedHelper.GetLocalizedResourceString("CRMF2003.FromDate", "CRMF2003","CRM")</td>
                        <td class="container_control">
                            @Html.ASOFTDateEdit(model => model.FromDate,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    <tr>
                        <td class="container_label">@LocalizedHelper.GetLocalizedResourceString("CRMF2003.Source", "CRMF2003","CRM")</td>
                        <td class="container_control">
                            @Html.ASOFTTextBox(model => model.Source,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    <tr>
                        <td class="container_label">@LocalizedHelper.GetLocalizedResourceString("CRMF2003.Status", "CRMF2003","CRM")</td>
                        <td class="container_control">
                            @Html.ASOFTBussinessComboBox().ASOFTStatusCall(model => model.Status,htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid_6 omega float_right line_left_with_grid">
                <table class="asf-table-view">
                    <tr>
                        <td class="container_label">@LocalizedHelper.GetLocalizedResourceString("CRMF2003.ToDate", "CRMF2003","CRM")</td>
                        <td class="container_control">
                            @Html.ASOFTDateEdit(model => model.ToDate,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    <tr>
                        <td class="container_label">@LocalizedHelper.GetLocalizedResourceString("CRMF2003.Destination", "CRMF2003","CRM")</td>
                        <td class="container_control">
                            @Html.ASOFTTextBox(model => model.Destination,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    <tr>
                        <td class="container_label">@LocalizedHelper.GetLocalizedResourceString("CRMF2003.AccountID", "CRMF2003","CRM")</td>
                        <td class="container_control">
                            @Html.ASOFTTextBox(model => model.AccountID,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="container_12 asf-form-button">
                <ul class="empty">
                    <li>
                        @(Html.ASOFTSearchButton()
                                    .Name("BtnFilterCRMF2003")
                                    .Events(e => e.Click("BtnFilterCRMF2003_Click")))
                    </li>
                    <li>
                            @(Html.ASOFTSearchResetButton()
                                    .Name("BtnClearFilterCRMF2003")
                                    .Events(e => e.Click("BtnClearFilterCRMF2003_Click")))
                    </li>
                </ul>
            </div>
            <div class="asf-form-container container_12">
                    @Html.Partial("GridCallHistory")
            </div>
        </div>
   </div>
}

