@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created         Comment
//#     17/12/2015      Quang Hoàng         Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.ViewModel.CRM
@using ASOFT.ERP.ViewModel.Helper;
@model CRMF2002ViewModel


@using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "CRMF2002"
    }))
    {
        <div class="transfer-call" hidden>
            <div class="transfer-title">
                <div class="transfer-bar">@LocalizedHelper.GetLocalizedResourceString("CRMF2002.CRMF2002Title", "CRMF2002","CRM")</div>               
                <div class="close_box"><img src="~/Areas/CRM/Content/images/close.png"/></div>
            </div>
            <div class= "transfer-content">
                <div class = "tf1">
                    @LocalizedHelper.GetLocalizedResourceString("CRMF2002.SipID", "CRMF2002","CRM")
                </div>
                <div class = "tf2">
                     @(Html.ASOFTBussinessComboBox().ASOFTSipID(model => model.SipID,"101", htmlStyle: new { width = Unit.Percentage(100) }))
                </div>
                 <div class = "tf3">
                     @(Html.ASOFTButton("")
                    .HtmlAttributes(new { @class = "bt" })
                    .Name("BtnTransferCRMF2002")
                    .Events(e => e.Click("btnTransfer_Click")))  

                     @(Html.ASOFTButton("")
                    .HtmlAttributes(new { @class = "bt" })
                    .Name("BtnCallLine"))  

                      @(Html.ASOFTButton("")
                    .HtmlAttributes(new { @class = "bt" })
                    .Name("BtnHangUpLine").Enable(false))  
                </div>
            </div>
        </div>
}

