@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     10/12/2015      Quang Hoàng       Tạo mới
//####################################################################
*@

@using System.Web.UI.WebControls
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel.CRM;
@using ASOFT.ERP.ViewModel.Helper;
@model CRMF2000ViewModel
@Html.ASOFTHidden("CurrentSipID" , Model.SipID)
@Html.ASOFTHidden("CurrentSipName", Model.AccountName)
@Html.ASOFTHidden("CurrentSipPass", Model.SipPass)
@Html.ASOFTHidden("IsTemp", "True")
@Html.ASOFTHidden("GridHistory", Url.Action("History"))

@helper ScreenCallPanel()
{
    <div id = "screencall">
             @Html.Action("ScreenCall", "CRMF2000")  
        <div class ="btn-ScreenCall">
            @(Html.ASOFTButton("")
            .HtmlAttributes(new { @class = "bt" })
            .Name("BtnHangUp"))
            @(Html.ASOFTButton("")
            .HtmlAttributes(new { @class = "bt" })
            .Name("BtnHold"))
            @(Html.ASOFTButton("")
            .HtmlAttributes(new { @class = "bt" })
            .Name("BtnTransfer"))  
        </div>
    </div>
    <video autoplay id="audio" style="display: none"></video>
}

@helper KeyboardPanel()
{
    @Html.Partial("Keyboard")
}

@helper ExtendPanel()
{
    <div id = "Extend">
        @Html.Action("Extend", "CRMF2000")  
    </div>
}



<div class="callcenter-small">
        <div class="title-small">@LocalizedHelper.GetLocalizedResourceString("CRMF2000.CRMF2000Title", "CRMF2000","CRM")</div>
        <div class="close_box1" ><img src="~/Areas/CRM/Content/images/close.png"/></div>
        <div class="minimize_box_show"><img src="~/Areas/CRM/Content/images/maximize.png"/></div>
</div>	

@Html.Action("CRMF2001","CRMF2000")

@Html.Action("CRMF2002","CRMF2000")

<div id = "CRMF2004"></div>

<div id ="CRMF2003"></div>

<div class="grid-history"></div>

<div class="callcenter" id="callcenter-all" hidden>
    <div class="anchor">     
        <div class="anchor1">
             @(Html.ASOFTButton(LocalizedHelper.GetLocalizedResourceString("CRMF2000.BtnViewOrder","CRMF2000", "CRM"))
             .Name("BtnViewOrder")
             .HtmlAttributes(new {@class ="BtnAC2" })
             .Events(e => e.Click("BtnViewOrder_Click")))
        </div>
        <div class="anchor1">
            @(Html.ASOFTButton(LocalizedHelper.GetLocalizedResourceString("CRMF2000.BtnViewDebts","CRMF2000","CRM"))
             .Name("BtnViewDebts")
             .HtmlAttributes(new {@class ="BtnAC1" })
             .Events(e => e.Click("btnViewDebts_Click")))
        </div>
        <div class="anchor1">
            @(Html.ASOFTButton(LocalizedHelper.GetLocalizedResourceString("CRMF2000.BtnViewHistory","CRMF2000","CRM"))
             .Name("BtnViewHistory")
             .HtmlAttributes(new {@class ="BtnAC"})
             .Events(e => e.Click("BtnViewHistory_Click")))
        </div>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "CRMF2000", onsubmit = "return false"
    }))
    { 
        <div class="screencall">
            <div class="title-bar">
                <div  class="title">@Html.ASOFTLabel(model => model.CRMF2000Title)</div>      
                <div class="close_box"><img src="~/Areas/CRM/Content/images/close.png"/></div>
                <div class="minimize_box"><img src="~/Areas/CRM/Content/images/minimize.png"/></div>
            </div>          
            <div class="bt">
                <div style="padding: 5px 0px 0px 15px">@Html.ASOFTCheckbox(m => m.Register).HideIf(string.IsNullOrEmpty(Model.SipID))</div>
                <fieldset style ="height:37px">
                <legend>@LocalizedHelper.GetLocalizedResourceString("CRMF2000.QuickAdd", "CRMF2000","CRM")</legend>
                <div class="btnv">
                     @(Html.ASOFTButton(LocalizedHelper.GetLocalizedResourceString("CRMF2000.btnContact", "CRMF2000","CRM"))
                    .Name("btnContact")
                    .Events(e => e.Click("btnContact_Click")))
                </div >           
                <div class="btnv">
                    @(Html.ASOFTButton(LocalizedHelper.GetLocalizedResourceString("CRMF2000.btnObject", "CRMF2000","CRM"))
                    .Name("btnObject")
                    .Events(e => e.Click("btnObject_Click")))
                </div>
                <div class="btnv">
                    @(Html.ASOFTButton(LocalizedHelper.GetLocalizedResourceString("CRMF2000.btnSaleOrder", "CRMF2000","CRM"))
                    .Name("btnSaleOrder")
                    .Events(e => e.Click("btnSaleOrder_Click")))
                </div> 
                </fieldset>              
            </div>
            <div class="call-number">
                <div class="call-s">
                     <img src="/Content/Images/search.png" style="height: 24px; width: 24px;" />
                </div>
                <div class="call-text">
                    @Html.ASOFTTextBox(model => model.Call, htmlAttribute: new { placeholder = LocalizedHelper.GetLocalizedResourceString("CRMF2000.TextNumber", "CRMF2000","CRM") })
                </div>
                <div class="call-bt">
                    @(Html.ASOFTButton("")
                    .HtmlAttributes(new { @class = "btnCall" })
                    .Name("btnCall"))
                </div>
            </div>
            <div class="call">
                @(Html.ASOFTTab()
                .Name("tabCallCenter")
                .Items(tabstrip =>
                {

                    tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("CRMF2000.CallInformation", "CRMF2000", "CRM"))
                        .Selected(true)
                        .HtmlAttributes(new
                        {
                            @id = "Tab1"
                        })
                        .ContentHtmlAttributes(new
                        {
                            @class = "asf-tab-content",
                            @style = "height: 155px"
                        })
                        .Content(this.ScreenCallPanel().ToHtmlString());

                    tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("CRMF2000.Extend", "CRMF2000", "CRM"))
                        .HtmlAttributes(new
                        {
                            @id = "Tab3"
                        })
                        //.ContentHtmlAttributes(new { style = "height:792px;" })
                        .ContentHtmlAttributes(new
                        {
                            @class = "asf-tab-content"
                        }).Content(this.ExtendPanel().ToHtmlString());

                    tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("CRMF2000.Keyboard", "CRMF2000", "CRM"))
                        .HtmlAttributes(new
                        {
                            @id = "Tab2"
                        })
                        //.ContentHtmlAttributes(new { style = "height:792px;" })
                        .ContentHtmlAttributes(new
                        {
                            @class = "asf-tab-content"
                        })
                        .Content(this.KeyboardPanel().ToHtmlString());
                })
                )
           </div>
       </div>
    }
</div>






    <link href="@Url.Content("~/Areas/CRM/Content/CRMF2000.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/ASOFTSIP.js")" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="@Url.Content("~/Areas/CRM/Scripts/CRMF2000/CRMF2000.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CRM/Scripts/CRMF2000/FormatJSSIP.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CRM/Scripts/CRMF2000/CRMF2003.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/notification.js")" type="text/javascript"></script>