@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     05/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF0120ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF0120Title, "DRF0120").ToHtmlString();
    ViewBag.Width = 600;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DRF0120" }))
{
 <div class="asf-form-container">
    <div class="form-content">
        <table class="asf-table-view">
            <tr>
                <td class="drf-caption">@Html.ASOFTLabel(model => model.BranchID)</td>
                <td class="drf-td-comboBox" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTDRMBranchID(model => model.BranchID, true)
                            .Events(e=>e.Change("DRF0120.branch_Changed").DataBound("DRF0120.branch_DataBound"))
                            .SelectedIndex(0))
                </td>
                @*<td class="drf-td-text">@Html.ASOFTTextBox(model => model.BranchName)</td>*@
            </tr>
            <tr>
                <td colspan="3">
                    @Html.Partial("DRF0120Grid")
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF0120.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                .Name("BtnConfig")
                                .Events(e => e.Click("DRF0120.btnConfig_Click")))
                    </div>                          
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF0120/DRF0120.js?v=" + ASOFTEnvironment.Version)"></script>
}