@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     20/10/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF0180ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF0180Title, "DRF0180").ToHtmlString();
    ViewBag.Width = 600;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id="DRF0180" }))
{
    <div class="asf-form-container">
        <div class="form-content">
            <fieldset>
                <legend>@Html.ASOFTLabel(model=>model.GFee1Coefficient)</legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.GFee1Coefficient1)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.GFee1Coefficient1)</td>
                    </tr>
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.GFee1Coefficient2)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.GFee1Coefficient2)</td>
                    </tr>
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.GFee1Coefficient3)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.GFee1Coefficient3)</td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="fieldSet">
                <legend>@Html.ASOFTLabel(model=>model.GFee2Coefficient)</legend>
                <table class="asf-table-view">
                     <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.GFee2Coefficient1)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.GFee2Coefficient1)</td>
                    </tr>
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.GFee2Coefficient2)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.GFee2Coefficient2)</td>
                    </tr>
                    <tr>
                        <td class="drf-td">@Html.ASOFTLabel(model => model.GFee2Coefficient3)</td>
                        <td colspan="2">@Html.ASOFTSpinEdit(model => model.GFee2Coefficient3)</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td align="right">
                    <div class="asf-popup-button-container">
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                  .Name("BtnClose")
                                  .Events(e => e.Click("DRF0180.btnClose_Click")))
                        </div>
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                    .Name("BtnConfig")
                                    .Events(e => e.Click("DRF0180.btnConfig_Click")))
                        </div>    
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF0180/DRF0180.js?v=" + ASOFTEnvironment.Version)"></script>
}