@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control

@helper GeneralSettingHelperResult()
{
    <!-- Thông tin mặc định -->
    <div class="container-block-settings">
        <div class="asf-i-set asf-i-set-default"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a id="dmf0020Popup" href="#">@ASOFTLanguage.FindWordA00("A00.Config")</a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.Config")</div>
        </div>
    </div>
    
    
    <!-- Kỳ kế toán -->
    <div class="container-block-settings">
        <div class="asf-i-set asf-i-set-default"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a @{
                        var idClose = ASOFTEnvironment.Closing == 0 ? "closebook" : "";
                    } 
                    href="#"
                    id = @idClose>
                    @ASOFTLanguage.FindWordA00("A00.CloseBook")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.CloseBook")</div>
        </div>
    </div>
    
    <!-- Quản lý báo cáo -->
    <div class="container-block-settings">
        <div class="asf-i-set asf-i-set-default"></div>
        <div class="display-block-content">
            <div class="display-block-content-key">
                <a @{
                        var idOpen = ASOFTEnvironment.Closing == 1 ? "as0001Popup" : "";
                    } 
                    href="#"
                    id=@idOpen>
                    @ASOFTLanguage.FindWordA00("A00.OpenBook")
                </a>
            </div>
            <div class="display-block-content-info">@ASOFTLanguage.FindWordA00("A00.OpenBook")</div>
        </div>
    </div>
}


@(Html.ASOFTPanel()
    .Name("panelbar")
    .HtmlAttributes(new { @class = "block-panel-master" })
    .Animation(animation => animation.Enable(true))
    .Items(panelbar => panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.CommonConfig")).HtmlAttributes(new { @class = "block-panel-master-header" })
        .Expanded(true).Content(
            this.GeneralSettingHelperResult().ToHtmlString()
        ))
)