@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Common
@using ASOFT.ERP.MT.Entities
@using Kendo.Mvc
@using Kendo.Mvc.UI
@model ASOFT.ERP.ViewModel.MT.MTF0010ViewModel
@{
    ViewBag.Title = @ASOFTLanguage.FindWordA00("A00.System");
}

@section jsFeature{
    <script src="@Url.Content(contentPath: "~/Areas/DRM/Scripts/DRMF0010.js?v=" + ASOFTEnvironment.Version)"></script>
    @*<script src="@Url.Content(contentPath: "~/Areas/MT/Scripts/MTF0020.js?v=" + ASOFTEnvironment.Version)"></script>*@
}

@section styleFeature{
    <link href="@Url.Content(contentPath: "~/Areas/DRM/Content/DRMF0010.css")" rel="stylesheet" type="text/css" />
}

@*@Html.ASOFTHidden("UrlMtf0020", Url.Action("Index", "DRMF0020"))
@Html.ASOFTHidden("UrlMtf0020Update", Url.Action("Update", "DRMF0020"))*@
@Html.ASOFTHidden("UrlCloseBook", Url.Action("Index",  new { area = "", controller = "CloseOpenBook" }))
@Html.ASOFTHidden("UrlUpdateCloseBook", Url.Action("CloseBook",  new { area = "", controller = "CloseOpenBook" }))
@Html.ASOFTHidden("UrlUpdateOpenBook", Url.Action("OpenBook",  new { area = "", controller = "CloseOpenBook" }))
<div id='contentMaster'>
     @Html.ASOFTHeader(new HeaderModel() { Title = ASOFTLanguage.FindWordA00("A00.System"), Breakcrumb = true })
        <div id="ViewMaster" class="asf-panel-view-master">
            <div class="asf-master-content">
                @Html.Partial("GeneralSetting")
            </div>
        </div>
</div>

@(Html.ASOFTPopup()
    .Name("DRMF0010Popup")
    .Width(500))

