@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     03/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.DRM.DRF1022ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF1022Title, "DRF1022").ToHtmlString();
}

@Html.ASOFTHidden("UrlDRF1021", Url.Action("DRF1021"))
<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTPageTitle(m => m.DRF1022Title, "DRF1022").ToHtmlString(), Breakcrumb = true})
    <div id="ViewMaster" class="asf-panel-view-master" >
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        <div id="viewPartial">
            @Html.Partial("DRF1022M")
        </div>
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF1020/DRF1020.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF1020/DRF1021.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF1020/DRF1022.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
    @*<link href="@Url.Content("~/Areas/DRM/Content/DRF2002.css")" rel="stylesheet" type="text/css" />*@
}
@Html.ASOFTHidden("ScreenID", "DRF1022")
@Html.ASOFTHidden("UrlDRF1020", Url.Action("Index"))
@Html.ASOFTHidden("UrlDRF1021", Url.Action("DRF1021"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlDRF1022M", Url.Action("DRF1022M"))
@Html.ASOFTHidden("UrlCheckEdit", Url.Action("CheckEdit"))
@Html.ASOFTHidden("UrlHistory", Url.Action("Index", new { controller = "History", area = "", tableID = "DRT1020", IDSearch = "InfoID", ValueSearch = Model.InfoID }))