@using ASOFT.ERP.ViewModel.DRM
@model DRF1022ViewModel

@helper Group01()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.InfoTypeName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.InfoTypeName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.InfoID)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="InfoID">@Html.DisplayFor(model => model.InfoID)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.VDescription)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model. VDescription)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.EDescription)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.EDescription)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Disabled)</td>
                    <td class="dot"></td>
                    <td class="content-text"> 
                        @{ var disabled = Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                            @disabled

                    </td>
                </tr>
                 <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note)</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new {@class = "block-panel-master"})
      .Animation(animation => animation.Enable(true))
      //.Events(m => m.Activate("CRMF2062.autoFitHeightAllColumn"))
      .Events(events => events           
            .Expand("DRF1021.expandPanel")
        )
      .Items(panelbar =>
             {
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF1022Tab01Title))
                     .HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Expanded(true).Content(Group01().ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.HistoryInfo")).HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Content(
                     @Html.Action("Index", new { controller = "History", area = "", tableID = "DRT1020", ValueSearch = Model.InfoID }).ToString()
                     );
                 
                 //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);
                 
             })
      )