@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     25/08/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF1021ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF1021Title, "DRF1021").ToHtmlString();
    ViewBag.Width = 500;

    // Form Status
    bool isInsert = Model.FormStatus.Equals(ASOFTFormActionType.AddNew);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "DRF1021"}))
{
 <div class="asf-form-container">
    <div class="form-content">
            <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.InfoTypeID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                            .ASOFTDRMCodeMaster(model => model.InfoTypeID, "CommonInformation",
                                option: new ComboOption() { EventRequestEnd = "DRF1021.comboBox_RequestEnd" })
                            .Events(e=>e.Change("DRF1021.combo_Changed")))
                         @(Html.ASOFTHidden(DRT1020.COL_LASTMODIFYDATE, 
                                Model.LastModifyDate != null ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : ""))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.InfoID)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.InfoID, checkRegularExp: true).ReadOnlyIf(Model.FormStatus != ASOFTFormActionType.AddNew)
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.VDescription)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextBox(model => model.VDescription))</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EDescription)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextBox(model => model.EDescription))</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Note)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextArea(model => model.Note))</td>
                </tr>
                <tr>
                    <td class="asf-td-caption"></td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTCheckbox(model=>model.Disabled).HideIf(isInsert)
                    </td>
                </tr>
            </table>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF1021.btnClose_Click")))
                    </div>
                    <div >
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                .Name("BtnSaveCopy")
                                .Events(e => e.Click("DRF1021.btnSaveCopy_Click"))
                                .HideIf(!isInsert))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                .Name("btnSaveDRF1021")
                                .Events(e => e.Click("DRF1021.btnSaveNext_Click"))
                                .HideIf(!isInsert))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("DRF1021.btnSave_Click"))
                                .Enable(false)
                                .HideIf(isInsert))
                    </div>
                            
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
@*    <link href="@Url.Content("~/Areas/DRM/Content/DRF2001.css")" rel="stylesheet" type="text/css" />*@
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF1020/DRF1021.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}