@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created           Comment
//#     08/03/2017      Quang Hoàng       Tạo mới
//####################################################################
*@

@using System.Web.UI.WebControls
@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.A00.SendMailViewModel
@using ASOFT.ERP.A00.Entities.Common
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = @Html.ASOFTPageTitle(@Html.PopupEditTitle(m => m.Title), "CMNF9005").ToHtmlString();
    ViewBag.Width = 950;
}

<div class="asf-form-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CMNF9005" }))
    { 
         <div class="form-content">
             <table class="asf-table-view">
               <tbody>
                    <tr>
                        <td class="asf-td-caption" hidden>@Html.ASOFTLabel(model => model.EmailAssignedTo)</td>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.AssignedToUserID)</td>
                        <td class="asf-td-field" style="width:20%">
                            @(Html.ASOFTTextBox(model => model.AssignedToUserID)
                                    .DisabledIf(true))
                        </td>
                        <td class="asf-td-field">
                            @(Html.ASOFTTextBox(model => model.EmailAssignedTo).DisabledIf(Model.FormStatus == ASOFTFormActionType.Edit))
                        </td>
                    </tr>
                   <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailToReceiver)</td>
                        <td class="asf-td-field" colspan="2">
                            @(Html.ASOFTTextBox(model => model.EmailToReceiver).DisabledIf(Model.FormStatus == ASOFTFormActionType.Edit))
                        </td>
                    </tr>
                   <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailCCReceiver)</td>
                        <td class="asf-td-field" colspan="2">
                            @(Html.ASOFTTextBox(model => model.EmailCCReceiver).DisabledIf(Model.FormStatus == ASOFTFormActionType.Edit))
                        </td>
                    </tr>
                   <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailBCCReceiver)</td>
                        <td class="asf-td-field" colspan="2">
                            @(Html.ASOFTTextBox(model => model.EmailBCCReceiver).DisabledIf(Model.FormStatus == ASOFTFormActionType.Edit))
                        </td>
                    </tr>
                   <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailSubject)</td>
                        <td class="asf-td-field" colspan="2">
                            @(Html.ASOFTTextBox(model => model.EmailSubject).DisabledIf(Model.FormStatus == ASOFTFormActionType.Edit))
                        </td>
                    </tr>
               </tbody>
             </table>
         </div>
         <fieldset><legend>@Html.ASOFTLabel(model => model.AttachFileTitle)</legend>
         <br />
         <div class="form-content">
                 <table class="asf-table-view">
                   <tbody>
                       <tr>
                            <td class="asf-td-caption">@Html.ASOFTLabel(model => model.AttachFile)</td>
                            <td style="width: 20%">&nbsp</td>
                            <td class="asf-td-field" style="vertical-align:top">
                               @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.AttachFile"))
                                .Name("btnAttachFile").Events(e => e.Click("btnAttachFile_Click")).Enable(Model.FormStatus != ASOFTFormActionType.Edit))
                            </td>
                        </tr>
                       <tr>
                            <td class="asf-td-caption">@Html.ASOFTLabel(model => model.NoOfAttachfile)</td>
                            <td style="width: 20%" class="CountAttachFile">@Html.DisplayFor(model => model.CountAttachFile)</td>
                            <td class="asf-td-field">
                               @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnDeleteAll"))
                                    .Name("btnDeleteAll").Events(e => e.Click("btnDeleteAll_Click")).Enable(Model.FormStatus != ASOFTFormActionType.Edit)
                                    )
                            </td>
                        </tr>
                       <tr>
                            <td class="asf-td-caption">@Html.ASOFTLabel(model => model.AttachmentFileName)</td>
                            <td class="AttachmentFileName" colspan="2">
                                @{
                                    if (Model.ListAttachFile != null)
                                    {
                                        foreach (var item in Model.ListAttachFile)
                                        {
                                            <span style='border: 2px solid; border-radius: 25px !important; padding: 3px' class='@item.AttachID'><input value = '@item.AttachID' type='hidden' id='AttachID' name='AttachID'/><a href='/AttachFile/Download?FileName=@item.AttachName&APK=@item.APK'>@item.AttachName</a><a class='close-x' style='font-size: 20px; padding: 3px' onclick='btnDelete_Click(this)'>×</a></span>
                                        }
                                    }
                                 }
                            </td>
                        </tr>
                   </tbody>
                 </table>           
        </div>
        </fieldset> 
        <div class="form-content" style="text-align:center">
            <br />
             @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.ChooseFile"))
                                    .Name("btnChooseFile").Events(e => e.Click("btnChooseFile_Click")).Enable(Model.FormStatus != ASOFTFormActionType.Edit))
        </div>
        <div class="form-content">
                        <br />
           @(Html.Kendo().EditorFor(m => m.EmailBody)
           .Name("EmailBody")
           .HtmlAttributes(new { style = "height:250px; width: 100%" })
          .Tools(tools => tools
              .Clear()
              .Bold().Italic().Underline().Strikethrough()
              .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
              .InsertUnorderedList().InsertOrderedList()
              .Outdent().Indent()
              .CreateLink().Unlink()
              .InsertImage()
              .SubScript()
              .SuperScript()
              .TableEditing()
              .ViewHtml()
              .Formatting()
              .FontName()
              .FontSize()
              .FontColor().BackColor()
          ))
        </div>
         <div class="asf-form-button">
              <div class="asf-popup-button-container">                 
                <div>
                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                    .Name("BtnClose")
                    .Events(e => e.Click(Model.FormStatus != ASOFTFormActionType.Edit ? "popupClose_Click" : "ASOFT.asoftPopup.closeOnly")))
                </div>
                <div>
                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSend"))
                    .Name("btnSend")
                    .Events(e => e.Click("btnSend_Click")).Enable(Model.FormStatus != ASOFTFormActionType.Edit)
                    )
                </div>
               </div>
         </div>
        @Html.ASOFTHidden(model => model.RelatedToID)
        @Html.ASOFTHidden(model => model.RelatedToTypeID_REL)  
    }
</div>

@section jsFeature
    {
    <script src="@Url.Content("~/Scripts/SendMail.js" +"?v="+ASOFTEnvironment.Version)" type="text/javascript"></script>
}
