@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     10/12/2015     Quang Chiến      Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.LM
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Core.Control;
@model LMF0001ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "LMF0001").ToHtmlString();
    ViewBag.Width = 600;
    
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "LMF0001" }))
{
    <div class="asf-form-container">
        <div class="form-content">
            <table class="asf-table-view">
                <tr>
                   <td class="asf-td-caption"> @Html.ASOFTCheckbox(model => model.IsWarnPayment)</td>
                    <td class="asf-td-caption">
                        <div style="width:20%;display:inline-block">  @Html.ASOFTLabel(model => model.BeforeDays)</div>
                        <div style="width:20%;display:inline-block"> @(Html.ASOFTSpinEdit(model => model.BeforeDays))  </div>
                        <div style="display:inline-block"> @Html.ASOFTLabel(model => model.BeforeDaysEnd)</div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

}
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("LMF0001.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("LMF0001.btnSave_Click")))
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>




@section styleFeature{
    <link href="@Url.Content("~/Areas/LM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/LM/Scripts/LMF0001/LMF0001.js?v=" + ASOFTEnvironment.Version)"></script>

}
@Html.ASOFTHidden("UrlConfirm", Url.Action("Confirm", "LMF0001"))
