@{
    Layout = "~/Areas/DRM/Views/Shared/_CustomerLayout.cshtml";

    string col1_css = string.Empty;
    string col2_css = string.Empty;
    string col3_css = string.Empty;
    string col4_css = string.Empty;
    string css_grid_num = string.Empty;

    col1_css = "grid_6_1 alpha line_right";
    col2_css = "grid_6_1 omega";
    css_grid_num = "grid_6";
}
@RenderBody()

@if (IsSectionDefined("customBanner"))
{
    @RenderSection("customBanner")
}

<div id="contentMaster">
    <div class="asf-panel-filter container_12">
        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }

    </div>
    <div class="clearfix"></div>
    <div class="asf-panel-filter container_12">
        @using (Html.BeginForm(
            null,
            null,
            FormMethod.Post,
            new
            {
                id = "FormFilter"
            })
            )
        {
            <div class="@col1_css">
                <table class="asf-table-view">
                    <thead>
                        <tr class="tr-zero-height">
                            <td class="container_label col1_custom"></td>
                            <td class="container_control"></td>
                        </tr>
                    </thead>
                    @RenderSection("FilterCol1")
                </table>
            </div>
            <div class="@col2_css">
                <table class="asf-table-view">
                    <thead>
                        <tr class="tr-zero-height">
                            <td class="container_label col2_custom"></td>
                            <td class="container_control"></td>
                        </tr>
                    </thead>
                    @RenderSection("FilterCol2")
                </table>
            </div>
            <div class="clearfix"></div>
            <div class="container_12 asf-button-filter-container">
                <div class="grid_6 alpha float_left">
                    @if (IsSectionDefined("GridToolBar"))
                    {
                        @RenderSection("GridToolBar");
                    }
                </div>

                <div class="grid_6 omega float_right">
                    <ul class="vertical float_right">
                        @if (IsSectionDefined("FilterButtons"))
                        {
                            @RenderSection("FilterButtons");
                        }
                    </ul>
                </div>
            </div>       
        }

    </div>
    <div class="clearfix"></div>
    @if (IsSectionDefined("Grid"))
    {
        @RenderSection("Grid");
    }
</div>


@RenderSection("jsFeature", required: false)
@RenderSection("styleFeature", required: false)