@{
    Layout = "~/Areas/DRM/Views/Shared/_CustomerLayout.cshtml";
}

@if (IsSectionDefined("customBanner"))
{
    @RenderSection("customBanner")
}

<div id="contentMaster">
    <div class="asf-panel-filter container_12">
        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }

    </div>
    @RenderBody()
</div>


@RenderSection("jsFeature", required: false)
@RenderSection("styleFeature", required: false)