@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.POS.Business;
@using ASOFT.ERP.ViewModel.POS
@model POSF0050ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = @Html.ASOFTPageTitle(@Html.PopupEditTitle(m => m.Title), "POSF0050").ToHtmlString();
    ViewBag.Width = 1200;
}
@Html.ASOFTHidden("shopID", Model.ShopID)
@Html.ASOFTHidden("divisionID", Model.DivisionID)
@Html.ASOFTHidden("URLInsert", Url.Action("Insert"))
<div class="asf-form-container" id="POSF0050">
    <div class="form-content">
        <table class="asf-table-view" >
            <tr>
                <td>
                    @Html.Partial("POSF0050GridView")
                </td>
            </tr>
        </table>
    </div>
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td align="right">
                    <div class="asf-popup-button-container">
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                    .Name("btnClose").Events(e => e.Click("btnClose_Click")))
                        </div>
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                    .Name("btnConfig").Events(e => e.Click("btnConfig_Click"))
                                    .Enable(Model.DivisionID == ASOFTEnvironment.DivisionID && Model.ShopID == POSSettings.GetShopID()))
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0050.js")" type="text/javascript"></script>
}