@model MyConnection.HoiVien

@{
    ViewBag.Title = "Index";
}

@(Html.Kendo().Window()
    .Name("window")
    .Title("Danh mục hội viên")
    .Content(@<text>
        @Html.Partial("PartialCreate")
    </text>)
    .Draggable()
    .Resizable()
    .Visible(false)
    .Width(700)
    .Actions(a=>a.Clear())
)
<h2>Danh mục hội viên</h2>
    <table>
        <tr>
            <td>
                @Html.Raw("Đơn vị")
                @Html.Editor("donvi")
            </td>
            <td>
                @Html.Raw("Địa chỉ")
                @Html.Editor("diachi")
            </td>
            <td>
                @Html.Raw("Số điện thoại")
                @Html.Editor("sodienthoai")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw("Mã hội viên")
                @Html.Editor("mahoivien")
            </td>
            <td>
                @Html.Raw("Mã số thuế/CMND")
                @Html.Editor("cmnd")
            </td>
            <td>
                @Html.Raw("Fax")
                @Html.Editor("fax")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Raw("Tên hội viên")
                @Html.Editor("tenhoivien")
            </td>
            <td>
                @Html.Raw("Điện thoại di động")
                @Html.Editor("dtdd")
            </td>
            <td>
                @Html.Raw("Email")
                @Html.Editor("email")
            </td>
        </tr>
        <tr>
            <td>
            
            </td>
            <td>
                &nbsp
            </td>
            <td>
                <input id="submit" type="button" value="Lọc dữ liệu" onclick="locdulieu()" />
                <input type="button" value="Làm lại" onclick="lamlai()" />
            </td>
        </tr>
    </table>

    <p>
        <button id="them">Thêm</button>
        <button onclick="xoa()">Xóa</button>
        <button onclick="disable()">Disable</button>
        <button onclick="enable()">Enable</button>
    </p>
@{int i = 1;}
<div id="grip">
    
</div>
   


<script>
    var soluong;
    var trang = 1;
    function loaddefault() {
        $.ajax({
            type: 'POST',
            url: '/asoft/LoadDefault',
            traditional: true,
            dataType: "json",
            data: {trang: trang},
            success: function (data) {
                loadgrip(data);
            },
            error: function (args) {
                alert("Error on ajax post");
            }
        })
    };
    loaddefault();

    function checkall() {
        var i = soluong;
        if (document.getElementById("ck").checked == true) {
            for(var k = 1; k < i ;k++)
            {
                var id = "ck" + k;
                document.getElementById(id).checked = true;
            }
        }
        else {
            for(var k = 1; k < i ;k++)
            {
                var id = "ck" + k;
                document.getElementById(id).checked = false;
            }
        }
    };

    

    function xoa() {
        if (!confirm("Bạn có chắc chắn muốn xóa?"))
        {
            return;
        }

        var i = soluong;
        var list = Array();
        var j = 0;
        for (var k = 1; k < i ; k++) {
            if (document.getElementById("ck" + k).checked == true) {
                list[j] = document.getElementById("ma" + k).value;
                j++;
            }
        };
        
        $.ajax({
            type: 'POST',
            url: '/asoft/xoa',
            traditional: true,
            dataType: "json",
            data: { dulieu: list },
            success: function (data) {
                alert("success");
                loadgrip(data);
            },
            error: function (args) {

                alert("Error on ajax post");
            }
        });

    };


    function lamlai() {
        document.getElementById("donvi").value = "";
        document.getElementById("diachi").value = "";
        document.getElementById("sodienthoai").value = "";
        document.getElementById("mahoivien").value = "";
        document.getElementById("cmnd").value = "";
        document.getElementById("fax").value = "";
        document.getElementById("tenhoivien").value = "";
        document.getElementById("dtdd").value = "";
        document.getElementById("email").value = "";
    };

    function disable() {
        if (!confirm("Bạn có chắc chắn muốn hủy kích hoạt?"))
        {
            return;
        }

        var i = soluong;
        var list = Array();
        var j = 0;
        for (var k = 1; k < i ; k++) {
            if (document.getElementById("ck" + k).checked == true) {
                list[j] = document.getElementById("ma" + k).value;
                j++;
            }
        };
        
        $.ajax({
            type: 'POST',
            url: '/asoft/disable',
            traditional: true,
            dataType: "json",
            data: { dulieu: list,trang: trang },
            success: function (data) {
                alert("success");
                loadgrip(data);
            },
            error: function (args) {
                alert("Error on ajax post");
            }
        });
   
    };

    function enable() {
        if (!confirm("Bạn có chắc chắn muốn kích hoạt?"))
        {
            return;
        }

        var i = soluong;
        var list = Array();
        var j = 0;
        for (var k = 1; k < i ; k++) {
            if (document.getElementById("ck" + k).checked == true) {
                list[j] = document.getElementById("ma" + k).value;
                j++;
            }
        };
        
        $.ajax({
            type: 'POST',
            url: '/asoft/enable',
            traditional: true,
            dataType: "json",
            data: { dulieu: list, trang: trang },
            success: function (data) {
                alert("success");
                loadgrip(data);
            },
            error: function (args) {

                alert("Error on ajax post");
            }
        });
    };
    function phantrang(t)
    {
        trang = t.value;
        loaddefault();
    }
    function loadgrip(data)
    {
            $("#grip").empty();
            var html = "<table  style='text-align:center'>"+
            "<tr><th><input id='ck' name='ck' type='checkbox' onclick='checkall()'/></th><th>STT</th><th>"+
                "@Html.DisplayNameFor(model => model.DivisionID)" +
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.MemberID)"+
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.MemberName)"+
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.Address)" +
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.Identify)" +
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.Phone)" +
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.Tel)" +
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.Fax)" +
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.Email)" +
            "</th><th>"+
                "@Html.DisplayNameFor(model => model.Disable)" +
            "</th></tr>";
            
            var i = 1;
            $.each(data, function (entryIndex, entry) {
                var ma = "ma" + i;
                var id = "ck" + i;
                if(entry["DivisionID"]==null)entry["DivisionID"]="";
                if(entry["MemberID"]==null)entry["MemberID"]="";
                if(entry["MemberName"]==null)entry["MemberName"]="";
                if(entry["Address"]==null)entry["Address"]="";
                if(entry["Identify"]==null)entry["Identify"]="";
                if(entry["Phone"]==null)entry["Phone"]="";
                if(entry["Tell"]==null)entry["Tell"]="";
                if(entry["Fax"]==null)entry["Fax"]="";
                if(entry["Email"]==null)entry["Email"]="";
                if(entry["Disable"]==null)entry["Disable"]="";
                html += "<input type='hidden' id='"+ ma +"' value='"+ entry["APK"] +"' /><tr><th>"+
                "<input type='checkbox' id='"+ id +"'/><td>"+ i +"</td><td>"+
                entry["DivisionID"]+
            "</td><td>"+
                entry["MemberID"]+
            "</td><td>"+
                entry["MemberName"]+
            "</td><td>"+
                entry["Address"]+
            "</td><td>"+
                entry["Identify"]+
            "</td><td>"+
                entry["Phone"]+
            "</td><td>"+
                entry["Tell"]+
            "</td><td>"+
                entry["Fax"]+
            "</td><td>"+
                entry["Email"]+
            "</td><td>"+
                entry["Disable"]+
            "</td></tr>";
                i++;
            });
            html += "</table>";
            soluong = i;

            $.ajax({
                type: 'POST',
                url: '/asoft/TotalPage',
                success: function (sl) {
                    for (k = 0; k < sl; k++) {
                        t = k + 1;
                        html += "<input type='button' value='" + t + "' onclick='phantrang(this)'/>"
                    }
                    $("#grip").append(html);
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
    };

    function locdulieu()
    {
        var list = Array();
        list.push(document.getElementById("donvi").value);
        list.push(document.getElementById("mahoivien").value);
        list.push(document.getElementById("tenhoivien").value);
        list.push(document.getElementById("diachi").value);
        list.push(document.getElementById("cmnd").value);
        list.push(document.getElementById("sodienthoai").value);
        list.push(document.getElementById("dtdd").value);
        list.push(document.getElementById("fax").value);
        list.push(document.getElementById("email").value);

        $.ajax({
            type: 'POST',
            url: '/asoft/gantempdata',
            traditional: true,
            dataType: "json",
            data: { dulieu: list ,trang: 1},
            success: function (data) {
                loadgrip(data);
            },
            error: function (args) {
                alert("Error on ajax post");
            }
        });
    };

    $(document).ready(function () {
        $("#them").click(function () {
            $("#window").data("kendoWindow").open();
            $("#window").data("kendoWindow").focus;
        });

        var form = $("#FormId");
        function thongbaoloi(tb) {
            var t = 90;
            var tbl = $("#thongbaoloi");
            tbl.html(tb);
            setTimeout(function () {
                tbl.css("backgroundColor", "blue");
                setTimeout(function () {
                    tbl.css("backgroundColor", "yellow");
                    setTimeout(function () {
                        tbl.css("backgroundColor", "aqua");
                        setTimeout(function () {
                            tbl.css("background-color", "white");
                        }, t);
                    }, t);
                }, t);
            }, t);
        };

        $("#Create1").click(function luuxoa() {
            if (!form.kendoValidator().data("kendoValidator").validate()) {
                return;
            }
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (data) {
                    if (data == "ok") {
                        alert("Bạn đã thêm thành công");
                        $("#FormId")[0].reset();
                        thongbaoloi("");
                    }
                    else if (data == "pk") {
                        thongbaoloi("Trùng khóa chính");
                    }
                    else {
                        thongbaoloi("Lỗi tại server, xin vui lòng liên hệ nhóm phát triển");
                    };
                },
                error: function () {
                    thongbaoloi("Lỗi truyền dữ liệu, vui lòng thử lại sau");
                }
            });
        });
        $("#Create2").click(function luusaochep() {
            if (!form.kendoValidator().data("kendoValidator").validate()) {
                return;
            }
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: form.attr("action"),
                data: form.serialize(),
                success: function (data) {
                    if (data == "ok") {
                        alert("Bạn đã thêm thành công");
                        thongbaoloi("");
                    }
                    else if (data == "pk") {
                        thongbaoloi("Trùng khóa chính");
                    }
                    else {
                        thongbaoloi("Lỗi tại server, xin vui lòng liên hệ nhóm phát triển");
                    };
                },
                error: function () {
                    thongbaoloi("Lỗi truyền dữ liệu, vui lòng thử lại sau");
                }
            });
        });


        $("#Disable").click(function () {
            if (this.checked == true) {
                $("#Disable").attr("value", 1);
            }
            else {
                $("#Disable").attr("value", 0);
            }
        });

        $("#Disable").attr("value", 0);

        $(function () {
            $("#FormId").kendoValidator();
        });

        function onClose() {
            $("#window").data("kendoWindow").close();
            loaddefault();
        }

        $("#Dong").click(function DongCuaSo() {
            $("#FormId")[0].reset();
            thongbaoloi("");
            $(".field-validation-valid").remove("");
            onClose();
        });
    });
</script>