@model MyConnection.HoiVien
<div id="themxoasua">
@(Html.Kendo().Button()
    .Name("them")
    .HtmlAttributes(new { type = "button",title = "Add new"})
    .ImageUrl(Url.Content("~/images/icon/plus.ico"))
    .Content(""))
@(Html.Kendo().Button()
    .Name("xoa")
    .HtmlAttributes( new {type = "button",title = "Delete"} )
    .ImageUrl(Url.Content("~/images/icon/delete.ico"))
    .Content("")
    .Events(e => e.Click("xoa")))
@(Html.Kendo().Button()
    .Name("disable")
    .HtmlAttributes( new {type = "button",title = "Disable"} )
    .ImageUrl(Url.Content("~/images/icon/checkdisable.bmp"))
    .Content("")
    .Events(e => e.Click("disable")))
@(Html.Kendo().Button()
    .Name("enable")
    .HtmlAttributes( new {type = "button",title = "Enable"} )
    .ImageUrl(Url.Content("~/images/icon/checkenable.ico"))
    .Content("")
    .Events(e => e.Click("enable")))
</div>
@(Html.Kendo().Tooltip()
        .For("#themxoasua")
        .Filter("button")
        .Animation(false)
        .Position(TooltipPosition.Center)
        .Width(100))

<div id="clientsDb">
    @(Html.Kendo().Grid<MyConnection.HoiVien>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Template(c => c.APK).ClientTemplate("<input type='checkbox' onclick='xoacheckall(this)' name='clickone' value='#= APK #'/>").Title("<input type='checkbox' id='clickall'/>").Width(30);
            columns.Template(c => { }).ClientTemplate("<div name='stt'> </div>").Title("STT").Width(40);
            columns.Bound(c => c.DivisionID).Width(60);
            columns.Bound(c => c.MemberID).Width(110);
            columns.Bound(c => c.MemberName).Width(120);
            columns.Bound(c => c.Address).Width(100);
            columns.Bound(c => c.Identify).Width(150);
            columns.Bound(c => c.Phone).Width(140);
            columns.Bound(c => c.Tel).Width(110);
            columns.Bound(c => c.Fax).Width(110);
            columns.Bound(c => c.Email).Width(110);
            columns.Bound(c => c.Disable).Width(150);
        })
        .Events(e=>e.DataBound("CreateSTT"))
        .HtmlAttributes(new { style = "height: 380px;width:1000px" })
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Customers_Read", "bt"))
        )
    )
</div>



<style>
     /*grid*/
    .k-header {
        background-color:Menu;
    }
    .k-grid-header-wrap .k-header .k-link {
        font-weight:bold;
        text-align:center;
    }
    .k-pager-wrap .k-link {
        border-radius:0px;
        border:0px;
    }
    .k-pager-sizes {
        margin-left:0px;    
    }
    .k-pager-info {
        color:GrayText;
    }

    #clientsDb {
            text-align:center;
            height: 396px;
            margin: 0px 20px auto 0;
            padding: 51px 4px 0 4px;
            font-size:11px
    }
    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }  

        /*button*/
    .k-button .k-image
    {
        height: 16px;
    }
</style>