@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     09/10/2014      Chánh Thi       Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core;


@model ASOFT.ERP.ViewModel.S.SF1014ViewModel
    
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";

    ViewBag.Title = Html.ASOFTPageTitle(model => model.Title, "SF1014").ToHtmlString();
    ViewBag.Width = 500;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "SF1014"
}))
{
    <table class="asf-table-view">
        <thead>
            <tr class="tr-zero-height">
                @*<td class ="width150px"></td>
                <td class ="width350px"></td>*@
            </tr> 
        </thead>
        <tbody>
            <tr>
                    <td>@Html.ASOFTLabel(model => model.UserID)</td>
                    <td>
                    @(Html.ASOFTTextBox(model => model.UserID).ReadOnlyIf(true))
                    </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.UserName)</td>
                <td>
                    @(Html.ASOFTTextBox(model => model.UserName).ReadOnlyIf(true))
                </td>
            </tr>
            <tr>
                    <td>@Html.ASOFTLabel(model => model.Password)</td>
                    <td>
                    @(Html.ASOFTPassWord(model => model.Password))
                    </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.NewPassword)</td>
                <td>
                   @(Html.ASOFTPassWord(model => model.NewPassword))
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="clearfix"></div>
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td>@*align="right"*@
                    <div class="asf-popup-button-container">
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                      .Name("BtnCloseUpdate").Events(e => e.Click("popupClose")))
                                </div>    
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                      .Name("BtnSave")
                                      .Events(e => e.Click("popupSaveUpdate"))
                                       )
                                </div>  
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
@Html.ASOFTHidden("UrlUpdatePassword", Url.Action("UpdatePassword"))
@section jsFeature {
    <script src="@Url.Content("~/Areas/S/Scripts/SF1014.js?v=" + ASOFTEnvironment.Version)" type="text/javascript"></script>
}