@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     11/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF2021ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2021Title, "DRF2021").ToHtmlString();
    ViewBag.Width = 1000;

    // Form Status
    bool isInsert = Model.FormStatus.Equals(ASOFTFormActionType.AddNew);
    bool isInherit = Model.FormStatus.Equals(ASOFTFormActionType.Inherit);
    bool isUpdate = Model.FormStatus.Equals(ASOFTFormActionType.Edit);
    bool isCheckedNNextActionID = Model.IsCheckedNextActionID.Equals(1) ? false : true;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "DRF2021"}))
{
 <div class="asf-form-container">
    <div class="form-content">
        <div class="form-content-left">
            <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ProcessingID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model => model.ProcessingID)
                                .ReadOnlyIf(true))
                        @Html.ASOFTHidden(DRT2020.COL_LASTMODIFYDATE, Model.LastModifyDate != null ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : "")
                        @Html.ASOFTHidden(model=>model.APK)
                        @Html.ASOFTHidden(model=>model.APKDRT4444)
                        @Html.ASOFTHidden(model=>model.LastKey)
                        @Html.ASOFTHidden(model=>model.TranMonth)
                        @Html.ASOFTHidden(model=>model.TranYear)
                        @Html.ASOFTHidden("BeginDate", ASOFTEnvironment.BeginDate.Date)
                        @Html.ASOFTHidden("EndDate", ASOFTEnvironment.EndDate.Date)
                        @Html.ASOFTHidden(model=>model.TranYear)
                        @Html.ASOFTHidden(model=>model.IsCall)    
                        @Html.ASOFTHidden(model => model.IsSendVPL)
                        @Html.ASOFTHidden(model => model.IsSendXR)
                        @Html.ASOFTHidden(model => model.IsClose)
                        @Html.ASOFTHidden(model => model.IsClosed)
                        @Html.ASOFTHidden(model=>model.TeamID)
                        @Html.ASOFTHidden(model=>model.TableID)
                        @Html.ASOFTHidden(model=>model.SuggesstType)
                        @Html.ASOFTHidden(model=>model.IsCheckedNextActionID)
                        @Html.ASOFTHidden("UserID", ASOFTEnvironment.UserID)
                        @Html.ASOFTHidden("IsUpdate",isUpdate)
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ContractNo)</td>
                    <td class="asf-td-field" colspan="2">
                         <div class="asf-common-search popup-input-text">
                            <span class="k-textbox k-space-right">
                                @Html.ASOFTTextBox(model => model.ContractNo, checkRegularExp: true).ReadOnlyIf(!isInsert)

                                @(Html.ASOFTButton(string.Empty, htmlStyle: new {width = "24px", height = "24px"})
                                        .Name("btnChoose").HtmlAttributes(new {Class = "k-icon asf-i-pdf-24", Title = ASOFTLanguage.FindWordA00("A00.btnChoose")})
                                        .Events(e => e.Click("DRF2021.btnChoose_Click"))
                                        .Enable(isInsert && ASOFTEnvironment.CheckPermission("DRF2006", ASOFTPermission.AddNew)))
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.DebtorName)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextBox(model => model.DebtorName).ReadOnlyIf(true))</td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                                .ASOFTDRMInfoTypeID(model => model.ActionID, "Action",
                                    ASOFTLanguage.FindWordA00("A00.ActionID"), ASOFTLanguage.FindWordA00("A00.ActionName"),
                                    option: new ComboOption() { EventRequestEnd = "DRF2021.comboBox_RequestEnd" },isChecked:true)
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionObjectID)</td>
                    <td class="asf-td-field" colspan="2">
                       @(Html.ASOFTBussinessComboBox()
                            .ASOFTDRMInfoTypeID(model => model.ActionObjectID, "ActionObject",
                                ASOFTLanguage.FindWordA00("A00.ActionObjectID"), ASOFTLanguage.FindWordA00("A00.ActionObjectName"),
                                option: new ComboOption() { EventRequestEnd = "DRF2021.comboBox_RequestEnd" })
                            .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionPlaceID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                                .ASOFTDRMInfoTypeID(model => model.ActionPlaceID, "ActionPlace",
                                    ASOFTLanguage.FindWordA00("A00.ActionPlaceID"), ASOFTLanguage.FindWordA00("A00.ActionPlaceName"),
                                    option: new ComboOption() { EventRequestEnd = "DRF2021.comboBox_RequestEnd" })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ResultID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                                .ASOFTDRMInfoTypeID(model => model.ResultID, "Result",
                                    ASOFTLanguage.FindWordA00("A00.ResultID"), ASOFTLanguage.FindWordA00("A00.ResultName"),
                                    option: new ComboOption() { EventRequestEnd = "DRF2021.comboBox_RequestEnd" })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.AssetStatus)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                                .ASOFTDRMInfoTypeID(model => model.AssetStatus, "AssetStatus",
                                    ASOFTLanguage.FindWordA00("A00.AssetStatusID"), ASOFTLanguage.FindWordA00("A00.AssetStatusName"),
                                    option: new ComboOption() { EventRequestEnd = "DRF2021.comboBox_RequestEnd" })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionAddressID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                            .ASOFTDRMAddressID(model => model.ActionAddressID,
                                ASOFTLanguage.FindWordA00("A00.ActionAddressID"), 
                                ASOFTLanguage.FindWordA00("A00.ActionAddressName"),
                                ASOFTLanguage.FindWordA00("A00.ActionAddressNote"),
                                option: new ComboOption() 
                                { 
                                    EventPostData = "DRF2021.actAddr_SendData",
                                    EventRequestEnd = "DRF2021.comboBox_RequestEnd" 
                                })
                            .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionEmployeeID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTDRMActionEmpID(model => model.ActionEmployeeID,
                                ASOFTLanguage.FindWordA00("A00.ActionEmployeeID"), ASOFTLanguage.FindWordA00("A00.ActionEmployeeName"),
                                option: new ComboOption() 
                                { 
                                    EventPostData = "DRF2021.actEmp_SendData",
                                    EventRequestEnd = "DRF2021.comboBox_RequestEnd" 
                                })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed"))
                                .Enable(false)
                                .Text(ASOFTEnvironment.UserName)
                                .Value(ASOFTEnvironment.UserID)
                                )
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionEmployeeID2)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTDRMActionEmpID(model => model.ActionEmployeeID2,
                                ASOFTLanguage.FindWordA00("A00.ActionEmployeeID"), ASOFTLanguage.FindWordA00("A00.ActionEmployeeName"),
                                option: new ComboOption() 
                                { 
                                    EventPostData = "DRF2021.actEmp_SendData",
                                    EventRequestEnd = "DRF2021.comboBox_RequestEnd" 
                                })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionEmployeeID3)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTDRMActionEmpID(model => model.ActionEmployeeID3,
                                ASOFTLanguage.FindWordA00("A00.ActionEmployeeID"), ASOFTLanguage.FindWordA00("A00.ActionEmployeeName"),
                                option: new ComboOption() 
                                { 
                                    EventPostData = "DRF2021.actEmp_SendData",
                                    EventRequestEnd = "DRF2021.comboBox_RequestEnd" 
                                })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-content-right">
            <table class="asf-table-view">
               <tr>
                        <td class="asf-td-caption asf-td-align"></td>
                        <td class="asf-td-field" colspan="2" >
                            <div class="asfbtn asfbtn-right">
                                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
                            </div>                            
                        </td>
                    </tr>
                 <tr>
                 <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionPhoneNumber)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                        .ASOFTDRMPhoneNumber(model => model.ActionPhoneNumber, option: new ComboOption { 
                            EventPostData = "DRF2021.actEmp_SendData"
                        }))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ReasonID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                                .ASOFTDRMInfoTypeID(model => model.ReasonID, "Reason",
                                    ASOFTLanguage.FindWordA00("A00.ReasonID"), 
                                    ASOFTLanguage.FindWordA00("A00.ReasonName"),
                                    option: new ComboOption() { EventRequestEnd = "DRF2021.comboBox_RequestEnd" })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ActionDate)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTDateEdit(model => model.ActionDate))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.NextActionDate)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTDateEdit(model => model.NextActionDate))</td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.NextActionID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox()
                                .ASOFTDRMInfoTypeID(model => model.NextActionID, "Action",
                                    ASOFTLanguage.FindWordA00("A00.ActionID"), ASOFTLanguage.FindWordA00("A00.ActionName"),
                                    option: new ComboOption() { EventRequestEnd = "DRF2021.comboBox_RequestEnd" },isChecked:true)
                                .Events(e=>{
                                    e.Change("DRF2021.comboBox_Changed");
                                    e.Open("DRF2021.comboBox_Open");
                                }))
                        @*.Enable(isCheckedNNextActionID))*@
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.NextActionAddressID)</td>
                    <td class="asf-td-field" colspan="2">
                         @(Html.ASOFTBussinessComboBox().ASOFTDRMAddressID(model => model.NextActionAddressID,
                                ASOFTLanguage.FindWordA00("A00.ActionAddressID"), 
                                ASOFTLanguage.FindWordA00("A00.ActionAddressName"),
                                ASOFTLanguage.FindWordA00("A00.ActionAddressNote"),
                                option: new ComboOption() 
                                { 
                                    EventPostData = "DRF2021.actAddr_SendData",
                                    EventRequestEnd = "DRF2021.comboBox_RequestEnd"
                                })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.NextActionAddressID2)</td>
                    <td class="asf-td-field" colspan="2">
                         @(Html.ASOFTBussinessComboBox().ASOFTDRMAddressID(model => model.NextActionAddressID2,
                                ASOFTLanguage.FindWordA00("A00.ActionAddressID"), 
                                ASOFTLanguage.FindWordA00("A00.ActionAddressName"),
                                ASOFTLanguage.FindWordA00("A00.ActionAddressNote"),
                                option: new ComboOption() 
                                { 
                                    EventPostData = "DRF2021.actAddr_SendData",
                                    EventRequestEnd = "DRF2021.comboBox_RequestEnd"
                                })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.NextActionAddressID3)</td>
                    <td class="asf-td-field" colspan="2">
                         @(Html.ASOFTBussinessComboBox().ASOFTDRMAddressID(model => model.NextActionAddressID3,
                                ASOFTLanguage.FindWordA00("A00.ActionAddressID"), 
                                ASOFTLanguage.FindWordA00("A00.ActionAddressName"),
                                ASOFTLanguage.FindWordA00("A00.ActionAddressNote"),
                                option: new ComboOption() 
                                { 
                                    EventPostData = "DRF2021.actAddr_SendData",
                                    EventRequestEnd = "DRF2021.comboBox_RequestEnd"
                                })
                                .Events(e=>e.Change("DRF2021.comboBox_Changed")))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.NextPaidAmount)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTSpinEdit(model=>model.NextPaidAmount)
                                .Format(ASOFTUtilities.FormatNumberDecimalDisplay(ASOFTEnvironment.ConvertDecimal)))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Note)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextArea(model => model.Note))</td>
                </tr>
            </table>
        </div>
        <table class="asf-table-view">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.ProcessNote)</td>
            </tr>
            <tr>
                <td>@(Html.ASOFTTextArea(model => model.ProcessNote))</td>
            </tr>
        </table>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF2021.btnClose_Click")))
                    </div>
                    <div >
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                .Name("BtnSaveCopy")
                                .Events(e => e.Click("DRF2021.btnSaveCopy_Click"))
                                .HideIf(!isInsert && !isInherit)
                                )
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                .Name("btnSaveDRF2021")
                                .Events(e => e.Click("DRF2021.btnSaveNext_Click"))
                                .HideIf(!isInsert && !isInherit)
                                )
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("DRF2021.btnSave_Click"))
                                .Enable(false)
                                .HideIf(isInsert || isInherit)
                                )
                    </div>        
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2020/DRF2021.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2006/DRF2006.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2000/DRF2000.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}

@Html.ASOFTHidden("DRF2006Url", Url.Action("Index", "DRF2006", new { area = "DRM" }))
@Html.ASOFTHidden("UrlGetDataCV", Url.Action("GetDataCV", "DRF2013", new { area = "DRM" }))