@using ASOFT.ERP.ViewModel.DRM
@model DRF2022ViewModel

<script>
    $(document).ready(function() {
        //ASOFT.form.setSameHeight("asf-content-block");
        ASOFT.form.setSameWidth("asf-content-block");
    });
</script>
@helper Content()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ProcessingID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ProcessingID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContractNo)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContractNo)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtorID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DebtorID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DebtorName)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="DebtorName">@Html.DisplayFor(model => model.DebtorName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionObjectID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionObjectID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionPlaceID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionPlaceID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ResultID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ResultID)</td>
                </tr>  
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.AssetStatus)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AssetStatus)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                 <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionAddressID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionAddressID)</td>
                </tr> 
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionEmployeeID, htmlStyle: new { width = "150px", @float = "left" })</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionEmployeeID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionEmployeeID2, htmlStyle: new { width = "150px", @float = "left" })</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionEmployeeID2)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionEmployeeID3, htmlStyle: new { width = "150px", @float = "left" })</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionEmployeeID3)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionPhoneNumber)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ActionPhoneNumber)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReasonID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ReasonID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ActionDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.ActionDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextActionDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.NextActionDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextActionID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NextActionID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextActionAddressID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NextActionAddressID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextActionAddressID2)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NextActionAddressID2)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextActionAddressID3)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.NextActionAddressID3)</td>
                </tr>
               <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextPaidAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @(Html.ASOFTDisplayNumber(model => model.NextPaidAmount))
                    </td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                 <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note)</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="asf-master-content">
        <div class="full-fieldset padding-format full-single">
            <div class="full">
                <table class="asf-table-view">
                    <thead class="hidden">
                        <tr>
                            <td class="content-label"></td>
                            <td class="dot"></td>
                            <td class="content-text"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.ProcessNote)</td>
                            <td style="width:15px;">:</td>
                            <td title="@Model.ProcessNote">
                                @Html.DisplayFor(model => model.ProcessNote)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new {@class = "block-panel-master"})
      //.Events(m => m.Activate("ASOFT.panelFormat.fitColumnHeight"))
      .HtmlAttributes(new { @class = "block-panel-master" })
      .Animation(animation => animation.Enable(true))
      .Events(events => events           
            .Expand("DRF2021.expandPanel")
        )
      .Items(panelbar =>
             {
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.DRF2022Title))
                     .HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Expanded(true).Content(Content().ToHtmlString());
                 
                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.HistoryInfo")).HtmlAttributes(new { @class = "block-panel-master-header" })
                     .Content(
                     @Html.Action("Index", new { controller = "History", area = "", tableID = "DRT2020", ValueSearch = Model.ProcessingID }).ToString()
                     );
                 //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);
             })
      )