@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     11/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.DRM.DRF2022ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2022Title, "DRF2022").ToHtmlString();
}
@Html.ASOFTHidden(model => model.IsSendVPL)
@Html.ASOFTHidden(model => model.IsSendXR)
@Html.ASOFTHidden(model => model.IsClose)
@Html.ASOFTHidden(model => model.IsClosed)
@Html.ASOFTHidden(model => model.TeamID)
@Html.ASOFTHidden(model => model.TableID)
@Html.ASOFTHidden("ScreenID", "DRF2022")
@Html.ASOFTHidden("UrlDRF2020", Url.Action("Index"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlDRF2021", Url.Action("DRF2021"))
@Html.ASOFTHidden("UrlDRF2022M", Url.Action("DRF2022M"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("apkEdit", Model.APK)
@Html.ASOFTHidden("UrlCheckEdit", Url.Action("CheckEdit"))
@Html.ASOFTHidden("UrlHistory", Url.Action("Index", new { controller = "History", area = "", tableID = "DRT2020", IDSearch = "APK", ValueSearch = Model.ProcessingID }))
<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTPageTitle(m => m.DRF2022Title, "DRF2022").ToHtmlString(), Breakcrumb = true})
    <div id="ViewMaster" class="asf-panel-view-master" >
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        <div id="viewPartial">
            @Html.Partial("DRF2022M")
        </div>
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2020/DRF2020.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2020/DRF2021.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}
