@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created           Comment
//#     10/10/2014      Hồ Hoàng Tú       Tạo mới
//####################################################################
*@
@using System.Web.UI.WebControls
@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.CI.CIF1000ViewModel
@using ASOFT.ERP.A00.Entities.Common
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel
@{
    Layout="~/Views/Shared/_ContentMaster.cshtml";
   ViewBag.Title = @Html.ASOFTRaw(m => m.Title);

}
@Html.ASOFTHidden("EnableRecord", Url.Action("SetEnabled"))
@Html.ASOFTHidden("DisableRecord", Url.Action("SetDisabled"))
@section Header
{
    
    @Html.ASOFTHeader(new HeaderModel { Title = Html.ASOFTPageTitle(model => model.Title, "CIF1000").ToHtmlString(), Breakcrumb = true })
}
@section FilterCol1
{
    <tr>
                        <td>@Html.ASOFTLabel(model => model.DivisionIDFilter)</td>
                        <td>
                            @Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
    <tr>
           <td>@Html.ASOFTLabel(model => model.Disabled)</td>
            <td>
                @(Html.ASOFTBussinessComboBox().ASOFTCiCodeMasterDisabled(model => model.Disabled, htmlStyle: new
                       {
                           width = Unit.Percentage(100)
                       }
                       ))
            </td>
        </tr>
   
}
@section FilterCol2
{           <tr>    
        <tr>
        <td>@Html.ASOFTLabel(model=>model.DepartmentID)</td>
        <td>@Html.ASOFTTextBox(model => model.DepartmentID, htmlStyle: new { width = Unit.Percentage(100) })</td>
        </tr> 
        <tr>
           <td>@Html.ASOFTLabel(model => model.IsCommon)</td>
            <td>
                @(Html.ASOFTBussinessComboBox().ASOFTCiCodeMasterIsCommon(model => model.IsCommon, htmlStyle: new
                       {
                           width = Unit.Percentage(100)
                       }
                       ))
            </td>
        </tr> 
     
      
    }
@section FilterCol3
{      
     
      <tr>
        <td>@Html.ASOFTLabel(model=>model.DepartmentName)</td>
        <td>@Html.ASOFTTextBox(model => model.DepartmentName, htmlStyle: new { width = Unit.Percentage(100) })
    </tr> 
    
}
@section GridToolBar{
    @if (Model.Toolbar1 != null)
            {              
                Model.Toolbar1.EventAdd = "ShowEditorFrame";
                Model.Toolbar1.EventDelete = "btnDelete_Click";           
                Model.Toolbar1.EventShow = "btnEnable_Click";
                Model.Toolbar1.EventHide = "btnDisable_Click";
                Model.Toolbar1.DisplayShow = true;                  
            }
            @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())

}
@section FilterButtons{
                <li>
                    @(Html.ASOFTSearchButton()
                         .Name("CIF1000BtnFilter")
                         .Events(e => e.Click("CIF1000BtnFilter_Click")) )
                </li>
                <li>
                    @(Html.ASOFTSearchResetButton()
                       .Name("CIF1000BtnClearFilter")
                       .Events(e => e.Click("CIF1000BtnClearFilter_Click")) )
                </li>
}
@section Grid {
    @Html.Partial("GridDepartmentCategory")
}
@(Html.ASOFTPopup()
    .Name("CIF1001Popup")
    .Width(800)
    .Title(String.Format(Html.ASOFTRaw(model => model.Title), "thêm"))
)
@section jsFeature 
{
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1000.js?v=" + ASOFTEnvironment.Version)" type="text/javascript"></script>
}
@section styleFeature
 {
    <link href="@Url.Content("~/Areas/CI/Content/CIF1000.css")" rel="stylesheet" type="text/css" />
}