@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     04/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF0080ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF0080Title, "DRF0080").ToHtmlString();
    ViewBag.Width = 600;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "DRF0080"}))
{
 <div class="asf-form-container">
    <div class="form-content">
        <fieldset>
            <legend>@Html.ASOFTLabel(model=>model.CFeeCoefficient)</legend>
            <table class="asf-table-view">
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CFeeCoefficient1)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CFeeCoefficient1)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CFeeCoefficient2)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CFeeCoefficient2)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CFeeCoefficient3)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CFeeCoefficient3)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CFeeCoefficient4)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CFeeCoefficient4)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CFeeCoefficient5)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CFeeCoefficient5)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CFeeCoefficient6)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CFeeCoefficient6)</td>
                </tr>
            </table>
        </fieldset>
        <fieldset class="fieldSet">
            <legend>@Html.ASOFTLabel(model=>model.CBonCoefficient)</legend>
            <table class="asf-table-view">
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CBonCoefficient1)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CBonCoefficient1)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CBonCoefficient2)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CBonCoefficient2)</td>
                </tr>
                <tr>
                    <td class="drf-td">@Html.ASOFTLabel(model => model.CBonCoefficient3)</td>
                    <td colspan="2">@Html.ASOFTSpinEdit(model => model.CBonCoefficient3)</td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF0080.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                .Name("BtnConfig")
                                .Events(e => e.Click("DRF0080.btnConfig_Click")))
                    </div>                          
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF0080/DRF0080.js?v=" + ASOFTEnvironment.Version)"></script>
}