@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     06/05/2014      Đam Mơ          Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel.Helper;


@model ASOFT.ERP.ViewModel.POS.POSF00761ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_OKIA ? @Html.ASOFTPageTitle(Html.PopupEditTitle(m => m.Title), "POSF00761").ToHtmlString() : LocalizedHelper.GetLocalizedResourceString("POSF00761.TitleOKIA", "POSF00761") + " - POSF00761";
    ViewBag.Width = 900;
}

<div class="asf-form-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "FormFilter"
    }))
    {
        <div class="container_12 asf-quick-search-container">
            @Html.ASOFTTextBox(model => model.MemberName, htmlStyle: new
       {
           @width = "calc(100% - 2px)",           
       },
       htmlAttribute: new
       {
           @placeholder =  ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_OKIA  ? Html.ASOFTRaw(model => model.PlaceHolder) : LocalizedHelper.GetLocalizedResourceString("POSF00761.PlaceHolderOKIA", "POSF00761")
       })
            <a id="btnSearchObject" class="k-button-icontext asf-button" style="" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-i-search-24"></span></a>
            @*@(Html.ASOFTSearchButton().Name("btnSearchObject"))*@
        </div>
        <div class="clearfix"></div>
        @Html.Partial("GridMember")
        <div class="container_12 asf-form-button">
            <ul>
                <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChoose"))
                      .Name("btnChoose"))</li>
                <li>
                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnCancel"))
                      .Name("btnCancel"))

                </li>
            </ul>
        </div> 
    }
</div>

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF00761.js")" type="text/javascript"></script>
}
@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF00761.css")" rel="stylesheet" type="text/css" />
}
