
@model ASOFT.ERP.ViewModel.MT.MTF2020ViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "FormFilter"}))
{
    <div class="asf-filter-container">
        <div class="asf-filter-content-block">
            <div class="asf-filter-main">
                <div class="block-left"> 
                    <div class="asf-filter-label">
                        <span>
                            @Html.ASOFTRadioButton(model => model.IsDate, 1, new {id = "rdoDate"}).CheckedIf(true)
                        </span>
                        @Html.ASOFTLabel(model => model.FromDate)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTDateEdit(model => model.FromDate, htmlStyle: new {width = Unit.Percentage(100)}))
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-label">
                        @Html.ASOFTLabel(model => model.ToDate)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTDateEdit(model => model.ToDate, htmlStyle: new {width = Unit.Percentage(100)}))
                    </div>
                </div>  
            </div>

            <div class="asf-filter-main">
                <div class="block-left">
                    <div class="asf-filter-label">
                        <span>
                            @Html.ASOFTRadioButton(model => model.IsDate, 0, new {id = "rdoPeriod"})
                        </span>
                        @Html.ASOFTLabel(model => model.FromPeriod)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTBussinessComboBox()
                              .ASOFTPeriod(model => model.FromPeriod, htmlStyle: new {width = Unit.Percentage(100)})
                              .Events(e => 
                                  e.Change("MTF2020Param.fromPeriodChange")).Enable(false))
                    </div>
                </div>
                <div class="block-right">
                    <div class="asf-filter-label">
                        @Html.ASOFTLabel(model => model.ToPeriod)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTBussinessComboBox()
                              .ASOFTPeriod(model => model.ToPeriod, htmlStyle: new {width = Unit.Percentage(100)})
                              .Events(e => e.Change("MTF2020Param.toPeriodChange")).Enable(false))
                    </div>
                </div>
            </div>
            <div class="asf-filter-main label-min">
                <div class="asf-filter-label">
                    @Html.ASOFTLabel(model => model.DivisionIDFilter)
                </div>
                <div class="asf-filter-input">
                    @(Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter, null,
                                                                        htmlStyle: new {width = Unit.Percentage(100)}))
                </div>
            </div>
        </div>
        <div class="horz-line-left"></div>
        <div class="horz-line-right"></div>
        <div class="asf-filter-content-block">
            <div class="asf-filter-main">
                <div class="asf-filter-label">
                    @Html.ASOFTLabel(model => model.StudentIDFilter)
                </div>
                <div class="asf-filter-input">
                    @Html.ASOFTTextBox(model => model.StudentIDFilter, htmlStyle: new {width = Unit.Percentage(100)})
                </div>
            </div>
            <div class="asf-filter-main">
                <div class="asf-filter-label">
                    @Html.ASOFTLabel(model => model.StudentNameFilter)
                </div>
                <div class="asf-filter-input">
                    @Html.ASOFTTextBox(model => model.StudentNameFilter, htmlStyle: new {width = Unit.Percentage(100)})
                </div>
            </div>
        </div>
        <div class="horz-line-left"></div>
        <div class="horz-line-right"></div>
        <div class="asf-filter-content-block">
            <div class="asf-filter-main">
                <div class="asf-filter-label">
                    @Html.ASOFTLabel(model => model.StopReasonIDFilter)
                </div>
                <div class="asf-filter-input">
                    @Html.ASOFTBussinessComboBox().ASOFTStopReasonID(model => model.StopReasonIDFilter,
                                                                     htmlStyle: new {width = Unit.Percentage(100)})
                </div>
            </div>
        </div>
    </div>
}