

@model ASOFT.ERP.ViewModel.MT.MTF2020ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.MTF2020Title, "MTF2020");
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF2020.js")"> </script>
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF0080.js")"> </script>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/MT/Content/MTF2020.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/MT/Content/MTF0080.css")" rel="stylesheet" type="text/css" />
}

<div id="contentMaster">
    <div class="asf-panel-filter">
        @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTRaw(model => model.MTF2020Title), Breakcrumb = true})
        @Html.Partial("FormFilter", Model)
    </div>

    <div class="asf-button-container">
        <div class="asf-button-right-container">
            <div class="asf-button-right">
                <div>
                    @(Html.ASOFTSearchButton()
                          .Name("btnFilterForm")
                          .Events(ev => ev.Click("MTF2020Param.filterData"))
                          )
                </div>
                <div>
                    @(Html.ASOFTSearchResetButton()
                          .Name("btnClearFilter")
                          .Events(ev => ev.Click("MTF2020Param.resetForm"))
                          )
                </div>
            </div>
        </div>
    </div>
    <div class="asfbtn-left">
        @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
    </div>
    @Html.Partial("GridReason", Model)
</div>

@Html.ASOFTHidden("UrlMTF2020Delete", Url.Action("DoDelete"))
@Html.ASOFTHidden("UrlMTF2021", Url.Action("MTF2021"))
@Html.ASOFTHidden("UrlMTF2021Insert", Url.Action("DoInsert"))
@Html.ASOFTHidden("UrlMTF2021Update", Url.Action("DoUpdate"))
@Html.ASOFTHidden("UrlPreExportData", Url.Action("PreExportData"))
@Html.ASOFTHidden("UrlExportData", Url.Action("ExportData"))

<!-- Popup -->
@(Html.ASOFTPopup()
      .Name("MTF2021Popup")
      .Width(750)
      .Title(Html.ASOFTPageTitle(model => model.MTF2021Title, "MTF2021").ToHtmlString()))

@(Html.ASOFTPopup()
      .Name("MTF0080Popup")
      .Width(650)
      .Title(Html.ASOFTPageTitle(m => m.MTF0080Title, "MTF0080").ToHtmlString())
      )