
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@model ASOFT.ERP.ViewModel.MT.MTF2020ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(model => model.MTF2022Title, "MTF2022");
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF2020.js")"></script>
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF0080.js")"></script>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/MT/Content/MTF2020.css")" rel="stylesheet" type="text/css" />
}

<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel() { Title = Html.ASOFTRaw(model => model.MTF2022Title), Breakcrumb = true })
    
    <div id="ViewMaster" class="asf-panel-view-master">
        <div class="asf-panel-no-detail-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", @Model.Toolbar1 ?? new ASOFTToolBarViewModel())  
            </div>
        </div>
        @Html.Partial("MTF2022M")
    </div>

    @(Html.ASOFTPopup()
        .Name("MTF2021Popup")
        .Width(750)
        .Title(
             Html.ASOFTPageTitle(model => model.MTF2021Title, "MTF2021").ToHtmlString()
          ))
</div>

@Html.ASOFTHidden("UrlMTF2021", Url.Action("MTF2021"))
@Html.ASOFTHidden("UrlMTF2020Delete", Url.Action("DoDelete"))
@Html.ASOFTHidden("UrlMTF2021Update", Url.Action("DoUpdate"))
@Html.ASOFTHidden("UrlMTF2020", Url.Action("Index"))
@Html.ASOFTHidden("UrlMTF2022M", Url.Action("MTF2022M"))
@Html.ASOFTHidden("MTF2022APK", Model.APK.ToString())

