@using Aspose.Cells.Drawing
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.Helper
@model ASOFT.ERP.HRM.Entities.HRMT2020

@{
    var SCREENID = "HRMF2022";
    var strAPK = "APK";
    var strDivisionID = "DivisionID";
    var strRecruitPeriodID = "RecruitPeriodID";
    var strRecruitPeriodName = "RecruitPeriodName";
    var strRecruitPlanID = "RecruitPlanID";
    var strDepartmentID = "DepartmentID";
    var strDutyID = "DutyID";
    var strDutyName = "DutyName";
    var strPeriodFromDate = "PeriodFromDate";
    var strPeriodToDate = "PeriodToDate";
    var strReceiveFromDate = "ReceiveFromDate";
    var strReceiveToDate = "ReceiveToDate";
    var strRecruitQuantity = "RecruitQuantity";
    var strWorkPlace = "WorkPlace";
    var strWorkType = "WorkType";
    var strRequireDate = "RequireDate";
    var strRecruitRequestID = "RecruitRequestID";
    var strCost = "Cost";
    var strNote = "Note";
    var strTotalLevel = "TotalLevel";
    var strInheritRecruitPeriodID = "InheritRecruitPeriodID";
    var strCreateUserID = "CreateUserID";
    var strCreateDate = "CreateDate";
    var strLastModifyUserID = "LastModifyUserID";
    var strLastModifyDate = "LastModifyDate";
    var strActualCost = "ActualCost";
    var strCostBoundary = "CostBoundary";
    var strActualQuantity = "ActualQuantity";
    var strQuantityBoundary = "QuantityBoundary";

    var key = string.Empty;
}

<div class="asf-master-content">
    <div class="asf-content-block first" style="width: 10.0488%;">
        <table class="asf-table-view">
            <tbody>
                <tr class="content-label">
                    <td>
                        @{ key = strRecruitPeriodID;}
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.RecruitPeriodID
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strRecruitPeriodName; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.RecruitPeriodName
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strRecruitPlanID; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.RecruitPlanID
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strDepartmentID; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.DepartmentID
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strDutyName; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.DutyName
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block middle" style="width: 10.0488%;">
        <table class="asf-table-view">
            <tbody>
                <tr class="content-label">
                    <td>
                        @{ key = strPeriodFromDate; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">@(string.Format("{0:dd/MM/yyyy}", Model.PeriodFromDate))</td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strPeriodToDate; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">@(string.Format("{0:dd/MM/yyyy}", Model.PeriodToDate))</td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strReceiveFromDate; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">@(string.Format("{0:dd/MM/yyyy}", Model.ReceiveFromDate))</td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strPeriodToDate; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">@(string.Format("{0:dd/MM/yyyy}", Model.ReceiveToDate))</td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strActualQuantity; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">@Model.ActualQuantity</td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strQuantityBoundary; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">@Model.QuantityBoundary</td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strRecruitQuantity; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.RecruitQuantity
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block last" style="width: 10.0488%;">
        <table class="asf-table-view">
            <tbody>
                <tr class="content-label">
                    <td>
                        @{ key = strActualCost; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.ActualCost
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strCostBoundary; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.CostBoundary
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strWorkType; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.WorkType
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strCost; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.Cost
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strRequireDate; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.RequireDate
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strWorkPlace; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.WorkPlace
                    </td>
                </tr>
                <tr class="content-label">
                    <td>
                        @{ key = strNote; }
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="@key content-text">
                        @Model.Note
                    </td>
                </tr>
            </tbody>
        </table>

        @{ key = strRecruitPeriodID; }
        <input id="@key" name="@key" type="hidden" value="@Model.RecruitPeriodID" />
        @{ key = strDutyID;  }
        <input id="@key" name="@key" type="hidden" value="@Model.DutyID"/>
          @{ key = strTotalLevel;  }
        <input id="@key" name="@key" type="hidden" value="@Model.TotalLevel"/>
    </div>
</div>
