@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.Helper
@model ASOFT.ERP.HRM.Entities.HRMT2024

@{
    var SCREENID = "HRMF2022";

    var strAPK = "APK";
    var strDivisionID = "DivisionID";
    var strRecruitPeriodID = "RecruitPeriodID";
    var strGender = "Gender";
    var strAge = "Age";
    var strFromAge = "FromAge";
    var strToAge = "ToAge";
    var strAppearance = "Appearance";
    var strExperience = "Experience";
    var strEducationLevelID = "EducationLevelID";
    var strSalary = "Salary";
    var strFromSalary = "FromSalary";
    var strToSalary = "ToSalary";
    var strWorkDescription = "WorkDescription";
    var strLanguage1ID = "Language1ID";
    var strLanguage2ID = "Language2ID";
    var strLanguage3ID = "Language3ID";
    var strLanguageLevel1ID = "LanguageLevel1ID";
    var strLanguageLevel2ID = "LanguageLevel2ID";
    var strLanguageLevel3ID = "LanguageLevel3ID";
    var strIsInformatics = "IsInformatics";
    var strInformaticsLevel = "InformaticsLevel";
    var strIsCreativeness = "IsCreativeness";
    var strCreativeness = "Creativeness";
    var strIsProblemSolving = "IsProblemSolving";
    var strProblemSolving = "ProblemSolving";
    var strIsPrsentation = "IsPrsentation";
    var strPrsentation = "Prsentation";
    var strIsCommunication = "IsCommunication";
    var strCommunication = "Communication";
    var strHeight = "Height";
    var strWeight = "Weight";
    var strHealthStatus = "HealthStatus";
    var strNotes = "Notes";
    var strCreateUserID = "CreateUserID";
    var strCreateDate = "CreateDate";
    var strLastModifyUserID = "LastModifyUserID";
    var strLastModifyDate = "LastModifyDate";

    var key = string.Empty;
}
<div class="asf-master-content">
    <fieldset id="GroupYCC">
        <legend>
            <label>@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, "CommonRequirement"), SCREENID, "HRM")</label>
        </legend>
        <div class="asf-content-block first" style="width: 40.0488%;">
            <table class="asf-table-view">
                <tr>
                    <td>
                        @{ key = strGender;}
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @Model.Gender
                    </td>
                </tr>
                <tr>
                    <td>
                        @{ key = strAge;}
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @{ key = "From"; }
                        <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                        <label style="padding-right: 10px">@Model.FromAge</label>
                        @{ key = "To"; }
                        <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                        <label style="padding-right: 10px">@Model.ToAge</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{ key = strAppearance;}
                        @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                    </td>
                    <td class="dot"></td>
                    <td class="content-text">@Model.Appearance</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last" style="width: 40.0488%;">
            <table class="asf-table-view">
                <tbody>
                    <tr>
                        <td>
                            @{ key = strEducationLevelID;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.EducationLevelID
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{ key = strExperience;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.Experience
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{ key = strSalary;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @{ key = "From"; }
                            <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                            <label style="padding-right: 10px">@Model.FromSalary</label>
                            @{ key = "To"; }
                            <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                            <label style="padding-right: 10px">@Model.ToSalary</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <table class="asf-table-view" id="WD">
        <tbody>
            <tr>
                <td style="width: 10%;">
                    @{ key = strWorkDescription;}
                    <label class="@key">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                </td>
                <td>
                    <textarea class="asf-textarea" cols="20" id="@key"  name="@key" regular="" requaird="1" rows="2" style="width: 99%; height: 55px;" readonly="readonly">
                    @Model.WorkDescription
                </textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <fieldset id="GrouYCKN">
        <legend>
            <label>@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, "SkillRequirement"), SCREENID, "HRM")</label>
        </legend>
        <div>
            @{ key = "LanguageSkill";}
            <label class="@key" style="width: 100%;">
                <bold>@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</bold>
            </label>
        </div>
        <div class="asf-content-block first" style="width: 40.0488%;">
            <table class="asf-table-view" id="top">
                <tbody>
                    <tr>
                        <td>
                            @{ key = strLanguage1ID;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.Language1ID
                        </td>

                    </tr>
                    <tr>
                        <td>
                            @{ key = strLanguage2ID;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.Language2ID
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{ key = strLanguage3ID;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.Language3ID
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="asf-content-block last" style="width: 40.0488%;">
            <table class="asf-table-view">
                <tbody>
                    <tr>
                        <td>
                            @{ key = strLanguageLevel1ID;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.LanguageLevel1ID
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{ key = strLanguageLevel2ID;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.LanguageLevel2ID
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{ key = strLanguageLevel3ID;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.LanguageLevel3ID
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table class="asf-table-view" id="botGroupYCKN">
            <tbody>
                <tr>
                    <td>
                        @{ key = strInformaticsLevel;}
                        @Html.CheckBox(key, Model.IsInformatics == 1).CheckBoxReadOnly(true)
                        <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            @Model.InformaticsLevel
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{ key = strCreativeness;}
                        @Html.CheckBox(key, Model.IsCreativeness == 1).CheckBoxReadOnly(true)
                        <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            @Model.Creativeness
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{ key = strProblemSolving;}
                        @Html.CheckBox(key, Model.IsProblemSolving == 1).CheckBoxReadOnly(true)
                        <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            @Model.ProblemSolving
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{ key = strIsPrsentation;}
                        @Html.CheckBox(key, Model.IsPrsentation == 1).CheckBoxReadOnly(true)
                        <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            @Model.Prsentation
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @{ key = strIsCommunication;}
                        @Html.CheckBox(key, Model.IsPrsentation == 1).CheckBoxReadOnly(true)
                        <label style="padding-right: 10px">@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            @Model.Communication
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>

    </fieldset>
    <fieldset>
        <legend>
            <label>@LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, "HealthRequirement"), SCREENID, "HRM")</label>
        </legend>
        <div class="asf-content-block first" style="width: 40.0488%;">
            <table class="asf-table-view">
                <tbody>
                    <tr>
                        <td>
                            @{ key = strWeight;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.Weight
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{ key = strHealthStatus;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.HealthStatus
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @{ key = strNotes;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.Notes
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="asf-content-block last" style="width: 40.0488%;">
            <table class="asf-table-view">
                <tbody>
                    <tr>
                        <td>
                            @{ key = strHeight;}
                            @LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", SCREENID, key), SCREENID, "HRM")
                        </td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Model.Height
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
