@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     11/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF2031ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2031Title, "DRF2031").ToHtmlString();
    ViewBag.Width = 900;

    // Form Status
    bool isInsert = Model.FormStatus.Equals(ASOFTFormActionType.AddNew);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "DRF2031"}))
{
 <div class="asf-form-container">
    <div class="form-content">
        <div class="form-content-left">
            <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.PaidID)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model => model.PaidID).ReadOnlyIf(true))
                        @Html.ASOFTHidden(DRT2030.COL_LASTMODIFYDATE, Model.LastModifyDate != null ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : "")
                        @Html.ASOFTHidden(model=>model.APK)
                        @Html.ASOFTHidden(model=>model.APKDRT4444)
                        @Html.ASOFTHidden(model=>model.LastKey)
                        @Html.ASOFTHidden(model=>model.TranMonth)
                        @Html.ASOFTHidden(model=>model.TranYear)
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.ContractNo)</td>
                    <td class="asf-td-field" colspan="2">
                        @*@(Html.ASOFTBussinessComboBox().ASOFTDRMContract(model => model.ContractNo)
                                .Events(e=>e.Change("DRF2031.contractNo_Changed")).Enable(isInsert))*@
                        <div class="asf-common-search popup-input-text">
                            <span class="k-textbox k-space-right">
                                @Html.ASOFTTextBox(model => model.ContractNo, checkRegularExp:true).ReadOnlyIf(!isInsert)

                                @(Html.ASOFTButton(string.Empty, htmlStyle: new {width = "24px", height = "24px"})
                                        .Name("btnChoose").HtmlAttributes(new {Class = "k-icon asf-i-pdf-24", Title = ASOFTLanguage.FindWordA00("A00.btnChoose")})
                                        .Events(e => e.Click("DRF2031.btnChoose_Click"))
                                        .Enable(isInsert && ASOFTEnvironment.CheckPermission("DRF2006", ASOFTPermission.AddNew)))
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.DebtorName)</td>
                    <td class="asf-td-field" colspan="2">@(Html.ASOFTTextBox(model => model.DebtorName).ReadOnlyIf(true))</td>
                </tr>              
            </table>
        </div>
        <div class="form-content-right">
            <table class="asf-table-view">
                 <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.PaidDate)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTDateEdit(model => model.PaidDate))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.PaidAmount)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTSpinEdit(model => model.PaidAmount))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption asf-td-align">@Html.ASOFTLabel(model => model.UnPaidAmount)</td>
                    <td class="asf-td-field" colspan="2">
                         @(Html.ASOFTSpinEdit(model => model.UnPaidAmount))
                    </td>
                </tr>
            </table>
        </div>
        <table class="asf-table-view">
            <tr>
                <td>@Html.ASOFTLabel(model => model.PaidNote)</td>
            </tr>
            <tr>
                <td>@(Html.ASOFTTextArea(model => model.PaidNote))</td>
            </tr>
        </table>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF2031.btnClose_Click")))
                    </div>
                    <div >
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                .Name("BtnSaveCopy")
                                .Events(e => e.Click("DRF2031.btnSaveCopy_Click"))
                                .HideIf(!isInsert))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                .Name("btnSaveDRF2031")
                                .Events(e => e.Click("DRF2031.btnSaveNext_Click"))
                                .HideIf(!isInsert))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("DRF2031.btnSave_Click"))
                                .HideIf(isInsert))
                    </div>        
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2030/DRF2031.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2006/DRF2006.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}

@Html.ASOFTHidden("DRF2006Url", Url.Action("Index", "DRF2006", new { area = "DRM" }))