@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using  ASOFT.ERP.ViewModel.CRM;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.DRM.DRF2030ViewModel

@helper FilterCol1(){
    @Html.Partial(@"../Shared/DRMPeriodFilter",
    new ASOFT.ERP.ViewModel.A00.PeriodFilterViewModel())
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.BranchID)</td>
        <td colspan="4"> @(Html.ASOFTBussinessComboBox().ASOFTDRMBranchIDList(model => model.BranchID))</td>
    </tr>
}

@helper FilterCol2(){
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.PaidID)</td>
        <td class="container_period_control">@Html.ASOFTTextBox(model => model.PaidID)</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.CustomerID)</td>
        <td>@(Html.ASOFTBussinessComboBox()
                .ASOFTDRMCustomerID(model => model.CustomerID, true)
                .SelectedIndex(0))
        </td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.DebtGroupID)</td>
        <td>@(Html.ASOFTBussinessComboBox()
            .ASOFTDRMDebtType(model => model.DebtGroupID).Value("NTD"))</td>
    </tr>
}

@helper FilterCol3(){
     <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.DebtorID)</td>
        <td>@(Html.ASOFTTextBox(model => model.DebtorID))</td>
    </tr>
     <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ContractNo)</td>
        <td>@(Html.ASOFTTextBox(model => model.ContractNo))</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.TeamID)</td>
        <td>@(Html.ASOFTBussinessComboBox()
            .ASOFTDRMTeamID(model => model.TeamID, true)
            .SelectedIndex(0))</td>
    </tr>
    
}

@{
    Html.RenderSection("MainView", new Dictionary<string, object>() { 
        { "FilterCol1", this.FilterCol1().ToHtmlString() },     
        { "FilterCol2", this.FilterCol2().ToHtmlString() },     
        { "FilterCol3", this.FilterCol3().ToHtmlString() }   
    });
}
