@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using ASOFT.ERP.ViewModel.CRM;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.DRM.DRF2050ViewModel

@helper FilterCol1()
{
    <tr>
        <td style="width:100%; height:16px; padding-top:10px" colspan="5">
            <div style="float:left; width: 33%;">@Html.ASOFTRadioButton(model => model.rdoFilter, 0, new { id = "rdoFilterTeamLeader" }).CheckedIf(true)  @Html.ASOFTLabel(model => model.TeamLeader)</div>
            <div style="float:left; width: 33%;">@Html.ASOFTRadioButton(model => model.rdoFilter, 1, new { id = "rdoFilterManager" })@Html.ASOFTLabel(model => model.Manager)</div>
            <div style="float:left; width: 33%;">@Html.ASOFTRadioButton(model => model.rdoFilter, 2, new { id = "rdoFilterInfoRoom" }) @Html.ASOFTLabel(model => model.InfoRoom)</div>
        </td>
    </tr>
    <tr>
        <td class="asf-td-align" width="25%">
            @Html.ASOFTLabel(model => model.FromDate)
        </td>
        <td class="container_period_control">
            @(Html.ASOFTDateEdit(model => model.FromDate).Value(Model.FromDate))
        </td>
        <td class="container_period_space"></td>
        <td class="container_period_label asf-td-align">@Html.ASOFTLabel(model => model.ToDate)</td>
        <td class="container_period_control">
            @(Html.ASOFTDateEdit(model => model.ToDate).Value(Model.ToDate))
        </td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.BranchID)</td>
        <td colspan="4">@(Html.ASOFTBussinessComboBox().ASOFTDRMBranchIDList(model => model.BranchID))</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.CustomerID)</td>
        <td colspan="4">@(Html.ASOFTBussinessComboBox()
                                .ASOFTDRMCustomerID(model => model.CustomerID, true)
                                .SelectedIndex(0))
        </td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.TeamLeaderStatus)</td>
        <td colspan="4">@(Html.ASOFTBussinessComboBox()
        .ASOFTDRMStatusChecking(model => model.TeamLeaderStatus)
                .SelectedIndex(0))
        </td>
    </tr>
  
}

@helper FilterCol2()
{
      <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.SuggestEmployeeName)</td>
        <td >@Html.ASOFTTextBox(model => model.SuggestEmployeeName)</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ContractNo)</td>
        <td>@Html.ASOFTTextBox(model => model.ContractNo)</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.DebtorID)</td>
        <td>@Html.ASOFTTextBox(model => model.DebtorID)</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.DebtorName)</td>
        <td>@Html.ASOFTTextBox(model => model.DebtorName)</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.DebtorGroupID)</td>
        <td>@(Html.ASOFTBussinessComboBox().ASOFTDRMDebtType(model => model.DebtorGroupID).Value("NTD"))</td>
    </tr>
   
}

@helper FilterCol3()
{
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ManagerStatus)</td>
        <td>@(Html.ASOFTBussinessComboBox()
        .ASOFTDRMStatusChecking(model => model.ManagerStatus)
                .SelectedIndex(0))
        </td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.TeamID)</td>
        <td colspan="4">@(Html.ASOFTBussinessComboBox()
                               .ASOFTDRMTeamID(model => model.TeamID, true)
                               .SelectedIndex(0))
        </td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ContractStatusID)</td>
        <td>@(Html.ASOFTBussinessComboBox()
        .ASOFTDRMStatus(model => model.ContractStatusID, isClose: true)
                .SelectedIndex(0))
        </td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.CloseDate)</td>
        <td>@(Html.ASOFTDateEdit(model => model.CloseDate).Value(Model.CloseDate))
        </td>
    </tr>
    
}

@{
    Html.RenderSection("MainView", new Dictionary<string, object>() { 
        { "FilterCol1", this.FilterCol1().ToHtmlString() },     
        { "FilterCol2", this.FilterCol2().ToHtmlString() },     
        { "FilterCol3", this.FilterCol3().ToHtmlString() }   
    });
}
