@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     12/09/2014      Đức Quý         Tạo mới
//####################################################################
*@

@using System.Web.UI.WebControls
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.DRM;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;

@model DRF2050ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2050Title, "DRF2050").ToHtmlString();
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewData.Add("MainView", this);
}

@section Header {
    <!-- Header BreakCrumb -->
    @Html.ASOFTHeader(new HeaderModel
                          {
                              Title = Html.ASOFTPageTitle(m => m.DRF2050Title, "DRF2050").ToHtmlString(),
                              Breakcrumb = true
                          })
}

@Html.Partial("FormFilter")

<!-- Filter buttons -->
@section FilterButtons {
    <!-- Search button -->
    <li>
        @(Html.ASOFTSearchButton()
              .Name("BtnFilterDRF2050")
              .Events(e => e.Click("DRF2050.btnFilter_Click"))
              )
    </li>
    
    <!-- Reset button -->
    <li>
        @(Html.ASOFTSearchResetButton()
            .Name("BtnResetFilterDRF2050")
            .Events(e => e.Click("DRF2050.btnClearFilter_Click"))
            )
    </li>
}

@section GridToolBar {
    <!-- Toolbar buttons -->
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}

@section Grid {
    <!-- Grid master -->
    @Html.Partial("GridCloseResume")
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRMSearchPeriod.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2050/DRF2050.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2050/DRF2051.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2003/DRF2003.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
   @* <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />*@
}
@Html.ASOFTHidden("ScreenID", "DRF2050")
@Html.ASOFTHidden("UrlDRF2051", Url.Action("DRF2051"))
@Html.ASOFTHidden("UrlCloseOpenResume", Url.Action("OpenCloseResume"))
@Html.ASOFTHidden("UrlConfirm", Url.Action("Confirm"))
@Html.ASOFTHidden("UrlDRF2003", Url.Action("Index", new { controller = "DRF2003", area = "DRM" }))
@Html.ASOFTHidden("UrlDoPrintOrExport", Url.Action("DoPrintOrExport", "DRF2050"))
@Html.ASOFTHidden("UrlGetReportFile", Url.Action("GetReportFile", "DRF2050"))
@Html.ASOFTHidden("UrlReportViewer", Url.Action("ReportViewer", "DRF2050"))