@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     10/12/2015     Quang Chiến      Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.HRM
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Database;
@model HF0390ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.HF0390Title, "HF0390").ToHtmlString();
    ViewBag.Width = 1024;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "HF0390" }))
{        
    @(Html.ASOFTTab()
          .Name("HF0390Tab")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text(Html.ASOFTRaw(model => model.HF0390Tab01Title))
                  .Selected(true)
                  .HtmlAttributes(new { @id = "TabMaster01", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
              .Content(Tab01().ToHtmlString());              

              tabstrip.Add().Text(Html.ASOFTRaw(model => model.HF0390Tab02Title))
                .HtmlAttributes(new { @id = "TabMaster02", @class = "k-tabstrip-items", style = "" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
              .Content(Tab02().ToHtmlString());

              tabstrip.Add().Text(Html.ASOFTRaw(model => model.HF0390Tab03Title))
                  .HtmlAttributes(new { @id = "TabMaster03", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
              .Content(Tab03().ToHtmlString());

              tabstrip.Add().Text(Html.ASOFTRaw(model => model.HF0390Tab04Title))
                 .HtmlAttributes(new { @id = "TabMaster04", @class = "k-tabstrip-items", style = "" })
                 .ContentHtmlAttributes(new { @class = "asf-tab-content" })
             .Content(Tab04().ToHtmlString());
          })
    )
}
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("HF0390.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("HF0390.btnSave_Click")))
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
@helper Tab01()
{
    <div class="asf-form-container">
        <div class="form-content">
            <div class="form-content-left">
                <table class="asf-table-view">
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.DivisionName)</td>
                        <td class="asf-td-field" colspan="2">
                            @Html.ASOFTTextBox(model => model.DivisionName)
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.PayrollMethodID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOPayrollMethodID(model => model.PayrollMethodID)
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.PayableAccountID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOAccountID(model => model.PayableAccountID,"G04")
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.ExpenseAccountID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOAccountID(model => model.ExpenseAccountID,"G06")
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.PerInTaxID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOAccountID(model => model.PerInTaxID,"G04")
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.AdvanceAccountID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOAccountID(model => model.AdvanceAccountID,"G04")
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption" colspan="3">
                             @(Html.ASOFTCheckbox(model => model.IsTranferEmployee)
              )
                        </td>
                    </tr>
                     <tr>
                        <td class="asf-td-caption" colspan="3">
                         
                @(Html.ASOFTCheckbox(model => model.IsTranEntrySalary)
              )
                        </td>
                    </tr>
                </table>

            </div>
            <div class="form-content-right">
                <table class="asf-table-view">
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Period)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTPeriod(model => model.Period)
                                    //.Events(e=>e.Change("HF0390.comboPeriod_Changed"))
)
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.BankAccountID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOAccountID(model => model.BankAccountID,"G04")
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.MinSalary)</td>
                        <td class="asf-td-field" colspan="2">@Html.ASOFTSpinEdit(model => model.MinSalary)</td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.WorkMarks)

                        </td>
                        <td class="asf-td-field" colspan="2">@Html.ASOFTSpinEdit(model => model.WorkMarks)

                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.RegulationsMarks)

                        </td>
                        <td class="asf-td-field" colspan="2">@Html.ASOFTSpinEdit(model => model.RegulationsMarks)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
@helper Tab02()
{
    <div class="asf-form-container">
        <div class="form-content">
            <div class="form-content-left">
                <table class="asf-table-view">
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.ProductAbsentMethod)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOProductAbsentMethod(model => model.ProductAbsentMethod)
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.GAbsentLoanID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTOOGAbsentLoanID(model => model.GAbsentLoanID)
                                    .Events(e=>e.Change("HF0390.combo_Changed")))
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @(Html.ASOFTCheckbox(model => model.ConvertedProductAbsent,
            new Dictionary<string, object>{ 
                     {"onclick","DRF2011.chkEveryday_Click(this)"}
            })
              )
                        </td>
                    </tr>
                    <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailApprove)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTETemplate(model => model.EmailApprove))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmailSuggest)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTETemplate(model => model.EmailSuggest))
                    </td>
                </tr>
                     <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.VacationFactor)</td>
                        <td class="asf-td-field" colspan="2">
                            @(Html.ASOFTBussinessComboBox().ASOFTOOVacationFactor(model => model.VacationFactor))
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-content-right">
                <table class="asf-table-view">
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.DayPerMonth)</td>
                        <td class="asf-td-field" colspan="2">@Html.ASOFTSpinEdit(model => model.DayPerMonth)</td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.TimeConvert)

                        </td>
                        <td class="asf-td-field" colspan="2">@Html.ASOFTSpinEdit(model => model.TimeConvert)

                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.OtherDayPerMonth)

                        </td>
                        <td class="asf-td-field" colspan="2">@Html.ASOFTSpinEdit(model => model.OtherDayPerMonth)
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.LenAbsentCardNo)

                        </td>
                        <td class="asf-td-field" colspan="2">@Html.ASOFTSpinEdit(model => model.LenAbsentCardNo)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
@helper Tab03()
{
    <div class="asf-form-container">
        <div class="form-content">
            <div class="form-content-left">
                <table class="asf-table-view">
                   <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.CoefficientDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.CoefficientDecimals)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.AbsentDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.AbsentDecimals)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.OriginalDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.OriginalDecimals)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.ConvertedDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.ConvertedDecimals)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.OtherDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.OtherDecimals)</td>
                </tr>
                </table>
            </div>
            <div class="form-content-right">
                <table class="asf-table-view">
                  <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.RateExchange)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.RateExchange)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.QuantityDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.QuantityDecimals)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.PriceDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.PriceDecimals)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.HolidayDecimals)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTSpinEdit(model => model.HolidayDecimals)</td>
                </tr>
                </table>
            </div>
        </div>
    </div>

}

@helper Tab04()
{
    <div class="asf-form-container">
        <div class="form-content">
            <div class="form-content-left">
                <table class="asf-table-view">
                    <tr>
                        <td class="asf-td-caption" style="width:39%!important">@Html.ASOFTLabel(model => model.HMaxPerMonth)</td>
                        <td class="asf-td-field" colspan="2">
                            @Html.ASOFTSpinEdit(model => model.HMaxPerMonth).Decimals(ASOFTEnvironment.NumberFormat.AbsentDecimals).Format(ASOFTEnvironment.NumberFormat.AbsentDecimalsFormatStringForDotNet)
                        </td>
                    </tr>                   
                    <tr>
                        <td class="asf-td-caption" style="width:39%!important">@Html.ASOFTLabel(model => model.TMaxPerMonth)</td>
                        <td class="asf-td-field" colspan="2">
                            @Html.ASOFTSpinEdit(model => model.TMaxPerMonth)
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption" style="width:39%!important">@Html.ASOFTLabel(model => model.NoSalaryAbsentID)</td>
                        <td class="asf-td-field" colspan="2">@(Html.ASOFTBussinessComboBox().ASOFTAbsentTypeID(model => model.NoSalaryAbsentID))
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-content-right">
                <table class="asf-table-view">
                    <tr>
                        <td class="asf-td-caption" style="width:39%!important">@Html.ASOFTLabel(model => model.HMaxPerTime)</td>
                        <td class="asf-td-field" colspan="3">
                            @Html.ASOFTSpinEdit(model => model.HMaxPerTime).Decimals(ASOFTEnvironment.NumberFormat.AbsentDecimals).Format(ASOFTEnvironment.NumberFormat.AbsentDecimalsFormatStringForDotNet)
                        </td>
                    </tr>
                    <tr>
                        <td class="asf-td-caption" style="width:39%!important">@Html.ASOFTLabel(model => model.DayExp)</td>
                        <td class="asf-td-field" colspan="2" style="width: 50%">
                            @Html.ASOFTSpinEdit(model => model.DayExp)
                         </td>
                        <td  style="text-align: right">
                            @Html.ASOFTLabel(model => model.DayExpType)
                        </td>
                    </tr>
                   <tr>
                        <td class="asf-td-caption" style="width:39%!important">@Html.ASOFTLabel(model => model.MinusSalaryAbsentID)</td>
                        <td class="asf-td-field" colspan="3">@(Html.ASOFTBussinessComboBox().ASOFTAbsentTypeID(model => model.MinusSalaryAbsentID))
                        </td>
                    </tr>
                   
                </table>
            </div>
        </div>
    </div>
}


@section styleFeature{
    <link href="@Url.Content("~/Areas/HRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/HRM/Scripts/HF0390/HF0390.js?v=" + ASOFTEnvironment.Version)"></script>

}
@Html.ASOFTHidden("UrlHF0390M", Url.Action("HF0390M", "HF0390"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update", "HF0390"))
@Html.ASOFTHidden("UrlGetDataOfPeriodChange", Url.Action("GetDataOfPeriodChange", "HF0390"))