@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.MT.Entities;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using  ASOFT.ERP.ViewModel.MT;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.MT.MTF2000ViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormFilter" }))
{
<div class="asf-filter-container">
    <div class="asf-filter-content-block">
             <div class="asf-filter-main">   
                 <div class="block-left">
                    <div class="asf-filter-label">
                        <span>
                            @Html.ASOFTRadioButton(model=>model.IsDate, 0, new { id = "rdoDate" })
                        </span>
                        @Html.ASOFTLabel(model => model.FromDate)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTDateEdit(model => model.FromDate)
                               .Enable(Model.IsDate == 0))
                    </div>
                </div>

                 <div class="block-right">
                    <div class="asf-filter-label">
                       @Html.ASOFTLabel(model=>model.ToDate)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTDateEdit(model => model.ToDate)
                               .Enable(Model.IsDate == 0))
                    </div>
                </div>
            </div>

            <div class="asf-filter-main">
                <div class="block-left">
                    <div class="asf-filter-label">
                        <span>
                            @Html.ASOFTRadioButton(model => model.IsDate, 1, new { id = "rdoPeriod" })
                        </span>
                        @Html.ASOFTLabel(model=>model.FromPeriod)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTBussinessComboBox()
                            .ASOFTPeriod(model => model.FromPeriod)
                            .Enable(Model.IsDate == 1)
                            .Events(e => 
                                e.Change("MTF2000.fromPeriodChange")))
                    </div>
                </div>

                <div class="block-right">
                    <div class="asf-filter-label">
                        @Html.ASOFTLabel(model=>model.ToPeriod)
                    </div>
                    <div class="asf-filter-input">
                     @(Html.ASOFTBussinessComboBox()
                            .ASOFTPeriod(model => model.ToPeriod)
                            .Enable(Model.IsDate == 1)
                            .Events(e => 
                                e.Change("MTF2000.toPeriodChange")))
                    </div>
                </div>
            </div>

        <div class="mtf2000-formFilter" >
            <div class="asf-filter-main">
                <div class="asf-filter-label">
                    @Html.ASOFTLabel(model => model.DivisionIDFilter)
                </div>
                <div class="asf-filter-input">
                    @(Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter))
                </div>
            </div>
        </div>
    </div>

    <div class="horz-line-left"></div>
    <div class="horz-line-right"></div>

    <div class="asf-filter-content-block">
        <div class="asf-filter-main">
            <div class="asf-filter-label">
                @Html.ASOFTLabel(model=>model.StudentIDFilter)
            </div>
            <div class="asf-filter-input">
                 @Html.ASOFTTextBox(model => model.StudentIDFilter)
            </div>
        </div>
        <div class="asf-filter-main">
            <div class="asf-filter-label">
                @Html.ASOFTLabel(model=>model.StudentNameFilter)
            </div>
            <div class="asf-filter-input">
                 @Html.ASOFTTextBox(model=>model.StudentNameFilter)
            </div>
        </div>
        <div class="asf-filter-main">
            <div class="asf-filter-label">
                @Html.ASOFTLabel(model => model.ClassID)
            </div>
            <div class="asf-filter-input">
                 @Html.ASOFTTextBox(model => model.ClassID)
            </div>
        </div>
     </div>

    <div class="horz-line-left"></div>
    <div class="horz-line-right"></div>

    <div class="asf-filter-content-block">
         <div class="asf-filter-main">
             <div class="asf-filter-label">
               @Html.ASOFTLabel(model=>model.StudentNameEFilter)
            </div>
            <div class="asf-filter-input">
              @Html.ASOFTTextBox(model=>model.StudentNameEFilter)
            </div>
        </div>
        <div class="asf-filter-main">
             <div class="asf-filter-label">
                @Html.ASOFTLabel(model=>model.AddressFilter)
            </div>
            <div class="asf-filter-input">
               @Html.ASOFTTextBox(model=>model.AddressFilter)
            </div>
        </div>
        <div class="asf-filter-main">
             <div class="asf-filter-label">
                @Html.ASOFTLabel(model => model.TelFilter)
            </div>
            <div class="asf-filter-input">
               @Html.ASOFTTextBox(model => model.TelFilter)
            </div>
        </div>
    </div>
</div>
}