@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.MT.Entities;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using  ASOFT.ERP.ViewModel.MT;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.MT.MTF2000ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.MTF2000Title, "MTF2000").ToHtmlString();
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF2000.js")"></script>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/MT/Content/MTF2000.css")" rel="stylesheet" type="text/css" />
}


@Html.ASOFTHidden("UrlMTF2001", Url.Action("MTF2001"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlInsert", Url.Action("Insert"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlPreExportData", Url.Action("PreExportData"))
@Html.ASOFTHidden("UrlExportData", Url.Action("ExportData"))
<div id="contentMaster">
<div class="asf-panel-filter">
@Html.ASOFTHeader(new HeaderModel() { Title = Html.ASOFTRaw(model=>model.MTF2000Title), Breakcrumb = true })
@Html.Partial("FormFilter")
</div>

<div class="asf-button-container">
    <div class="asf-button-right-container">
        <div class="asf-button-right">
            <div>
                @(Html.ASOFTSearchButton()
                              .Name("MTF2000BtnFilter")
                              .Events(ev => ev.Click("MTF2000.filterData"))
                )
            </div>
            <div>
                @(Html.ASOFTSearchResetButton()
                        .Name("BtnClearFilter")
                        .Events(ev => ev.Click("MTF2000.btnClearFilter"))
                )
            </div>
        </div>
    </div>
</div>
    <div class="asfbtn-left">
        @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
    </div>
        @Html.Partial("GridStudent")
</div>
@(Html.ASOFTPopup()
    .Name("MTF2001Popup")
    .Width(800)
    .Title(Html.ASOFTPageTitle(m => m.MTF2001Title, "MTF2001").ToHtmlString())
)