@model ASOFT.ERP.ViewModel.MT.MTF2000ViewModel

@helper BaseInfo()
{
    <div>
        <div class="asf-master-content">
            <div class="asf-content-block first">
                <table class="asf-table-view">
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.StudentID)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.StudentID)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.StudentName)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.StudentName">@Html.DisplayFor(model => model.StudentName)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.StudentNameE)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.StudentNameE">@Html.DisplayFor(model => model.StudentNameE)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.IsMale)</td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @Html.DisplayFor(model => model.Sex)
                        </td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Birthday)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Birthday)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.BranchID)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.BranchID)</td>
                    </tr>
                </table>
            </div>
            <div class="asf-content-block middle">
                <table class="asf-table-view">
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.StartDate)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.StartDate)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Email)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Tel1)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Tel1)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Tel2)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Tel2)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Notes)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.Notes">
                            <div class='content-ellipsis'>@Html.DisplayFor(model => model.Notes)</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="asf-content-block last">
                <table class="asf-table-view">
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.SourceName1)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.SourceName1"> @Html.DisplayFor(model => model.SourceName1)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.SourceName2)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.SourceName2"> @Html.DisplayFor(model => model.SourceName2)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.SourceName3)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.SourceName3"> @Html.DisplayFor(model => model.SourceName3)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.SpecNotes)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.SpecNotes">
                            <div class='content-ellipsis'>@Html.DisplayFor(model => model.SpecNotes)</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>  
    </div>
}

@helper ExtendedInfo()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.School)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.School">@Html.DisplayFor(model => model.School)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.Grade)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Grade)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.IsTATC)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Program)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.Ward)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Ward)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.District)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.District)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.Address)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Address">@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.AddWard)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AddWard)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.AddDistrict)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AddDistrict)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.FatherJob)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FatherJob)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.MotherJob)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.MotherJob)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContactPerson1)</td>
                    <td class="dot"></td>
                    <td class="content-text"> @Html.DisplayFor(model => model.ContactPerson1)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContactTel1)</td>
                    <td class="dot"></td>
                    <td class="content-text"> @Html.DisplayFor(model => model.ContactTel1)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContactEmail1)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContactEmail1)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContactPerson2)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContactPerson2)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContactTel2)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContactTel2)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ContactEmail2)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContactEmail2)</td>
                </tr>
            </table>
        </div>
    </div>
}

@helper ResultExamInfo()
{
    <div>
        <div class="asf-master-content">
            <div class="asf-content-block first">
                <table class="asf-table-view">
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Interviewer)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Interviewer)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.ClassDate)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.ClassDate)</td>
                    </tr>
                    <tr >
                        <td class="content-label for-xtra-label">@Html.ASOFTLabel(model => model.Reception)</td>
                        <td class="dot for-xtra-label"></td>
                        <td class="content-text for-xtra-label"> @Html.DisplayFor(model => model.Reception)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.PlacementLevel)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.PlacementLevel)</td>
                    </tr>
                    @*<tr >
                        <td class="content-label">@Html.ASOFTLabel(model=>model.Strength)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model=>model.Strength)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model=>model.Improvement)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model=>model.Improvement)</td>
                    </tr>*@
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.TeacherCommentEK)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.TeacherCommentEK">
                            <div class='content-ellipsis'> @Html.DisplayFor(model => model.TeacherCommentEK)</div>
                        </td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.OtherNotes)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.OtherNotes">
                            <div class='content-ellipsis'> @Html.DisplayFor(model => model.OtherNotes)</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="asf-content-block middle">
                <table class="asf-table-view">
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Listening)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Listening)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Speaking)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Speaking)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Reading)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Reading)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Writing)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Writing)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Total)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Total)</td>
                    </tr>
                </table>
            </div>
            <div class="asf-content-block last">
                <table class="asf-table-view">
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Part1)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Part1)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Part2)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Part2)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Part3)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Part3)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.Part4)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.Part4)</td>
                    </tr>
                    <tr >
                        <td class="content-label">@Html.ASOFTLabel(model => model.PartTotal)</td>
                        <td class="dot"></td>
                        <td class="content-text"> @Html.DisplayFor(model => model.PartTotal)</td>
                    </tr>
                </table>
            </div>
        </div> 
    </div>
}


@helper History()
{
    <div class="asf-master-content">
        Lịch sử
    </div>
}

@helper Attach()
{
    <div class="asf-master-content">
        Đính kèm
    </div>
}


@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new {@class = "block-panel-master"})
      .Events(m => m.Activate("ASOFT.panelFormat.fitColumnHeight"))
      .Animation(animation => animation.Enable(true))
      .Items(panelbar =>
                 {
                     panelbar.Add().Text(Html.ASOFTRaw(m => m.TabInfoStudent))
                         .HtmlAttributes(new {@class = "block-panel-master-header"})
                         .Expanded(true)
                         .Content(BaseInfo().ToHtmlString());

                     panelbar.Add().Text(Html.ASOFTRaw(m => m.TabInfoExtension))
                         .HtmlAttributes(new {@class = "block-panel-master-header"})
                         .Content(ExtendedInfo().ToHtmlString());

                     panelbar.Add().Text(Html.ASOFTRaw(m => m.TabInfoExams))
                         .HtmlAttributes(new {@class = "block-panel-master-header"})
                         .Content(ResultExamInfo().ToHtmlString());

                     panelbar.Add().Text(Html.ASOFTRaw(m => m.TabInfoProcess))
                         .HtmlAttributes(new {@class = "block-panel-master-header"})
                         .Content(Html.Partial("GridProcess").ToHtmlString());

                     panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo"))
                         .HtmlAttributes(new {@class = "block-panel-master-header"})
                         .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                     panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.History"))
                         .HtmlAttributes(new {@class = "block-panel-master-header"})
                         .Content(History().ToHtmlString());
                     panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.Attach"))
                         .HtmlAttributes(new {@class = "block-panel-master-header"})
                         .Content(Attach().ToHtmlString());
                 })
      )