@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     09/10/2014      Hồ Hoàng Tú      Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using ASOFT.ERP.ViewModel.CI;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.CI.CIF1002ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "CIF1002").ToHtmlString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFeature
{
        <script src="@Url.Content("~/Areas/CI/Scripts/CIF1002.js?v=" + ASOFTEnvironment.Version)"></script>
}

<div id="contentMaster">

   @Html.ASOFTHeader(new HeaderModel { Title = Html.ASOFTPageTitle(model => model.Title, "CIF1002").ToHtmlString(), Breakcrumb = true })
    <div id="ViewMaster" class="asf-panel-view-master" >
        <div class="asf-panel-master-header">                        
            <div class="asfbtn asfbtn-right">         
                      
                        @if (Model.Toolbar1 != null)
                        {
                            Model.Toolbar1.EventEdit =   "CIF1002Param.btnEdit_Click";
                            Model.Toolbar1.EventDelete = "CIF1002Param.btnDelete_Click";        
                                         
                        }
                        @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())                                    
                 </div>
             </div>
           <div id="viewPartial">
            @Html.Partial("CIF1002M", Model)
        </div>
    </div>
</div>
@Html.ASOFTHidden("CIF1002DepartmentID", Model.DepartmentID)
@Html.ASOFTHidden("UrlCIF1000", Url.Action("index"))
