@using System.Web.UI.WebControls
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.DRM;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;

@model SF1020ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.SF1020Title, "SF1020").ToHtmlString();
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewData.Add("MainView", this);
}

@section Header {
    <!-- Header BreakCrumb -->
    @Html.ASOFTHeader(new HeaderModel
                          {
                              Title = Html.ASOFTRaw(model => model.SF1020Title),
                              Breakcrumb = true
                          })
}

@Html.Partial("FormFilter")

<!-- Filter buttons -->
@section FilterButtons {
    <!-- Search button -->
    <li>
        @(Html.ASOFTSearchButton()
              .Name("BtnFilterSF1020")
              .Events(e => e.Click("SF1020.btnFilter_Click"))
              )
    </li>
    
    <!-- Reset button -->
    <li>
        @(Html.ASOFTSearchResetButton()
            .Name("BtnResetFilterSF1020")
            .Events(e => e.Click("SF1020.btnClearFilter_Click"))
            )
    </li>
}

@section GridToolBar {
    <!-- Toolbar buttons -->
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}

@section Grid {
    <!-- Grid master -->
    @Html.Partial("GridLanguage")
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/S/Scripts/SF1020.js?v=" + ASOFTEnvironment.Version)"></script>
}

@Html.ASOFTHidden("UrlSF1021", Url.Action("SF1021"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlDownload", Url.Action("Download"))
@Html.ASOFTHidden("UrlExport", Url.Action("GetReportFile"))
@Html.ASOFTHidden("UrlSF0005", Url.Action("Index", new { area = "S", controller = "SF0005" }))
@Html.ASOFTHidden("UrlSF0005Update", Url.Action("Update", new { area = "S", controller = "SF0005" }))