@using Kendo.Mvc.UI
@model MyConnection.HoiVien
@{
    ViewBag.Title = "Home Page";
}
<div style="font-size: 25px ; font-weight: bold">
DANH MỤC HỘI VIÊN
</div>
<hr />
<div>
    <table id="tb">
        <tr>
            <td>
                Đơn Vị
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtdonvi")
                )
            </td>
            <td>
                Địa Chỉ
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtdiachi")
                )
            </td>
            <td>
                Số Điện Thoại   
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtsdt")
                )
            </td>
        </tr>
        <tr>
            <td>
                Mã Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtmhv")
                )
            </td>
            <td>
                Mã Số Thuế/Số CMND
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtmathue")
                )
            </td>
            <td>
                Fax  
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtfax")
                )
            </td>
        </tr>
        <tr>
            <td>
                Tên Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txttenhv")
                )
            </td>
            <td>
                Điện Thoại Di Động
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtdtdd")
                )
            </td>
            <td>
                Email   
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtemail")
                )
            </td>
        </tr>
    </table>
</div>
<div>
    <br />
    <br />
    <br />
</div>
<div>
    <div style="float: left">
        @(Html.Kendo().Button()
        .Name("btthem")
        .ImageUrl(Url.Content("/Images/sum.png"))
        )
        @(Html.Kendo().Button()
        .Name("btxoa")
        .ImageUrl(Url.Content("/Images/recycle.png"))
        .Events(events => events.Click("destroy"))
        )
        @(Html.Kendo().Button()
        .Name("btdisable")
        .ImageUrl(Url.Content("/Images/discheck.png"))
        .Events(events => events.Click("undisable"))
        )  
        @(Html.Kendo().Button()
        .Name("btupdate")
        .ImageUrl(Url.Content("/Images/checked.png"))
        .Events(events => events.Click("disable"))
        )  
    </div>
    <div style="float: right">
        @(Html.Kendo().Button()
        .Name("btlocdulieu")
        .ImageUrl(Url.Content("/Images/search.png"))    
        .Content("Lọc Dữ Liệu")
        .Events(events => events.Click("search"))
        )
        @(Html.Kendo().Button()
        .Name("btlamlai")
        .HtmlAttributes(new { style = "height: 40px" })
        .Content("Làm Lại")
        .Events(events => events.Click("resetsearch"))
        )
    </div>
</div>
@{var counter = 1;}
<div  style="float: left">
    <div id="demo-section">
    @(Html.Kendo().Grid<MyConnection.HoiVien>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Template(p => p.APK)
            .Title("<input type='checkbox' id='checkid' class='' onclick='checkall()' ")
            .ClientTemplate("<input type='checkbox' name='check' class='' value = '#=APK#' />")
            .HtmlAttributes(new { style = "text-align: center" });
            columns.Template(p => counter++).Title("STT");
            columns.Bound(p => p.DivisionID).Title("Đơn Vị");
            columns.Bound(p => p.MemberID).Title("Mã Hội Viên");
            columns.Bound(p => p.MemberName).Title("Tên Hội Viên");
            columns.Bound(p => p.Address).Title("Địa Chỉ");
            columns.Bound(p => p.Identify).Title("Mã Số Thuế/Số CMND");
            columns.Bound(p => p.Phone).Title("Điện Thoại Di Động");
            columns.Bound(p => p.Tel).Title("Số Điện Thoại");
            columns.Bound(p => p.Fax).Title("Fax");
            columns.Bound(p => p.Email).Title("Email");
            columns.Bound(p => p.Disable).Title("Không Kích Hoạt");
        })
        .Pageable()
        .Sortable()
        .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple)
            .Type(GridSelectionType.Row))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(15)
            .Read(read => read.Action("Search", "Home"))
            .Model(model => model.Id(p => p.APK))
         )
         .HtmlAttributes(new { style = "width: 900px" })
    )
    </div>
</div>

@(Html.Kendo().Window()
    .Name("window")
    .Title("DANH MỤC HỘI VIÊN")
    .Content(@<text>
<table>
        <tr>
            <td>
                Đơn Vị
            </td>
            <td>
                 @Html.TextBoxFor(model => model., new { id = "Images" }) 
            </td>
            <td>
                Ngày Sinh
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txtngaysinh")
                )
            </td>
        </tr>
        <tr>
            <td>
                Mã Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtmhv")
                )
            </td>
            <td>
                Website
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txtweb")
                )
            </td>
        </tr>
        <tr>
            <td>
                Tên Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtthv")
                )
            </td>
            <td>
                Hộp Thư
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txthopthu")
                )
            </td>
        </tr>
        <tr>
            <td>
                Tên Hội Viên E
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtthve")
                )
            </td>
            <td>
                Mã Vùng
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txtmavung")
                )
            </td>
        </tr>
        <tr>
            <td>
                Tên Riêng
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txttr")
                )
            </td>
            <td>
                Phường/Xã
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txtpx")
                )
            </td>
        </tr>
        <tr>
            <td>
                Địa Chỉ
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtdc")
                )
            </td>
            <td>
                Quận/Huyện
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txtqh")
                )
            </td>
        </tr>
        <tr>
            <td>
                Mã Số Thuế/Số CMND
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtcmnd")
                )
            </td>
            <td>
                Tỉnh/Thành
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txttt")
                )
            </td>
        </tr>
        <tr>
            <td>
                Điện Thoại Di Động
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtphone")
                )
            </td>
            <td>
                Quốc Gia
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txtqg")
                )
            </td>
        </tr>
        <tr>
            <td>
                Số Điện Thoại
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txttel")
                )
            </td>
            <td>
                Diễn Giải
            </td>
            <td>    
                @(Html.Kendo().TextBox()
                    .Name("txtdg")
                )
            </td>
        </tr>
        <tr>
            <td>
                Fax
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtf")
                )
            </td>
            <td>
                Không Hiển Thị
            </td>
            <td>    
                @(Html.Kendo().CheckBox()
                    .Name("cbkht")
                )
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                @(Html.Kendo().TextBox()
                    .Name("txtem")
                )
            </td>
        </tr>
    </table>
             @(Html.Kendo().Button()
              .Name("btdong")
              .Content("Đóng")
              .Events(events => events.Click("close"))
              )
    </text>)
    .Draggable()
    .Visible(false)
    .Resizable()
    .Width(900)
)

<style>
    #demo-section {
        font-size: 10px;
        margin-top: 15px;
    }
</style>

<script>
    function checkall() {
        var list = document.getElementsByName("check");
        if (document.getElementById("checkid").checked == true) {
            for (i = 0; i < list.length; i++) {
                list[i].checked = true;
            }
        }
        else {
            for (i = 0; i < list.length; i++) {
                list[i].checked = false;
            }
        }
    };
        function search() {
            var search = Array();
            search.push(document.getElementById("txtdonvi").value);
            search.push(document.getElementById("txtmhv").value);
            search.push(document.getElementById("txttenhv").value);
            search.push(document.getElementById("txtdiachi").value);
            search.push(document.getElementById("txtmathue").value);
            search.push(document.getElementById("txtdtdd").value);
            search.push(document.getElementById("txtsdt").value);
            search.push(document.getElementById("txtfax").value);
            search.push(document.getElementById("txtemail").value);
            $.ajax({
                type: 'POST',
                url: '/Home/srch',
                traditional: true,
                dataType: "json",
                data: { srch: search },
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        }
        function resetsearch() {
            document.getElementById("txtdonvi").value = "";
            document.getElementById("txtmhv").value = "";
            document.getElementById("txttenhv").value = "";
            document.getElementById("txtdiachi").value = "";
            document.getElementById("txtmathue").value = "";
            document.getElementById("txtdtdd").value = "";
            document.getElementById("txtsdt").value = "";
            document.getElementById("txtfax").value = "";
            document.getElementById("txtemail").value = "";
        }
        function destroy() {
            var list = document.getElementsByName("check");
            var dtr = Array();
            for (i = 0; i < list.length; i++) {
                if (list[i].checked == true)
                    dtr.push(list[i].value);
            }
            if(dtr.length == 0)
            {
                alert("Hãy Chọn Để Xóa");
                return;
            }
            if(!confirm("Bạn có muốn xóa không?"))
                return
            
            $.ajax({
                type: 'POST',
                url: '/Home/Destroy',
                traditional: true,
                dataType: "json",
                data: { destroy: dtr },
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        }
        function undisable() {
            var list = document.getElementsByName("check");
            var und = Array();
            for (i = 0; i < list.length; i++) {
                if (list[i].checked == true)
                    und.push(list[i].value);
            }
            if (und.length == 0) {
                alert("Hãy Chọn");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/Home/Undisable',
                traditional: true,
                dataType: "json",
                data: { undisable: und },
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        }

        function disable() {
            var list = document.getElementsByName("check");
            var d = Array();
            for (i = 0; i < list.length; i++) {
                if (list[i].checked == true)
                    d.push(list[i].value);
            }
            if (d.length == 0) {
                alert("Hãy Chọn");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/Home/Disable',
                traditional: true,
                dataType: "json",
                data: { disable: d },
                success: function (data) {
                    $('#grid').data('kendoGrid').dataSource.read();
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        }

        $(document).ready(function () {
            var dialog = $("#window");

            $("#btthem").bind("click", function () {
                dialog.data("kendoWindow").open();
            });

            dialog.data("kendoWindow").wrapper.find(".k-i-custom").click(function (e) {
                alert("Custom action button clicked");
                e.preventDefault();
            });
        });
        
        function close() {
            var dialog = $("#window");
            dialog.data("kendoWindow").close();
        }
</script>





