@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     13/02/2017      Quang Hoàng     Tạo mới
//####################################################################
*@

@model ASOFT.ERP.ViewModel.POS.POSF0055ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(model => model.Title, "POSF0055").ToHtmlString();
    ViewBag.Width = 1000;
}
@Html.ASOFTHidden("isCLOUD", true)

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "POSF0055" }))
{
    @Html.ASOFTHidden(model => model.FormStatus)
    @Html.ASOFTHidden(model => model.APK)
    @Html.ASOFTHidden(model => model.EmployeeName)
    @Html.ASOFTHidden(model => model.DivisionID)
    <div class="asf-form-container container_12 pagging_bottom ">
        <div class="grid_6 alpha float_left  line_right">
            <table class="asf-table-view">
                <tr>
                    <td class="container_label">@Html.ASOFTLabel(model => model.VoucherNo)</td>
                    <td class="container_control">
                        @Html.ASOFTTextBox(model => model.VoucherNo,
                            htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
                <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Description)</td>
                        <td class="asf-td-field" colspan="2">
                            @Html.ASOFTTextBox(model => model.Description,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                 </tr>
            </table>
        </div>
        <div class="grid_0"></div>
        <div class="grid_6 omega float_right">
            <table class="asf-table-view">
                <tr>
                        <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EmployeeID)</td>
                        <td class="asf-td-field" colspan="2">
                            @Html.ASOFTTextBox(model => model.EmployeeID,
                            htmlStyle: new { width = Unit.Percentage(100) }).ReadOnlyIf(true)

                            @(Html.ASOFTButton("")
                            .Name("btnChooseContact")
                            .HtmlAttributes(new { style = "border: none !important; z-index:10001; position: fixed; right: 27px; height: 25px; width: 27px;", @class = "asf-i-search-24" })
                            .Enable(true)
                            .Events(e => e.Click("btnChooseEmployeeID_Click")))
                        </td>
                 </tr>
            </table>
        </div>
    </div>
    <div class="asf-form-container container_12">
        @Html.Partial("GridVoucherDetailEdit")
    </div>
     <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td>
                        <div class="asf-popup-button-container">
                            @if (Model.FormStatus == ASOFTFormActionType.AddNew)
                            {
                                bool hasPermission = true;
                                //if (Model.AllowAdd())
                                //{
                                //    hasPermission = true;
                                //}                                           
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                          .Name("btnClose")
                                          .Events(e =>
                                              e.Click(hasPermission ? "POSVIEW.btnSaveClose_Click" : "ASOFT.asoftPopup.closeOnly"))
                                              .Deferred(true))
                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                          .Name("btnSaveCopy")
                                          .Events(e => e.Click("POSVIEW.btnSaveCopy_Click"))
                                          .Enable(hasPermission)
                                          .Deferred(true)
                                          )

                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                          .Name("btnSaveContinue")
                                          .Events(e => e.Click("POSVIEW.btnSaveContinue_Click"))
                                          .Enable(hasPermission)
                                          .Deferred(true)
                                          )

                                </div>
                            }
                            else
                            {

                                bool hasPermission = false;
                                if (Model.CheckPermission("POSF00111", ASOFTPermission.Update))
                                {
                                    hasPermission = true;
                                }                                
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                          .Name("btnClose")
                                          .Events(e =>
                                              e.Click(hasPermission ? "POSVIEW.btnClose_Click" : "ASOFT.asoftPopup.closeOnly"))
                                          .Deferred(true)
                                          )
                                </div>
                                
                                
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                          .Name("btnSave")
                                          .Events(e => e.Click("POSVIEW.btnSave_Click"))
                                          .Enable(hasPermission)
                                          .Deferred(true)
                                          )


                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    <span class="asf-disabled-visibility">
            @Html.ASOFTTextBox(model => model.LastModifyDateValue)
     </span>
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0055.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF00151Autocomplete.js")" type="text/javascript"></script>
    @Html.Kendo().DeferredScripts()
}