@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.ViewModel.CRM;
@using System.Web.Optimization

@model CRMR3010ViewModel

@{
    Layout = "~/Views/Shared/_EmptyLayoutChart.cshtml";
    ViewBag.Title = string.Format("{0} - {1}", "CRMR30111", LocalizedHelper.GetLocalizedResourceString("CRMR3011.Title", "CRMR3011", "CRM"));

    List<CRMR3010ViewModel> result = Model.ListModel;
    int count = result.Count;
    AT1101 division = ViewBag.division;
}


<div class="container_12" style="font-size: 11px;">
    <div  style="width: 5%; float: left">&nbsp;</div>
    <div style="width: 90%; float: left">
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
            @division.DivisionName
        </div>
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
            @division.Address
        </div>
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
            @division.Tel
        </div>
        <div class="grid_12 asf-cols-align-center" style="font-weight:bold; font-size: 30px">
            @LocalizedHelper.GetLocalizedResourceString("CRMR3011.Title", "CRMR3011", "CRM")
        </div>
    
        @{
            if(Model.IsDate == 0)
            {
                <div class="grid_12 asf-cols-align-center">
                    @ASOFTLanguage.FindWordA00("A00.rdoFilterPeriod"): @Model.PeriodIDList
                </div>
            }
            else {
                <div class="grid_12 asf-cols-align-center">
                    @ASOFTLanguage.FindWordA00("A00.rdoFilterFromDate"): @Model.FromDateJQ - @ASOFTLanguage.FindWordA00("A00.rdoFilterToDate"): @Model.ToDateJQ
                </div>
            }
        }
    </div>

    @{
        for (int i = 0; i < count; i++)
        {
            CRMR3010ViewModel item = result[i];    
            <div class="clear" style="height: 20px">&nbsp;</div>
            <div  style="width: 5%; float: left">&nbsp;</div>
            <div style="width: 90%; float: left">
            <div style="width: 30%; float:left">&nbsp;</div>
            <div style="width: 40%; float:left">  
                @(Html.Kendo().Chart().Name("chart" + i)
                    .Series(series =>
                        series.Funnel(new dynamic[]{
                            new {
                                category= @"Leads",
                                value= item.TotalLead,
                                color = "rgb(3, 169, 244)"
                            },
                            new {
                                category= @"Opportunity",
                                value= item.TotalOpportunity,
                                color = "rgb(76, 175, 80)"
                            },
                            new {
                                category= @"Customer",
                                value= item.TotalCustomer,
                                color= "rgb(255, 141, 0)"
                            }
                        })
                        .DynamicSlope(true)
                        .SegmentSpacing(2)
                    )
                    .Legend(l => l.Visible(true).Position(ChartLegendPosition.Bottom))
                    .SeriesDefaults(sd =>
                    {
                        sd.Funnel().Labels(lbls =>
                        {
                            lbls.Visible(true)
                                .Background("transparent")
                                .Template("#=category#")
                                .Font("15px sans-serif")
                                .Position(ChartFunnelLabelsPosition.Center)
                                .Align(ChartFunnelLabelsAlign.Center)
                                .Color("#000")
                                .Border(b=>b.Width(1).DashType(ChartDashType.Dot).Color("#000"))
                                .Padding(5)
                                .Format("N0");
                        })
                        .DynamicHeight(false);
                    })
                    .Tooltip(tt => tt.Visible(true).Template("#=  kendo.toString(value, ASOFTEnvironment.NumberFormat.KendoConvertedDecimalsFormatString) # - #= kendo.format('{0:P}', percentage) #"))
                )
            </div>
            <div class="clear">&nbsp;</div>
            <div class="grid_12 line"></div>
            <div class="clear">&nbsp;</div>
            <div class="asf-grid alpha omega">
                 <table role="grid">
                    <colgroup>
                        <col style="width: 5%">
                        <col style="width: 18%">
                        <col style="width: 8%">
                        <col style="width: 8%">
                        <col style="width: 10%">
                        <col style="width: 17%">
                        <col style="width: 17%">
                        <col style="width: 17%">
                    </colgroup>
                    <thead class="k-grid-header">
                        <tr>
                            <th scope="col" class="k-header">STT</th>                  
                            <th scope="col" class="k-header"><span class="k-link">@LocalizedHelper.GetLocalizedResourceString("CRMR3011.DivisionID", "CRMR3011", "CRM")</span></th>
                            <th scope="col" class="k-header"><span class="k-link">@LocalizedHelper.GetLocalizedResourceString("CRMR3011.TotalLead", "CRMR3011", "CRM")</span></th>
                             <th scope="col" class="k-header"><span class="k-link">@LocalizedHelper.GetLocalizedResourceString("CRMR3011.TotalOpportunity", "CRMR3011", "CRM")</span></th>
                            <th scope="col" class="k-header"><span class="k-link">@LocalizedHelper.GetLocalizedResourceString("CRMR3011.TotalCustomer", "CRMR3011", "CRM")</span></th>
                            <th scope="col" class="k-header"><span class="k-link">@LocalizedHelper.GetLocalizedResourceString("CRMR3011.LeadToOpportunity", "CRMR3011", "CRM")</span></th>
                            <th scope="col" class="k-header"><span class="k-link">@LocalizedHelper.GetLocalizedResourceString("CRMR3011.LeadToCustomer", "CRMR3011", "CRM")</span></th>
                            <th scope="col" class="k-header"><span class="k-link">@LocalizedHelper.GetLocalizedResourceString("CRMR3011.OpportunityToCustomer", "CRMR3011", "CRM")</span></th>
                        </tr>
                    </thead>
                    <tbody>        
                        <tr>
                            <td  class="asf-cols-align-center">@(i + 1)</td>
                            <td class="asf-cols-align-left">@{ string dv = item.DivisionID.Equals("@@@") ? ASOFTLanguage.FindWordA00("A00.DivisionCommon") : item.DivisionName; } @dv.ToUpper()</td>
                            <td class="asf-cols-align-right">@string.Format(ASOFTEnvironment.NumberFormat.ConvertedDecimalsFormatStringForSreen, item.TotalLead)</td>
                                <td class="asf-cols-align-right">@string.Format(ASOFTEnvironment.NumberFormat.ConvertedDecimalsFormatStringForSreen, item.TotalOpportunity)</td>
                                <td class="asf-cols-align-right">@string.Format(ASOFTEnvironment.NumberFormat.ConvertedDecimalsFormatStringForSreen, item.TotalCustomer)</td>
                                <td class="asf-cols-align-right">@string.Format(ASOFTEnvironment.NumberFormat.ConvertedDecimalsFormatStringForSreen, item.LeadToOpportunity)</td>
                            <td class="asf-cols-align-right">@string.Format(ASOFTEnvironment.NumberFormat.ConvertedDecimalsFormatStringForSreen, item.LeadToCustomer)</td>
                            <td class="asf-cols-align-right">@string.Format(ASOFTEnvironment.NumberFormat.ConvertedDecimalsFormatStringForSreen, item.OpportunityToCustomer)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="page-break"></div>
        }   
    }
    
</div>

