
@model ASOFT.ERP.ViewModel.MT.MTF1030ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(model => model.MTF1030Title, "MTF1030").ToHtmlString();
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF1030.js")"> </script>
}

<div id="contentMaster">
    <div class="asf-panel-filter">
        @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTRaw(model => model.MTF1030Title), Breakcrumb = true})
        @Html.Partial("FormFilter", Model)
    </div>
    <div class="asf-button-container">
        <div class="asf-button-right-container">
            <div class="asf-button-right">
                @(Html.ASOFTSearchButton()
                      .Name("btnFilterMaster")
                      .Events(ev => ev.Click("MTF1030.filterData"))
                        
                      )
                @(Html.ASOFTSearchResetButton()
                      .Name("btnReset")
                      .Events(ev => ev.Click("MTF1030.clearFilterData"))
                      )
            </div>
        </div>
    </div>
    <div class="asfbtn-left">
        @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", @Model.Toolbar1)  
    </div>

    @Html.Partial("GridReason", Model)
    
    <!-- Popup -->
    @(Html.ASOFTPopup()
          .Name("MTF1031Popup")
          .Width(450)
          .Title(Html.ASOFTPageTitle(model => model.MTF1031Title, "MTF1031").ToHtmlString()))
        
</div>

@Html.ASOFTHidden("UrlMTF1031", Url.Action("MTF1031"))
@Html.ASOFTHidden("UrlUpdateRecord", Url.Action("UpdateRecord"))
@Html.ASOFTHidden("UrlMTF1031Update", Url.Action("DoUpdate"))
@Html.ASOFTHidden("UrlMTF1031Insert", Url.Action("DoInsert"))
@Html.ASOFTHidden("UrlMTF1031Delete", Url.Action("DoDelete"))