
@model ASOFT.ERP.ViewModel.MT.MTF1030ViewModel

<script>
    $(document).ready(function() {
        ASOFT.form.setSameHeight("asf-filter-content-block");
        ASOFT.form.setSameWidth("asf-filter-content-block");
    });
</script>

@helper General()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.DisplayNameFor(model => model.StopReasonID)</td>
                    <td class="dot"></td>
                    <td class="content-text"> @Html.DisplayFor(model => model.StopReasonID)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.DisplayNameFor(model => model.StopReasonName)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.StopReasonName">@Html.DisplayFor(model => model.StopReasonName)</td>
                </tr>
            
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.DisplayNameFor(model => model.DivisionID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DivisionID)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.DisplayNameFor(model => model.IsCommon)</td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @{ string common = Model.IsCommon ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                        @common
                    </td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.DisplayNameFor(model => model.Disabled)</td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @{ string disabled = Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                        @disabled
                    </td>
                </tr>
                <tr >
                    <td class="content-label">@Html.DisplayNameFor(model => model.Notes)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Notes">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Notes)</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
@helper History()
{
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.History")
    </div>
}

@helper Attach()
{
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.Attach")
    </div>
}

<div id="viewPartial">   
    <div id="ViewMaster" class="asf-panel-view-master">
        <div class="asf-panel-no-detail-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", @Model.Toolbar2 ?? new ASOFTToolBarViewModel())  
            </div>
        </div>
        
        @(Html.Kendo().PanelBar()
              .Name("panelbar")
              .HtmlAttributes(new {@class = "block-panel-master"})
              .Animation(animation => animation.Enable(true))
              .Items(panelbar =>
                         {
                             panelbar.Add().Text(Html.ASOFTRaw(model => model.MTF1032GroupMasterTitle)).HtmlAttributes(new {@class = "block-panel-master-header"})
                                 .Expanded(true).Content(General().ToHtmlString());

                             panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                                 .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                             panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.History")).HtmlAttributes(new {@class = "block-panel-master-header"})
                                 .Content(History().ToHtmlString());

                             panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.Attach")).HtmlAttributes(new {@class = "block-panel-master-header"})
                                 .Content(Attach().ToHtmlString());
                         })
              )
    </div>
</div>