
@model ASOFT.ERP.ViewModel.MT.MTF1030ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(model => model.MTF1032Title, "MTF1032");
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF1030.js")"> </script>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/MT/Content/MTF1030.css")" rel="stylesheet" type="text/css" />
}

<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTRaw(model => model.MTF1032Title), Breakcrumb = true})
    @Html.Partial("MTF1032M")

    @(Html.ASOFTPopup()
          .Name("MTF1031Popup")
          .Width(450)
          .Title(
              Html.ASOFTPageTitle(model => model.MTF1031Title, "MTF1031").ToHtmlString()
          ))
</div>

@Html.ASOFTHidden("UrlMTF1031", Url.Action("MTF1031"))
@Html.ASOFTHidden("UrlMTF1031Delete", Url.Action("DoDelete"))
@Html.ASOFTHidden("UrlMTF1030", Url.Action("Index"))
@Html.ASOFTHidden("UrlMTF1032M", Url.Action("MTF1032M"))
@Html.ASOFTHidden("MTF1032MStopReasonID", Model.StopReasonID)