@using System.Web.UI.WebControls
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.A00.Entities.Common
@using ASOFT.ERP.ViewModel
@model ASOFT.ERP.ViewModel.MT.MTF1000ViewModel

<!-- Form Filter -->
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormFilter" }))
{
<div class="asf-filter-container">
    <div class="asf-filter-content-block">
        <div class="asf-filter-main">
            <div class="asf-filter-label">
                @Html.ASOFTLabel(model => model.DivisionIDFilter)
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter))
            </div>
        </div>
     </div>

    <div class="horz-line-left"></div>
    <div class="horz-line-right"></div>

    <div class="asf-filter-content-block">
         <div class="asf-filter-main">
            <div class="asf-filter-label">
                @Html.ASOFTLabel(model => model.CourseIDFilter)
            </div>
            <div class="asf-filter-input">
                @Html.ASOFTTextBox(model => model.CourseIDFilter)
            </div>
        </div>
    </div>

    <div class="horz-line-left"></div>
    <div class="horz-line-right"></div>

    <div class="asf-filter-content-block">
        <div class="asf-filter-main">
            <div class="asf-filter-label">
                @Html.ASOFTLabel(model => model.CourseNameFilter)
            </div>
            <div class="asf-filter-input">
                @Html.ASOFTTextBox(model=>model.CourseNameFilter)
            </div>
        </div>
    </div>
</div>
}

