
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.MT.Entities;
@model ASOFT.ERP.ViewModel.MT.MTF1000ViewModel

@{ ViewBag.Title = Html.ASOFTPageTitle(m => m.MTF1000Title, "MTF1000"); }
@section jsFeature{ <script src="@Url.Content("~/Areas/MT/Scripts/MTF1000.js")"></script> }
@section styleFeature{ <link href="@Url.Content("~/Areas/MT/Content/MTF1000.css")" rel="stylesheet" type="text/css" /> }

<div id="contentMaster"> <!-- contentMaster -->
    <div class="asf-panel-filter">
        
        <!-- BreakCrumb -->
        @Html.ASOFTHeader(new HeaderModel() { Title = Html.ASOFTRaw(m => m.MTF1000Title), Breakcrumb = true })
        
        @Html.Partial("FormFilter", Model)

    </div>
    <div class="asf-button-container">
        <div class="asf-button-right-container">
            <div class="asf-button-right">
                @(Html.ASOFTSearchButton()
                      .Name("btnFilterMaster")
                      .Events(ev => ev.Click("MTF1000.filterData"))
                )
                @(Html.ASOFTSearchResetButton()
                      .Name ("btnReset")
                      .Events(ev => ev.Click("MTF1000.clearFilterData"))
                      )
            </div>
        </div>
    </div>
    <div class="asfbtn-left">
          @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1)  
    </div>

    <!-- Grid Master -->
    @Html.Partial("GridCourse")
    
    <!-- Popup -->
    @(Html.ASOFTPopup()
          .Name("MTF1001Popup")
          .Width(500)
          .Title(Html.ASOFTPageTitle(m => m.MTF1001Title, "MTF1001").ToHtmlString()))

</div> <!-- end contentMaster -->


<!-- hiden value -->
@Html.ASOFTHidden("UrlMTF1001", Url.Action("MTF1001"))
@Html.ASOFTHidden("UrlInsert", Url.Action("Insert"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UpdateRecord", Url.Action("UpdateRecord"))
