@using ASOFT.ERP.A00.Entities.Common;
@model ASOFT.ERP.ViewModel.MT.MTF1000ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(model=>model.MTF1002Title, "MTF1002");
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF1000.js")"></script>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/MT/Content/MTF1000.css")" rel="stylesheet" type="text/css" />
}

          
@Html.ASOFTHidden("Course", Model.CourseID)
@Html.ASOFTHidden("UrlMTF1000", Url.Action("Index"))
@Html.ASOFTHidden("UrlMTF1001", Url.Action("MTF1001"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlMTF1002MPartial", Url.Action("MTF1002MPartial"))
<div id='contentMaster'>
    @Html.ASOFTHeader(new HeaderModel() { Title = Html.ASOFTPageTitle(model=>model.MTF1002Title, "MTF1002").ToHtmlString(), Breakcrumb = true })
    <div>
        <div id="ViewMaster" class="asf-panel-view-master">@Html.Partial("MTF1002M", Model)</div>
    </div>
</div>

@(Html.ASOFTPopup()
        .Name("MTF1001Popup")
        .Width(500)
        .Title(Html.ASOFTPageTitle(m => m.MTF1000Title, "MTF1001").ToHtmlString()))