@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created           Comment
//#     23/08/2017      Quang Hoàng      Tạo mới
//####################################################################
*@

@using ASOFT.ERP.ViewModel.POS;
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.POS.Business;
@using Kendo.Mvc.UI.Fluent;

@model POSF0123ViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title =  Html.ASOFTPageTitle(model => model.Title, "POSF0123").ToString().ToUpper();
    string col1_css = "grid_6_1 alpha line_right";
    string col2_css = "grid_6_1 omega";
}
<div id="contentMaster">
    <div class="asf-panel-filter container_12">
        <div class="asf-headerpage">
            @*<input type="hidden" id="Breakcrumb" value='@Model.Breakcrumb.ToString()' />*@
            <div id="Breakcrumb_div" class="asf-breakcumb" style="display:none">
            </div>
            <div class="asf-headerpage-title">
                <div id="HeaderLabel">
                    <h3>@ViewBag.Title</h3>
                </div>              
            </div>
        </div>
        <div class="@col1_css">
                        <table class="asf-table-view">
                            <thead>
                                <tr class="tr-zero-height">
                                    <td class="container_label col1_custom"></td>
                                    <td class="container_control"></td>
                                </tr>
                            </thead>
                            <tr>
                            <td>@Html.ASOFTLabel(model => model.ManagerDate)</td>
                            <td>
                                @(Html.ASOFTDateEdit(model => model.ManagerDate))
                            </td>
                        </tr>
                </table>
                    </div>
                
<div class="@col2_css">
                        <table class="asf-table-view">
                            <thead>
                                <tr class="tr-zero-height">
                                    <td class="container_label col2_custom"></td>
                                    <td class="container_control"></td>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>@Html.ASOFTLabel(model => model.ManagerEmployeeID)</td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox().ASOFTManagerEmployeeID(model => model.ManagerEmployeeID, POSSettings.GetShopID()))
                                </td>
                            </tr>
                </tbody>
                        </table>
          </div>
         <div class="clearfix"></div>
           <div class="container_12 asf-button-filter-container">
                <div class="grid_6 omega float_right">
                    <ul class="vertical float_right">
                          <li>
                            @(Html.ASOFTSearchButton()
                                  .Name("BtnFilter").Events(e => e.Click("BtnFilter_Click")))
                        </li>
                    </ul>
                </div>
            </div>   
    </div>
</div>

 <script>
         var btnPlus = '<a id="btnPlus" style="z-index:10001; position: absolute; left: 10px; height: 25px ; min-width: 27px;" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0" onclick="btnPlus_Click()">+</a>';
         var btnMinus = '<a id="btnMinus" style="z-index:10001; position: absolute; left: 37px; height: 25px ; min-width: 27px;" data-role="button" class="k-button k-button-icontext" role="button" aria-disabled="false" tabindex="0" onclick="btnMinus_Click()">-</a>';

        $(function() {
            $("#organisation").orgChart({container: $("#main"), interactive: true, fade: true, speed: 'slow'});
        });
        var zoom = 100;
        var zoomFireFox = 1;
        $(document).ready(function () {

            $("#main").prepend(btnMinus);
            $("#main").prepend(btnPlus);
            orgChartZoom();
        });

        function orgChartZoom() {
            $('.orgChart').bind('wheel mousewheel', function (e) {
                var delta;

                if (e.originalEvent.wheelDelta !== undefined)
                    delta = e.originalEvent.wheelDelta;
                else
                    delta = e.originalEvent.deltaY * -1;

                if (delta > 0) {
                    if (zoom < 200) {
                        zoom += 2;
                        $(".orgChart table").css("zoom", zoom + "%");
                    }
                    if (zoomFireFox < 1) {
                        zoomFireFox += 0.01;
                        $(".orgChart table").css("-moz-transform", "scale(" + zoomFireFox + ")");
                    }
                }
                else {
                    if (zoom > 0) {
                        zoom -= 2;
                        $(".orgChart table").css("zoom", zoom + "%");
                    }

                    if (zoomFireFox > 0.1) {
                        zoomFireFox -= 0.01;
                        $(".orgChart table").css("-moz-transform", "scale(" + zoomFireFox + ")");
                    }
                }
            });
        }

        function BtnFilter_Click() {
            $("#organisation").remove();
            var data = {};
            data.ManagerDate = $("#ManagerDate").data("kendoDatePicker").value();
            data.ManagerEmployeeID = $("#ManagerEmployeeID").data("kendoComboBox").value();

            ASOFT.helper.postTypeJson("/POS/POSF0123/HtmlNode", data, function (result) {
                $("#orgHidden").append(result);
                $("#organisation").orgChart({ container: $("#main"), interactive: true, fade: true, speed: 'slow' });
                $("#main").prepend(btnMinus);
                $("#main").prepend(btnPlus);
                orgChartZoom();
            });
        }

        function btnPlus_Click() {
            if (zoom < 200) {
                zoom += 2;
                $(".orgChart table").css("zoom", zoom + "%");
            }

            if (zoomFireFox < 1) {
                zoomFireFox += 0.01;
                $(".orgChart table").css("-moz-transform", "scale(" + zoomFireFox + ")");
            }
        }

        function btnMinus_Click() {
            if (zoom > 0) {
                zoom -= 2;
                $(".orgChart table").css("zoom", zoom + "%");
            }

            if (zoomFireFox > 0.1) {
                zoomFireFox -= 0.01;
                $(".orgChart table").css("-moz-transform", "scale(" + zoomFireFox + ")");
            }
        }
 </script>

    <div id="orgHidden" hidden>
        @{
                @Html.Action("HtmlNode", "POSF0123", new { area = "POS", ManagerDate = DateTime.Now.ToShortDateString(), ManagerEmployeeID = Model.ManagerEmployeeID});
            }
    </div>   

    <div id="orgPOS">      
        <div id="main">
        </div>
    </div> 


<link rel="stylesheet" href="@Url.Content("~/Content/Styles/demo.css")"/>
<link rel="stylesheet" href="@Url.Content("~/Content/Styles/jquery.orgchart.css")"/>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.orgchart.js")"></script>
