@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.ViewModel.BI;

@model BF3017ViewModel

@{
    Layout = "~/Views/Shared/_EmptyLayoutChart.cshtml";
    ViewBag.Title = string.Format("{0}", LocalizedHelper.GetLocalizedResourceString("BF3017.Title", "BF3017", "BI"));
    ASOFT.ERP.A00.Entities.Database.AT1101 division = ViewBag.division;
    List<ASOFT.ERP.BI.Entities.BP3017> listChartBI = new List<ASOFT.ERP.BI.Entities.BP3017>();
    listChartBI = Model.ListChartBI.OrderByDescending(m => m.CountVoucher).ToList();
    
    var Parameter1 = "";
    var Parameter2 = "";
    var Parameter3 = "";
    var Parameter4 = "";
    var CountVoucher1 =0;
    var CountVoucher2 =0;
    var CountVoucher3 =0;
    var CountVoucher4 =0;
    var MonthYearBI = ViewBag.Period;
    
    if (listChartBI.Count >= 4)
    {
        var item1 = listChartBI[0];
        Parameter1 = item1.Parameter;
        CountVoucher1 = item1.CountVoucher;

        var item2 = listChartBI[1];
        Parameter2 = item2.Parameter;
        CountVoucher2 = item2.CountVoucher;

        var item3 = listChartBI[2];
        Parameter3 = item3.Parameter;
        CountVoucher3 = item3.CountVoucher;

        var item4 = listChartBI[3];
        Parameter4 = item4.Parameter;
        CountVoucher4 = item4.CountVoucher;
    }

}

<div class="container_12" style="font-size: 11px;">
    <div  style="width: 5%; float: left">&nbsp;</div>
    <div style="width: 90%; float: left">
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
           @LocalizedHelper.GetLocalizedResourceString("A00.CompanyNameTitle", "A00", "00") : @division.DivisionName
        </div>
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
           @LocalizedHelper.GetLocalizedResourceString("A00.CompanyAddressTitle", "A00", "00") : @division.Address
        </div>
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
           @LocalizedHelper.GetLocalizedResourceString("A00.CompanyTelTitle", "A00", "00") : @division.Tel
        </div>
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
           @LocalizedHelper.GetLocalizedResourceString("A00.CompanyFaxTitle", "A00", "00") : @division.Fax
        </div>
        <div class="grid_12 asf-cols-align-left" style="font-weight:bold; font-size: 13px">
           @LocalizedHelper.GetLocalizedResourceString("A00.CompanyEmailTitle", "A00", "00") : @division.Email
        </div>
        <div class="grid_12 asf-cols-align-center" style="font-weight:bold; font-size: 30px">
            @LocalizedHelper.GetLocalizedResourceString("BF3017.Title", "BF3017", "BI")
        </div>
        @{
        <div class="grid_12 asf-cols-align-center">
            @MonthYearBI
        </div>
        <div class="grid_12 asf-cols-align-center">
            @LocalizedHelper.GetLocalizedResourceString("BF3017.CurrencyID", "BF3017", "BI"): @Model.CurrencyID
        </div>
        }
    </div>
</div>
@if (listChartBI.Count > 0)
{
<div class="clear" style="height: 20px">&nbsp;</div>
<div  style="width: 5%; float: left">&nbsp;</div>
<div style="width: 90%; float: left">
<div style="width: 30%; float:left">&nbsp;</div>
<div style="width: 40%; float:left"> 
@(Html.Kendo().Chart().Name("chart")
    .Series(series =>
        series.Funnel(new dynamic[]{
            new {
                category= Parameter1,
                value= CountVoucher1,
                color = "rgb(3, 169, 244)"
            },
            new {
                category= Parameter2,
                value= CountVoucher2,
                color = "rgb(76, 175, 80)"
            },
            new {
                category= Parameter3,
                value= CountVoucher3,
                color= "rgb(255,255,0)"
            },
            new {
                category= Parameter4,
                value= CountVoucher4,
                color= "rgb(255,0,0)"
            }
        })
        .DynamicSlope(true)
        .SegmentSpacing(2)
    )
    .Legend(l => l.Visible(true).Position(Kendo.Mvc.UI.ChartLegendPosition.Bottom))
    .SeriesDefaults(sd =>
    {
        sd.Funnel().Labels(lbls =>
        {
            lbls.Visible(true)
                .Background("transparent")
                .Template("#=category#")
                .Font("15px sans-serif")
                .Position(Kendo.Mvc.UI.ChartFunnelLabelsPosition.Center)
                .Align(Kendo.Mvc.UI.ChartFunnelLabelsAlign.Center)
                .Color("#000")
                .Border(b=>b.Width(1).DashType(Kendo.Mvc.UI.ChartDashType.Dot).Color("#000"))
                .Padding(5)
                .Format("N0");
        })
        .DynamicHeight(false);
    })
    .Tooltip(tt => tt.Visible(true).Template("#=  kendo.toString(value, ASOFTEnvironment.NumberFormat.KendoConvertedDecimalsFormatString) # - #= kendo.format('{0:P}', percentage) #"))
)
</div>
</div>
}