@using ASOFT.ERP.A00.Core;

@{
    string title = ASOFTLanguage.FindWordA00("A00.Message");
    string nameMessageDialog = "MessageDiaglog";
    string nameConfirmDialog = "ConfirmDiaglog";
}

@helper Content_Message()
{
    <div class="asf-dialog">
        <div class="asf-dialog-button">
            <a class="asf-button" onClick="ASOFT.dialog.oKClick()">@ASOFTLanguage.FindWordA00("A00.btnOK")</a>
        </div>
    </div>
}

@helper Content_Confirm()
{
      <div class="asf-dialog">
        <div class="asf-dialog-button">
            <a class="asf-button" onClick="ASOFT.dialog.noClick()">@ASOFTLanguage.FindWordA00("A00.No")</a>
            <a class="asf-button" onClick="ASOFT.dialog.yesClick()">@ASOFTLanguage.FindWordA00("A00.Yes")</a>
        </div>
    </div>
}

@(Html.ASOFTPopup(false)
        .Name(nameMessageDialog)
        .Modal(true)
        .Title(title)
        .Content(this.Content_Message().ToHtmlString())
)

@(Html.ASOFTPopup(false)
        .Name(nameConfirmDialog)
        .Modal(true)
        .Title(title)
        .Content(this.Content_Confirm().ToHtmlString())
)
