@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#    10/09/2015       Quang Chiến        Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.CI.CIF1072ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "CIF1072").ToHtmlString();
}

<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTPageTitle(m => m.Title, "CIF1072").ToHtmlString(), Breakcrumb = true})
    <div id="ViewMaster" class="asf-panel-view-master" >
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        <div id="viewPartial">
            @Html.Partial("CIF1072M")
        </div>
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1070.js?v=" + ASOFTEnvironment.Version)"></script>    
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1071.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/CI/Content/Common.css")" rel="stylesheet" type="text/css" />
}


<!-- Hidden Field -->
@Html.ASOFTHidden("UrlCIF1070", Url.Action("Index"))
@Html.ASOFTHidden("urlCIF1072M", Url.Action("CIF1072M"))
@Html.ASOFTHidden("UrlCIF1071", Url.Action("CIF1071"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlCheckEdit", Url.Action("CheckEdit"))