@using ASOFT.ERP.ViewModel.CI
@model CIF1072ViewModel

<script>
    $(document).ready(function() {
        //ASOFT.form.setSameHeight("asf-content-block");
        ASOFT.form.setSameWidth("asf-content-block");
    });
</script>
@Html.ASOFTHidden(model=>model.CityID)
@helper Group01()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                 <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.CityName)</td>
                    <td class="dot"></td>
                    <td class="content-text" >@Html.DisplayFor(model => model.CityName)</td>
                </tr>
               
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                 <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DistrictID)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="DistrictID">@Html.DisplayFor(model => model.DistrictID)</td>
                </tr>   
                 <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DistrictName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DistrictName)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
           <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.IsCommon)</td>
                    <td class="dot"></td>
                     <td class="content-text"> 
                        @{ var isCommon = Model.IsCommon ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                            @isCommon

                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Disabled)</td>
                    <td class="dot"></td>
                     <td class="content-text"> 
                        @{ var disabled = Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                            @disabled

                    </td>
                </tr>               
            </table>
        </div>
    </div>
}



@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new {@class = "block-panel-master"})
      //.Events(m => m.Activate("ASOFT.panelFormat.fitColumnHeight"))
      .HtmlAttributes(new { @class = "block-panel-master" })
      .Animation(animation => animation.Enable(true))
      .Items(panelbar =>
             {
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.Tab01Title))
                     .HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Expanded(true).Content(Group01().ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                 //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);
             })
      )