@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using  ASOFT.ERP.ViewModel.CI;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.CI.CIF1070ViewModel

@helper FilterCol1(){    
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.CityID)</td>
        <td colspan="4"> @(Html.ASOFTBussinessComboBox()
                                .ASOFTCICityID(model => model.CityID, ASOFTLanguage.FindWordA00("A00.AT1002_CityID"), 
                                    ASOFTLanguage.FindWordA00("A00.AT1002_CityName"),
                                    option: new ComboOption() { EventRequestEnd = "CIF1070.comboBox_RequestEnd" })
                                .Events(e=>e.Change("CIF1070.comboBox_Changed")))</td>
    </tr>   
}

@helper FilterCol2(){
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.DistrictID)</td>
        <td colspan="4">@Html.ASOFTTextBox(model => model.DistrictID)</td>
    </tr>
    
}

@helper FilterCol3(){
     <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.DistrictName)</td>
        <td colspan="4">@Html.ASOFTTextBox(model => model.DistrictName)</td>
    </tr>   
}

@{
    Html.RenderSection("MainView", new Dictionary<string, object>() { 
        { "FilterCol1", this.FilterCol1().ToHtmlString() },     
        { "FilterCol2", this.FilterCol2().ToHtmlString() },     
        { "FilterCol3", this.FilterCol3().ToHtmlString() }   
    });
}
