@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/03/2013      Thai Son        Add heading
//#     21/04/2014      Đam Mơ          Update
//####################################################################
*@

@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0020ViewModel

@{
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewBag.Title = @Html.ASOFTRaw(m => m.Title);
}

@Html.ASOFTHidden("EnableRecord", Url.Action("SetEnabled"))
@Html.ASOFTHidden("DisableRecord", Url.Action("SetDisabled"))
@section Header {
        @Html.ASOFTHeader(new HeaderModel { Title = Html.ASOFTPageTitle(model => model.Title, "POSF0020").ToHtmlString(), Breakcrumb = true })
}
@section FilterCol1 {
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.DivisionID)</td>
                        <td>
                            @Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionID, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.MemberCardID)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.MemberCardID, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.MemberCardName)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.MemberCardName, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
}
@section FilterCol2 {
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.TypeNo)</td>
                        <td>
                            @Html.ASOFTBussinessComboBox().ASOFTDivision(model => model.TypeNo, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.ReleaseDate)</td>
                        <td>
                            @Html.ASOFTDateEdit(model => model.ReleaseDate, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.ExpireDate)</td>
                        <td>
                            @Html.ASOFTDateEdit(model => model.ExpireDate, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                    </tr>
}
@section FilterCol3 {
                     <tr>
                        <td>@Html.ASOFTLabel(model => model.MemberID)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.MemberID, htmlStyle: new { width = Unit.Percentage(100) }) 
                        </td>
                    </tr>
                     <tr>
                        <td>@Html.ASOFTLabel(model => model.MemberName)</td>
                        <td>
                           @Html.ASOFTTextBox(model => model.MemberName, htmlStyle: new { width = Unit.Percentage(100) }) 
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.Disabled)</td>
                        <td>
                            @(Html.ASOFTBussinessComboBox().ASOFTCiCodeMasterIsCommon(model => model.Disabled, htmlStyle: new { width = Unit.Percentage(100) }))
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.IsCommon)</td>
                        <td>
                            @(Html.ASOFTBussinessComboBox().ASOFTCiCodeMasterIsCommon(model => model.IsCommon, htmlStyle: new { width = Unit.Percentage(100) }))
                        </td>
                    </tr>
        }
 @section GridToolBar {
            @if (Model.Toolbar1 != null)
            {
                Model.Toolbar1.EventAdd = "ShowEditorFrame";
                Model.Toolbar1.EventDelete = "btnDelete_Click";
                Model.Toolbar1.EventHide = "btnDisable_Click";
                Model.Toolbar1.EventShow = "btnEnable_Click";
                Model.Toolbar1.EventPrint = "btnPrint_Click";
            }
            @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}
@section FilterButtons {
                <li>
                    @(Html.ASOFTSearchButton()
                          .Name("POSF0020BtnFilter")
                          .Events(e => e.Click("posf0020BtnFilter_Click")))


                </li>
                <li>
                    @(Html.ASOFTSearchResetButton()
                          .Name("POSF0020BtnClearFilter")
                          .Events(e => e.Click("posf0020BtnClearFilter_Click")))
                </li>
}
@section Grid {
    @Html.Partial("GridCard")
}
@(Html.ASOFTPopup()
    .Name("POSF00201Popup")
    .Width(800)
    .Title(String.Format(Html.ASOFTRaw(model => model.Title), "thêm"))
)
@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0020.js")" type="text/javascript"></script>
}