@model MyConnection.HoiVien

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    @ViewBag.loi
    <fieldset>
        <legend>HoiVien</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DivisionID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DivisionID)
            @Html.ValidationMessageFor(model => model.DivisionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberID)
            @Html.ValidationMessageFor(model => model.MemberID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MemberName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MemberName)
            @Html.ValidationMessageFor(model => model.MemberName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShortName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShortName)
            @Html.ValidationMessageFor(model => model.ShortName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Identify)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Identify)
            @Html.ValidationMessageFor(model => model.Identify)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.Kendo().DatePickerFor(model => model.Birthday)
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mailbox)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mailbox)
            @Html.ValidationMessageFor(model => model.Mailbox)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AreaName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AreaName)
            @Html.ValidationMessageFor(model => model.AreaName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CityName)
            @Html.ValidationMessageFor(model => model.CityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountryName)
            @Html.ValidationMessageFor(model => model.CountryName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WardName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WardName)
            @Html.ValidationMessageFor(model => model.WardName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountyName)
            @Html.ValidationMessageFor(model => model.CountyName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateUserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateUserID)
            @Html.ValidationMessageFor(model => model.CreateUserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModifyDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModifyDate)
            @Html.ValidationMessageFor(model => model.LastModifyDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModifyUserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModifyUserID)
            @Html.ValidationMessageFor(model => model.LastModifyUserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Disable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Disable)
            @Html.ValidationMessageFor(model => model.Disable)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
