@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created           Comment
//#     21/01/2015      Mai Trí Thiện     Tạo mới
//####################################################################
*@
@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Database
@model ASOFT.ERP.ViewModel.S.SF0006ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml"; 
    ViewBag.Title = Html.ASOFTPageTitle(model => model.SF0006Title, "SF0006").ToHtmlString();
    ViewBag.Width = 1100;
}
@Html.ASOFTHidden("UrlSave", Url.Action("Save"))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "SF0006" }))
{       
  <div class="asf-form-container"><!--Begin: asf-form-container -->
        <div class="form-content"><!--Begin:form-content -->  
            <table class="asf-table-view">       
                <tr>
                    <td class="asf-td-grid-caption top-label">@Html.ASOFTLabel(model => model.ModuleID)</td>
                    <td class="asf-td-grid-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTModuleID(model => model.ModuleID)
                            .SelectedIndex(0)
                            .Events(e=>e.DataBound("SF0006.onModuleID_DataBound").Change("SF0006.onModuleID_Changed")) 
                            .SelectedIndex(0)
                            //.Value(string.Format("ASOFT{0}", "DRM"))//TODO:Tạm thời set giá trị mặc định cho XR là module DRM
                    )
                    </td> 
                   <td class="asf-td-grid-space" colspan="3"></td>
                   <td class="asf-td-grid-caption top-label" style="width: 13% !important">@Html.ASOFTLabel(model => model.GroupID)</td>
                   <td class="asf-td-grid-field" colspan="2" >
                         @(Html.ASOFTBussinessComboBox()
                                    .ASOFTGroupID(model => model.GroupID)
                                    .SelectedIndex(0)
                                    .Events(e => e.Change("SF0006.onGroupID_Changed").DataBound("SF0006.onGroupID_Bound")))
                    </td>
                </tr>
            </table> 
        </div><!--End:form-content --> 

        <div class="form-content"><!--Begin:form-content --> 
            <div class="form-content-grid-left">
                 <table class="asf-table-view">
                 <tr>
                          <td class="asf-td-caption" colspan="3">@Html.ASOFTLabel(model => model.Grid1Title)</td>
                 </tr>
                <tr>
                         <td class="asf-td-caption" colspan="3">
                             @Html.Partial("GridDefault")  
                         </td>
                 </tr>
                 </table>
             </div>  
            <div class="form-content-grid-right">
                <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption" colspan="3">@Html.ASOFTLabel(model => model.Grid2Title)</td>
                </tr>
        
                    <tr>
                        <td class="asf-td-caption" colspan="3">
                            @Html.Partial("GridAccepted")  
                        </td>
                    </tr>
                </table>
            </div>
            <div class="asf-btn-arrow"><!--Begin:asf-btn-arrow -->
                <tr>
                    <td >
                    <ul class="middle-buttons"> 
                            <li class="button1">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeSingle"))
                                      .Name("btnChangeSingle")
                                      .Events(m => m.Click("SF0006.changeSingle")))
                            </li>
                            <li class="button2">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeReturn"))
                                                      .Name("btnReturnSingle")
                                                      .Events(e => e.Click("SF0006.returnSingle")))
                            </li>       
                            <li class="button3">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeAll"))
                                                      .Name("btnChangeAll")
                                                      .Events(e => e.Click("SF0006.changeAll")))
                            </li>
                             <li class="button4">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnReturnAll"))
                                                       .Name("btnReturnAll")
                                                       .Events(e => e.Click("SF0006.returnAll")))
                             </li>
                     </ul>
                    </td>
                </tr>              
          
            </div><!--End:asf-btn-arrow -->  
        
        </div><!--End:form-content --> 
            
  </div> <!--End:asf-form-container -->  
  <div class="asf-form-button"><!--Begin:asf-table-view-->
     <table class="asf-table-view">
         <tr>
             <td align="right">
                  <div class="asf-popup-button-container">  
                 @if (Model.FormStatus == ASOFTFormActionType.AddNew)
                 {
                     bool hasPermission = false;
                     if (Model.AllowAdd())
                     {
                         hasPermission = true;
                     } 
                                                                                                    
                     <div>
                         @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                               .Name("BtnClose")
                               .Events(e => e.Click(hasPermission ? "SF0006.close_Click" : "ASOFT.asoftPopup.closeOnly")))
                     </div>
                      <div>
                         @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                               .Name("SF0006SaveNew")
                               .Events(m => m.Click("SF0006.save_Click"))
                               )
                     </div>                
                                         
                 }  
                </div>
             </td> 
                     
         </tr>                           
     </table>
  </div><!--End:asf-table-view-->
}
@section jsFeature {
    <script src="@Url.Content("~/Areas/S/Scripts/SF0006.js?v=" + ASOFTEnvironment.Version)" type="text/javascript"></script>
}
@section styleFeature
 {
    <link href="@Url.Content("~/Areas/S/Content/SF0006.css")" rel="stylesheet" type="text/css" />
}