
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel
@using System.Web.UI.WebControls;
@using ASOFT.ERP.ViewModel.Helper;

@Html.ASOFTHidden("ShopID", ASOFT.ERP.POS.Business.POSSettings.GetShopID())
 <div class="container_12" style="height: 130px">
     <div class="container3">
           <div class="container2 line_right">
                <div class="container1 line_right">
                     <div class="grid_4 alpha col1" style="width: 45%">
                           <div class="asf-filter-main">
                                @{
                                ViewDataDictionary ViewDT = new ViewDataDictionary();
                                ViewDT["Module"] = ViewBag.Module;
                                ViewDT["ScreenID"] = ViewBag.ScreenID;
                                ViewDT["ScreenType"] = "Filter";
                            }
                                @Html.Partial(string.Format(@"../Shared/Control/PeriodCheckList"), Model, ViewDT)
                           </div>
                         <div class="asf-filter-main">
                             <div class="asf-filter-label">
                                @LocalizedHelper.GetLocalizedResourceString("POSF00162.VoucherNo","POSF00162","POS")
                            </div>
                             <div class="asf-filter-input">
                                    @Html.ASOFTTextBox(m => m.Data, htmlStyle: new { width = Unit.Percentage(100) }, htmlAttribute: new { @id = "VoucherNo" })                  
                              </div>
                          </div>
                     </div>
                    <div class="grid_4_1 col2"  style="width: 50%">
                         <table class="asf-table-view">                                   
                               <tbody>
                                   <tr>
                                        <td class="container_label">@LocalizedHelper.GetLocalizedResourceString("POSF00162.MemberName","POSF00162","POS")</td>
                                        <td class="container_control">
                                           @Html.ASOFTTextBox(m => m.Data, htmlStyle: new { width = Unit.Percentage(100) }, htmlAttribute: new { @id = "MemberName" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="container_label">@LocalizedHelper.GetLocalizedResourceString("POSF00162.SaleManName","POSF00162","POS")</td>
                                        <td class="container_control">
                                           @Html.ASOFTTextBox(m => m.Data, htmlStyle: new { width = Unit.Percentage(100) }, htmlAttribute: new { @id = "SaleManName" })
                                        </td>
                                    </tr>
                               </tbody>
                          </table>
                    </div>                 
           </div>  
    </div>
     <div class="container_12 asf-form-button">
            <ul>
                 <li>
                    @(Html.ASOFTSearchButton()
                          .Name("BtnFilter")
                          .Events(e => e.Click("BtnFilter_Click"))
                          )
                </li>
            </ul>
        </div> 
     </div>
