@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     04/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF0170ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF0170Title, "DRF0170").ToHtmlString();
    ViewBag.Width = 600;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id="DRF0170" }))
{
    <div class="asf-form-container">
        <div class="form-content">
            <fieldset>
                <legend>@Html.ASOFTLabel(model=>model.FFeeCoefficient)</legend>
                @(Html.ASOFTTab()
                      .Name("DRF0170Tab")
                      .Items(tabstrip =>
                      {
                          tabstrip.Add().Text(Html.ASOFTRaw(model => model.DRF0170Tab01Title))
                              .Selected(true)
                              .HtmlAttributes(new { @id = "TabMaster01" })
                              .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                              .Content(Tab01().ToHtmlString());

                          tabstrip.Add().Text(Html.ASOFTRaw(model => model.DRF0170Tab02Title))
                              .HtmlAttributes(new { @id = "TabMaster02" })
                              .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                              .Content(Tab02().ToHtmlString());

                          tabstrip.Add().Text(Html.ASOFTRaw(model => model.DRF0170Tab03Title))
                             .HtmlAttributes(new { @id = "TabMaster02" })
                             .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                             .Content(Tab03().ToHtmlString());

                      })
                      )
            </fieldset>
        </div>
    </div>
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td align="right">
                    <div class="asf-popup-button-container">
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                  .Name("BtnClose")
                                  .Events(e => e.Click("DRF0170.btnClose_Click")))
                        </div>
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                    .Name("BtnConfig")
                                    .Events(e => e.Click("DRF0170.btnConfig_Click")))
                        </div>    
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@helper Tab01()
{
    <table class="asf-table-view">
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee1Coefficient1)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee1Coefficient1)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee1Coefficient2)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee1Coefficient2)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee1Coefficient3)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee1Coefficient3)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee1Coefficient4)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee1Coefficient4)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee1Coefficient5)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee1Coefficient5)</td>
        </tr>
    </table>
}


@helper Tab02()
{
    <table class="asf-table-view">
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee2Coefficient1)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee2Coefficient1)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee2Coefficient2)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee2Coefficient2)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee2Coefficient3)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee2Coefficient3)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee2Coefficient4)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee2Coefficient4)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee2Coefficient5)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee2Coefficient5)</td>
        </tr>
    </table>
}

@helper Tab03()
{
    <table class="asf-table-view">
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee3Coefficient1)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee3Coefficient1)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee3Coefficient2)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee3Coefficient2)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee3Coefficient3)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee3Coefficient3)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee3Coefficient4)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee3Coefficient4)</td>
        </tr>
        <tr>
            <td class="drf-td">@Html.ASOFTLabel(model => model.FFee3Coefficient5)</td>
            <td colspan="2">@Html.ASOFTSpinEdit(model => model.FFee3Coefficient5)</td>
        </tr>
    </table>
}


    
@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF0170/DRF0170.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}