@using System.Web.UI.WebControls
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel.POS

@model POSF0047ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.POSF0047Title, "POSF0047");
}

<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel() { Title = Html.ASOFTRaw(m => m.POSF0047Title), Breakcrumb = true })
    <div class="full-fieldset">
        <div class="block-left">
            @(Html.ASOFTPanel()
                .Name("panelbar")
                .HtmlAttributes(new { @class = "block-panel-master" })
                .Animation(animation => animation.Enable(true))
                .Items(panelbar => panelbar.Add().Text(Html.ASOFTRaw(model => model.ReportBH))
                                        .HtmlAttributes(new { @class = "block-panel-master-header" })
                                        .Expanded(true).Content(Html.Partial("GridBH").ToHtmlString())))
        </div>
          
        <div class="block-right">
            @(Html.ASOFTPanel()
                .Name("panelbarrigth")
                .HtmlAttributes(new { @class = "block-panel-master" })
                .Animation(animation => animation.Enable(true))
                .Items(panelbar => panelbar.Add().Text(Html.ASOFTRaw(model => model.ReportCL)).HtmlAttributes(new { @class = "block-panel-master-header" })
                                        .Expanded(true).Content(Html.Partial("GridCL").ToHtmlString())))
        </div>
    </div>
    <div class="full-fieldset">
        <div class="block-left">
            @(Html.ASOFTPanel()
                .Name("panelbarNK")
                .HtmlAttributes(new { @class = "block-panel-master" })
                .Animation(animation => animation.Enable(true))
                .Items(panelbar => panelbar.Add().Text(Html.ASOFTRaw(model => model.ReportNK))
                                        .HtmlAttributes(new { @class = "block-panel-master-header" })
                                        .Expanded(true).Content(Html.Partial("GridNK").ToHtmlString())))
        </div>

        <div class="block-right">
            @(Html.ASOFTPanel()
                .Name("panelbarXNT")
                .HtmlAttributes(new { @class = "block-panel-master" })
                .Animation(animation => animation.Enable(true))
                .Items(panelbar => panelbar.Add().Text(Html.ASOFTRaw(model => model.ReportXNT))
                                        .HtmlAttributes(new { @class = "block-panel-master-header" })
                                        .Expanded(true).Content(Html.Partial("GridXNT").ToHtmlString())))
        </div>
    </div>
</div>

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0047.js")" type="text/javascript"></script>
}

@section styleFeature
 {
    <link href="@Url.Content("~/Content/Styles/RWD/Report/ReportRWD.css")" rel="stylesheet" type="text/css" />
}
