@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     18/07/2013      Thai Son        Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core

@model ASOFT.ERP.ViewModel.POS.POSF0043ViewModel
@{
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewBag.Title = @Html.ASOFTPageTitle(model => model.Title, "POSF0043").ToHtmlString();

}


@section Header {
    @Html.ASOFTHeader(new ASOFT.ERP.A00.Entities.Common.HeaderModel
    {
        Title = Html.ASOFTPageTitle(model => model.Title, "POSF0043").ToHtmlString(),
        Breakcrumb = true
    })

    @Html.ASOFTHidden("UrlPreExportData", Url.Action("PreExportData"))
    @Html.ASOFTHidden("UrlExportData", Url.Action("ExportData"))
    @Html.ASOFTHidden("UrlActive", Url.Action("SetEnabled"))
    @Html.ASOFTHidden("UrlDeactive", Url.Action("SetDisabled"))
    @Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
    @Html.ASOFTHidden("UrlDetail", Url.Action("POSF0044"))
    @Html.ASOFTHidden("UrlInsert", Url.Action("POSF0044"))
    @Html.ASOFTHidden("UrlGridData", Url.Action("GetGridData"))
    @Html.ASOFTHidden("ReportID", "POSR0002")
    @Html.ASOFTHidden("UrlParameter", "TypeNo")
    @Html.ASOFTHidden("IdentityColumn", "TypeNo")
}

@section FilterCol1 {
    <tr>
        <td>@Html.ASOFTLabel(model => model.DivisionIDFilter)</td>
        <td>
            @(Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter))
        </td>
    </tr>
}

@section FilterCol2 {
    <tr>
        <td>@Html.ASOFTLabel(model => model.TypeNo)</td>
        <td>
            @Html.ASOFTTextBox(model => model.TypeNo, htmlStyle: new
                           {
                               width = Unit.Percentage(100)
                           })
        </td>
    </tr>
}

@section FilterCol3 {


    <tr>
        <td>@Html.ASOFTLabel(model => model.TypeName)</td>
        <td>
            @Html.ASOFTTextBox(model => model.TypeName, htmlStyle: new
                           {
                               width = Unit.Percentage(100)
                           })
        </td>
    </tr>


}

@section Grid {
    @Html.Partial("GridCardType")

}
@section FilterButtons {
    <li>
        @(Html.ASOFTSearchButton()
                          .Name("BtnFilter")
                          //.Events(e => e.Click("POSF0043BtnFilterClick"))
                          )

    </li>
    <li>
        @(Html.ASOFTSearchResetButton()
                          .Name("BtnClearFilter")
                          //.Events(e => e.Click("POSF0043BtnClearFilterClick"))
                          )
    </li>
}

@section GridToolBar {
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())

}

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF00431.js")" type="text/javascript"></script>
}



