@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     18/07/2013      Thai Son        Tạo mới
//####################################################################
*@
@model ASOFT.ERP.ViewModel.POS.POSF0044ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(model => model.Title, "POSF0044").ToHtmlString();
    ViewBag.Width = 900;
}


<div class="asf-form-container">
    @using (Html.BeginForm(null, null, FormMethod.Post, new
    {
        id = "POSF0044"
    }))
    {
      
        <span class="asf-disabled-visibility">
                @Html.ASOFTTextBox(model => model.LastModifiedDateTicks)
                @Html.ASOFTTextBox(model => model.APK)
                @Html.ASOFTTextBox(model => model.FormStatus)

        </span>
        <div class="container_12">
            <div class="grid_6 line_right">
                <table class="asf-table-view">
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.TypeNo)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.TypeNo,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.TypeName)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.TypeName,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.DiscountRate)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.DiscountRate,
                        htmlStyle: new
                        {
                            width = Unit.Percentage(100)
                        })

                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid_6">
                <table class="asf-table-view">
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.FromScore)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.FromScore,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.ToScore)</td>
                        <td>
                            @Html.ASOFTTextBox(model => model.ToScore,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })

                        </td>
                    </tr>
                    <tr>
                        <td>@Html.ASOFTLabel(model => model.Disabled)</td>
                        <td>
                            @Html.ASOFTCheckbox(model => model.Disabled)

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td>
                        <div class="asf-popup-button-container">
                            @if (Model.FormStatus == ASOFTFormActionType.AddNew)
                            {
                                bool hasPermission = false;
                                if (Model.AllowAdd())
                                {
                                    hasPermission = true;
                                }                                           
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                          .Name("btnClose")
                                          .Events(e =>
                                              e.Click(hasPermission ? "btnSaveClose_Click" : "ASOFT.asoftPopup.closeOnly")))
                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                          .Name("btnSaveCopy")
                                          .Events(e => e.Click("btnSaveCopy_Click"))
                                          .Enable(hasPermission)
                                          )

                                </div>
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                          .Name("btnSaveContinue")
                                          .Events(e => e.Click("btnSaveContinue_Click"))
                                          .Enable(hasPermission))

                                </div>
                            }
                            else
                            {

                                bool hasPermission = false;
                                if (Model.CheckPermission("POSF00111", ASOFTPermission.Update))
                                {
                                    hasPermission = true;
                                }                                
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                          .Name("btnClose")
                                          .Events(e =>
                                              e.Click(hasPermission ? "btnClose_Click" : "ASOFT.asoftPopup.closeOnly")))
                                </div>
                                
                                
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                          .Name("btnSave")
                                          .Events(e => e.Click("btnSave_Click"))
                                          .Enable(hasPermission))


                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0044.js")" type="text/javascript"></script>
}

@section styleFeature{
    @*<link href="@Url.Content("~/Areas/POS/Content/POSF0044.css")" rel="stylesheet" type="text/css" />*@
}