@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#    23/09/2015      Quang Chiến       Tạo mới
//####################################################################
*@

@using System.Web.UI.WebControls
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.S;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;

@model SF1040ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.SF1040Title, "SF1040").ToHtmlString();
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewData.Add("MainView", this);
}

@section Header {
    <!-- Header BreakCrumb -->
    @Html.ASOFTHeader(new HeaderModel
                          {
                              Title = Html.ASOFTPageTitle(m => m.SF1040Title, "SF1040").ToHtmlString(),
                              Breakcrumb = true
                          })
}

@Html.Partial("FormFilter")

<!-- Filter buttons -->
@section FilterButtons {
    <!-- Search button -->
    <li>
        @(Html.ASOFTSearchButton()
              .Name("BtnFilterSF1040")
              .Events(e => e.Click("SF1040.btnFilter_Click"))
              )
    </li>
    
    <!-- Reset button -->
    <li>
        @(Html.ASOFTSearchResetButton()
            .Name("BtnResetFilterSF1040")
            .Events(e => e.Click("SF1040.btnClearFilter_Click"))
            )
    </li>
}

@section GridToolBar {
    <!-- Toolbar buttons -->
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}

@section Grid {
    <!-- Grid master -->
    @Html.Partial("GridHistory")
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/S/Scripts/SF1040.js?v=" + ASOFTEnvironment.Version)"></script>
    
}

@section styleFeature {
    @*<link href="@Url.Content("~/Areas/S/Content/Common.css")" rel="stylesheet" type="text/css" />*@
}

