@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created           Comment
//#     23/07/2014      Hồ Hoàng Tú       Tạo mới
//####################################################################
*@
@*@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0052ViewModel
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.A00.Entities.Database
@{
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewBag.Title = @Html.ASOFTRaw(m => m.Title);
}
@Html.ASOFTHidden("EnableRecord", Url.Action("SetEnabled"))
@Html.ASOFTHidden("DisableRecord", Url.Action("SetDisabled"))
@section Header
 {
        @Html.ASOFTHeader(new HeaderModel { Title = Html.ASOFTPageTitle(model => model.Title, "POSF0052").ToHtmlString(), Breakcrumb = true })
}
@section FilterCol1
     {
                          <tr>
                        <td>@Html.ASOFTLabel(model => model.DivisionIDFilter)</td>
                        <td>
                            @Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                        </tr>
                         <tr>
                        <td>@Html.ASOFTLabel(model => model.ShopID)</td>
                        <td>                           
                             @Html.ASOFTBussinessComboBox().ASOFTShopIDLST(model=>model.ShopID,
                            htmlStyle: new { width = Unit.Percentage(100) })  
                        </td>
                        </tr>               
   }
@section FilterCol2
{                          
                        <tr>
                        <td>@Html.ASOFTLabel(model => model.AreaID)</td>
                        <td>
                            @Html.ASOFTBussinessComboBox().ASOFTAreaIDLST(model=>model.AreaID, 
                            htmlStyle: new { width = Unit.Percentage(100) })                          
                          </td>                             
                        </tr>  
                        <tr>

                        <td>@Html.ASOFTLabel(model => model.TableID)</td>
                         <td>
                            @Html.ASOFTTextBox(model => model.TableID, 
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>                        
                        </tr>   
}
@section FilterCol3
{
                        <tr>
                        <td>@Html.ASOFTLabel(model => model.TableName)</td>
                                         <td>
                            @Html.ASOFTTextBox(model => model.TableName, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>                        
                        </tr>         
                           
    
}

@section GridToolBar {
            @if (Model.Toolbar1 != null)
            {              
                Model.Toolbar1.EventAdd = "ShowEditorFrame";
                Model.Toolbar1.EventDelete = "btnDelete_Click";           
                Model.Toolbar1.EventShow = "btnEnable_Click";
                Model.Toolbar1.EventHide = "btnDisable_Click";
                Model.Toolbar1.DisplayShow = true;                  
            }
            @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}
@section FilterButtons {
                <li>
                    @(Html.ASOFTSearchButton()
                          .Name("POSF0052BtnFilter")
                          .Events(e => e.Click("posf0052BtnFilter_Click")) )
                 </li>
                <li>
                    @(Html.ASOFTSearchResetButton()
                         .Name("POSF0052BtnClearFilter")
                         .Events(e => e.Click("posf0052BtnClearFilter_Click")) )
                </li>
}
@section Grid {
    @Html.Partial("GridTableCategory")
}
@(Html.ASOFTPopup()
    .Name("POSF0053Popup")
    .Width(800)
    .Title(String.Format(Html.ASOFTRaw(model => model.Title), "thêm"))
)
@section jsFeature 
{
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0052.js")" type="text/javascript"></script>
}*@


@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created           Comment
//#     23/07/2014      Hồ Hoàng Tú       Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.POS.POSF0052ViewModel
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.A00.Entities.Database
@{
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewBag.Title = @Html.ASOFTRaw(m => m.Title);
}
@Html.ASOFTHidden("EnableRecord", Url.Action("SetEnabled"))
@Html.ASOFTHidden("DisableRecord", Url.Action("SetDisabled"))
@section Header
 {
        @Html.ASOFTHeader(new HeaderModel { Title = Html.ASOFTPageTitle(model => model.Title, "POSF0052").ToHtmlString(), Breakcrumb = true })
}
@section FilterCol1
     {
                          <tr>
                        <td>@Html.ASOFTLabel(model => model.DivisionIDFilter)</td>
                        <td>
                            @Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter,
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                        </tr>
                         <tr>
                        <td>@Html.ASOFTLabel(model => model.ShopID)</td>
                        <td>                           
                             @Html.ASOFTBussinessComboBox().ASOFTShopIDLST(model=>model.ShopID,
                            htmlStyle: new { width = Unit.Percentage(100) })  
                        </td>
                        </tr>               
   }
@section FilterCol2
{                          
                        <tr>
                        <td>@Html.ASOFTLabel(model => model.AreaID)</td>
                        <td>
                            @Html.ASOFTBussinessComboBox().ASOFTAreaIDLST(model=>model.AreaID, 
                            htmlStyle: new { width = Unit.Percentage(100) })                          
                          </td>                             
                        </tr>  
                        <tr>

                        <td>@Html.ASOFTLabel(model => model.TableID)</td>
                         <td>
                            @Html.ASOFTTextBox(model => model.TableID, 
                            htmlStyle: new { width = Unit.Percentage(100) })
                        </td>                        
                        </tr>   
}
@section FilterCol3
{
                        <tr>
                        <td>@Html.ASOFTLabel(model => model.TableName)</td>
                                         <td>
                            @Html.ASOFTTextBox(model => model.TableName, htmlStyle: new { width = Unit.Percentage(100) })
                        </td>
                        </tr>        
                        <tr>
                         <td>@Html.ASOFTLabel(model => model.DisabledFilter)</td>
                        <td>
                            @(Html.ASOFTBussinessComboBox().ASOFTCiCodeMasterDisabled(model => model.DisabledFilter, htmlStyle: new
                                    {
                                        width = Unit.Percentage(100)
                                    }))
                        </td>
                        <td>
                            @(Html.ASOFTBussinessComboBox().ASOFTCiCodeMasterDisabled(model => model.IsCommonFilter, htmlStyle: new
                                    {
                                        width = Unit.Percentage(100)
                                    }))
                        </td>    
                        </tr> 
                           
    
}

@section GridToolBar {
            @if (Model.Toolbar1 != null)
            {              
                Model.Toolbar1.EventAdd = "ShowEditorFrame";
                Model.Toolbar1.EventDelete = "btnDelete_Click";           
                Model.Toolbar1.EventShow = "btnEnable_Click";
                Model.Toolbar1.EventHide = "btnDisable_Click";
                Model.Toolbar1.EventPrint = "btnPrint_Click";
                Model.Toolbar1.DisplayPrint = true;
                Model.Toolbar1.DisplayShow = true;                  
            }
            @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}
@section FilterButtons {
                <li>
                    @(Html.ASOFTSearchButton()
                          .Name("POSF0052BtnFilter")
                          .Events(e => e.Click("posf0052BtnFilter_Click")) )
                 </li>
                <li>
                    @(Html.ASOFTSearchResetButton()
                         .Name("POSF0052BtnClearFilter")
                         .Events(e => e.Click("posf0052BtnClearFilter_Click")) )
                </li>
}
@section Grid {
    @Html.Partial("GridTableCategory")
}
@(Html.ASOFTPopup()
    .Name("POSF0053Popup")
    .Width(800)
    .Title(String.Format(Html.ASOFTRaw(model => model.Title), "thêm"))
)
@section jsFeature 
{
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0052.js")" type="text/javascript"></script>
}