@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using Kendo.Mvc;
@using ASOFT.ERP.ViewModel.S
@model ASOFT.ERP.ViewModel.S.SF1002ViewModel
@helper Group02()
{
    
    <div class="asf-master-content">
        <div class="asf-content-block-sys left">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateUserID"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CreateUserID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateDate"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CreateDate)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block-sys right">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyUserID"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LastModifyUserID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyDate"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LastModifyDate)</td>
                </tr>
            </table>
        </div>
    </div>  
    
}
@helper Group01()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.EmployeeID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.EmployeeID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.FullName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FullName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DivisionID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DivisionID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.DepartmentName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DepartmentName)</td>
                </tr> 
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.QuantityMax)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.QuantityMax)</td>
                </tr> 
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.TeamID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.TeamID)</td>
                </tr> 
                  <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.Tel)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Tel)</td>
                  </tr> 
                 <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.Fax)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Fax)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.Email)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Email)</td>
                </tr> 
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.FunctionID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FunctionID)</td>
                </tr>          
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                 <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.Address)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Address)</td>
                </tr>
               
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.Disabled)</td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @{ string disabled = Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                        @disabled
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.IsCommon)</td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @{ string iscommon = Model.IsCommon ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                        @iscommon
                    </td>
                </tr>
                   <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.IsLock)</td>
                    <td class="dot"></td>
                    <td class="content-text">@{var Lock = Model.IsLock ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                        @Lock
                    </td>
                </tr>

            </table>
        </div>

    </div>              
}

@helper Group03()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                  <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Birthday)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Birthday)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.HireDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.HireDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.EndDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.EndDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Nationality)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Nationality)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block middle">
             <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.IndentificationNo)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.IndentificationNo)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.DutyName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DutyName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.PassportNo)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.PassportNo)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.BankAccountNumber)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.BankAccountNumber)</td>
                </tr>
            </table>
         </div>
         <div class="asf-content-block last">
              <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.GenderName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.GenderName)</td>
                </tr>
                  <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.MarriedStatusName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.MarriedStatusName)</td>
                </tr>
                <tr>
                    <td style="vertical-align:top !important; border:none;">@Html.ASOFTLabel(model => model.Image01ID)</td>
                    <td class="dot"></td>
                    <td style="vertical-align:top !important; border:none;" align="left">
                        @Html.ASOFTLogo("SF1000", "Avatar", new { area = "S" }, width:150, height:150)
                    </td>
                </tr>
            </table>
         </div>
    </div>
}

@helper History()
{
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.History")
    </div>
}
@helper Attach()
{
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.Attach")
    </div>
}
<script>
    $(document).ready(function () {
        ASOFT.form.setSameWidth("asf-content-block");
    });
</script>
@(Html.Kendo().PanelBar()
      .Name("panelbar")
      .HtmlAttributes(new { @class = "block-panel-master" })
      .Events(m => m.Activate("ASOFT.panelFormat.fitColumnHeight"))
      .Animation(animation => animation.Enable(true))
      .Items(panelbar =>
      {
          panelbar.Add().Text(Html.ASOFTRaw(m => m.SF1002Group01Title))
          .HtmlAttributes(new { @class = "block-panel-master-header" })
          .Expanded(true).Content(this.Group01().ToHtmlString());
          panelbar.Add().Text(Html.ASOFTRaw(m => m.SF1002Group02Title))
           .HtmlAttributes(new { @class = "block-panel-master-header" })
           .Expanded(true).Content(this.Group03().ToHtmlString());
          panelbar.Add().Text(Html.ASOFTRaw(m => m.SF1002Group03Title))
           .HtmlAttributes(new { @class = "block-panel-master-header" })
          .Expanded(true).Content(this.Group02().ToHtmlString());

          //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);

      }
))

