@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using Kendo.Mvc;
@model IEnumerable<ASOFT.ERP.ViewModel.DRM.DRF2080ViewModel>


@{ 
    Layout = "";
    
    int count = ViewBag.Html.Count;
    int num = 1;
}
<link rel="Stylesheet" href="~/Content/Styles/asoftRD.css" />
<script src="~/Scripts/jquery-1.8.3.js"></script>
<script src="~/Scripts/jquery-1.6.4.js"></script>

<title>Công văn Công An</title>

@Html.ASOFTHidden("count", @count.ToString())
<div style="width: 674px; margin-left: auto;margin-right: auto;text-align:justify">

@foreach (var item in ViewBag.Html)
{        
    <div id="@num.ToString()" style="@(@num<@count?"page-break-after: always;font-size: 12px;":"font-size: 12px;")"> 
    
   <div id="Header">
    <div class="asf-icon-logo_xr" ></div>    
    <div style="margin-top: 10px">           
        Số: @item.SendNo
    </div>
    <div>
        V/v: Báo cáo danh sách khách nợ
    </div>
    </div>
        <div id="Content">
    <div style="margin-bottom: 10px; margin-left:50px;  margin-top: 20px; text-align: justify">
        <p style="border-bottom: 1px solid black; display: inline; font-weight: bold">Kính gửi</p>
        : Phòng Cảnh sát QLHC về trật tự xã hội( PC 64) Công an Tp.Hồ Chí Minh
        <div style="margin-left:20px">          
            BCH Công an @item.Address
        </div> 
        - 	Căn cứ Nghị định số 72/2009/NĐ-CP ngày 03/9/2009 của Thủ tướng Chính Phủ;<br />
        - 	Căn cứ Điều 6 điểm O Thông Tư số 33/2010/TT-BCA ngày 05/10/2010 của Bộ Công An;<br />
        -	Căn cứ Giấy phép ĐKKD số 0303505994 do Sở KHĐT Tp. Hồ Chí Minh cấp ngày 07/7/2004.<br />
    </div>

    <div style="margin-bottom: 10px">
        <p style="font-weight: bold">CÔNG TY CỔ PHẦN THU HỒI NỢ XƯƠNG RỒNG</p>
        Địa chỉ: 105 Nguyễn Thị Thập, Phường Tân Hưng, Quận 7, Tp.Hồ Chí Minh.<br />
         <div style="display: inline; margin-right:200px">Điện thoại: 08.62978642</div>
         Fax: 08.62978643
    </div>
    
    <div style="margin-bottom: 10px">
        Lập danh sách khách nợ mà công ty chúng tôi đang thực hiện thu hồi nợ gửi đến:
        <div style="margin-left:20px">   
        -	Phòng Cảnh sát QLHC về trật tự xã hội (PC 64) Công an Tp.Hồ Chí Minh;<br />
        -	Công an @item.Address để theo dõi và hỗ trợ theo quy định.
        </div>
    </div>
    <div style="margin-bottom: 10px">
        <table>
            <tr>
                <td align="left">
                    <p style="font-weight: bold;text-decoration: underline;" >
                    TÊN KHÁCH HÀNG
                        </p>
                </td>
                <td align="left">
                    <p style="font-weight: bold;text-decoration: underline;" >
                    ĐỊA CHỈ
                        </p>
                </td>
            </tr>
           @for (int i = 0; i < item.DebtorNameList.Length; i++)
           {
               <tr>
                <td align="left" style="width:50%">
                   @(item.DebtorNameList[i])
                </td>
                <td align="left" style="width:50%">
                     @(item.DebtorAddressList[i])
                       
                </td>
            </tr>
           } 
        </table>
    </div>
    <div style="margin-bottom: 10px">
        Trân trọng kính chào.
    </div>
	<div style="margin-bottom: 10px">
		<table style="width:100%">
            <tr>
                <td align="left">Nơi nhận:  <br />
                - Như trên (để theo dõi quản lý) <br />
                - Cty lưu file Excel
                </td>
                <td align="right">
                    Tp. Hồ Chí Minh, ngày @item.DayPrintDate tháng @item.MonthPrintDate năm @item.YearPrintDate                   
                </td>
            </tr>   
            <tr>
                <td>
                </td>
                <td align="right">
                    
                     <p style="font-weight: bold; margin-bottom:70px"
                        >
                        Giám Đốc Điều Hành
                        </p>  
                    <p style="font-weight: bold"
                        >Lê Hữu Trí
                        </p>  
                </td>
            </tr>                 
        </table>		
		
	</div>     
 </div>                
        </div>
    num++;
}
 </div>




@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
   @* <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2000/DRF2000.js")"></script>*@
}