@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     04/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@using System.Web.Optimization
@model CIF0010ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "CIF0010").ToHtmlString();
    ViewBag.Width = 500;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Save"))
@Html.ASOFTHidden("UrlCheckUpdate", Url.Action("CheckServer"))
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "CIF0010"}))
{
 <div class="asf-form-container">
    <div class="form-content">
            <table class="asf-table-view">
                 <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Server)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model => model.Server))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Port)</td>
                    <td class="asf-td-field" >
                        @(Html.ASOFTSpinEdit(model => model.Port).Format("#"))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Email)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model => model.Email))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.DisplayName)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model => model.DisplayName))
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Password)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTPassWord(model => model.Password))
                    </td>
                </tr>
                 <tr>
                    <td class="asf-td-caption"></td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTCheckbox(model => model.EnableSsl))
                    </td>
                </tr>
            </table>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("CIF0010.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                .Name("BtnConfig")
                                .Events(e => e.Click("CIF0010.btnConfig_Click")))
                    </div>    
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnCheckConfig"))
                                .Name("BtnCheckConfig")
                                .Events(e => e.Click("CIF0010.btnCheckConfig_Click")))
                    </div>                         
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
@*    <link href="@Url.Content("~/Areas/DRM/Content/DRF2001.css")" rel="stylesheet" type="text/css" />*@
}

@section jsFeature {
    @Scripts.Render("~/Areas/CI/Scripts/CIF0010.js?v=" + ASOFTEnvironment.Version)
    @*<script src="@Url.Content("~/Areas/CI/Scripts/CIF0010.js?v=" + ASOFTEnvironment.Version)"></script>*@
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}