@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     07/07/2014      Thai Son        Tạo mới
//####################################################################
*@
@model ASOFT.ERP.ViewModel.POS.POSF0040ViewModel

@*<div class="grid_12 pos_button">
    <div class="control1">@(Html.ASOFTButton(caption: Html.ASOFTRaw(model => model.ChangeInventory))
        .Name("BtnChangeInventory")
        .Enable(Model.IsBuy && Model.FormStatus == ASOFTFormActionType.Edit && Model.AllowUpdate())
        .Icon("asf-i-return")
        .Events(e => e.Click("btnChangeInventory_Click"))
        .HtmlAttributes(new Dictionary<string, Object> {
            {"class", "asf-button"}
        }))
    </div>
</div>*@
<div class="grid_12 pos_button">
    <div class="control1">@(Html.ASOFTButton(caption: Html.ASOFTRaw(model => model.Extension))
        .Name("btnExtension")
        //.Icon("asf-i-return")
        .ImageUrl("/Content/Images/morong.png")
         .Events(e => e.Click("ASOFTCORE.events.button_Clicked"))
        .HtmlAttributes(new Dictionary<string, Object> {
            {"class", "asf-button"},
            {"data-asf-event-handler", "btnExtension_Click"},
        }))
    </div>
</div>
<div class="grid_12 pos_button">
    <div class="control1">
        @(Html.ASOFTButton(caption: Html.ASOFTRaw(model => model.ChooseTable))
                            .Name("btnChooseTable")
                            //.Icon("asf-i-return")
                            .ImageUrl("/Content/Images/gopban1.png")
                            .Events(e => e.Click("ASOFTCORE.events.button_Clicked"))
                            .HtmlAttributes(new Dictionary<string, Object> {
                                {"class", "asf-button"},
                                {"data-asf-event-handler", "btnChooseTable_Click"}
                            }))


        @*        @(Html.ASOFTButton(caption: Html.ASOFTRaw(model => model.ChooseTable))
        .Name("btnChooseTable")
        .Events(e => e.Click("ASOFTCORE.events.button_Clicked"))
        .Icon("asf-i-reset")
        .HtmlAttributes(new Dictionary<string, Object> {
            {"class", "asf-button"},
            {"data-event-handler", "btnChooseTable_Click"}
        })
        )*@
    </div>
</div>
<div class="grid_12 pos_button">
    <div class="control2 pay">
        @(Html.ASOFTButton()
        .Name("btnSave")
        .Enable(Model.AllowAdd() || Model.AllowUpdate())
        .Content(Html.ASOFTRaw(model => model.Accept))
        //.Icon("asf-i-pay")
        .ImageUrl("/Content/Images/pay.png")
        .Events(e => e.Click("btnSave_Click"))
        .HtmlAttributes(new Dictionary<string, Object> {
        {"class", "asf-button"}
        })
        )
    </div>
</div>

