@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     27/10/2014      Trí Thiện       Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel.BI;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Business;
@using ASOFT.ERP.ViewModel;
@using Kendo.Mvc.UI;

@model BF0001ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = "Thiết lập biểu đồ - BF0001";//Html.ASOFTPageTitle(model => model.BF0001Title, "BF0001").ToHtmlString();
    ViewBag.Width = 600;
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/BI/Scripts/BF0000/BF0001.js")"></script>
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "BF0001" }))
{
    <div class="asf-form-container">
        <div class="drf0140-form-content">
            <fieldset>
                 <legend><b>
                     @*@Html.ASOFTRaw(model => model.Group01Title)*@
                     Thiết lập
                         </b></legend>
                 <table style="width:100%">
                     <tr>
                         <td class="content-label">
                             @*@Html.ASOFTLabel(model => model.Chart)*@
                             Dạng biểu đồ
                         </td>
                         <td class="asf-td-field" colspan="2">
                              @(Html.Kendo().ComboBox()
          .Name("fabric")
          .Filter("contains")
          .Placeholder("Chọn dữ liệu...")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "Cột", Value = "1"   
              },
              new SelectListItem() {
                Text = "Đường", Value = "2"   
              },
              new SelectListItem() {
                Text = "Tròn", Value = "3"   
              }
          })
          .SelectedIndex(3)
          .Suggest(true)
          .HtmlAttributes(new { style="width:100%;" })
    )
                              @*@(Html.ASOFTTextBox(model => model.Chart, null, new { width = Unit.Percentage(100) }).ReadOnlyIf(true))</td>*@
                    </tr>
                    <tr>
                        <td class="content-label" style="width:20%">
                            @*@Html.ASOFTLabel(model => model.ReportID)*@
                            Báo cáo
                        </td>
                        <td class="asf-td-field" style="width:20%">
                           
                             @(Html.ASOFTTextBox(model => model.ReportID, null, new { width = Unit.Percentage(100) }).ReadOnlyIf(true))
                        </td>
                        <td class="asf-td-field">
                             @(Html.ASOFTTextBox(model => model.ReportName, null, new { width = Unit.Percentage(100) }).ReadOnlyIf(true))
                        </td>
                    </tr>
                    <tr>
                         <td class="content-label">
                             @*@Html.ASOFTLabel(model => model.Title)*@
                             Tiêu đề
                         </td>
                         <td class="asf-td-field" colspan="2">@(Html.ASOFTTextBox(model => model.Title, null, new { width = Unit.Percentage(100) }))</td>
                    </tr>
                 </table>
            </fieldset>
            <fieldset>
                 <legend><b>
                     @*@Html.ASOFTRaw(model => model.Group02Title)*@
                     Tiêu chí lọc
                         </b></legend>
               @*@Html.Partial("PeriodFilter")*@
                 <table style="width:100%">
                    <tr>
                        <td class="content-label" style="width:20%">
                            @*@Html.ASOFTLabel(model => model.FromAccount)*@
                            Từ tài khoản
                        </td>
                        <td class="asf-td-field" style="width:20%">
                             @(Html.ASOFTTextBox(model => model.FromAccount, null, new { width = Unit.Percentage(100) }).ReadOnlyIf(true))
                        </td>
                        <td class="content-label" style="width:20%">
                            @*@Html.ASOFTLabel(model => model.ToAccount)*@
                            Đến tài khoản
                        </td>
                        <td class="asf-td-field">

                             @(Html.ASOFTTextBox(model => model.ToAccount, null, new { width = Unit.Percentage(100) }).ReadOnlyIf(true))
                        </td>
                    </tr>
                 </table>
            </fieldset>
            <div class="asf-form-button">
                 <table class="asf-table-view">
                    <tr>
                        <td align="right">
                            <div class="asf-popup-button-container">
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                          .Name("btnSave").Events(e => e.Click("BF0001.btnClose_Click"))
                                     )
                                </div></div>
                                 <div class="asf-popup-button-container">
                                <div>
                                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                          .Name("btnClose").Events(e => e.Click("BF0001.btnClose_Click"))
                                     )
                                </div>
                            </div>
                        </td>

                    </tr>
                 </table>
            </div>
        </div>
    </div>
}