@model List<ASOFT.ERP.A00.Core.Control.ASOFTMenuItem>
@{
    var mnuLevel1 = Model.Where(x => x.Level.Equals(1)).OrderBy(m => m.MenuOder);
    var mnuLevel2 = Model.Where(x => x.Level.Equals(2)).OrderBy(m => m.MenuOder);
    var IDDiv = "";
    var index = 0;
    var moduleID = string.Empty;
}

@foreach (var item in mnuLevel1)
{
    index = 0;
    //Kiểm tra menu level1 có bị disable và enable không
    if (item.Enable)
    {
        IDDiv = item.Name + "_div";
        <div style="width:auto; border-right: 0px solid #B2B2B2; display:none" class="asf-menu-sub-child-left" id="@IDDiv">
             <ul>
                @foreach (var item1 in mnuLevel2)
                {
                    if (item1.ParentID.Equals(item.Name))
                    {
                        if (item1.Visible)
                        {
                            if (!item1.Enable)
                            {
                                <li style="cursor:pointer" id="@item1.Name" class="asf-menu-active">
                                    <a style="color:#6E6E6E">@string.Format("{0}.{1}", ++index, item1.Text).Trim()</a>
                                </li>  
                            }
                            else
                            {
                                <li style="cursor:pointer" id="@item1.Name" class="asf-menu-active">
                                @if (string.IsNullOrEmpty(item1.Url))
                                {
                                    
                                    <a><img class="arrow" src="~/Content/Images/arrow.png"/>@string.Format("{0}.{1}", ++index, item1.Text).Trim() </a>
                                }
                                else
                                {
                                    if(@item1.Controller=="HF0405"){
                                    <a onclick="MenuShowPopup('@item1.Url')">@string.Format("{0}.{1}", ++index, item1.Text).Trim()</a>
                                    }else{
                                        <a href="@item1.Url" target="@item1.Target">@string.Format("{0}.{1}", ++index, item1.Text).Trim()</a>
                                     }
                                }
                                </li>
                            }
                        }
                    }
                }
            </ul>
        </div>
    }
}


