@model ASOFT.ERP.ViewModel.POS.POSF0017ViewModel
@{
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewBag.Title = @Html.ASOFTRaw(m => m.Title);

}


@section Header {
    @Html.ASOFTHeader(new ASOFT.ERP.A00.Entities.Common.HeaderModel
    {
        Title = Html.ASOFTPageTitle(model => model.Title, "POSF0017").ToHtmlString(),
        Breakcrumb = true
    })

    @Html.ASOFTHidden("UrlPreExportData", Url.Action("PreExportData"))
    @Html.ASOFTHidden("UrlExportData", Url.Action("ExportData"))
    @Html.ASOFTHidden("UrlActive", Url.Action("SetEnabled"))
    @Html.ASOFTHidden("UrlDeactive", Url.Action("SetDisabled"))
    @Html.ASOFTHidden("UrlDelete", Url.Action("DeleteMany"))
    @Html.ASOFTHidden("UrlDetail", Url.Action("POSF00171"))
    @Html.ASOFTHidden("UrlInsert", Url.Action("POSF00171"))
    @Html.ASOFTHidden("UrlGridData", Url.Action("GetGridData"))
    @Html.ASOFTHidden("ReportID", "POSR0002")
    @Html.ASOFTHidden("UrlParameter", "APK")
    @Html.ASOFTHidden("IdentityColumn", "APK")
}

@section FilterCol1 {
    @Html.Partial(@"../Shared/PeriodFilter",
    new ASOFT.ERP.ViewModel.A00.PeriodFilterViewModel())

    <tr>
        <td colspan="1">@Html.ASOFTLabel(model => model.DivisionIDFilter)</td>
       @* <td class="container_period_space"></td>*@
        <td colspan="4">@(Html.ASOFTBussinessComboBox()
                        .ASOFTDivisionIDList(model
                            => model.DivisionIDFilter,
                            htmlAttributes: new Dictionary<string, object> 
                            {
                                {"data-bind","value:DivisionIDFilter"}
                            }
                                                ))</td>
    </tr>
}

@section FilterCol2 {

    <tr>
        <td>@Html.ASOFTLabel(model => model.EmployeeNameFilter)</td>
        <td>
            @Html.ASOFTTextBox(model => model.EmployeeNameFilter, htmlStyle: new
                   {
                       width = Unit.Percentage(100)
                   })
        </td>
    </tr>
     <tr>
        <td>@Html.ASOFTLabel(model => model.VoucherNoFilter)</td>
        <td>
            @Html.ASOFTTextBox(model => model.VoucherNoFilter, htmlStyle: new
                   {
                       width = Unit.Percentage(100)
                   })
        </td>
    </tr>
    <tr>
        <td>@Html.ASOFTLabel(model => model.ShopIDFilter)</td>
        <td>
            @Html.ASOFTTextBox(model => model.ShopIDFilter, htmlStyle: new
                   {
                       width = Unit.Percentage(100)
                   })
        </td>
    </tr>

}

@section FilterCol3 {

    <tr>
        <td>@Html.ASOFTLabel(model => model.DescriptionFilter)</td>
        <td>
            @Html.ASOFTTextBox(model => model.DescriptionFilter, htmlStyle: new
           {
               width = Unit.Percentage(100)
           })
        </td>
    </tr>

}

@section Grid {
    @Html.Partial("GridVoucher")

}
@section FilterButtons {
    <li>
        @(Html.ASOFTSearchButton()
            .Name("POSF0017BtnFilter")
            .Events(e => e.Click("btnFilter_Click")))


    </li>
    <li>
        @(Html.ASOFTSearchResetButton()
            .Name("POSF0017BtnClearFilter")
            .Events(e => e.Click("btnReset_Click")))
    </li>
}

@section GridToolBar {
    @if (Model.Toolbar1 != null)
    {
        Model.Toolbar1.EventAdd = "addVoucher_Click";
        Model.Toolbar1.EventDelete = "btnDelete_Click";
        Model.Toolbar1.EventExport = "ExportClick";
    }
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml",
        Model.Toolbar1 ?? new ASOFTToolBarViewModel())

}

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0017.js")" 
        type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/POS/Scripts/POSFSearchPeriod.js")" 
        type="text/javascript"></script>

}

@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF0017.css")" 
        rel="stylesheet" type="text/css" />

}