@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     19/06/2014      Chanh Thi        Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Database


@model ASOFT.ERP.ViewModel.POS.POSF0033ViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(model => model.Title, "POSF0033").ToHtmlString();
    ViewBag.Width = 600;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "POSF0033"
}))
{ 
    <table class="asf-table-view">
        <thead>
            <tr class="tr-zero-height">
                <td class ="width150px"></td>
                <td class ="width350px"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.ASOFTLabel(model => model.CurrentShift)</td>
                <td>
                    @(Html.ASOFTBussinessComboBox().ASOFTCurrentShift(model => model.CurrentShift)
                .DataTextField(POST0026.COL_EMPLOYEEID)
                .DataValueField(POST0026.COL_EMPLOYEEID).Enable(false)
                        )
                        
                </td>
            </tr>
            <tr>
                 <td>@Html.ASOFTLabel(model => model.NextShift)</td>
                <td>
                    @(Html.ASOFTBussinessComboBox().ASOFTNextShift(model => model.NextShift)
                .DataTextField(POST0026.COL_EMPLOYEEID)
                .DataValueField(POST0026.COL_EMPLOYEEID)
                        )
                        
                </td>
            </tr>

            <tr>
                 <td>@Html.ASOFTLabel(model => model.Description)</td>
                <td>
                    @(Html.ASOFTTextArea(model => model.Description)
                        )
                        
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="clearfix"></div>
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td>@*align="right"*@
                    <div class="asf-popup-button-container">
                        <div>
                            @(Html
                            .ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                            .Name("btnClose")
                            .Events(e => e.Click(false ? "btnClose_Click" : "ASOFT.asoftPopup.closeOnly")))
                        </div>
                        <div>
                            @(Html
                            .ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeShift"))
                            .Name("btnSave")
                            .Events(e => e.Click("btnSave_Click")))

                        </div>

                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    
    @Html.ASOFTHidden(model => model.LastModifyDateValue)
}

@section styleFeature{
@*    <link 
        href="@Url.Content("~/Areas/POS/Content/POSF0001.css")" 
        rel="stylesheet" type="text/css" />*@
}
@section jsFeature {
        <script 
        src="@Url.Content("~/Areas/POS/Scripts/ASOFTVIEW.js")" 
        type="text/javascript"></script>
    <script 
        src="@Url.Content("~/Areas/POS/Scripts/POSF0033.js")" 
        type="text/javascript"></script>
}