@using Kendo.Mvc.UI
<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quản Lý</title>
        <meta name="description" content="Things For Cuties - A Premium Responsive Kids / Baby Related Shop Template, available at Themeforest.">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/kendo/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/scr_bt")
    </head>
    <body>
        <div id="background">
		    <div id="page">
			     <div id="header">
                     <div id="navigation">
                         <div id="up">
                             ASOFT-ERP 9.0
                         </div>
                         <div id="down">
                             HỆ THỐNG QUẢN TRỊ NGUỒN LỰC DOANH NGHIỆP
                         </div>
                     </div>
                     <div id="navigation1">
                         <ul>
                            <li class="mn"><a href="#">Thông Tin Diều Hành</a></li>
                            <li class="mn"><a href="#">POS</a>
                                <ul id="mn5">
                                    <li class="mn1"><a href="#">Thiết Lập</a></li>
                                    <li class="mn1"><a href="#">Danh Mục</a>
                                        <ul id="mnc">
                                            <li style="background:none; border: none">&nbsp</li>
                                            <li style="border-top: 1px solid black;">&nbsp</li>
                                            <li class="mn2"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDanh Mục Cửa Hàng</a></li>
                                            <li>&nbsp</li>
                                            <li class="mn2"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDanh Mục Hàng Hóa</a></li>
                                            <li>&nbsp</li>
                                            <li class="mn2"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDanh Mục Hội Viên</a></li>
                                            <li>&nbsp</li>    
                                            <li class="mn2"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDanh Mục Hình Thức Thánh Toán</a></li>
                                            <li>&nbsp</li> 
                                        </ul>
                                    </li>
                                    <li class="mn1"><a href="#">Nghiệp Vụ</a></li>
                                    <li class="mn1"><a href="#">Báo Cáo</a></li>
                                </ul>
                            </li>
                            <li class="mn"><a href="#">CRM</a></li>
                            <li class="mn"><a href="#">QLHV</a></li>
                        </ul>
                     </div>
                     <div id="menu">
                         
                     </div>                  
                      <hr style="width: 900px ; color:cornflowerblue"/>
                 </div>
                <div id="contents">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>

<script>
</script>
