@using ASOFT.ERP.A00.Core
@using ASOFT.ERP.ViewModel.SO
@model ASOFT.ERP.ViewModel.SO.DateSearch
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = "Index";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.SOF2040Title, "SOF2040").ToHtmlString();
}
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

<link type="text/css" rel="stylesheet" href="~/Areas/SO/Content/SOF2040.css" />

<div class="wrapper">
    <aside class="aside">
        <div class="aside-inner">
            <nav class="sidebar">
                <a id="btnminibar" data-minibar="false"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                <div id="users">
                    <div class="header">
                        @Html.ASOFTLabel(model=>Model.ListEmployeeID)
                        <button class="btn-x pull-right fa fa-search collapsed" data-toggle="collapse" data-target="#controls"></button>
                    </div>
                    <div class="controls collapse" id="controls">
                        <form class="form" role="form" action="" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên nhân viên" value='@(Request.QueryString["username"])' />
                                @*@Html.ASOFTTextBox(model => model.username, null,
                                new
                                {
                                    placeholder = ASOFTLanguage.FindWord("SOF2040.username")
                                })*@
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="userid" name="userid" placeholder="Nhập mã số nhân viên" value='@(Request.QueryString["userid"])' />                                 
                                @Html.ASOFTTextBox(model => model.userid, null,
                                new
                                {                                    
                                    placeholder = ASOFTLanguage.FindWord("SOF2040.userid")
                                })
                            </div>
                            @*<div class="form-group">
                                <input type="text" class="form-control date-picker" id="ufrom_date" name="from_date" placeholder="Ngày bắt đầu" value='@(Request.QueryString["ufrom_date"])' />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control date-picker" id="uto_date" name="to_date" placeholder="Ngày kết thúc" value='@(Request.QueryString["uto_date"])' />
                            </div>*@
                            <div class="form-group">
                                @Html.ASOFTDateEdit(model => model.ufrom_date)
                            </div>
                            <div class="form-group">
                                @Html.ASOFTDateEdit(model => model.uto_date)
                            </div>
                            <div class="form-group text-center">                                                                
                                <button type="submit" class="btn btn-default">@Html.ASOFTLabel(model => model.Search)</button>
                            </div>
                        </form>
                    </div>

                    <ul class="nav"></ul>
                </div>
                <div id="uhistories">
                    <div class="header">
                        <button id="btn-back" class="btn-x fa fa-mail-reply"></button>
                        @Html.ASOFTLabel(model => model.HistoryEmployeeID)
                    </div>
                    <div class="controls">
                        <form class="form" role="form" id="searchworkdate">
							<div class="form-group">
								<label>@Html.ASOFTLabel(model => model.EmployeeID) <span id="xuserid"></span></label>
							</div>
                            <div class="form-group">
                                @Html.ASOFTDateEdit(model => model.from_date)
                            </div>
                            <div class="form-group">
                                @Html.ASOFTDateEdit(model => model.to_date)
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-default">@Html.ASOFTLabel(Model => Model.Search)</button>
                            </div>
                        </form>
                    </div>
                    <ul id="salemandates"></ul>
                </div>
            </nav>
        </div>
    </aside>
    <section>
        <div class="content-wrapper">
            <div class="content-body">
                <div id="map"></div>
                <div id="maploading"></div>
            </div>
        </div>
    </section>
</div>

<script>
    var timeReload = @ViewBag.TimeReload;
    var salemans = [@Html.Raw(ViewBag.Salemans)];
    var salemansnow = [@Html.Raw(ViewBag.SalemansNow)];
</script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/Scripts/kendo.all.min.js"></script>
<script type="text/javascript" src="/Areas/SO/Scripts/SOF2040/SOF2040.js"></script>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBZDjL-siXmG8KpCPL5IYMCaNll6LWWQX0&callback=initMap&libraries=geometry"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".date-picker").kendoDatePicker({
        format: "dd/MM/yyyy"
    });

    $('#btnminibar').on('click', function(){
        if($(this).attr('data-minibar') == 'false'){
            $(this).attr('data-minibar', true);
            $('.wrapper').addClass('minibar');
        }else{
            $(this).attr('data-minibar', false);
            $('.wrapper').removeClass('minibar');
        }
    });
});
</script>