@if(ViewBag.Status){
    if (ViewBag.Check)
    {
        foreach (var item in ViewBag.Html)
        { 
        <li data-uid=" @item.user_id " data-date="@item.DateTime">
            <p><i class="fa fa-calendar"></i> @item.DateTime</p>
            <p><i class="fa fa-clock-o"></i> @item.StartDateTime - @item.EndDateTime </p>
            <p><i class="fa fa-map-marker"></i><span>Bắt đầu</span>: @item.StartAddress</p>
            <p><i class="fa"></i><span>Kết thúc</span>:@item.EndAddress </p>
        </li>
        }
    }else{
        <li style="background-color:#fff"><center>Không có nội dung nào.</center></li>
        }
}
else{
    <li style="background-color:#fff"><center>Có lỗi trong quá trình kết nối hệ thống.<br/>Xin vui lòng thử lại.</center></li>
}