
@model CIF0030ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.CIF0030Title, "CIF0030").ToHtmlString();
    ViewBag.Width = 1000;
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlGetdata", Url.Action("GetGridData", new { area = "CI", controller = "CIF0030" }))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id="CIF0020" }))
{    
    @(Html.ASOFTTab()
        .Name("CIF0030Tab")
        .Events(e=>e.Activate("CIF0030.tab_Selected"))
        .Items(tabstrip =>
        {
            tabstrip.Add().Text(Html.ASOFTRaw(model => model.Tab01))
                .Selected(true)
                .HtmlAttributes(new { @id = "A" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                .Content(Tab01().ToHtmlString());

            tabstrip.Add().Text(Html.ASOFTRaw(model => model.Tab02))
                .HtmlAttributes(new { @id = "I" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                .Content(Tab02().ToHtmlString());
            
            tabstrip.Add().Text(Html.ASOFTRaw(model => model.Tab03))
                .HtmlAttributes(new { @id = "O" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                .Content(Tab03().ToHtmlString());
            
            tabstrip.Add().Text(Html.ASOFTRaw(model => model.Tab04))
                .HtmlAttributes(new { @id = "D" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                .Content(Tab04().ToHtmlString());
            
            tabstrip.Add().Text(Html.ASOFTRaw(model => model.Tab05))
                .HtmlAttributes(new { @id = "N" })
                .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                .Content(Tab05().ToHtmlString());
            
        })
    )
    <div class="asf-form-button">
        <table class="asf-table-view">
            <tr>
                <td align="right">
                    <div class="asf-popup-button-container">
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                  .Name("BtnClose")
                                  .Events(e => e.Click("CIF0030.btnClose_Click")))
                        </div>
                        <div>
                            @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnConfig"))
                                    .Name("BtnConfig")
                                    .Events(e => e.Click("CIF0030.btnConfig_Click"))
                                    )
                        </div>    
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@helper Tab01()
{
    <div class="asf-form-container">
        <div class="form-content">
            @Html.Partial("CIF0030Gridtab1")
        </div>
    </div>
}


@helper Tab02()
{
    <div class="asf-form-container">
        <div class="form-content">
            @Html.Partial("CIF0030Gridtab2")
        </div>
    </div> 
}
@helper Tab03()
{
    <div class="asf-form-container">
        <div class="form-content">
            @Html.Partial("CIF0030Gridtab3")
        </div>
    </div>
}
@helper Tab04()
{
    <div class="asf-form-container">
        <div class="form-content">
            @Html.Partial("CIF0030Gridtab4")
        </div>
    </div>
}
@helper Tab05()
{
    <div class="asf-form-container">
        <div class="form-content">
            @Html.Partial("CIF0030Gridtab5")
        </div>
    </div>
}

    
@*@section styleFeature{
    <link href="@Url.Content("~/Areas/CI/Content/CIF0020.css")" rel="stylesheet" type="text/css" />
}*@

@section jsFeature {
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF0030.js?v=" + ASOFTEnvironment.Version)"></script>
}