@using ASOFT.ERP.A00.Entities.Common;
@model ASOFT.ERP.ViewModel.POS.POSF0060ViewModel
@{
    ViewBag.Title = Html.ASOFTPageTitle(model=>model.POSF0062Title, "POSF0062");
}
          
@Html.ASOFTHidden("TimeID", Model.TimeID)
@Html.ASOFTHidden("UrlPOSF0060", Url.Action("Index"))
@Html.ASOFTHidden("UrlPOSF0061", Url.Action("POSF0061"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
<div id='contentMaster'>
    @Html.ASOFTHeader(new HeaderModel() { Title = Html.ASOFTPageTitle(model=>model.POSF0062Title, "POSF0062").ToHtmlString(), Breakcrumb = true })
    <div>
        <div id="ViewMaster" class="asf-panel-view-master">@Html.Partial("POSF0062M", Model)</div>
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0060.js")"></script>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/POS/Content/POSF0060.css")" rel="stylesheet" type="text/css" />
}
