@model ASOFT.ERP.ViewModel.POS.POSF0060ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(model => model.POSF0061Title, "POSF0061").ToHtmlString();
    //hidden = "asf-disabled-visibility";
    ViewBag.Width = 700;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "POSF0061" }))
{
    @Html.ASOFTHidden("LastModifyDate", Model.LastModifyDate.HasValue ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : "")
    <div class="form-content">
        <div class="form-content-left">
            <table class="asf-table-view">
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.TimeID)</td>
                    <td class="asf-td-field">
                        @Html.ASOFTTextBox(model => model.TimeID).ReadOnlyIf(Model.FormStatus != ASOFTFormActionType.AddNew)
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.TimeName)</td>
                    <td class="asf-td-field">
                        @Html.ASOFTTextBox(model => model.TimeName)
                    </td>
                </tr>
                <tr>
                    <td valign="bottom">@Html.ASOFTLabel(model => model.TimeNameE)</td>
                    <td>
                        @Html.ASOFTTextBox(model => model.TimeNameE)
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-content-right">
            <fieldset>
                <legend>
                    @Html.ASOFTLabel(model => model.Time)
                </legend>
                <table class="asf-table-view">
                    <tr>
                        <td align="bottom">@Html.ASOFTLabel(model => model.BeginHour)</td>
                        <td>
                           @* @(Html.ASOFTSpinEdit(model => model.BeginHour))*@
                            @(Html.ASOFTBussinessComboBox().ASOFTHourID(model=>model.BeginHour)
                                .Events(e=>e.Change("checkInList")))
                        </td>
                        <td class="space"></td>
                        <td valign="bottom">@Html.ASOFTLabel(model => model.BeginMinute)</td>
                        <td>
                            @*@(Html.ASOFTSpinEdit(model => model.BeginMinute))*@
                            @(Html.ASOFTBussinessComboBox()
                                .ASOFTMinuteID(model=>model.BeginMinute)
                                .Events(e=>e.Change("checkInList")))
                        </td>
                    </tr>
                    <tr>
                        <td valign="bottom">@Html.ASOFTLabel(model => model.EndHour)</td>
                        <td>
                            @*@(Html.ASOFTSpinEdit(model => model.EndHour))*@
                            @(Html.ASOFTBussinessComboBox().ASOFTHourID(model=>model.EndHour)
                                .Events(e=>e.Change("checkInList")))
                        </td>
                        <td class="space"></td>
                        <td valign="bottom">@Html.ASOFTLabel(model => model.EndMinute)
                           
                        </td>
                        <td>
                           @* @(Html.ASOFTSpinEdit(model => model.EndMinute))*@
                             @(Html.ASOFTBussinessComboBox().ASOFTMinuteID(model=>model.EndMinute)
                                .Events(e=>e.Change("checkInList")))
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <table class="asf-table-view">
            <tr>
                <td class="notes">
                    @Html.ASOFTLabel(model => model.Description)
                </td>
                <td colspan="99">@Html.ASOFTTextArea(model => model.Description, htmlStyle: new {Width = Unit.Percentage(99)})</td>
            </tr>
            <tr>
                <td class="notes"></td>
                <td colspan="99">
                    @Html.ASOFTCheckbox(model => model.Disabled).HideIf(Model.FormStatus == ASOFTFormActionType.AddNew)
                </td>
            </tr>
            <tr>
                <td class="notes"></td>
                <td colspan="99">
                    @Html.ASOFTCheckbox(model => model.IsCommon)
                </td>
            </tr>
        </table>
    </div>
    <div class="asf-form-container">
        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                      .Name("btnClose")
                                      .Events(e => e.Click("btnClose_Click")))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                      .Name("btnSaveCopy")
                                      .Events(e => e.Click("btnSaveCopy_Click"))
                                      .HideIf(Model.FormStatus != ASOFTFormActionType.AddNew))
                            </div>  
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                      .Name("btnSaveNew")
                                      .Events(e => e.Click("btnSaveNew_Click"))
                                      .HideIf(Model.FormStatus != ASOFTFormActionType.AddNew))                     
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                      .Name("btnSave")
                                      .Events(e => e.Click("btnSave_Click"))
                                      .HideIf(Model.FormStatus == ASOFTFormActionType.AddNew))
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>  
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0060.js")" type="text/javascript"></script>
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/POS/Content/POSF0060.css")" rel="stylesheet" type="text/css" />
}