@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.A00.Business.Common;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel

@{
    string sysComboBoxID = ASOFTSysAdminBL.GetsysIDByID(ASOFTTableSysAdmin.sysComboBox, "cboInventoryID_BI").ToString();
}
<div class="asf-filter-main" id="InventoryID">
    @for (int i = 1; i <= 5; i++)
    {
        string btnFromInventory = string.Format("btnFromInventoryID{0:00}", i);
        string btnDeleteFromInventory = string.Format("btnDeleteFromInventoryID{0:00}", i);
        string btnToInventory = string.Format("btnToInventoryID{0:00}", i);
        string btnDeleteToInventory = string.Format("btnDeleteToInventoryID{0:00}", i);        
        <fieldset>
            <legend>
                <label>@LocalizedHelper.GetLocalizedResourceString("BF3006.Group", "BF3006", "BI") @string.Format("{0:00}", i)</label>
            </legend>
            <div class="block-left" style="position: relative">
                <div class="asf-filter-label">
                    @LocalizedHelper.GetLocalizedResourceString("BF3006.FromInventoryID", "BF3006", "BI")
                </div>
                <div class="asf-filter-input" style="width: 60%">
                    @Html.ASOFTHidden(string.Format("FromInventoryID{0:00}", i) + "_Content_DataType", 7)
                    @Html.ASOFTHidden(string.Format("FromInventoryID{0:00}", i) + "_Type_Fields", 3)
                    @Html.ASOFTHidden(string.Format("FromInventoryID{0:00}", i))
                    @Html.ASOFTTextBox(Model => Model.Data, htmlAttribute: new { id = string.Format("FromInventoryName{0:00}", i) }).DisabledIf(true)
                </div>
                <a id="@btnFromInventory" data-role="button" class="k-button k-button-icontext asf-button asf-btn-multi-data " role="button" aria-disabled="false" tabindex="0" onclick="btnFromInventoryID_Click(@string.Format("{0:00}", i))">...</a>
                <a id="@btnDeleteFromInventory" data-role="button" class="k-button k-button-icontext  asf-i-delete-32 asf-btn-delete-multi-data" role="button" aria-disabled="false" tabindex="0" onclick="btnDeleteFromInventoryID_Click(@string.Format("{0:00}", i))"></a>
            </div>
            <div class="block-right">
                <div class="asf-filter-label">
                    @LocalizedHelper.GetLocalizedResourceString("BF3006.ToInventoryID", "BF3006", "BI")
                </div>
                <div class="asf-filter-input" style="width: 60%">
                    @Html.ASOFTHidden(string.Format("ToInventoryID{0:00}", i) + "_Content_DataType", 7)
                    @Html.ASOFTHidden(string.Format("ToInventoryID{0:00}", i) + "_Type_Fields", 3)
                    @Html.ASOFTHidden(string.Format("ToInventoryID{0:00}", i))
                    @Html.ASOFTTextBox(Model => Model.Data, htmlAttribute: new { id = string.Format("ToInventoryName{0:00}", i) }).DisabledIf(true)
                </div>
                <a id="@btnToInventory"  data-role="button" class="k-button k-button-icontext asf-button asf-btn-multi-data " role="button" aria-disabled="false" tabindex="0" onclick="btnToInventoryID_Click(@string.Format("{0:00}", i))">...</a>
                <a id="@btnDeleteToInventory"  data-role="button" class="k-button k-button-icontext  asf-i-delete-32 asf-btn-delete-multi-data" role="button" aria-disabled="false" tabindex="0" onclick="btnDeleteToInventoryID_Click(@string.Format("{0:00}", i))"></a>
            </div>
        </fieldset>   
    }
    @if (ViewBag.ScreenID.Equals("BF3006"))
    {
        <div class="block-left">
            <div class="asf-filter-label">
                @Html.ASOFTRadioButton(Model => Model.Data, 1, htmlAttributes: new { id = "rdbAll" }).CheckedIf(true)
                @LocalizedHelper.GetLocalizedResourceString("BF3006.All", "BF3006", "BI")
            </div>
            <div class="asf-filter-input">
                @Html.ASOFTHidden("AnaID" + "_Content_DataType", 7)
                @Html.ASOFTHidden("AnaID" + "_Type_Fields", 3)
                @Html.ASOFTHidden("AnaID")
                @Html.ASOFTHidden("Type" + "_Content_DataType", 7)
                @Html.ASOFTHidden("Type" + "_Type_Fields", 3)
                @Html.ASOFTHidden("Type")
            </div>
        </div>
        <div class="block-left" style="clear: both;">
            <div class="asf-filter-label">
                @Html.ASOFTRadioButton(Model => Model.Data, 0, htmlAttributes: new { id = "rdbSUP" })
                @LocalizedHelper.GetLocalizedResourceString("BF3006.rdbSUP", "BF3006", "BI")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTAnaID_BI(model => model.Data, "S02", htmlAttributes: new { id = "Ana02ID", sysComboBoxID = sysComboBoxID, hidden = true }))
            </div>
        </div>
        <div class="block-left" style="clear: both;">
            <div class="asf-filter-label">
                @Html.ASOFTRadioButton(Model => Model.Data, 0, htmlAttributes: new { id = "rdbASM" })
                @LocalizedHelper.GetLocalizedResourceString("BF3006.rdbASM", "BF3006", "BI")
            </div>
            <div class="asf-filter-input">
                @(Html.ASOFTBussinessComboBox().ASOFTAnaID_BI(model => model.Data, "S03", htmlAttributes: new { id = "Ana03ID", sysComboBoxID = sysComboBoxID, hidden = true }))
            </div>
        </div>
    }
</div>
<script>

    $(document).ready(function () {

    })
</script>
