@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel


<div class="asf-filter-main" id="FromToDate">
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.FromPeriodFilter","A00","00")
        </div>
        <div class="asf-filter-input">
            @if (ASOFTEnvironment.CurrentModule != ASOFTConstants.MODULE_BI)
            {
           @(Html.ASOFTBussinessComboBox()
            .ASOFTPeriod(model => model.Data, htmlAttributes: new {id = "FromPeriodFilter"})//.Events(e => e.Change("MTF0060.fromPeriod_Changed").DataBound("MTF0060.fromPeriod_Bound")
                    //.Enable(false)
                    .Events(e => e.Change("FromPeriodChange")))
            }else{
             @(Html.ASOFTBussinessComboBox()
            .ASOFTPeriodAjaxBinding(model => model.Data, htmlAttributes: new {id = "FromPeriodFilter"})//.Events(e => e.Change("MTF0060.fromPeriod_Changed").DataBound("MTF0060.fromPeriod_Bound")
                    //.Enable(false)
                    .Events(e => e.Change("FromPeriodChange")))
            }
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.ToPeriodFilter","A00","00")
        </div>
        <div class="asf-filter-input">
             @if (ASOFTEnvironment.CurrentModule != ASOFTConstants.MODULE_BI)
            {
           @(Html.ASOFTBussinessComboBox()
                    .ASOFTPeriod(model => model.Data, htmlAttributes: new {id = "ToPeriodFilter"})//.Events(e => e.Change("MTF0060.toPeriod_Changed").DataBound("MTF0060.toPeriod_Bound")
                    //.Enable(false)
                    .Events(e=>e.Change("ToPeriodChange")))
                 }else{
             @(Html.ASOFTBussinessComboBox()
                    .ASOFTPeriodAjaxBinding(model => model.Data, htmlAttributes: new {id = "ToPeriodFilter"})//.Events(e => e.Change("MTF0060.toPeriod_Changed").DataBound("MTF0060.toPeriod_Bound")
                    //.Enable(false)
                    .Events(e=>e.Change("ToPeriodChange")))
            }
        </div>
    </div>
</div>


@{
        @Html.ASOFTHidden("IsPeriod", 0)
        @Html.ASOFTHidden("FromTranMonth")
        @Html.ASOFTHidden("ToTranMonth")
        @Html.ASOFTHidden("FromTranYear")
        @Html.ASOFTHidden("ToTranYear")

        @Html.ASOFTHidden("FromDate_Content_DataType", 13)
        @Html.ASOFTHidden("ToDate_Content_DataType", 13)
        @Html.ASOFTHidden("FromTranMonth_Content_DataType", 5)
        @Html.ASOFTHidden("ToTranMonth_Content_DataType", 5)
        @Html.ASOFTHidden("FromTranYear_Content_DataType", 5)
        @Html.ASOFTHidden("ToTranYear_Content_DataType", 5)

        @Html.ASOFTHidden("FromDate_Type_Fields", 5)
        @Html.ASOFTHidden("ToDate_Type_Fields", 5)
        @Html.ASOFTHidden("FromTranMonth_Type_Fields", 1)
        @Html.ASOFTHidden("ToTranMonth_Type_Fields", 1)
        @Html.ASOFTHidden("FromTranYear_Type_Fields", 1)
        @Html.ASOFTHidden("ToTranYear_Type_Fields", 1)
}



<script>
    function FromPeriodChange() {
        $("#FromTranMonth").val(this.value().split('/')[0]);
        $("#FromTranYear").val(this.value().split('/')[1]);
    }
    function ToPeriodChange() {
        $("#ToTranMonth").val(this.value().split('/')[0]);
        $("#ToTranYear").val(this.value().split('/')[1]);
    }

    $(document).ready(function () {
        $("#rdoFilterPeriod").attr("name", "rdoFilter");
        $("#rdoFilterDate").attr("name", "rdoFilter");
        $("#FromTranMonth").val($("#FromPeriodFilter").val().split('/')[0]);
        $("#FromTranYear").val($("#FromPeriodFilter").val().split('/')[1]);

        $("#ToTranMonth").val($("#ToPeriodFilter").val().split('/')[0]);
        $("#ToTranYear").val($("#ToPeriodFilter").val().split('/')[1]);
    })
</script>