@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel


<div class="asf-filter-main" id="WareHouseID">
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.WareHouseID","A00","00")01
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,false, htmlAttributes: new {id = "WareHouseID01"}))
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.WareHouseID","A00","00")02
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,false, htmlAttributes: new {id = "WareHouseID02"}))
        </div>
    </div>
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.WareHouseID","A00","00")03
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,false, htmlAttributes: new {id = "WareHouseID03"}))
        </div>
    </div>
    <div class="block-right">
        <div class="asf-filter-label">
            @LocalizedHelper.GetLocalizedResourceString("A00.WareHouseID","A00","00")04
        </div>
        <div class="asf-filter-input">
            @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,false, htmlAttributes: new {id = "WareHouseID04"}))
        </div>
    </div>
    <div class="block-left"> 
        <div class="asf-filter-label">
                @LocalizedHelper.GetLocalizedResourceString("A00.WareHouseID","A00","00")05
        </div>
        <div class="asf-filter-input">
           @(Html.ASOFTBussinessComboBox().ASOFTInventoryID_BI(model => model.Data,false, htmlAttributes: new {id = "WareHouseID05"}))
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
       
    })
</script>