
@model ASOFT.ERP.ViewModel.MT.MTF1020ViewModel

<div class="asf-panel-filter">

    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "FormFilter"}))
    {
        <div class="asf-filter-container">
            <div class="asf-filter-content-block">
                <div class="asf-filter-main">
                    <div class="asf-filter-label">
                        @Html.ASOFTLabel(model => model.MTF1020DivisionID)
                    </div>
                    <div class="asf-filter-input">
                        @(Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.MTF1020DivisionID, null,
                                                                            htmlStyle: new {width = Unit.Percentage(100)}))
                    </div>
                </div>

            </div>
            <div class="horz-line-left"></div>
            <div class="horz-line-right"></div>
            <div class="asf-filter-content-block">
                <div class="asf-filter-main">
                    <div class="asf-filter-label">
                        @Html.ASOFTLabel(model => model.MTF1020SchoolTimeID)
                    </div>
                    <div class="asf-filter-input">
                        @Html.ASOFTTextBox(model => model.MTF1020SchoolTimeID,
                                           htmlStyle: new {width = Unit.Percentage(100)})
                    </div>
                </div>
            </div>
            <div class="horz-line-left"></div>
            <div class="horz-line-right"></div>
            <div class="asf-filter-content-block">
                <div class="asf-filter-main">
                    <div class="asf-filter-label">
                        @Html.ASOFTLabel(model => model.MTF1020SchoolTimeName)
                    </div>
                    <div class="asf-filter-input">
                        @Html.ASOFTTextBox(model => model.MTF1020SchoolTimeName,
                                           htmlStyle: new {width = Unit.Percentage(100)})
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<div class="asf-button-container">
    <div class="asf-button-right-container">
        <div class="asf-button-right">
            <div>
                @(Html.ASOFTSearchButton()
                      .Name("MTF1020BtnFilter")
                      .Events(ev => ev.Click("MTF1020.filterData"))
                      )
            </div>
            <div>
                @(Html.ASOFTSearchResetButton()
                      .Name("BtnClearFilter")
                      .Events(ev => ev.Click("MTF1020.clearFilterData"))
                      )
            </div>
        </div>
    </div>
</div>