
@model ASOFT.ERP.ViewModel.MT.MTF1020ViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "MTF1021"}))
{
    <div class="asf-form-container">
        <div class="form-content">
            <table class="asf-table-view" >
                <tr>
                    <td class="asf-td-caption" valign="bottom">@Html.ASOFTLabel(model => model.SchoolTimeID)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.SchoolTimeID, htmlStyle: new {width = Unit.Percentage(100), margin = "7px 0 0 0"}).ReadOnlyIf(Model.FormStatus != ASOFTFormActionType.AddNew)
                        @Html.ASOFTHidden("LastModifyDate", Model.LastModifyDate.HasValue ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : "")   
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption" valign="bottom">@Html.ASOFTLabel(model => model.SchoolTimeName)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.SchoolTimeName, htmlStyle: new {width = Unit.Percentage(100)})
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.Notes)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextArea(model => model.Notes,
                                            htmlStyle: new {width = Unit.Percentage(98)})
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption" valign="bottom"></td>
                    <td class="asf-td-field">
                        @Html.ASOFTCheckbox(model => model.IsCommon)
                    </td>
                    <td >
                        @Html.ASOFTCheckbox(model => model.Disabled).HideIf(Model.FormStatus == ASOFTFormActionType.AddNew)
                    </td>
                </tr>
            </table>
        </div>
        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                      .Name("btnCloseMaster")
                                      .Events(e => e.Click("MTF1020.btnClose_Click")))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveDetails"))
                                      .Name("btnSaveDetails")
                                      .Events(e => e.Click("MTF1020.btnSaveAndDetailMTF1021_Click")).HideIf(Model.FormStatus != ASOFTFormActionType.AddNew))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                      .Name("btnSaveClose")
                                      .Events(e => e.Click("MTF1020.btnSaveMTF1021_Click")))
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}