

@model ASOFT.ERP.ViewModel.MT.MTF1020ViewModel
@{
    Layout = "";
}


@helper Master()
{
@*  <div class="asf-master-content">*@
    <table class="asf-table-view">
        <tr >
            <td class="asf-td-label-left">@Html.ASOFTLabel(model => model.SchoolTimeID)</td>
            <td class="asf-td-label-right">@Html.DisplayFor(model => model.SchoolTimeID)</td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.ASOFTLabel(model => model.SchoolTimeName)</td>
            <td class="asf-td-label-right" title="@Model.SchoolTimeName">@Html.DisplayFor(model => model.SchoolTimeName)</td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.ASOFTLabel(model => model.DivisionID)</td>
            <td class="asf-td-label-right">@Html.DisplayFor(model => model.DivisionID)</td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.ASOFTLabel(model => model.Notes)</td>
            <td class="asf-td-label-right" title="@Model.Notes">
                <div class='content-ellipsis'>@Html.DisplayFor(model => model.Notes)</div>
            </td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.ASOFTLabel(model => model.IsCommon)</td>
            <td class="asf-td-label-right">
                @(Model.IsCommon ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"))
            </td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.ASOFTLabel(model => model.Disabled)</td>
            <td class="asf-td-label-right">
                @(Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"))
            </td>
        </tr>
    </table>
} 

@helper Info()
{
    <table class="asf-table-view">
        <tr >
            <td class="asf-td-label-left">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateUserID"))</td>
            <td class="asf-td-label-right">@Html.DisplayFor(model => model.CreateUserID)</td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateDate"))</td>
            <td class="asf-td-label-right">@Html.DisplayFor(model => model.CreateDate)</td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyUserID"))</td>
            <td class="asf-td-label-right">@Html.DisplayFor(model => model.LastModifyUserID)</td>
        </tr>
        <tr >
            <td class="asf-td-label-left">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyDate"))</td>
            <td class="asf-td-label-right">@Html.DisplayFor(model => model.LastModifyDate)</td>
        </tr>
    </table>
}



<div class="asf-master-content">    
    @(Html.ASOFTPanel()
          .Name("panelbar")
          .Events(m => m.Activate("ASOFT.panelFormat.fitColumnHeight"))
          .Items(panelbar =>
                     {
                         panelbar.Add().Text(Html.ASOFTRaw(model => model.MTF1022TimeInfo)).HtmlAttributes(new {@class = "block-panel-master-header"})
                             .Expanded(true).Content(Master().ToHtmlString());

                         panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                             .Content(Info().ToHtmlString());
                     }))
</div>