

@model ASOFT.ERP.ViewModel.MT.MTF1020ViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "MTF1023"}))
{
    <div class="asf-form-container">
        <div class="form-content">
            <table class="asf-table-view">
                <tr>
                    <td valign="bottom" class="asf-td-caption">
                        @Html.ASOFTLabel(model => model.DayID)
                    </td>
                    <td colspan="2" class="asf-td-field">
                        @(Html.ASOFTBussinessComboBox().ASOFTCodeMaster(model => model.DayID, "DayID").Events(m => m.Change("MTF1020.checkInList")))
                        @Html.ASOFTHidden("LastModifyDate", Model.LastModifyDate.HasValue ? Model.LastModifyDate.Value.ToString("dd/MM/yyyy HH:mm:ss.fff") : "")   
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.BeginTime)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTimeEdit(model => model.BeginTime)
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.EndTime)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTimeEdit(model => model.EndTime)
                    </td>
                </tr>
                <tr>
                    <td  class="asf-td-caption">@Html.ASOFTLabel(model => model.Notes)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextArea(model => model.Notes, htmlStyle: new {width = Unit.Percentage(98)})
                    </td>
                </tr>
            </table>
        </div>
        @Html.Partial(@"../Shared/CUButton", Model.CUButton)
        @*<div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                      .Name("btnClosesDetails")
                                      .Events(e => e.Click("MTF1020.btnCloseDeltails_Click")))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveCopy"))
                                      .Name("btnSaveCopy")
                                      .Events(e => e.Click("MTF1020.btnSaveCopyMTF1023_Click")).HideIf(Model.FormStatus != ASOFTFormActionType.AddNew))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSaveNew"))
                                      .Name("btnSaveMTF1023")
                                      .Events(e => e.Click("MTF1020.btnSaveNewMTF1023_Click")).HideIf(Model.FormStatus != ASOFTFormActionType.AddNew))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                      .Name("btnSaveDetails")
                                      .Events(e => e.Click("MTF1020.btnSaveMTF1023_Click")).HideIf(Model.FormStatus == ASOFTFormActionType.AddNew))
                            </div>

                        </div>
                    </td>
                </tr>
            </table>
        </div>*@
    </div>
}