@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.A00.CloseBookViewModel
@{
    //Layout = "";
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTRaw(model => model.Title);
    ViewBag.Width = 500;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CloseBook" }))
{
    <div class="asf-form-container">
        <div class="form-content">
            <table class="asf-table-view">
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.DivisionID)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTHidden("closeBookTitle", Html.ASOFTRaw(model => model.Title))
                        @Html.ASOFTHidden("NextTranMonth", Model.NextTranMonth.ToString())
                        @Html.ASOFTHidden("NextTranYear", Model.NextTranYear.ToString())
                        @Html.ASOFTHidden("Closing", Model.Closing.ToString())
                        @Html.ASOFTHidden("ModuleID", Model.ModuleID)
                        @Html.ASOFTTextBox(model => model.DivisionID).ReadOnlyIf(true)
                        @Html.ASOFTHidden("UrlUpdateCloseBook", Url.Action("CloseBook",  new { area = "", controller = "CloseOpenBook" }))
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.DivisionName)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.DivisionName).ReadOnlyIf(true)
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.CurrentPeriod)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.CurrentPeriod).ReadOnlyIf(true)
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.NextPeriod)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.NextPeriod).ReadOnlyIf(true)
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.BeginDate)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTDateEdit(model => model.BeginDate)
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.EndDate)</td>
                    <td class="asf-td-field" colspan="2">
                        @Html.ASOFTDateEdit(model => model.EndDate)
                    </td>
                </tr>
            </table>
        </div>
        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                      .Name("BtnClose")
                                      //.Events(e => e.Click(Model.CloseFunctionJS))
                                      .Events(e => e.Click("closeBook.btnClose_Click"))
                                      )
                            </div>
                            <div>
                                
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnCloseBook"))
                                      .Name("btnCloseBook")
                                      .Enable(Model.AllowAddNew)
                                      //.Events(e => e.Click(Model.CloseBookFunctionJS))
                                      .Events(e => e.Click("closeBook.btnCloseBook_Click"))
                                    )
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
}

    
@section styleFeature{
    @*<link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />*@
}

@section jsFeature {
    <script src="@Url.Content("~/Scripts/closebook.js")"></script>
}
