@model QuanLy.Models.DemoModels
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
}

@(Html.Kendo().Window()
    .Name("pp")
    .Title("DANH MỤC HỘI VIÊN")
    .Content(@<text>
            @Html.Partial("Insert")
    </text>)
    .Draggable()
    .Visible(false)
    .Resizable()
    .Width(800)
)

<div style="font-size: 25px ; font-weight: bold">
DANH MỤC HỘI VIÊN
</div>
<hr />
<form id="frLoc" action="QuanLy/srch" onsubmit="return false">
<div>
    <table id="tb">
        <tr>
            <td>
                Đơn Vị
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.DivisionID)
                .HtmlAttributes(new { @id = "border" }))
            </td>
            <td>
                Địa Chỉ
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Address)
                .HtmlAttributes(new { @id = "border" }))
            </td>
            <td>
                Số Điện Thoại   
            </td>
            <td>
               @(Html.Kendo().TextBoxFor(m=>m.Tel)
               .HtmlAttributes(new { @id = "border" }))
            </td>
        </tr>
        <tr>
            <td>
                Mã Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.MemberID)
                .HtmlAttributes(new { @id = "border" }))
            </td>
            <td>
                Mã Số Thuế/Số CMND
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Identify)
                .HtmlAttributes(new { @id = "border" }))
            </td>
            <td>
                Fax  
            </td>
            <td>
               @(Html.Kendo().TextBoxFor(m=>m.Fax)
               .HtmlAttributes(new { @id = "border" }))
            </td>
        </tr>
        <tr>
            <td>
                Tên Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.MemberName)
                .HtmlAttributes(new { @id = "border" }))
            </td>
            <td>
                Điện Thoại Di Động
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Phone)
                .HtmlAttributes(new { @id = "border" }))
            </td>
            <td>
                Email   
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Email)
                .HtmlAttributes(new { @id = "border" }))
            </td>
        </tr>
    </table>
</div>
<div>
    <br />
    <br />
    <br />
</div>
<div>
    <div style="float: right">
        @(Html.Kendo().Button()
        .HtmlAttributes(new  { type = "submit" })
        .Name("btlocdulieu")
        .ImageUrl(Url.Content("/Images/search.png"))    
        .Content("Lọc Dữ Liệu")

        )
        @(Html.Kendo().Button()
        .Name("btlamlai")
        .HtmlAttributes(new { style = "height: 40px" })
        .Content("Làm Lại")
        )
    </div>
</div>
</form>
<div style="float: left">
    @(Html.Kendo().Button()
    .Name("btthem")
    .ImageUrl(Url.Content("/Images/sum.png"))
    )
    @(Html.Kendo().Button()
    .Name("btxoa")
    .ImageUrl(Url.Content("/Images/recycle.png"))

    )
    @(Html.Kendo().Button()
    .Name("btupdate")
    .ImageUrl(Url.Content("/Images/discheck.png"))

    )  
    @(Html.Kendo().Button()
    .Name("btdisable")
    .ImageUrl(Url.Content("/Images/checked.png"))

    )  
</div>
    

<div  style="float: left">
    <div id="demo-section">
           @Html.Partial("Grid");
    </div>
</div>



<style>
    #demo-section {
        font-size: 10px;
        margin-top: 15px;
    }
    #none {
    display: none;
    color: red;
}
    #border {
        border-top: none;
        border-left: none;
        border-right: none;
    }
</style>











