@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved.
//#
//# History:
//#     Date Time       Created           Comment
//#     07/10/2014      Hồ Hoàng Tú       Tạo mới
//####################################################################
*@
@using System.Web.UI.WebControls
@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.CI.CIF1020ViewModel
@using ASOFT.ERP.A00.Entities.Common
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel
@{
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewBag.Title = @Html.ASOFTRaw(m => m.Title);
}
@Html.ASOFTHidden("EnableRecord", Url.Action("SetEnabled"))
@Html.ASOFTHidden("DisableRecord", Url.Action("SetDisabled"))
@section Header
{
    @Html.ASOFTHeader(new HeaderModel { Title = Html.ASOFTPageTitle(model => model.Title, "CIF1020").ToHtmlString(), Breakcrumb = true })
}
@section FilterCol1
{
    <tr>
        <td>@Html.ASOFTLabel(model => model.DivisionIDFilter)</td>
        <td>
            @Html.ASOFTBussinessComboBox().ASOFTDivisionIDList(model => model.DivisionIDFilter, htmlStyle: new { width = Unit.Percentage(100) })
        </td>
    </tr>
    <tr>
    <tr>
        <td>@Html.ASOFTLabel(model => model.DutyID)</td>
        <td>@Html.ASOFTTextBox(model => model.DutyID, htmlStyle: new { width = Unit.Percentage(100) })
    </tr>

}
@section FilterCol2
{
    <tr>
        <td>@Html.ASOFTLabel(model => model.DutyName)</td>
        <td>@Html.ASOFTTextBox(model => model.DutyName, htmlStyle: new { width = Unit.Percentage(100) })</td>
    </tr>
    <tr>
        <td>@Html.ASOFTLabel(model => model.DutyRate)</td>
        <td>@Html.ASOFTTextBox(model => model.DutyRate, htmlStyle: new { width = Unit.Percentage(100) }) </td>
    </tr>
}
@section FilterCol3
{
    <tr>
        <td>@Html.ASOFTLabel(model => model.Disabled)</td>
        <td>
            @(Html.ASOFTBussinessComboBox().ASOFTCiCodeMasterDisabled(model => model.Disabled, htmlStyle: new
                       {
                           width = Unit.Percentage(100)
                       }
                       ))
        </td>
    </tr>
}
@section GridToolBar{
    @if (Model.Toolbar1 != null)
    {
        Model.Toolbar1.EventAdd = "ShowEditorFrame";
        Model.Toolbar1.EventDelete = "btnDelete_Click";
        Model.Toolbar1.EventShow = "btnEnable_Click";
        Model.Toolbar1.EventHide = "btnDisable_Click";
        Model.Toolbar1.DisplayShow = true;
    }
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}
@section FilterButtons{
    <li>
        @(Html.ASOFTSearchButton()
                          .Name("CIF1020BtnFilter")
                         .Events(e => e.Click("CIF1020BtnFilter_Click")))
    </li>
    <li>
        @(Html.ASOFTSearchResetButton()
                          .Name("CIF1020BtnClearFilter")
                       .Events(e => e.Click("CIF1020BtnClearFilter_Click")))
    </li>
}
@section Grid {
    @Html.Partial("GridDutyCategory")
}
@(Html.ASOFTPopup()
    .Name("CIF1021Popup")
    .Width(800)
    .Title(String.Format(Html.ASOFTRaw(model => model.Title), "thêm"))
)
@section jsFeature
{
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1020.js?v=" + ASOFTEnvironment.Version)" type="text/javascript"></script>
}
@section styleFeature
 {
    <link href="@Url.Content("~/Areas/CI/Content/CIF1020.css")" rel="stylesheet" type="text/css" />
}