@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.S.SF1020ViewModel

@helper FilterCol1(){
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.LanguageID)</td>
        <td colspan="4">@(Html.ASOFTBussinessComboBox().ASOFTLanguageID(model => model.LanguageID))</td>
    </tr>
    <tr>
        <td  class="asf-td-align">@Html.ASOFTLabel(model => model.Module)</td>
        <td colspan="4" >@(Html.ASOFTBussinessComboBox().ASOFTModuleForLangID(model => model.Module))</td>
    </tr>
}

@helper FilterCol2(){
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.FormID)</td>
        <td colspan="4">@(Html.ASOFTTextBox(model => model.FormID))</td>
    </tr>
    <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.ID )</td>
        <td colspan="4">@(Html.ASOFTTextBox(model => model.ID))</td>
    </tr>
}

@helper FilterCol3(){
     <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.Name)</td>
        <td colspan="4">@(Html.ASOFTTextBox(model => model.Name ))</td>
    </tr>
     <tr>
        <td class="asf-td-align">@Html.ASOFTLabel(model => model.CustomName)</td>
        <td colspan="4">@(Html.ASOFTTextBox(model => model.CustomName))</td>     
    </tr>
}

@{
    Html.RenderSection("MainView", new Dictionary<string, object>() { 
        { "FilterCol1", this.FilterCol1().ToHtmlString() },     
        { "FilterCol2", this.FilterCol2().ToHtmlString() },     
        { "FilterCol3", this.FilterCol3().ToHtmlString() }   
    });
}
