@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using System.Web.UI.WebControls;
@using Kendo.Mvc;
@model ASOFT.ERP.ViewModel.S.SF1022ViewModel

@helper Group01()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.LanguageID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LanguageID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Module)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Module)</td>
                </tr>          
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.FormID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.FormID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.ID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ID)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Name)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.CustomName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CustomName)</td>
                </tr>
            </table>
        </div>
    </div>
}

@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new {@class = "block-panel-master"})
      .Animation(animation => animation.Enable(true))
      .Items(panelbar =>
             {
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.SF1022Title1))
                     .HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Expanded(true).Content(Group01().ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

             })
      )