@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     12/09/2014      Đức Quý         Tạo mới
//####################################################################
*@

@using System.Web.UI.WebControls
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.DRM;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;

@model DRF2070ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2070Title, "DRF2070").ToHtmlString();
    Layout = "~/Areas/DRM/Views/Shared/_CustomerContentMaster.cshtml";
    ViewData.Add("MainView", this);
}

@section Header {
    <!-- Header BreakCrumb -->
    @Html.ASOFTHeader(new HeaderModel
                          {
                              Title = Html.ASOFTPageTitle(m => m.DRF2070Title, "DRF2070").ToHtmlString(),
                              Breakcrumb = true,
                              QuickSearch = false
                          })
}

@section customBanner {
    <div id="InfoSet" class="asf-custom-banner">
        <div class="asf-custom-banner-icon-logo">@Html.ASOFTLogo("DRF2070", "Logo", new { Area = "DRM" })</div>
        <div class="asf-custom-banner-white-line"></div>
        <div class="asf-custom-banner-content">
            <div class="info">
                <div class="row">
                    <span style="font-size: 14px"><b>@ASOFTEnvironment.CompanyName</b></span>
                </div>
                <div class="row">
                    <span>[A] @ASOFTEnvironment.CompanyAddress</span>
                </div>
                <div class="row">
                    <span>[T] @ASOFTEnvironment.CompanyTel</span>
                </div>
                <div class="row">
                    <span>[F] @ASOFTEnvironment.CompanyFax</span>
                </div>
                <div class="row">
                    <span>[S] <a href="@string.Format("{0}", ASOFTEnvironment.CompanySite)">@ASOFTEnvironment.CompanySite</a></span>
                </div>
                <div class="row">
                    <span>[E] <a href="@string.Format("mailto:{0}", ASOFTEnvironment.CompanyEmail)">@ASOFTEnvironment.CompanyEmail</a></span>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("FormFilter")

<!-- Filter buttons -->
@section FilterButtons {
    <!-- Search button -->
    <li>
        @(Html.ASOFTSearchButton()
              .Name("BtnFilterDRF2070")
              .Events(e => e.Click("DRF2070.btnFilter_Click"))
              )
    </li>

    <!-- Reset button -->
    <li>
        @(Html.ASOFTSearchResetButton()
            .Name("BtnResetFilterDRF2070")
            .Events(e => e.Click("DRF2070.btnClearFilter_Click"))
            )
    </li>
}

@section GridToolBar {
    <!-- Toolbar buttons -->
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}

@section Grid {
    <!-- Grid master -->
    @Html.Partial("GridProfile")
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2070/DRF2070.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/DRM/Content/DRF2070.css")" rel="stylesheet" type="text/css" />
}
