@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     30/06/2016      Quang Hoàng        Add heading
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control
@using ASOFT.ERP.A00.Entities.Database
@using ASOFT.ERP.ViewModel.POS
@model POSR0001ViewModel
@*@{  
    var gridsetting = new ASOFTGridSetting
    {
        NameGrid = "POSF00161Print",
        Scrollable = false,
        IsShowCheck = false,
        HtmlAttribute = new
        {
            @class = "asf-grid",
            width = "100%"
        },
        ListGridColumn = new List<ASOFTGridColumnSetting>
        {
             new ASOFTGridColumnSetting
            {
                ClientTemplate = "#= renderNumber(data) #",
                TitleColumn = ASOFTLanguage.FindWordA00("A00.Number"),
                Width = 5,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_INVENTORYNAME,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryName),
                Width = 220,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_UNITNAME,
                TitleColumn = Html.ASOFTRaw(model => model.UnitName),
                HtmlAttrCoulmns = (new {style = "text-align:center"}),
                Width = 40,
                VisibleColumn = true
            },
            new ASOFTGridColumnSetting
            {
                IDColumn = POST00161.COL_ACTUALQUANTITY,
                TitleColumn = Html.ASOFTRaw(model => model.ActualQuantity),
                Width = 40,
                HtmlAttrCoulmns = (new {style = "text-align:right"}),
                VisibleColumn = true
            },
             new ASOFTGridColumnSetting
            {
                IDColumn =  POST00161.COL_INVENTORYAMOUNT,
                TitleColumn = Html.ASOFTRaw(model => model.InventoryAmount),
                Width = 140,
                VisibleColumn = true,
                HtmlAttrCoulmns = (new {style = "text-align:right"})
            }
        }
    };
}*@

@*(Html.ASOFTrintGrid<POST00161>(gridsetting).BindTo(Model.DetailList))*@

<div id="POSF00161Print" class="k-widget k-grid asf-grid k-secondary grid_12 alpha omega">
    <table role="grid" style="width:100%;">
        <colgroup>
            <col style="width: 42%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 30%">
        </colgroup>
        <thead class="k-grid-header">
            <tr>
                <th scope="col" class="k-header"><span class="k-link">@Html.ASOFTRaw(model => model.InventoryName)</span></th>
                <th scope="col" class="k-header"><span class="k-link">@Html.ASOFTRaw(model => model.ActualQuantity).ToUpper()</span></th>
                <th scope="col" class="k-header"><span class="k-link">@Html.ASOFTRaw(model => model.UnitPrice).ToUpper()</span></th>
                <th scope="col" class="k-header"><span class="k-link">@Html.ASOFTRaw(model => model.InventoryAmount).ToUpper()</span></th>
            </tr>
        </thead>
        <tbody>
            @{
                List<ASOFT.ERP.POS.Entities.POSF00161> result = Model.DetailListTMQ3;
                int count = result.Count;
                for (int i = 0; i < count; i++)
                {
                    ASOFT.ERP.POS.Entities.POSF00161 item = result[i];
                    <tr>
                        <td>@item.InventoryName</td>
                        <td class="asf-cols-align-center">@string.Format(ASOFTConstants.FORMAT_NUMBER_DECIMAL_STYLE_01, item.ActualQuantity)</td>
                        <td class="asf-cols-align-right">@string.Format(ASOFTConstants.FORMAT_NUMBER_DECIMAL_STYLE_01, item.AfterVatUnitPrice)</td>
                        <td class="asf-cols-align-right">@string.Format(ASOFTConstants.FORMAT_NUMBER_DECIMAL_STYLE_01, item.AfterVatInventoryAmount)</td>
                    </tr>
                }
             }

           
        </tbody>
    </table>
</div>
