@using ASOFT.ERP.ViewModel.CI
@model CIF1032ViewModel

@helper Group01()
{
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.AnaTypeID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AnaTypeID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.AnaTypeName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AnaTypeName)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.AnaID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AnaID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.AnaName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.AnaName)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.RefDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.RefDate)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.IsCommon)</td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @{
                            var strIscommon = string.Empty;
                            strIscommon = Model.IsCommon ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No");
                            @strIscommon
                        }
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Disabled)</td>
                    <td class="dot"></td>
                    <td class="content-text">
                        @{
                            var strDisable = string.Empty;
                            strDisable = Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No");
                            @strDisable
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Notes)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Notes">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Notes)</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

@helper Group02(){
    <div class="asf-master-content">
        <div class="asf-content-block-sys left">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount01)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount01)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount02)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount02)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount03)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount03)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount04)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount04)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount05)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount05)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount06)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount06)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount07)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount07)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount08)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount08)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount09)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount09)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount10)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.ASOFTDisplayNumber(model => model.Amount10)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block-sys right">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note01)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note01">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note01)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note02)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note02">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note02)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note03)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note03">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note03)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note04)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note04">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note04)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note05)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note05">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note05)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note06)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note06">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note06)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note07)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note07">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note07)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note08)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note08">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note08)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note09)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note09">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note09)</div>
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.Note10)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Note10">
                        <div class='content-ellipsis'>@Html.DisplayFor(model => model.Note10)</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new {@class = "block-panel-master"})
      .Animation(animation => animation.Enable(true))
      .Items(panelbar =>
             {
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.CIF1032Title1))
                     .HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Expanded(true).Content(Group01().ToHtmlString());

                 panelbar.Add().Text(Html.ASOFTRaw(m => m.CIF1032Title1))
                     .HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Content(Group02().ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                 //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);

             })
      )