@using ASOFT.ERP.A00.Core
@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.ViewModel;
@*@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel*@

@{
    var screenID = "HRMF2053";
    var module = "HRM";
}

<div class="container_12" style="height: 110px">
    <div class="container3">
        <div class="container2 line_right">
            <div class="container1 line_right">
                <div class="grid_6 alpha col1">
                    <table class="asf-table-view">
                        <tbody>
                            <tr>
                                <td class="container_label">
                                    Đợt tuyển dụng
                                </td>
                                <td class="container_control">
                                   @* @{
                                        @Html.ASOFTBussinessComboBox().ASOFTRecruitPeriod(m => m.Data)
                                     }*@
                                </td>
                            </tr>
                            <tr>
                                <td class="container_label">

                                </td>
                                <td class="container_control">
                                   @* @{
                                        @Html.ASOFTBussinessComboBox().ASOFTDepartment(m => m.Data)
                                     }*@
                                </td>
                            </tr>
                            <tr>
                                <td class="container_label">

                                </td>
                                <td class="container_control">
                                   @* @{
                                        @Html.ASOFTBussinessComboBox().ASOFTDuty(m => m.Data)
                                     }*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="grid_6 alpha col1">
                     <table class="asf-table-view">
                        <tbody>
                            <tr>
                                <td class="container_label">

                                </td>
                                <td class="container_control">

                                </td>
                            </tr>
                            <tr>
                                <td class="container_label">

                                </td>
                                <td class="container_control">

                                </td>
                            </tr>
                            <tr>
                                <td class="container_label">

                                </td>
                                <td class="container_control">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container_12 asf-form-button">
            <ul>
                 <li>
                    @(Html.ASOFTSearchButton()
                          .Name("BtnFilter")
                          .Events(e => e.Click("BtnFilter_Click"))
                          )
                </li>
                <li>
                    @(Html.ASOFTSearchResetButton()
                          .Name("BtnClearFilter")
                          //.Events(e => e.Click("BtnClearFilter_Click"))
                          )
                </li>
            </ul>
        </div> 
</div>