@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created           Comment
//#     2017/10/04      Kim Vu            Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.HRM.Entities.HRMF2010

<fieldset id='fieldRequireCommon' style='margin-top: 20px; margin-bottom: 10px; clear: both;'>
    <legend>
        <label>
            @ASOFT.ERP.ViewModel.Helper.LocalizedHelper.GetLocalizedResourceString("HRMF2012.GroupRequireCommon", "HRMF2012", "HRM")
        </label>
    </legend>
    <div class="asf-content-block first" id="Require1" style="min-width: 28%; width: 30.465%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block middle" id="Require2" style="min-width: 28%; width: 31%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block last" id="Require3" style="min-width: 28%; width: 29%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block first" id="WorkDescription" style="width: 95%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
</fieldset>

@* Yeu cau ky nang*@
<fieldset id='fieldRequireWork' style='margin-top: 20px; margin-bottom: 10px; clear: both;'>
    <legend>
        <label>
            @ASOFT.ERP.ViewModel.Helper.LocalizedHelper.GetLocalizedResourceString("HRMF2012.GroupRequire", "HRMF2012", "HRM")
        </label>
    </legend>
    <div>
        <label>
            @ASOFT.ERP.ViewModel.Helper.LocalizedHelper.GetLocalizedResourceString("HRMF2012.GroupRequireLanguage", "HRMF2012", "HRM")
        </label>
    </div>

    <div class="asf-content-block first" id="fieldRequireLang1" style="min-width: 28%; width: 30.465%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block middle" id="fieldRequireLang2" style="min-width: 28%; width: 31%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block last" id="fieldRequireLang3" style="min-width: 28%; width: 29%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block first" id="fieldRequireWork1" style="width: 95%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
</fieldset>

@* Yeu cau suc khoe*@
<fieldset id='fieldRequireHealth' style='margin-top: 20px; margin-bottom: 10px; clear: both;'>
    <legend>
        <label>
            @ASOFT.ERP.ViewModel.Helper.LocalizedHelper.GetLocalizedResourceString("HRMF2012.GroupRequireHealth", "HRMF2012", "HRM")
        </label>
    </legend>

    <div class="asf-content-block first" id="fieldRequireHealth1" style="min-width: 28%; width: 30.465%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block middle" id="fieldRequireHealth2" style="min-width: 28%; width: 31%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block last" id="fieldRequireHealth3" style="min-width: 28%; width: 29%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="asf-content-block first" id="fieldNotes" style="width: 95%;">
        <table class="asf-table-view">
            <tbody>
            </tbody>
        </table>
    </div>
</fieldset>

<div style="display: none;">
    <div id="lblAge">
        @ASOFT.ERP.ViewModel.Helper.LocalizedHelper.GetLocalizedResourceString("HRMF2012.GroupAge", "HRMF2012", "HRM")
    </div>
    <div id="lblSalary">
        @ASOFT.ERP.ViewModel.Helper.LocalizedHelper.GetLocalizedResourceString("HRMF2012.GroupSalary", "HRMF2012", "HRM")
    </div>
</div>
