
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel
@{
      string ScreenID = ViewBag.ScreenID;
}

<tr class="EmployeePartial">
    @if (!ScreenID.Equals("SOF2001"))
    {
        @Html.ASOFTHidden("EmployeeID", "").DisabledIf(1==1);
        @Html.ASOFTHidden("EmployeeID_Content_DataType", "7").DisabledIf(1==1);
        @Html.ASOFTHidden("EmployeeID_Type_Fields", "1").DisabledIf(1==1);
    }
    <td class="asf-td-caption">@Html.Label(Model.language, htmlAttributes: new { @for = "EmployeeID"})
    </td>
    <td>@(Html.ASOFTTextBox(model => model.Data, htmlAttribute: new { Disabled = "Disabled", @id = "EmployeeName"}))

        @(Html.ASOFTButton("...")
        .Name("btnChooseEmployee")
        .HtmlAttributes(new { style = "width : 26px; height: 26px"})
        .Events(e => e.Click("btnChooseEmployee_Click")))

        @(Html.ASOFTButton("")
        .Name("btnDeleteEmployee")
        .HtmlAttributes(new { style = "width : 26px; height: 26px; background-image: url(/Content/Images/icon-delete-24x24.png); background-repeat: no-repeat" })
        .Events(e => e.Click("btnDeleteEmployee_Click")))
    </td>
</tr>

<script>
    $("#EmployeeName").css("width", "150px");
    $("#EmployeeName").attr("name", "EmployeeName");
    $(document).ready(function () {
        if ($("#EmployeeNameDB").val() !== undefined) {
            $("#EmployeeName").val($("#EmployeeNameDB").val());
            $("#EmployeeNameDB").attr("Disabled", true);
        }

        if (typeof parent.GetCheckConfirm === "function") {
            if (parent.GetCheckConfirm() == 1) {
                $("#btnChooseEmployee").data("kendoButton").enable(false);
                $("#btnDeleteEmployee").data("kendoButton").enable(false);
            }
        }
    })
</script>