@*
####################################################################
# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
#
# History:
#     Date Time       Created           Comment
#     2017/10/25      Văn Tài            Tạo mới
####################################################################
*@
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper

@model List<ASOFT.ERP.HRM.Entities.HRMF2021NumberInterview>
@{
    
    var group1 = new ASOFT.ERP.HRM.Entities.HRMF2021NumberInterview();
    var group2 = new ASOFT.ERP.HRM.Entities.HRMF2021NumberInterview();
    var group3 = new ASOFT.ERP.HRM.Entities.HRMF2021NumberInterview();
    var group4 = new ASOFT.ERP.HRM.Entities.HRMF2021NumberInterview();
    var group5 = new ASOFT.ERP.HRM.Entities.HRMF2021NumberInterview();
    if (Model != null && Model.Count > 0)
    {
        group1 = Model.FirstOrDefault(x => x.Index == 1);
        group2 = Model.FirstOrDefault(x => x.Index == 2);
        group3 = Model.FirstOrDefault(x => x.Index == 3);
        group4 = Model.FirstOrDefault(x => x.Index == 4);
        group5 = Model.FirstOrDefault(x => x.Index == 5);
    }

    var tab01Visible = group1 != null && group1.Visible;
    var tab02Visible = group2 != null && group2.Visible;
    var tab03Visible = group3 != null && group3.Visible;
    var tab04Visible = group4 != null && group4.Visible;
    var tab05Visible = group5 != null && group5.Visible;
    

    if (!string.IsNullOrEmpty(group1.DutyID))
    {
    <div class="asf-master-content">
        @(Html.ASOFTTab()
                  .Name("HRMF2021NumberInterviewTab")
                  .Items(tabstrip =>
                  {
                      tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("HRMF2021.RecruitCircle", "HRMF2021", "HRM") + " 1 ")
                          .Selected(true)
                          .HtmlAttributes(new { @id = "TabMaster01", @class = "k-tabstrip-items", style = (tab01Visible) ? "" : "display:none;" })
                          .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                          .Content(Tab01().ToHtmlString());
                      tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("HRMF2021.RecruitCircle", "HRMF2021", "HRM") + " 2 ")
                          .HtmlAttributes(new { @id = "TabMaster02", @class = "k-tabstrip-items", style = (tab02Visible) ? "" : "display:none;" })
                          .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                          .Content(Tab02().ToHtmlString());
                      tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("HRMF2021.RecruitCircle", "HRMF2021", "HRM") + " 3 ")
                          .HtmlAttributes(new { @id = "TabMaster03", @class = "k-tabstrip-items", style = (tab03Visible) ? "" : "display:none;" })
                          .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                          .Content(Tab03().ToHtmlString());
                      tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("HRMF2021.RecruitCircle", "HRMF2021", "HRM") + " 4 ")
                          .HtmlAttributes(new { @id = "TabMaster04", @class = "k-tabstrip-items", style = (tab04Visible) ? "" : "display:none;" })
                          .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                          .Content(Tab04().ToHtmlString());
                      tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("HRMF2021.RecruitCircle", "HRMF2021", "HRM") + " 5 ")
                          .HtmlAttributes(new { @id = "TabMaster05", @class = "k-tabstrip-items", style = (tab05Visible) ? "" : "display:none;" })
                          .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                          .Content(Tab05().ToHtmlString());
                  })
                  )
    </div>
    
    @helper Tab01()
{
        <div class="RecruitContent01">
            <div class="asf-form-container container_12 pagging_bottom ">
                <div class="grid_6_1 alpha float_left">
                    <table id="PersonalLeftTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                   @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "Address" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @{
                                        var item01 = Model.Where(x => x.Index == 1).ToList().FirstOrDefault();
                                    }
                                    @Html.ASOFTTextBox(model => item01.Address, htmlAttribute: new { @id = "InterviewAddress01" + "_" + item01.TableName, @IsPartial = true, @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr id="@("trInterviewTypeID" + string.Format("{0:00}", 1))">
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewType" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                      .ASOFTInterviewType_HRM(model => item01.InterviewTypeID,
                                          item01.DivisionID, item01.DutyID,
                                          htmlAttributes: new { id = "InterviewTypeID" + string.Format("{0:00}", 1) + "_" + item01.TableName, @IsPartial = true, @readonly = "readonly" })
                                               )
                                </td>
                            </tr>
                            @for (int i = 1; i <= item01.InterviewTypeList.Count; i++)
                            {
                                <tr class="@("rowChk" + "01")">
                                    <td>
                                        @Html.CheckBox(
                                            "chk" + item01.InterviewTypeList[i - 1].DetailTypeID + "_" + string.Format("{0:00}", 1) + "_" + item01.TableName,

                                             htmlAttributes:
                                             new
                                             {
                                                 id = "chk" + item01.InterviewTypeList[i - 1].DetailTypeID + "_" + string.Format("{0:00}", 1) + "_" + item01.TableName,
                                                 @IsPartial = true,
                                                 @disabled = "disabled"
                                             },
                                             isChecked: item01.InterviewTypeList[i - 1].Checked
                                            )
                                    </td>
                                    <td>
                                        @Html.Label(item01.InterviewTypeList[i - 1].DetailTypeName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="grid_6 omega float_right line_left_with_grid">
                    <table id="PersonalRightTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "NumberInterviewers" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTSpinEdit(model => item01.InterviewTotal, new { id = "spnTotal" + "01" + "_" + item01.TableName, @IsPartial = true, @readonly = "readonly" })
                                      .Spinners(true)
                                      .Min(1)
                                      .Max(10)
                                      .Value(item01.InterviewTotal)
                                      )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewMember" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                    .ASOFTMultiSelectHRMInterviewer(model01 => item01.InterviewerList,
                                        new ComboBoxDynamic() { Module = "HRM", ScreenID = "HRMF2021" }, true, htmlAttributes: new { @id = "multiInterviewers" + "01" + "_" + item01.TableName, @IsPartial = true, @readonly = "readonly" })
                                        )
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    }
    @helper Tab02()
{
        <div class="RecruitContent02">
            <div class="asf-form-container container_12 pagging_bottom ">
                <div class="grid_6_1 alpha float_left">
                    <table id="PersonalLeftTable" class="asf-table-view">
                        <tbody>
                            <tr style="min-width: 130px;">
                                <td>
                                   @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "Address" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @{
                                        var item02 = Model.Where(x => x.Index == 2).ToList().FirstOrDefault();
                                    }
                                    @Html.ASOFTTextBox(model => item02.Address, htmlAttribute: new { @id = "InterviewAddress02" + "_" + item02.TableName, @IsPartial = true, @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr id="@("trInterviewTypeID" + string.Format("{0:00}", 2))">
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewType" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                      .ASOFTInterviewType_HRM(model => item02.InterviewTypeID,
                                          item02.DivisionID, item02.DutyID,
                                          htmlAttributes: new { id = "InterviewTypeID" + string.Format("{0:00}", 2) + "_" + item02.TableName, @IsPartial = true, @readonly = "readonly" })
                                                   )
                                </td>
                            </tr>
                            @for (int i = 1; i <= item02.InterviewTypeList.Count; i++)
                            { 
                                <tr class="@("rowChk" + "02")">
                                    <td>
                                        @Html.CheckBox("chk"
                                            + item02.InterviewTypeList[i - 1].DetailTypeID
                                            + "_" + string.Format("{0:00}", 2)
                                           + "_" + item02.TableName,
                                            htmlAttributes:
                                             new
                                             {
                                                 id = "chk" + item02.InterviewTypeList[i - 1].DetailTypeID + "_" + string.Format("{0:00}", 2) + "_" + item02.TableName,
                                                 @IsPartial = true,
                                                 @disabled = "disabled"
                                             },
                                             isChecked: item02.InterviewTypeList[i - 1].Checked
                                            )
                                    </td>
                                    <td>
                                        @Html.Label(item02.InterviewTypeList[i - 1].DetailTypeName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="grid_6 omega float_right line_left_with_grid">
                    <table id="PersonalRightTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "NumberInterviewers" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTSpinEdit(model => item02.InterviewTotal, new { id = "spnTotal" + "02" + "_" + item02.TableName, @IsPartial = true, @readonly = "readonly" })
                                      .Spinners(true)
                                      .Min(1)
                                      .Max(10)
                                      .Value(item02.InterviewTotal)
                                      )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewMember" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                    .ASOFTMultiSelectHRMInterviewer(model => item02.InterviewerList,
                                        new ComboBoxDynamic() { Module = "HRM", ScreenID = "HRMF2021" }, true,
                                        htmlAttributes: new { @id = "multiInterviewers" + "02" + "_" + item02.TableName, @IsPartial = true, @readonly = "readonly" })
                                        )
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }@helper Tab03()
{
        <div class="RecruitContent03">
            <div class="asf-form-container container_12 pagging_bottom ">
                <div class="grid_6_1 alpha float_left">
                    <table id="PersonalLeftTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "Address" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @{
                                        var item03 = Model.Where(x => x.Index == 1).ToList().FirstOrDefault();
                                    }
                                    @Html.ASOFTTextBox(model => item03.Address, htmlAttribute: new { @id = "InterviewAddress03" + "_" + item03.TableName, @IsPartial = true, @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr id="@("trInterviewTypeID" + string.Format("{0:00}", 3))">
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewType" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                      .ASOFTInterviewType_HRM(model => item03.InterviewTypeID,
                                          item03.DivisionID, item03.DutyID,
                                          htmlAttributes: new { id = "InterviewTypeID" + string.Format("{0:00}", 3) + "_" + item03.TableName, @IsPartial = true, @readonly = "readonly" })
                                          )
                                </td>
                            </tr>
                            @for (int i = 1; i <= item03.InterviewTypeList.Count; i++)
                            {
                                <tr class="@("rowChk" + "03")">
                                    <td>
                                        @Html.CheckBox("chk"
                                            + item03.InterviewTypeList[i - 1].DetailTypeID
                                            + string.Format("{0:00}", 3)
                                            + "_" + item03.TableName,
                                             htmlAttributes:
                                             new
                                             {
                                                 id = "chk" + item03.InterviewTypeList[i - 1].DetailTypeID + "_" + string.Format("{0:00}", 3) + "_" + item03.TableName,
                                                 @IsPartial = true,
                                                 @disabled = "disabled"
                                             },
                                             isChecked: item03.InterviewTypeList[i - 1].Checked
                                            )
                                    </td>
                                    <td>
                                        @Html.Label(item03.InterviewTypeList[i - 1].DetailTypeName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="grid_6 omega float_right line_left_with_grid">
                    <table id="PersonalRightTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "NumberInterviewers" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTSpinEdit(model => item03.InterviewTotal, new { id = "spnTotal" + "03" + "_" + item03.TableName, @IsPartial = true, @readonly = "readonly" })
                                      .Spinners(true)
                                      .Min(1)
                                      .Max(10)
                                      .Value(item03.InterviewTotal)
                                      )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewMember" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                    .ASOFTMultiSelectHRMInterviewer(model => item03.InterviewerList,
                                        new ComboBoxDynamic() { Module = "HRM", ScreenID = "HRMF2021" }, true, htmlAttributes: new { @id = "multiInterviewers" + "03" + "_" + item03.TableName, @IsPartial = true, @readonly = "readonly" })
                                        )
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }@helper Tab04()
{
        <div class="RecruitContent04">
            <div class="asf-form-container container_12 pagging_bottom ">
                <div class="grid_6_1 alpha float_left">
                    <table id="PersonalLeftTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "Address" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @{
                                        var item04 = Model.Where(x => x.Index == 1).ToList().FirstOrDefault();
                                    }
                                    @Html.ASOFTTextBox(model => item04.Address, htmlAttribute: new { @id = "InterviewAddress04" + "_" + item04.TableName, @IsPartial = true, @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr id="@("trInterviewTypeID" + string.Format("{0:00}", 4))">
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewType" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                      .ASOFTInterviewType_HRM(model => item04.InterviewTypeID,
                                          item04.DivisionID, item04.DutyID,
                                          htmlAttributes: new { id = "InterviewTypeID" + string.Format("{0:00}", 4) + "_" + item04.TableName, @IsPartial = true, @readonly = "readonly" })
                                          )
                                </td>
                            </tr>
                            @for (int i = 1; i <= item04.InterviewTypeList.Count; i++)
                            {
                                <tr class="@("rowChk" + "04")">
                                    <td>
                                        @Html.CheckBox("chk"
                                            + item04.InterviewTypeList[i - 1].DetailTypeID
                                            + "_" + string.Format("{0:00}", 4)
                                            + "_" + item04.TableName,
                                             htmlAttributes:
                                             new
                                             {
                                                 id = "chk" + item04.InterviewTypeList[i - 1].DetailTypeID + "_" + string.Format("{0:00}", 4) + "_" + item04.TableName,
                                                 @IsPartial = true,
                                                 @disabled = "disabled"
                                             },
                                             isChecked: item04.InterviewTypeList[i - 1].Checked
                                            )
                                    </td>
                                    <td>
                                        @Html.Label(item04.InterviewTypeList[i - 1].DetailTypeName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="grid_6 omega float_right line_left_with_grid">
                    <table id="PersonalRightTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "NumberInterviewers" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTSpinEdit(model => item04.InterviewTotal, new { id = "spnTotal" + "04" + "_" + item04.TableName, @IsPartial = true, @readonly = "readonly" })
                                      .Spinners(true)
                                      .Min(1)
                                      .Max(10)
                                      .Value(item04.InterviewTotal)
                                      )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewMember" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                    .ASOFTMultiSelectHRMInterviewer(model => item04.InterviewerList,
                                        new ComboBoxDynamic() { Module = "HRM", ScreenID = "HRMF2021" }, true, htmlAttributes: new { @id = "multiInterviewers" + "04" + "_" + item04.TableName, @IsPartial = true, @readonly = "readonly" })
                                        )
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }@helper Tab05()
{
        <div class="RecruitContent05">
            <div class="asf-form-container container_12 pagging_bottom ">
                <div class="grid_6_1 alpha float_left">
                    <table id="PersonalLeftTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "Address" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @{
                                        var item05 = Model.Where(x => x.Index == 1).ToList().FirstOrDefault();
                                    }
                                    @Html.ASOFTTextBox(model => item05.Address, htmlAttribute: new { @id = "InterviewAddress05" + "_" + item05.TableName, @IsPartial = true, @readonly = "readonly" })
                                </td>
                            </tr>
                            <tr id="@("trInterviewTypeID" + string.Format("{0:00}", 5))">
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewType" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                      .ASOFTInterviewType_HRM(model => item05.InterviewTypeID,
                                          item05.DivisionID, item05.DutyID,
                                          htmlAttributes: new { id = "InterviewTypeID" + string.Format("{0:00}", 5) + "_" + item05.TableName, @IsPartial = true, @readonly = "readonly" })
                                          )
                                </td>
                            </tr>
                            @for (int i = 1; i <= item05.InterviewTypeList.Count; i++)
                            {
                                <tr class="@("rowChk" + "05")">
                                    <td>
                                        @Html.CheckBox("chk"
                                            + item05.InterviewTypeList[i - 1].DetailTypeID
                                            + "_" + string.Format("{0:00}", 5)
                                            + "_" + item05.TableName,
                                            htmlAttributes:
                                             new
                                             {
                                                 id = "chk" + item05.InterviewTypeList[i - 1].DetailTypeID + "_" + string.Format("{0:00}", 5) + "_" + item05.TableName,
                                                 @IsPartial = true,
                                                 @disabled = "disabled"
                                             },
                                             isChecked: item05.InterviewTypeList[i - 1].Checked
                                            )
                                    </td>
                                    <td>
                                        @Html.Label(item05.InterviewTypeList[i - 1].DetailTypeName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="grid_6 omega float_right line_left_with_grid">
                    <table id="PersonalRightTable" class="asf-table-view">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "NumberInterviewers" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTSpinEdit(model => item05.InterviewTotal, new { id = "spnTotal" + "05" + "_" + item05.TableName, @IsPartial = true, @readonly = "readonly" })
                                      .Spinners(true)
                                      .Min(1)
                                      .Max(10)
                                      .Value(item05.InterviewTotal)
                                      )
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label(LocalizedHelper.GetLocalizedResourceString(string.Format("{0}.{1}", "HRMF2021", "InterviewMember" ), "HRMF2021", "HRM"))
                                </td>
                                <td>
                                    @(Html.ASOFTBussinessComboBox()
                                    .ASOFTMultiSelectHRMInterviewer(model => item05.InterviewerList,
                                        new ComboBoxDynamic() { Module = "HRM", ScreenID = "HRMF2021" }, true, htmlAttributes: new { @id = "multiInterviewers" + "05" + "_" + item05.TableName, @IsPartial = true, @readonly = "readonly" })
                                        )
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    
    <style>
        .RecruitContent01, .RecruitContent02, .RecruitContent03, .RecruitContent04, .RecruitContent05 {
            height: 400px;
            width: 100%;
            padding-top: 50px;
        }
    </style>
    }
    else
    {
    <div style="float: left; width: 100%; height: 100%; text-align: center; font-size: 20pt">
        Chưa chọn Vị trí tuyển dụng.
    </div>
    }
}


<script>
    $(document)
        .ready(function () {
            var input = $("input[ispartial='True']");
            $(input)
                .each(function () {
                    $(this).attr("name", this.id);
                });

            $("#TabMaster01").css("width", "10%");
            $("#TabMaster02").css("width", "10%");
            $("#TabMaster03").css("width", "10%");
            $("#TabMaster04").css("width", "10%");
            $("#TabMaster05").css("width", "10%");
       
            $("#multiInterviewers01_HRMT2021_taglist").css("float", "left");
            $("#multiInterviewers02_HRMT2021_taglist").css("float", "left");
            $("#multiInterviewers03_HRMT2021_taglist").css("float", "left");
            $("#multiInterviewers04_HRMT2021_taglist").css("float", "left");
            $("#multiInterviewers05_HRMT2021_taglist").css("float", "left");
        });
</script>
