@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.ViewModel.Helper;
@using ASOFT.ERP.WM.Business
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel



@(Html.ASOFTTab()
          .Name("WMF3000Tab")
          .Items(tabstrip =>
          {
              tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("A00.ReportInfor", "A00", "00"))
                  .Selected(true)
                  .HtmlAttributes(new { @id = "TabMaster01", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                  .Content(Tab01().ToHtmlString());

              tabstrip.Add().Text(LocalizedHelper.GetLocalizedResourceString("A00.BusinessAnaTypeID", "A00", "00"))
                  //.Selected(false)
                  .HtmlAttributes(new { @id = "TabMaster02", @class = "k-tabstrip-items", style = "" })
                  .ContentHtmlAttributes(new { @class = "asf-tab-content" })
                  .Content(Tab02().ToHtmlString());
          })
    )

@helper Tab01()
{
    <div id="MainReportTab">
    </div>
}

@helper Tab02()
{
    List<ASOFT.ERP.WM.Entities.ParameterWMF2003> lstParameterID = new WMF2003BL().GetParameterList(ASOFTEnvironment.DivisionID);
    int num = lstParameterID.Where(e => e.IsUsed == "1").Count();
    @Html.ASOFTHidden("CheckTab", num)

  <div class="asf-form-container" id="Parameter">
  @for(int i=0;i<lstParameterID.Count;i++){
    string npara = string.Format("SParameter{0:00}", i + 1);
    if (lstParameterID[i].IsUsed == "1")
    {
         
        <div class="AnaParent">
            <div class="AnaTitle">
                @Html.ASOFTHidden(npara + "_Content_DataType", 7)
                @Html.ASOFTHidden(npara + "_Type_Fields", 3)
                @if (ASOFTEnvironment.Language == ASOFTConstants.LANGUAGE_VN)
                {
                    @Html.Label(lstParameterID[i].UserName)
                }
                else
                {
                    @Html.Label(lstParameterID[i].UserNameE)
                }
            </div>
            <div class="AnaComboFrom">
                @(Html.ASOFTTextBox(model => model.Data, htmlAttribute: new { id = npara }))
            </div>
        </div>
    
    }else{
     @Html.ASOFTHidden(npara + "_Content_DataType", 7)
    @Html.ASOFTHidden(npara + "_Type_Fields", 3)
    @Html.ASOFTHidden(npara, string.Empty)
    }
    }
       </div>
}



<style>
    .AnaTitle {
        float: left;
        width: 35%;
        margin-top: 5px;
    }

    .AnaComboFrom {
        width: 65%;
        float: left;
    }

    .AnaParent {
        width: 100%;
        float: left;
    }

    .AnaTextCenter {
        text-align: center;
    }
</style>

