
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.ASOFTSysFieldsViewModel
@{
      string ScreenID = ViewBag.ScreenID;
}

<tr class="RouteIDPartial">
    @if (!ScreenID.Equals("CRMF2006") && !ScreenID.Equals("SOF2001") && !ScreenID.Equals("CRMF2005"))
    {
        @Html.ASOFTHidden("RouteID", "").DisabledIf(1==1);
        @Html.ASOFTHidden("RouteID_Content_DataType", "7").DisabledIf(1==1);
        @Html.ASOFTHidden("RouteID_Type_Fields", "1").DisabledIf(1==1);
    }
    <td class="asf-td-caption">@Html.Label(Model.language, htmlAttributes: new { @for = "RouteID" })
    </td>
    <td>@(Html.ASOFTTextBox(model => model.Data, htmlAttribute: new { Disabled = "Disabled", @id = "RouteName"}))

        @(Html.ASOFTButton("...")
        .Name("btnChooseRoute")
        .HtmlAttributes(new { style = "width : 26px; height: 26px" })
        .Events(e => e.Click("btnChooseRoute_Click")))

        @(Html.ASOFTButton("")
        .Name("btnDeleteRoute")
        .HtmlAttributes(new { style = "width : 26px; height: 26px; background-image: url(/Content/Images/icon-delete-24x24.png); background-repeat: no-repeat" })
        .Events(e => e.Click("btnDeleteRoute_Click")))
    </td>
</tr>

<script>
    $("#RouteName").css("width", "150px");
    $("#RouteName").attr("name", "RouteName");
    $(document).ready(function () {
        if ($("#RouteNameDB").val() !== undefined) {
            $("#RouteName").val($("#RouteNameDB").val());
            $("#RouteNameDB").attr("Disabled", true);
            if (typeof parent.GetCheckConfirm === "function") {
                if (parent.GetCheckConfirm() == 1) {
                    $("#btnChooseRoute").data("kendoButton").enable(false);
                    $("#btnDeleteRoute").data("kendoButton").enable(false);
                }
            }
        }
    })
</script>