@model QuanLy.Models.DemoModels
@using Kendo.Mvc.UI
<form id="ticketsForm" action="QuanLy/Createmember" onsubmit="return false"> 
<div id="none">
    Trùng Khóa Chính
</div>
<table>
    <tr>
        <td>
            Đơn Vị
        </td>
        <td>
                @(Html.Kendo().TextBoxFor(m => m.DivisionID)
                .Name("DivisionID")
                .HtmlAttributes(new { required = "required", validationmessage = "Không để trống mã đơn vị"})
            )
        </td>
        <td>
            Ngày Sinh
        </td>
        <td>    
            @(Html.Kendo().DatePickerFor(m => m.Birthday)
                    .Name("Birthday")
                    .Value("1/1/1990")
                    .Format("MM/dd/yyyy")
            )
        </td>
    </tr>
    <tr>
        <td>
            Mã Hội Viên
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.MemberID)
                .Name("MemberID")
                .HtmlAttributes(new { required = "required", validationmessage = "Không để trống mã hội viên" })
            )
        </td>
        <td>
            Website
        </td>
        <td>    
            @(Html.Kendo().TextBoxFor(m => m.Website)
            )
        </td>
    </tr>
    <tr>
        <td>
            Tên Hội Viên
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.MemberName)
            )
        </td>
        <td>
            Hộp Thư
        </td>
        <td>    
            @(Html.Kendo().TextBoxFor(m => m.Mailbox)
            )
        </td>
    </tr>
    <tr>
        <td>
            Tên Riêng
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.ShortName)
            )
        </td>        
        <td>
            Mã Vùng
        </td>
        <td>    
            @(Html.Kendo().TextBoxFor(m => m.AreaName)
            )
        </td>
    </tr>
    <tr>
        <td>
            Số Điện Thoại
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.Tel)
                .HtmlAttributes(new { pattern = "\\d{8,11}", type = "tel",validationmessage = "Cần nhập chính xác số điện thoại" })
            )
        </td>
        <td>
            Phường/Xã
        </td>
        <td>    
            @(Html.Kendo().TextBoxFor(m => m.WardName)
            )
        </td>
    </tr>
    <tr>
        <td>
            Địa Chỉ
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.Address)
            )
        </td>
        <td>
            Quận/Huyện
        </td>
        <td>    
            @(Html.Kendo().TextBoxFor(m => m.CountyName)
            )
        </td>
    </tr>
    <tr>
        <td>
            Mã Số Thuế/Số CMND
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.Identify)
            )
        </td>
        <td>
            Tỉnh/Thành
        </td>
        <td>    
            @(Html.Kendo().TextBoxFor(m => m.CityName)
            )
        </td>
    </tr>
    <tr>
        <td>
            Điện Thoại Di Động
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.Phone)
            )
        </td>
        <td>
            Quốc Gia
        </td>
        <td>    
            @(Html.Kendo().TextBoxFor(m => m.CountryName)
            )
        </td>
    </tr>
    <tr>
        <td>
            Fax
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.Fax)
            )
        </td>
        <td>
            Không Hiển Thị
        </td>
        <td>    
            @(Html.Kendo().CheckBoxFor(m => m.Disable)
            )
        </td>
    </tr>
    <tr>
        <td>
            Email
        </td>
        <td>
            @(Html.Kendo().TextBoxFor(m => m.Email)
                .HtmlAttributes(new {  type = "email", data_email_msg = "Email Đúng Định Dạng ?"})
            )
        </td>
    </tr>
</table>
<div style="float: right">
        @(Html.Kendo().Button()
            .Name("btluu")
            .HtmlAttributes(new  { type = "submit" })
            .Content("Lưu & Nhập tiếp")
            )
        @(Html.Kendo().Button()
            .Name("btluusc")
            .HtmlAttributes(new  { type = "submit" })
            .Content("Lưu & Sao Chép")
            )
        @(Html.Kendo().Button()
            .Name("btdong")
            .Content("Đóng")
            )
</div>
</form>
