@model QuanLy.Models.DemoModels
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        

        function loadgrid(data) {
            
            $("#grid").empty();
            var i = 1;
            var grid = "<table>" +
                "<tr><td><input type='checkbox' id='checkid' /></td>" +
                    "<td>STT</td>" +
                    "<td>Đơn vị</td>" +
                    "<td>Mã hội viên</td>" +
                    "<td>Tên hội viên</td>" +
                    "<td>Địa chỉ</td>" +
                    "<td>Mã thuê/Số CMND</td>" +
                    "<td>Điện thoại di động</td>" +
                    "<td>Số điện thoại</td>" +
                    "<td>Fax</td>" +
                    "<td>Email</td>" +
                    "<td>Không kích hoạt</td>" +
                "</tr>";
            $.each(data, function (key, val) {
                if (val["DivisionID"] == null) { val["DivisionID"] = "" };
                if (val["MemberID"] == null) { val["MemberID"] = "" };
                if (val["MemberName"] == null) { val["MemberName"] = "" };
                if (val["Address"] == null) { val["Address"] = "" };
                if (val["Identify"] == null) { val["Identify"] = "" };
                if (val["Phone"] == null) { val["Phone"] = "" };
                if (val["Tel"] == null) { val["Tel"] = "" };
                if (val["Fax"] == null) { val["Fax"] = "" };
                if (val["Email"] == null) { val["Email"] = "" };
                grid = grid +
                    "<tr><td><input type='checkbox' name='check' value='"+val['APK']+"'/></td>" +
                    "<td>" + i + "</td>" +
                    "<td>" + val["DivisionID"] + "</td>" +
                    "<td>" + val["MemberID"] + "</td>" +
                    "<td>" + val["MemberName"] + "</td>" +
                    "<td>" + val["Address"] + "</td>" +
                    "<td>" + val["Identify"] + "</td>" +
                    "<td>" + val["Phone"] + "</td>" +
                    "<td>" + val["Tel"] + "</td>" +
                    "<td>" + val["Fax"] + "</td>" +
                    "<td>" + val["Email"] + "</td>" +
                    "<td>" + val["Disable"] + "</td>" +
                    "<tr>";
                i++;
            });
            grid = grid + "</table>";
            $("#grid").append(grid);


            $("#checkid").click(function () {
                var c = this.checked;
                $("[name = 'check']").prop('checked', c);
            });
        };

       
        

        $(function () {
            $.ajax({
                type: "POST",
                url: "QuanLy/LoadGrid",
                success: function (data) {
                    loadgrid(data);
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        });

        $("#frLoc").submit(function () {

            var url = "QuanLy/srch"; // the script where you handle the form input.

            $.ajax({
                type: "POST",
                url: $("#frLoc").attr("action"),
                data: $("#frLoc").serialize(), // serializes the form's elements.
                success: function (data) {
                    loadgrid(data);
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });

        });

        $("#btlamlai").click(function () {
            $("#tb").find(":text").val(null);
        })

        $("#btxoa").click(function () {
            var list = $(":input[name = 'check']");
            var dtr = Array();
            list.each(function () {
                if (this.checked == true)
                    dtr.push(this.value);
            })

            if (dtr.length == 0) {
                alert("Hãy Chọn Để Xóa");
                return;
            }
            if (!confirm("Bạn có muốn xóa không?"))
                return;

            $.ajax({
                type: 'POST',
                url: '/QuanLy/Destroy',
                traditional: true,
                dataType: "json",
                data: { destroy: dtr },
                success: function (data) {
                    loadgrid(data);
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        });

        $("#btdisable").click(function () {
            var list = $(":input[name = 'check']");
            var d = Array();
            list.each(function () {
                if (this.checked == true)
                    d.push(this.value);
            })
            if (d.length == 0) {
                alert("Hãy Chọn");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/QuanLy/Disable',
                traditional: true,
                dataType: "json",
                data: { disable: d },
                success: function (data) {
                    loadgrid(data);
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        });

        $("#btupdate").click(function () {
            var list = $(":input[name = 'check']");
            var und = Array();
            list.each(function () {
                if (this.checked == true)
                    und.push(this.value);
            })
            if (und.length == 0) {
                alert("Hãy Chọn");
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/QuanLy/Undisable',
                traditional: true,
                dataType: "json",
                data: { undisable: und },
                success: function (data) {
                    loadgrid(data);
                },
                error: function (args) {
                    alert("Error on ajax post");
                }
            });
        });

        $("#btthem").click(function (e) {
            $("#pp").data("kendoWindow").open();
        });

        $("#btdong").click(function (e) {
            temp = -1;
            $("#pp").data("kendoWindow").close();
        });

        var temp = -1;

        $("#btluu").click(function () {
            temp = 0;
        });

        $("#btluusc").click(function () {
            temp = 1;
        });

        $(function () {
            var validator = $("#ticketsForm").kendoValidator().data("kendoValidator")
            $("form").submit(function (event) {
                event.preventDefault();
                if (temp == -1)
                    return;
                if (validator.validate()) {
                    testkey();
                }
            });
        });

        function testkey() {
            var mdv = $("#ticketsForm").find("#DivisionID").val();
            var mhv = $("#ticketsForm").find("#MemberID").val();
            $.getJSON("QuanLy/Testkey", { ma: mdv, ten: mhv }, function (data) {
                if (data > 0) {
                    $("#none").css("display", "inline");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: $("#ticketsForm").attr("action"),
                        data: $("#ticketsForm").serialize(), // serializes the form's elements.
                        success: function (data) {
                            if (temp == 0)
                                $("#ticketsForm").find(":text[name != 'Birthday']").val(null);
                            loadgrid(data);
                            $("#none").css("display", "none");
                            alert("Thêm Thành Công");
                        },
                        error: function (args) {
                            alert("Thêm Thất Bại");
                        }
                    });
                }
            })
        }

    });

 
</script>

<div style="font-size: 25px ; font-weight: bold">
DANH MỤC HỘI VIÊN
</div>
<hr />
<form id="frLoc" action="QuanLy/srch" onsubmit="return false">
<div>
    <table id="tb">
        <tr>
            <td>
                Đơn Vị
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.DivisionID))
            </td>
            <td>
                Địa Chỉ
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Address))
            </td>
            <td>
                Số Điện Thoại   
            </td>
            <td>
               @(Html.Kendo().TextBoxFor(m=>m.Tel))
            </td>
        </tr>
        <tr>
            <td>
                Mã Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.MemberID))
            </td>
            <td>
                Mã Số Thuế/Số CMND
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Identify))
            </td>
            <td>
                Fax  
            </td>
            <td>
               @(Html.Kendo().TextBoxFor(m=>m.Fax))
            </td>
        </tr>
        <tr>
            <td>
                Tên Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.MemberName))
            </td>
            <td>
                Điện Thoại Di Động
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Phone))
            </td>
            <td>
                Email   
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m=>m.Email))
            </td>
        </tr>
    </table>
</div>
<div>
    <br />
    <br />
    <br />
</div>
<div>
    <div style="float: right">
        @(Html.Kendo().Button()
        .HtmlAttributes(new  { type = "submit" })
        .Name("btlocdulieu")
        .ImageUrl(Url.Content("/Images/search.png"))    
        .Content("Lọc Dữ Liệu")

        )
        @(Html.Kendo().Button()
        .Name("btlamlai")
        .HtmlAttributes(new { style = "height: 40px" })
        .Content("Làm Lại")
        )
    </div>
</div>
</form>
<div style="float: left">
    @(Html.Kendo().Button()
    .Name("btthem")
    .ImageUrl(Url.Content("/Images/sum.png"))
    )
    @(Html.Kendo().Button()
    .Name("btxoa")
    .ImageUrl(Url.Content("/Images/recycle.png"))

    )
    @(Html.Kendo().Button()
    .Name("btupdate")
    .ImageUrl(Url.Content("/Images/discheck.png"))

    )  
    @(Html.Kendo().Button()
    .Name("btdisable")
    .ImageUrl(Url.Content("/Images/checked.png"))

    )  
</div>
    

<div id="grid" style="float: left">
</div>

@(Html.Kendo().Window()
    .Name("pp")
    .Title("DANH MỤC HỘI VIÊN")
    .Content(@<text>
<form id="ticketsForm" action="QuanLy/Createmember" onsubmit="return false"> 
<div id="none">
    Trùng Khóa Chính
</div>
<table>
        <tr>
            <td>
                Đơn Vị
            </td>
            <td>
                 @(Html.Kendo().TextBoxFor(m => m.DivisionID)
                    .Name("DivisionID")
                    .HtmlAttributes(new { required = "required", validationmessage = "Không để trống mã đơn vị"})
                )
            </td>
            <td>
                Ngày Sinh
            </td>
            <td>    
                @(Html.Kendo().DatePickerFor(m => m.Birthday)
                      .Name("Birthday")
                      .Value("1/1/1990")
                      .Format("MM/dd/yyyy")
                )
            </td>
        </tr>
        <tr>
            <td>
                Mã Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.MemberID)
                    .Name("MemberID")
                    .HtmlAttributes(new { required = "required", validationmessage = "Không để trống mã hội viên" })
                )
            </td>
            <td>
                Website
            </td>
            <td>    
                @(Html.Kendo().TextBoxFor(m => m.Website)
                )
            </td>
        </tr>
        <tr>
            <td>
                Tên Hội Viên
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.MemberName)
                )
            </td>
            <td>
                Hộp Thư
            </td>
            <td>    
                @(Html.Kendo().TextBoxFor(m => m.Mailbox)
                )
            </td>
        </tr>
        <tr>
            <td>
                Tên Riêng
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.ShortName)
                )
            </td>        
            <td>
                Mã Vùng
            </td>
            <td>    
                @(Html.Kendo().TextBoxFor(m => m.AreaName)
                )
            </td>
        </tr>
        <tr>
            <td>
                Số Điện Thoại
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.Tel)
                    .HtmlAttributes(new { pattern = "\\d{8,11}", type = "tel",validationmessage = "Cần nhập chính xác số điện thoại" })
                )
            </td>
            <td>
                Phường/Xã
            </td>
            <td>    
                @(Html.Kendo().TextBoxFor(m => m.WardName)
                )
            </td>
        </tr>
        <tr>
            <td>
                Địa Chỉ
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.Address)
                )
            </td>
            <td>
                Quận/Huyện
            </td>
            <td>    
                @(Html.Kendo().TextBoxFor(m => m.CountyName)
                )
            </td>
        </tr>
        <tr>
            <td>
                Mã Số Thuế/Số CMND
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.Identify)
                )
            </td>
            <td>
                Tỉnh/Thành
            </td>
            <td>    
                @(Html.Kendo().TextBoxFor(m => m.CityName)
                )
            </td>
        </tr>
        <tr>
            <td>
                Điện Thoại Di Động
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.Phone)
                )
            </td>
            <td>
                Quốc Gia
            </td>
            <td>    
                @(Html.Kendo().TextBoxFor(m => m.CountryName)
                )
            </td>
        </tr>
        <tr>
            <td>
                Fax
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.Fax)
                )
            </td>
            <td>
                Không Hiển Thị
            </td>
            <td>    
                @(Html.Kendo().CheckBoxFor(m => m.Disable)
                )
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                @(Html.Kendo().TextBoxFor(m => m.Email)
                    .HtmlAttributes(new {  type = "email", data_email_msg = "Email Đúng Định Dạng ?"})
                )
            </td>
        </tr>
    </table>
    <div style="float: right">
            @(Html.Kendo().Button()
              .Name("btluu")
              .HtmlAttributes(new  { type = "submit" })
              .Content("Lưu & Nhập tiếp")
              )
            @(Html.Kendo().Button()
              .Name("btluusc")
              .HtmlAttributes(new  { type = "submit" })
              .Content("Lưu & Sao Chép")
              )
            @(Html.Kendo().Button()
              .Name("btdong")
              .Content("Đóng")
              )
    </div>
    </form>
    </text>)
    .Draggable()
    .Visible(false)
    .Resizable()
    .Width(800)
)

<style>
    #demo-section {
        font-size: 10px;
        margin-top: 15px;
    }
    #none {
    display: none;
    color: red;
}
</style>











