@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.ViewModel;
@model ASOFT.ERP.ViewModel.MT.MTF0020ViewModel
@{
    Layout = "";
}

@helper InfoPanel()
{
    <div class="form-content">
        <table class="asf-table-view">
            <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.DivisionID)</td>
                <td class="asf-td-field" colspan="2">
                    @Html.ASOFTHidden("mtf0020Title", Html.ASOFTRaw(model => model.Title))
                    @Html.ASOFTHidden("mtf0020Width", 500)
                    @(Html.ASOFTBussinessComboBox().ASOFTDivisionID(model=>model.DivisionID)
                            .Events(e=>e.Change("MTF0020.divisionIDChanged")))
                </td>
            </tr>
            <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.Period)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTPeriod(model => model.Period,  option: new ComboOption { EventPostData = "MTF0020.periodData" })
                            .CascadeFrom("DivisionID"))
                </td>
            </tr>
            <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.ReduceReason)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTReduceReason(model=>model.ReduceReason))
                </td>
            </tr>
             <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.BranchAna)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTReduceReason(model=>model.BranchAna))
                </td>
            </tr>
            @* <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.CourseID)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTCourseIDSystemConfig(model=>model.CourseID))
                </td>
            </tr>*@

            <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.PageSize)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox()
                        .ASOFTPageSize(model=>model.PageSize))
                </td>
            </tr>
        </table>
    </div>
}

@helper InventoryType()
{
   <div class="form-content">
        <table class="asf-table-view">
            <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.EduVoucherTypeID)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTVoucherTypeID(model=>model.EduVoucherTypeID))
                </td>
            </tr>
            <tr>
                <td valign="bottom" class="asf-td-caption">@Html.ASOFTLabel(model => model.StopVoucherTypeID)</td>
                <td class="asf-td-field" colspan="2">
                    @(Html.ASOFTBussinessComboBox().ASOFTVoucherTypeID(model => model.StopVoucherTypeID))
                </td>
            </tr>
        </table>
    </div>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "MTF0020" }))
{
    @(Html.ASOFTTab()
        .Name("MTF0020Tab")
        .Items(tabstrip =>
                    {
                        tabstrip.Add().Text(Html.ASOFTRaw(m => m.CommonInfo).ToString().ToUpper())
                            .Selected(true)
                            .HtmlAttributes(new {@id = "TabstripMaster-1"})
                            .ContentHtmlAttributes(new {@class = "asf-tab-content"})
                            .Content(InfoPanel().ToHtmlString());

                        tabstrip.Add().Text(Html.ASOFTRaw(m => m.InventoryTypeInfo).ToString().ToUpper())
                            .HtmlAttributes(new {@id = "TabstripMaster-2"})
                            //.ContentHtmlAttributes(new { style = "height:792px;" })
                            .ContentHtmlAttributes(new {@class = "asf-tab-content"})
                            .Content(InventoryType().ToHtmlString());
                    })
    )
    
    <div class="asf-form-container">
        
        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                      .Name("BtnClose")
                                      .Events(e => e.Click("MTF0020.btnCloseSystemPopup")))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                        .Name("btnSave")
                                        .Events(e => e.Click("MTF0020.btnSaveSystem"))
                                        .Enable(ASOFTEnvironment.CheckPermission("MTF0020", ASOFTConstants.MODULE_MT, ASOFTPermission.AddNew)))
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
}



