@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     12/09/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.ViewModel.DRM
@model DRF2061ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2061Title, "DRF2061").ToHtmlString();
    ViewBag.Width = 900;

    // Form Status
    bool isInsert = Model.FormStatus.Equals(ASOFTFormActionType.AddNew);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "DRF2061"}))
{
 <div class="asf-form-container">
    <div class="form-content">
        <div class="form-content-left">
            <table class="asf-table-view">
               <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.ContractNo)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model => model.ContractNo).ReadOnlyIf(true))
                        @Html.ASOFTHidden(model=>model.APK)
                        @Html.ASOFTHidden(model=>model.DispathTypeID)
                    </td>
                </tr>
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.CustomerName)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model=>model.CustomerName).ReadOnlyIf(true))
                    </td>
                </tr>
                 <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.DebtorName)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model => model.DebtorName).ReadOnlyIf(true))
                    </td>
                </tr>    
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.SuggestEmployeeName)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model=>model.SuggestEmployeeName).ReadOnlyIf(true))
                    </td>
                </tr>   
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.SendDate)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTDateEdit(model=>model.SendDate).Enable(false))
                    </td>
                </tr>
                 <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.DispathTypeName)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model=>model.DispathTypeName).ReadOnlyIf(true))
                    </td>
                </tr>            
            </table>
        </div>
        <div class="form-content-right">
            <table class="asf-table-view">
                 <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.TeamLeaderConfirm, htmlStyle: new { width = "150px", @float = "left" })</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTDRMConfirm(model=>model.TeamLeaderConfirm)
                            .Events(e=>e.Change("DRF2061.combo_Changed"))
                            .Enable(Model.Leader == 1))
                    </td>
                </tr>    
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.TeamLeaderNote)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model=>model.TeamLeaderNote)
                            .ReadOnlyIf(Model.Leader != 1))
                    </td>
                </tr>    
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.ManagerConfirm)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTDRMConfirm(model=>model.ManagerConfirm, 1)
                            .Events(e=>e.Change("DRF2061.combo_Changed"))
                            .Enable(Model.Manager == 1))
                    </td>
                </tr>    
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.ManagerNote)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model=>model.ManagerNote)
                            .ReadOnlyIf(Model.Manager != 1))
                    </td>
                </tr>  
                 <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.InfoRoomConfirm)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTDRMConfirm(model=>model.InfoRoomConfirm, 2)
                            .Events(e=>e.Change("DRF2061.combo_Changed"))
                            .Enable(Model.Info == 1))
                    </td>
                </tr>    
                <tr>
                    <td class="asf-td-caption">@Html.ASOFTLabel(model => model.InfoRoomNote)</td>
                    <td class="asf-td-field" colspan="2">
                        @(Html.ASOFTTextBox(model=>model.InfoRoomNote)
                            .ReadOnlyIf(Model.Info != 1))
                    </td>
                </tr>      
            </table>
        </div>
        <table class="asf-table-view">
            <tr>
                <td>@Html.ASOFTLabel(model => model.SuggestNote)</td>
            </tr>
            <tr>
                <td>@Html.ASOFTTextArea(model => model.SuggestNote).ReadOnlyIf(true)</td>
            </tr>
        </table>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("DRF2061.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("DRF2061.btnSave_Click"))
                                .HideIf(isInsert))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnDailyProcess"))
                                .Name("BtnDailyProcess")
                                .Events(e => e.Click("DRF2061.btnDailyProcess"))
                                .HideIf(isInsert))
                    </div>        
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section styleFeature{
@*    <link href="@Url.Content("~/Areas/DRM/Content/DRF2001.css")" rel="stylesheet" type="text/css" />*@
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2060/DRF2061.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2020/DRF2021.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}

@Html.ASOFTHidden("UrlDRF2021", Url.Action("DRF2021", "DRF2020", new { area = "DRM" }))
@Html.ASOFTHidden("UrlInsertDRF2020", Url.Action("Insert", "DRF2020", new { area = "DRM" }))
@Html.ASOFTHidden("UrlCreateProcessingID", Url.Action("CreateVoucherNo", "DRF2020"))
@Html.ASOFTHidden("UrlCheckContractNo", Url.Action("CheckContractNo", "DRF2020"))
@Html.ASOFTHidden("UrlGetDataCV", Url.Action("GetDataCV", "DRF2013", new { area = "DRM" }))