@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     12/09/2014      Đức Quý         Tạo mới
//####################################################################
*@

@using System.Web.UI.WebControls
@using ASOFT.ERP.ViewModel
@using ASOFT.ERP.ViewModel.DRM;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;

@model DRF2060ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2060Title, "DRF2060").ToHtmlString();
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewData.Add("MainView", this);
}

@section Header {
    <!-- Header BreakCrumb -->
    @Html.ASOFTHeader(new HeaderModel
                          {
                              Title = Html.ASOFTPageTitle(m => m.DRF2060Title, "DRF2060").ToHtmlString(),
                              Breakcrumb = true
                          })
}

@Html.Partial("FormFilter")

<!-- Filter buttons -->
@section FilterButtons {
    <!-- Search button -->
    <li>
        @(Html.ASOFTSearchButton()
              .Name("BtnFilterDRF2060")
              .Events(e => e.Click("DRF2060.btnFilter_Click"))
              )
    </li>
    
    <!-- Reset button -->
    <li>
        @(Html.ASOFTSearchResetButton()
            .Name("BtnResetFilterDRF2060")
            .Events(e => e.Click("DRF2060.btnClearFilter_Click"))
            )
    </li>
}

@section GridToolBar {
    <!-- Toolbar buttons -->
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
}

@section Grid {
    <!-- Grid master -->
    @Html.Partial("GridDocument")
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRMSearchPeriod.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2060/DRF2060.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2060/DRF2061.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
   @* <link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />*@
}

@Html.ASOFTHidden("UrlDRF2061", Url.Action("DRF2061"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlSendDoc", Url.Action("SendDoc"))
@Html.ASOFTHidden("UrlConfirmDRF2060", Url.Action("Confirm"))
@Html.ASOFTHidden("UrlDoPrintOrExport", Url.Action("DoPrintOrExport", "DRF2060"))
@Html.ASOFTHidden("UrlGetReportFile", Url.Action("GetReportFile", "DRF2060"))
@Html.ASOFTHidden("UrlReportViewer", Url.Action("ReportViewer", "DRF2060"))

@Html.ASOFTHidden("UrlDoExportHtml", Url.Action("DoExportHtml", "DRF2060"))
@Html.ASOFTHidden("UrlHtmlCVXR2", Url.Action("HtmlCVXR2", "DRF2080", new { area = "DRM" }))
@Html.ASOFTHidden("UrlHtmlCVVPL", Url.Action("HtmlCVVPL", "DRF2080", new { area = "DRM" }))

@*@Html.ASOFTHidden("UrlPrintAction",  @Html.Partial("~/Views/Shared/Action/Action.cshtml", Model.Action))*@
@Html.ASOFTHidden("UrlHtml", Url.Action("PrintDoc_Html", new { controller = "DRF2080", area = "DRM" }))
@Html.ASOFTHidden("UrlGetDataCV", Url.Action("GetDataCV", "DRF2060"))