@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     22/10/2014      Hoàng Tú        Tạo mới
//####################################################################
*@
@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Database
@model ASOFT.ERP.ViewModel.S.SF0002ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml"; 
    ViewBag.Title = Html.ASOFTPageTitle(model => model.Title, "SF0002").ToHtmlString();
    ViewBag.Width = 1100;
}
@Html.ASOFTHidden("UrlInsert", Url.Action("Insert"))
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "SF0002" }))
{       
  <div class="asf-form-container"><!--Begin: asf-form-container -->
        <div class="form-content"><!--Begin:form-content -->  
            <table class="asf-table-view">       
                <tr>
                    <td class="asf-td-grid-caption">@Html.ASOFTLabel(model => model.AdminUserID)</td>
                    <td class="asf-td-grid-field" colspan="2">
                        @(Html.ASOFTBussinessComboBox().ASOFTUserID(model => model.AdminUserID)
                              .SelectedIndex(0)
                              .Events(e => e.Change("userID_Change")))
                    </td> 
                   <td class="asf-td-grid-space" colspan="3"></td>
                   <td class="asf-td-grid-caption">@Html.ASOFTLabel(model => model.Notes)</td>
                   <td class="asf-td-grid-field" colspan="2">
                        @Html.ASOFTTextBox(model => model.Notes,htmlStyle: new { width = Unit.Percentage(100) })
                    </td>
                </tr>
            </table> 
        </div><!--End:form-content --> 

        <div class="form-content"><!--Begin:form-content --> 
            <div class="form-content-grid-left">
                 <table class="asf-table-view">
                 <tr>
                          <td class="asf-td-caption" colspan="3">@Html.ASOFTLabel(model => model.Grid1Title)</td>
                 </tr>
                <tr>
                         <td class="asf-td-caption" colspan="3">
                             @Html.Partial("GridUserID")  
                         </td>
                 </tr>
                 </table>
             </div>  
            <div class="form-content-grid-right">
                <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption" colspan="3">@Html.ASOFTLabel(model => model.Grid2Title)</td>
                </tr>
        
                    <tr>
                        <td class="asf-td-caption" colspan="3">
                            @Html.Partial("GridNew")  
                        </td>
                    </tr>
                </table>
            </div>
            <div class="asf-btn-arrow"><!--Begin:asf-btn-arrow -->
                <tr>
                    <td >
                    <ul class="middle-buttons"> 
                            <li class="button1">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeSingle"))
                                      .Name("changeSingle")
                                      .Events(m => m.Click("changeSingle")))
                            </li>
                            <li class="button2">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeReturn"))
                                                      .Name("returnSingle")
                                                      .Events(e => e.Click("returnSingle")))
                            </li>       
                            <li class="button3">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeAll"))
                                                      .Name("returnChangeAll")
                                                      .Events(e => e.Click("ChangeAll")))
                            </li>
                             <li class="button4">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnReturnAll"))
                                                       .Name("ReturnAll")
                                                       .Events(e => e.Click("ReturnAll")))
                             </li>
                     </ul>
                    </td>
                </tr>              
          
            </div><!--End:asf-btn-arrow -->  
        
        </div><!--End:form-content --> 
            
  </div> <!--End:asf-form-container -->  
  <div class="asf-form-button"><!--Begin:asf-table-view-->
     <table class="asf-table-view">
         <tr>
             <td align="right">
                  <div class="asf-popup-button-container">  
                 @if (Model.FormStatus == ASOFTFormActionType.AddNew)
                 {
                     bool hasPermission = false;
                     if (Model.AllowAdd())
                     {
                         hasPermission = true;
                     } 
                                                                                                    
                     <div>
                         @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                               .Name("BtnClose")
                               .Events(e => e.Click(hasPermission ? "popupClose_Click" : "ASOFT.asoftPopup.closeOnly")))
                     </div>
                      <div>
                         @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                               .Name("SF0002SaveNew")
                               .Events(m => m.Click("SF0002Save_Click"))   
                            //   .Enable(hasPermission)                                           
                               )
                     </div>                
                                         
                 }  
                </div>
             </td> 
                     
         </tr>                           
     </table>
  </div><!--End:asf-table-view-->
}
@section jsFeature {
    <script src="@Url.Content("~/Areas/S/Scripts/SF0002.js?v=" + ASOFTEnvironment.Version)" type="text/javascript"></script>
}
@section styleFeature
 {
    <link href="@Url.Content("~/Areas/S/Content/SF0002.css")" rel="stylesheet" type="text/css" />
}