@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     25/08/2014      Đức Quý         Tạo mới
//####################################################################
*@
@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Infrastructure;
@using ASOFT.ERP.A00.Entities.Database;
@using ASOFT.ERP.A00.Entities.Common;
@using ASOFT.ERP.ViewModel;
@using Kendo.Mvc;
@model CIF1042ViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "CIF1042").ToHtmlString();
}

<div id="contentMaster">
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTPageTitle(m => m.Title, "CIF1042").ToHtmlString(), Breakcrumb = true})
    <div id="ViewMaster" class="asf-panel-view-master" >
        <div class="asf-panel-master-header">
            <div class="asfbtn asfbtn-right">
                @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())
            </div>
        </div>
        <div id="viewPartial">
            @Html.Partial("CIF1042M")
        </div>
    </div>
</div>

@section jsFeature{
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1040.js?v=" + ASOFTEnvironment.Version)"></script>
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1041.js?v=" + ASOFTEnvironment.Version)"></script>
}

@section styleFeature {
    @*<link href="@Url.Content("~/Areas/DRM/Content/Common.css")" rel="stylesheet" type="text/css" />*@
}

<!-- Hidden Field -->
@Html.ASOFTHidden("UrlCIF1040", Url.Action("Index"))
@Html.ASOFTHidden("UrlCIF1041", Url.Action("CIF1041"))
@Html.ASOFTHidden("UrlCIF1042M", Url.Action("CIF1042M"))
@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))
@Html.ASOFTHidden("UrlDelete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlCheckEdit", Url.Action("CheckEdit"))