@model ASOFT.ERP.ViewModel.A00.PeriodFilterViewModel
@{
    string css = string.Empty;
    if (Model.NumberOfColumns == 2)
    {
        css = "grid_6 alpha line_right";
    }
    else if(Model.NumberOfColumns == 3)
    {
        css = "grid_4 alpha line_right";
    }
}


        <tr>
            <td class="container_period_label">@Html.ASOFTRadioButton(model => model.IsDate, 0, htmlAttributes: new
                                          {
                                              id = "rdbIsDate0"
                                          }) @Html.ASOFTLabel(model => model.FromDateFilter)</td>
            <td class="container_period_control">
                @(Html.ASOFTDateEdit(model => model.FromDateFilter,
                             htmlAttributes: new Dictionary<string, object> {
                                                    {"data-bind","value:FromDateFilter"}}
                                                )
                                  .Value(ASOFTEnvironment.WorkingDate)
                            )
            </td>

            <td class="container_period_space"></td>
            <td class="container_period_label">@Html.ASOFTLabel(model => model.ToDateFilter)</td>
            <td class="container_period_control">
                @(Html.ASOFTDateEdit(model => model.ToDateFilter,
                             htmlAttributes: new Dictionary<string, object> {
                                                    {"data-bind","value:ToDateFilter"}}
                                                )
                            .Value(ASOFTEnvironment.WorkingDate)
                            )
            </td>
        </tr>
        <tr>
            <td>@Html.ASOFTRadioButton(model => model.IsDate, 1, htmlAttributes: new
           {
               id = "rdbIsDate1"
           }) @Html.ASOFTLabel(model => model.FromPeriodFilter)</td>
            <td colspan="4">
                @Html.ASOFTBussinessComboBox().ASOFTCheckListPeriod(model => model.FromPeriodFilter).Enable(false)
            </td>
            @*<td>
                @(Html.ASOFTBussinessComboBox()
                                  .ASOFTPeriod(model => model.FromPeriodFilter,
                                                htmlAttributes: new Dictionary<string, object> {
                                                    {"data-bind","value:FromPeriodFilter"}}
                                                )
                                  .Value(ASOFTEnvironment.Period)
                                  .Events(e => e.Cascade("fromPeriod_Cascade"))
                                  .Enable(false))
            </td>
            <td class="container_period_space"></td>
            <td>@Html.ASOFTLabel(model => model.ToPeriodFilter)</td>
            <td>@(Html.ASOFTBussinessComboBox()
                            .ASOFTPeriod(model => model.ToPeriodFilter,
                            htmlAttributes: new Dictionary<string, object> {
                                                    {"data-bind","value:ToPeriodFilter"}}
                                                )
                            .Value(ASOFTEnvironment.Period)
                            .Events(e => e.Cascade("toPeriod_Cascade"))
                            .Enable(false))</td>*@
        </tr>

