
@model ASOFT.ERP.ViewModel.MT.MTF1040ViewModel

@{
    ViewBag.Title = Html.ASOFTPageTitle(m => m.MTF1042Title, "MTF1040").ToHtmlString();
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/MT/Scripts/MTF1040.js")"> </script>
}

@section styleFeature{
    <link href="@Url.Content("~/Areas/MT/Content/MTF1040.css")" rel="stylesheet" type="text/css" />
    
}

<div id='contentMaster'>
    @Html.ASOFTHeader(new HeaderModel {Title = Html.ASOFTRaw(model => model.MTF1042Title), Breakcrumb = true})
    <div id="mtf1042-viewmastercontent">
        <div id="ViewMaster" class="asf-panel-view-master-detail mtf1042-view-master">
            @Html.Partial("MTF1042M")
        </div>
        <div class="asf-panel-view-detail">
            @Html.Partial("GridClassDetail", Model)
        </div>
    </div>

</div>

@(Html.ASOFTPopup()
      .Name("MTF1041Popup")
      .Width(500)
      .Title(Html.ASOFTPageTitle(m => m.MTF1041Title, "MTF1041").ToHtmlString()))
@(Html.ASOFTPopup()
      .Name("MTF1043Popup")
      .Width(500)
      .Title(Html.ASOFTPageTitle(m => m.MTF1043Title, "MTF1043").ToHtmlString()))

@(Html.ASOFTPopup()
      .Name("MTF0080Popup")
      .Width(500)
      .Title(Html.ASOFTPageTitle(m => m.MTF1043Title, "MTF0080").ToHtmlString()))

@Html.ASOFTHidden("UrlMTF1041", Url.Action("MTF1041"))
@Html.ASOFTHidden("UrlMTF1043", Url.Action("MTF1043"))
@Html.ASOFTHidden("UrlMTF1040", Url.Action("Index"))
@Html.ASOFTHidden("UrlMTF1041Update", Url.Action("Update"))
@Html.ASOFTHidden("UrlMTF1041Insert", Url.Action("Insert"))
@Html.ASOFTHidden("UrlMTF1040Delete", Url.Action("Delete"))
@Html.ASOFTHidden("UrlMTF1043Insert", Url.Action("InsertTeacher"))
@Html.ASOFTHidden("UrlMTF1042DeleteTeacher", Url.Action("DeleteTeacher"))
@Html.ASOFTHidden("UrlMTF1042UpdateTeacher", Url.Action("UpdateTeacher"))
@Html.ASOFTHidden("ClassID", Model.ClassID)
@Html.ASOFTHidden("Begin", Model.BeginDate)
@Html.ASOFTHidden("End", Model.EndDate)