@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     07/04/2014      Chánh Thi      Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Entities.Database
@model ASOFT.ERP.ViewModel.POS.POSF00101ViewModel


<script id="fileTemplate" type="text/x-kendo-template">
    <span class='file-heading file-name-heading'>#=name#</span>
</script>

<div class="container_12">
    @if (Model.ImageLogo != null)
    {
        @Html.ASOFTHidden(model => model.ImageLogo)
    }
@*    @Html.ASOFTHidden(model => model.ImageStatus)
    @Html.ASOFTHidden(model => model.ImageUrl)
    @Html.ASOFTHidden(model => model.ImageID)*@
    <div class="grid_6">
        <table class="asf-table-view">
            <tr>
                <td>@Html.ASOFTLabel(model => model.DivisionID)</td>
                <td class="fixWidthPopup">
                    @(Html.ASOFTBussinessComboBox()
                              .ASOFTDivisionID(model => model.DivisionID,
                               htmlAttributes: new Dictionary<string, object> 
                                {
                                    {"data-bind","value:DivisionID"}
                                })
                              .DataTextField(AT1101.COL_DIVISIONID).Events( e => e.Change("divisionID_Change")).Enable(false)
                              )
                 @*    @(Html.ASOFTBussinessComboBox()
                              .ASOFTDivisionID(model => model.DivisionID,
                               htmlAttributes: new Dictionary<string, object> 
                                {
                                    {"data-bind","value:DivisionID"}
                                })
                              .DataTextField(AT1101.COL_DIVISIONID).Events( e => e.Change("divisionID_Change"))
                              )*@
                </td>
                <td class="space"></td>
                <td class="fixWidth">
                    @Html.ASOFTTextBox(model => model.DivisionName, htmlStyle: new { height = "25px" }).DisabledIf(true)
              @*    @Html.ASOFTTextBox(model => model.DivisionName, htmlStyle: new { height = "25px" })*@
                </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.ShopID)</td>
                <td colspan="3">
                 @*  @Html.ASOFTTextBox(model => model.ShopID, htmlStyle: new { width = Unit.Percentage(100), height = "25px" })*@
                     @if (Model.FormStatus == ASOFTFormActionType.AddNew)
                     {
                         @*(Html.ASOFTBussinessComboBox()
                         .ASOFTShopIDName(model => model.ShopID, shopTypeID: ASOFT.ERP.POS.Business.POSSettings.POST0001.ShopTypeID)
                         .SelectedIndex(0)
                         .Events(e => e.Change("shopID_Change").DataBound("shopID_Change")))*@
                         
                         @(Html.ASOFTTextBox(e => e.ShopID))
                     }
                    @if (Model.FormStatus != ASOFTFormActionType.AddNew)
                    {
                          @(Html.ASOFTTextBox(e => e.ShopID).ReadOnlyIf(true))
                    }

                   @* @Html.ASOFTBussinessComboBox().ASOFTShopIDName(model => model.ShopID).SelectedIndex(0).Events(e => e.Change("shopID_Change").DataBound("shopID_Change"))*@
                     
                </td>
            </tr>
            <tr>
                 <td>@Html.ASOFTLabel(model => model.ShopName)</td>
                 <td colspan="3">
                    @if (Model.FormStatus == ASOFTFormActionType.AddNew)
                    {
                       @Html.ASOFTTextBox(model => model.ShopName, 
                        htmlStyle: new { width = Unit.Percentage(100), height = "25px" })
                    }
                     @if (Model.FormStatus != ASOFTFormActionType.AddNew)
                    {
                       @Html.ASOFTTextBox(model => model.ShopName,
                               htmlStyle: new { width = Unit.Percentage(100), height = "25px" }).ReadOnlyIf(true);
                    }

                </td>
             </tr>
            <tr hidden>
                <td>@Html.ASOFTLabel(model => model.ObjectID)</td>
                <td class="fixWidthPopup">
                    @Html.ASOFTTextBox(model => model.ObjectID)
                  @*  @Html.ASOFTBussinessComboBox().ASOFTCustomerID(model => model.ObjectID).SelectedIndex(0).Events(e => e.Change("objectID_Change").DataBound("objectID_Change"))*@
                </td>
                <td class="space"></td>
                <td class ="fixWidth">
                    @Html.ASOFTTextBox(model => model.ObjectName, 
                    htmlStyle: new { width = Unit.Percentage(100), height = "25px" }).ReadOnlyIf(true)
                </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.ShortName)</td>
                <td colspan="3">
                    @Html.ASOFTTextBox(model => model.ShortName, htmlStyle: new { width = Unit.Percentage(100) })
                </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.Address)</td>
                <td colspan="3">
                    @Html.ASOFTTextBox(model => model.Address, htmlStyle: new { width = Unit.Percentage(100) })
                </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.Tel)</td>
                <td colspan="3">
                    @Html.ASOFTTextBox(model => model.Tel, htmlStyle: new { width = Unit.Percentage(100) })
                </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.Fax)</td>
                <td colspan="3">
                    @Html.ASOFTTextBox(model => model.Fax, htmlStyle: new { width = Unit.Percentage(100) })
                </td>
            </tr>
        </table>
    </div>
    <div class="grid_6 line_left">
        <table class="asf-table-view">
            <tr>
                <td>@Html.ASOFTLabel(model => model.Email)</td>
                <td colspan="2">
                    @Html.ASOFTTextBox(model => model.Email, htmlStyle: new { width = Unit.Percentage(100) })
                </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.Website)</td>
                <td colspan="2">
                    @Html.ASOFTTextBox(model => model.Website, htmlStyle: new { width = Unit.Percentage(100) })
                </td>
            </tr>
             <tr>
                <td>@Html.ASOFTLabel(model => model.BusinessArea)</td>
                <td colspan="2">
                    @Html.ASOFTBussinessComboBox().ASOFTBusinessArea(model => model.BusinessArea, htmlStyle: new { width = Unit.Percentage(100) })
                </td>
            </tr>
            <tr>
                <td>@Html.ASOFTLabel(model => model.ImageLogo)</td>
                <td colspan="2" class="fixWidth">
                    @(Html.Kendo().Upload()
                              .Name("upload")
                              .Messages(m => m.Select(ASOFTLanguage.FindWordA00("A00.btnUpload")))
                              .Multiple(false)
                              .TemplateId("fileTemplate")
                              .HtmlAttributes(
                                new Dictionary<string, object>{
                                    {"class", "asf-button"},
                                    {"height" , 24}
                                }
                               )
                               .Async(a => a
                                   .Save("Save", "POSF0010")
                                   .Remove("Remove", "POSF0010")
                                .AutoUpload(false)
                            ).Events(c => c.Success("onSuccess"))
                        )
                    @Html.AOSFTDefaultImage(Model.ImageLogo)
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    @Html.ASOFTCheckbox(model => model.Disabled)
                </td>
            </tr>
        </table>
    </div>
</div>
