@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool searchPeriodAvailable = IsSectionDefined("SearchPeriod");

    string col1_css = string.Empty;
    string col2_css = string.Empty;
    string col3_css = string.Empty;
    string col4_css = string.Empty;
    string css_grid_num = string.Empty;
}
@RenderBody()
<div id="contentMaster">
    <div class="asf-panel-filter container_12">
        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }

        @if (IsSectionDefined("FilterCol3"))
        {
            col1_css = "grid_4 alpha col1";
            col2_css = "grid_4_1 col2";
            col3_css = "grid_4 omega float_right col3";
            css_grid_num = "grid_4";
        }
        else
        {
            col1_css = "grid_6_1 alpha line_right";
            col2_css = "grid_6_1 omega";
            css_grid_num = "grid_6";
        }

    </div>
    <div class="clearfix"></div>
    <div class="asf-panel-filter container_12">
        @using (Html.BeginForm(
            null,
            null,
            FormMethod.Post,
            new
            {
                id = "FormFilter"
            })
            )
        {
        
            if (!IsSectionDefined("FilterCol3"))
            {
<div class="@col1_css">
                        <table class="asf-table-view">
                            <thead>
                                <tr class="tr-zero-height">
                                    <td class="container_label col1_custom"></td>
                                    <td class="container_control"></td>
                                </tr>
                            </thead>
                            @RenderSection("FilterCol1")
                </table>
                    </div>
                
<div class="@col2_css">
                        <table class="asf-table-view">
                            <thead>
                                <tr class="tr-zero-height">
                                    <td class="container_label col2_custom"></td>
                                    <td class="container_control"></td>
                                </tr>
                            </thead>
                            <tbody>
                                @RenderSection("FilterCol2")
                </tbody>
                        </table>
                    </div>
            }
            else
            {
<div id="FilterArea">
                <div class="container3">
                    <div class="container2 line_right">
                        <div class="container1 line_right">
                            <div class="@col1_css">
                                <table class="asf-table-view">
                                    <thead>
                                        <tr class="tr-zero-height">
                                            <td class="container_label col1_custom"></td>
                                            <td class="container_control"></td>
                                        </tr>
                                    </thead>
                                    @RenderSection("FilterCol1")
                </table>
                            </div>
                            <div class="@col2_css">
                                <table class="asf-table-view">
                                    <thead>
                                        <tr class="tr-zero-height">
                                            <td class="container_label col2_custom"></td>
                                            <td class="container_control"></td>
                                        </tr>
                                    </thead>
                                    @RenderSection("FilterCol2")
                </table>
                            </div>

                            <div class="@col3_css">
                                <table class="asf-table-view">
                                    <thead>
                                        <tr class="tr-zero-height">
                                            <td class="container_label col3_custom"></td>
                                            <td class="container_control"></td>
                                        </tr>
                                    </thead>
                                    @RenderSection("FilterCol3")
            </table>
                            </div>

                        </div>
                    </div>
                </div>
                
                
            </div>}
            <div class="clearfix"></div>
            <div class="container_12 asf-button-filter-container">
                <div class="grid_6 alpha float_left">
                    @if (IsSectionDefined("GridToolBar"))
                    {
                        @RenderSection("GridToolBar");
                    }
                </div>

                <div class="grid_6 omega float_right">
                    <ul class="vertical float_right">
                        @if (IsSectionDefined("FilterButtons"))
                        {
                            @RenderSection("FilterButtons");
                        }
                    </ul>
                </div>
            </div>       
        }

    </div>
    <div class="clearfix"></div>
    @if (IsSectionDefined("Grid"))
    {
        @RenderSection("Grid");
    }
</div>


@RenderSection("jsFeature", required: false)
@RenderSection("styleFeature", required: false)
<link id="RWDContent400" href="@Url.Content("~/Content/Styles/RWD/asoftRWD480px.css")" rel="stylesheet" type="text/css" />
<link id="RWDContent600" href="@Url.Content("~/Content/Styles/RWD/asoftRWD600px.css")" rel="stylesheet" type="text/css" />