@using System.Web.Optimization
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="vn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="Stylesheet" href="~/Content/Styles/asoft.css" />
    <link rel="Stylesheet" href="~/Content/Styles/asoftRD.css" />
    <title>@{ var title = ViewBag.Title ?? string.Format("In báo cáo - {0}", Request.Params["reportId"]); } @title</title>
     <link href="@Url.Content("~/Content/Styles/asoftmenuCRM.css")" rel="stylesheet" type="text/css" />
      @RenderPage("_Environment.cshtml")
     @Scripts.Render("~/bundles/script")
</head>
    <body>
        <div class="pos_inner1">
            @RenderBody()
        </div>
         @RenderSection("jsFeature", required: false)
        @RenderSection("styleFeature", required: false)
    </body>
</html>