@using System.Web.UI.WebControls
@using ASOFT.ERP.A00.Business.Common
@using ASOFT.ERP.A00.Core
@using System.Web.Optimization
@using ASOFT.ERP.A00.Core.Control
@{
    string idUrl = null;
    string Area = null;
    string periodId = "";
    try
    {
        idUrl = ViewContext.RouteData.GetRequiredString("id").ToString();
        Area = ViewContext.RouteData.GetRequiredString("area").ToString();
    }
    catch (Exception)
    {
    }
    //Check permission
    if (CommonBL.CheckPeriodPermission(ASOFTPermission.AddNew))
    {
        periodId = @"id=choosePeriod";
    }

    var as0001ID = ASOFTEnvironment.CheckPermission("AS0001", ASOFTConstants.MODULE_S, ASOFTPermission.AddNew) ? "configSystem" : "";

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="vn">
<head>
    <!--meta charset="utf-8" /-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="releaseTime" content="@CommonBL.RetrieveLinkerTimestamp()" />    
    <meta name="moduleID" content="@ASOFTEnvironment.ModuleID" />
    <meta name="workingDate" content="@ASOFTEnvironment.WorkingDate" />
    <meta name="tranMonth" content="@ASOFTEnvironment.TranMonth" />
    <meta name="tranYear" content="@ASOFTEnvironment.TranYear" />
    @if (ASOFTEnvironment.ModuleID == ASOFTConstants.MODULE_POS)
    {        
    <meta name="moduleInfo" content="@ASOFTEnvironment.ModuleInfo.ToString()" />
    }
    <meta name="customerIndex" content="@ASOFTEnvironment.CustomerIndex" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @RenderPage("_Environment.cshtml")
    @Html.RenderJsCulture()
    @Scripts.Render("~/bundles/script")
    <script src="@Url.Content(ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_DONGDUONG ? "~/Scripts/asoftmenu.js" : "~/Scripts/asoftmenuCRM.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/apps.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fullscreen.js")" type="text/javascript"></script>
   @* <script src="@Url.Content("~/Scripts/ASOFTSIP.js")" type="text/javascript"></script>*@
    <link href="@Url.Content(ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_DONGDUONG ? "~/Content/Styles/asoftmenu.css" : "~/Content/Styles/asoftmenuCRM.css")" rel="stylesheet" type="text/css" />
</head>
<body id="bodyMaster">
    @*<div class="asf-disabled-visibility">@CommonBL.RetrieveLinkerTimestamp()</div>*@
    <div id="Header" class="asf-header">
        <div class="asf-header-icon-logo"></div>
        <div class="asf-header-white-line"></div>
        <span class="asf-header-system-text">
            @string.Format("{0} {1}", ASOFTEnvironment.ModuleCurrentName, ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_DONGDUONG ? string.Empty : string.IsNullOrEmpty(ASOFTEnvironment.ModuleName)? string.Empty : "- " + ASOFTEnvironment.ModuleName)
        </span>
        
        <div class="right">
            @if (ASOFTEnvironment.ModuleID == ASOFTConstants.MODULE_CRM){
                <div class="asf-header-icon-calendar asf-i-calendar" onclick="calendar_Click()"></div>
            }
            @{
                if (!ASOFTEnvironment.ModuleID.Equals(ASOFTConstants.MODULE_RD)
                    && !ASOFTEnvironment.ModuleID.Equals(ASOFTConstants.MODULE_S)
                    && !ASOFTEnvironment.ModuleID.Equals(ASOFTConstants.MODULE_CI)
                    && !ASOFTEnvironment.ModuleID.Equals(ASOFTConstants.MODULE_BI)
                     && !ASOFTEnvironment.ModuleID.Equals(ASOFTConstants.MODULE_KPI))
                {
                <div @periodId class="period-info">
                    <span class="asf-header-span-period">
                        @string.Format("{0} - {1}", ASOFTEnvironment.DivisionID, ASOFTEnvironment.Period)
                    </span>
                </div>
                }
            }
            <div class="asf-header-user" onclick="OpenWinConfig(this)">
                <div>
                    <div class="icon-text">@ASOFTEnvironment.UserID</div>
                    <div class="asf-header-icon-user asf-i-user">
                        @Html.ASOFTLogo("Header", "Avatar", new { Area = "" }, width:40, height:40)
                    </div>
                </div>
            </div>
            <div class="asf-header-icon-setting setting asf-i-setting" id="@as0001ID"></div>
            <div class="asf-header-icon-help asf-i-help" id="asf-help"></div>
        </div>
    </div>
    @Html.Action("Index", new { area = "", controller = ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_DONGDUONG ? "Menu" : "MenuCRM" })
    @RenderBody()

    <!--- HiddenField   --->
    @Html.ASOFTHidden("currentController", Html.ASOFTGetController())
    @Html.ASOFTHidden("currentAction", Html.ASOFTGetAction())
    @Html.ASOFTHidden("currentArea", Html.ASOFTGetArea())
    @Html.ASOFTHidden("currentIDUrl", idUrl)
    @Html.ASOFTHidden("sessionTimeout", Session != null ? Session.Timeout.ToString() : Convert.ToString(0))
    @Html.ASOFTHidden("UrlPeriod", Url.Action("Index", new { area = "", controller = "Period" }))
    @Html.ASOFTHidden("UrlBeginEndDate", Url.Action("BeginEndDate", new { area = "", controller = "Period" }))
    @Html.ASOFTHidden("UrlAS0001", Url.Action("Index", new { area = "S", controller = "AS0001" }))
    @Html.ASOFTHidden("urlHelp", Url.Content("~/Help/Huong dan su dung ERP9.0.html?"))
    <!--Dialog confirm and message-->
    @Html.Partial("~/Views/Shared/EditorTemplates/Dialog.cshtml")

    <iframe id="externalIframe" class="fullscreen-frame" frameborder="0"></iframe>
    <!--Choose Period-->
    @(Html.ASOFTPopup()
        .Name("PopupIframe")
        .Draggable(false)
        .Animation(false)
        .Scrollable(false)
        .Title(false)
        .Modal(true)
        .Iframe(true)
    )

    <!--Choose Period-->
    @(Html.ASOFTPopup()
        .Name("PeriodPopup")
        .Width(500)
            //.Iframe(true)
    )
   
 



    @RenderSection("jsFeature", required: false)
    @RenderSection("styleFeature", required: false)
    <script src="@Url.Content("~/Scripts/theme.js")" type="text/javascript"></script>

    @* @if(ASOFTEnvironment.ModuleID.Equals("CRM"))
    {
         @Html.Action("Index", "CRMF2000", new { Area = "CRM" });    
    }
    
    @if(ASOFTEnvironment.ModuleID.Equals("SO") && (ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_ANGEL))
    {
         @Html.Action("Index", "SOF2030", new { Area = "SO" });    
    }
   <script src="@Url.Content("~/Scripts/period.js")" type="text/javascript"></script>*@
</body>
</html>
