@using ASOFT.ERP.A00.Core
@using System.Web.Optimization
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="vn">
<head>
    <!--meta charset="utf-8" /-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="customerIndex" content="@ASOFTEnvironment.CustomerIndex" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @RenderPage("_Environment.cshtml")
    @Html.RenderJsCulture()
    @Scripts.Render("~/bundles/script")
    
    @{
        string title = @ViewBag.Title;
        int width = @ViewBag.Width ?? 800;
    }
   @* <script src="@Url.Content("~/Scripts/jquery.signalR-2.1.0.js")"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>*@

            <link id="RWDPopup400" href="@Url.Content("~/Content/Styles/RWD/Popup/asoft480pxPopup.css")" rel="stylesheet" type="text/css" />
    <link id="RWDPopup600" href="@Url.Content("~/Content/Styles/RWD/Popup/asoft600pxPopup.css")" rel="stylesheet" type="text/css" />
</head>
<body id="bodyMaster" class="asf-body-iframe">
    <div style="width:1245px;height:1px;margin-left:-20px"></div>

    <!--Dialog confirm and message-->
    @Html.Partial("~/Views/Shared/EditorTemplates/Dialog.cshtml")

    @(Html.ASOFTPopup()
              .Name("PopupIframe")
              .Draggable(false)
              .Animation(false)
              .Scrollable(false)
              .Title(false)
              .Modal(true)
              .Iframe(true)
              )

    @(Html.ASOFTPopup()
              .Name("popupInnerIframe")
              .Content(@<text>
    @RenderBody()
    </text>)
              .Actions(m => m.Clear())
              .Draggable(true)
              .Visible(false)
              .Resizable(m => m.Enabled(false))
              .Modal(false)
              .Width(width)
              .Title(title)
              .Actions(m => m.Clear()))


    @RenderSection("jsFeature", required: false)
    @RenderSection("styleFeature", required: false)
    <script type="text/javascript">
        var wnd;
        $(document).ready(function () {
            wnd = $("#popupInnerIframe").data("kendoWindow");
            wnd.center().open();
        });
    </script>
    @Html.ASOFTHidden("currentDagController", Html.ASOFTGetController())
    @Html.ASOFTHidden("currentDagAction", Html.ASOFTGetAction())
    @Html.ASOFTHidden("currentDagArea", Html.ASOFTGetArea())
    @Html.ASOFTHidden("urlHelp", Url.Content("~/Help/Huong dan su dung ERP9.0.html?"))
</body>
</html>
