@using ASOFT.ERP.A00.Business.Common
@using ASOFT.ERP.A00.Core
@using System.Web.Optimization
@{
    string idUrl = null;
    string Area = null;
    
    try
    {
        idUrl = ViewContext.RouteData.GetRequiredString("id");
        Area = ViewContext.RouteData.GetRequiredString("area");
    }
    catch (Exception)
    {
    }
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="vn">
<head>
    <!--meta charset="utf-8" /-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="customerIndex" content="@ASOFTEnvironment.CustomerIndex" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @RenderPage("_Environment.cshtml")
    @Html.RenderJsCulture()
    @Scripts.Render("~/bundles/script")
    <script src="@Url.Content("~/Scripts/apps.js")" type="text/javascript"></script>
     
    
    <script src="@Url.Content("~/Scripts/apps.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/fullscreen.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/asoftmenu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/culture.js")" type="text/javascript"></script>
</head>
<body>

    <div id="Header" class="asf-header">
        <div class="asf-header-icon-logo"></div>
        <div class="asf-header-white-line"></div>
        <span class="asf-header-system-text">@ASOFTLanguage.FindWordA00("A00.POS")</span>

        <div class="right">
            <div class="period-info">
                <span class="asf-header-span-period">
                    @Html.ActionLink(string.Format("{0} - {1:00}/{2:0000}",
                        ASOFTEnvironment.DivisionID, ASOFTEnvironment.TranMonth, ASOFTEnvironment.TranYear),
                        "Index", new { area = "POS", controller = "POSF0000" })
                </span>
            </div>
            <div class="asf-header-user">
                <div onclick="OpenWinConfig(this)">
                    <div class="icon-text">@ASOFTEnvironment.UserID</div>
                    <div class="asf-header-icon-user asf-i-user"></div>
                </div>
            </div>
            <div id="closeWindow" class="asf-header-icon-setting setting asf-i-close"></div>
        </div>
    </div>

    
    @RenderBody()
    
     <!--Choose Period-->
    @(Html.ASOFTPopup()
        .Name("PopupIframe")
        .Draggable(false)
        .Animation(false)
        .Scrollable(false)
        .Title(false)
        .Modal(true)
        .Iframe(true)
    )

    @(Html.Kendo().Window()
    .Name("Config_win")
    .Content(Html.Partial("~/Views/Shared/Menu/MenuConfig.cshtml").ToHtmlString())
    .HtmlAttributes(new { style = "width:auto;overflow: hidden;", @class = "asf-windown" })
    .Visible(false)
    .Title(false)
    .Animation(false)
)

    <!--- HiddenField   --->
    @Html.ASOFTHidden("currentController", Html.ASOFTGetController())
    @Html.ASOFTHidden("currentAction", Html.ASOFTGetAction())
    @Html.ASOFTHidden("currentArea", Html.ASOFTGetArea())
    @Html.ASOFTHidden("currentIDUrl", idUrl)

    <!--Dialog confirm and message-->
    @Html.Partial("~/Views/Shared/EditorTemplates/Dialog.cshtml")
    
    @RenderSection("jsFeature", required: false)
    @RenderSection("styleFeature", required: false)
    @RenderSection("signalRScripts", required: false)
    @RenderSection("kendoScripts", required:false)
    <script src="@Url.Content("~/Scripts/theme.js")" type="text/javascript"></script>
</body>
</html>
