@using ASOFT.ERP.ViewModel.DRM
@using Kendo.Mvc;
@using Kendo.Mvc.UI
@model DRF2003ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.DRF2003Title, "DRF2003").ToHtmlString();
    ViewBag.Width = 800;
    
 }
    <div class="asf-form-container">
        <div id="import-message"></div>
        <div class="form-content">
            
           <div>
               <table style="width:100%">
                <tbody>
                    <tr>
                        <td>
                            @(Html.ASOFTBussinessComboBox()
                            .ASOFTDRMImportTemplate(model => model.ImportTemplateID,
                               htmlStyle: new
                               {
                                   width = "755px",
                                   height = "25px"
                               })
                               .SelectedIndex(0)
                               .Events(e => e.DataBound("DRF2003.onBoundTemplate")
                                             .Change("DRF2003.onChangeTemplate")))
                        </td>
                    </tr>
                </tbody>
                </table>
           </div>
            <div id="uploader">
                @(Html.Kendo().Upload()
                .Name("attachments")
                .Multiple(false)
                .ShowFileList(true)
                .Async(x => x.Save("Uploader", "DRF2003"))
                .Events(e => e.Upload("DRF2003.onUpload")
                              .Success("DRF2003.onUploadSuccess"))
                .Messages(m => m.Select(ASOFTLanguage.FindWordA00("A00.btnChooseAttachment")))
                )
            </div>
            <div id="progressBar" style="width:99.6%"></div>
            <div id="imported-list">
                <div id="imported-destination-table"></div>
                <div id="imported-destination-table-total"></div>
            </div>

        </div>
        <div class="asf-form-button">
            <table class="asf-table-view">
                <tr>
                    <td align="right">
                        <div class="asf-popup-button-container">
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                                      .Name("BtnClose")
                                      .Events(e => e.Click("DRF2003.btnClose_Click")))
                            </div>
                           <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                        .Name("BtnSaveClose").Enable(true)
                                        .Events(e => e.Click("DRF2003.btnSave_Click")))
                            </div>
                            <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnReadData"))
                                        .Name("BtnReadData").Enable(true)
                                        .Events(e => e.Click("DRF2003.btnReadData_Click")))
                            </div>
                             <div>
                                @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnDownloadTPL"))
                                        .Name("BtnDownload").Enable(true)
                                        .Events(e => e.Click("DRF2003.btnDownload_Click")))
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
@section jsFeature {
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF2003/DRF2003.js?v=" + ASOFTEnvironment.Version)"></script>
   @* @Html.RenderScripts(files: new[] { "CRMF2061" })*@
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/DRM/Content/DRF2003.css")" rel="stylesheet" type="text/css" />
}

@Html.ASOFTHidden("UrlGetImportHeader", Url.Action("GetImportHeader", "DRF2003", new { area = "DRM" }))
@Html.ASOFTHidden("UrlGetImportRow", Url.Action("GetImportRowMapped", "DRF2003", new { area = "DRM" }))
@Html.ASOFTHidden("UrlSaveData", Url.Action("Import", "DRF2003", new { area = "DRM" }))
@Html.ASOFTHidden("UrlSaveDataPaginate", Url.Action("ImportPaginate", "DRF2003", new { area = "DRM" }))
@Html.ASOFTHidden("UrlDownload", Url.Action("Download", "DRF2003", new { area = "DRM" }))
@Html.ASOFTHidden("ImportType", Model.ImportTemplateID)
