@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     13/06/2013      Thai Son        Tạo mới
//####################################################################
*@

@using ASOFT.ERP.A00.Core

@model ASOFT.ERP.ViewModel.POS.POSF0012ViewModel

@{
    Layout = "~/Views/Shared/_ContentMaster.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(model => model.Title, "POSF0012").ToHtmlString();
}

@section Header {
    @Html.ASOFTHeader(new HeaderModel
{
    Title = Html.ASOFTPageTitle(model => model.Title, "POSF0012").ToHtmlString(),
    Breakcrumb = true
})
}
@section FilterCol1 {
    <div class="asf-disabled-visibility">
        @Html.ASOFTHidden("HiddenShopID", Model.ShopID)
    </div>
    <tr>
        <td>@Html.ASOFTLabel(model => model.DivisionIDList)</td>
        <td>
            @(Html.ASOFTBussinessComboBox().
                            ASOFTDivisionIDList(model => model.DivisionIDList))
        </td>
    </tr>

    <tr>
        <td>@Html.ASOFTLabel(model => model.ShopID)</td>
        <td>
           @(Html.ASOFTBussinessComboBox().ASOFTShopIDList(model => model.ShopID)
            .DataTextField(ASOFT.ERP.A00.Entities.Database.POST0010.COL_SHOPID)
            .DataValueField(ASOFT.ERP.A00.Entities.Database.POST0010.COL_SHOPID))
        </td>
    </tr>

    
}

@section FilterCol2 {
    <tr>
        <td>@Html.ASOFTLabel(model => model.Barcode)</td>
        <td>
            @Html.ASOFTTextBox(model => model.Barcode,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })
        </td>
    </tr>


    <tr>
        <td>@Html.ASOFTLabel(model => model.InventoryID)</td>
        <td>
            @Html.ASOFTTextBox(model => model.InventoryID,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })
        </td>
    </tr>
    
}
@section FilterCol3 {
    <tr>
        <td>@Html.ASOFTLabel(model => model.InventoryName)</td>
        <td>
            @Html.ASOFTTextBox(model => model.InventoryName,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })
        </td>
    </tr>
    <tr>
        <td>@Html.ASOFTLabel(model => model.UnitID)</td>
        <td>
            @Html.ASOFTTextBox(model => model.UnitID,
                            htmlStyle: new
                            {
                                width = Unit.Percentage(100)
                            })
        </td>
    </tr>

}
@section FilterButtons {
    <li>
        @(Html.ASOFTSearchButton()
                          .Name("btnFilterPOSF0012").Events(e => e.Click("btnFilter_Click")))

    </li>
    <li>
        @(Html.ASOFTSearchResetButton()
                          .Name("btnClearFilterPOSF0012").Events(e => e.Click("btnClearFilter_Click")))
    </li>
}

@section GridToolBar {
    @Html.Partial("~/Views/Shared/EditorTemplates/Toolbar.cshtml", Model.Toolbar1 ?? new ASOFTToolBarViewModel())

}

@section Grid {
    @Html.Partial("GridInventories")
}


@section jsFeature {
    <script src="@Url.Content("~/Areas/POS/Scripts/POSF0012.js")" type="text/javascript"></script>
}
