@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Common;

@model List<KeyValuePair<int, string>>
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int maxBlock = ViewBag.MaxBlock ?? 0;
}

@*@(Html.Kendo().Window()
    .Name("ZoomConfig")
    .Content(Html.Partial("ZoomMenu").ToHtmlString())
    .HtmlAttributes(new { style = "width:auto;overflow: hidden;", @class = "asf-windown" })
    .Visible(false)
    .Title(false)
    .Animation(false)
)*@

<div id='contentMaster'>
    @Html.ASOFTHeader(new HeaderModel() { Title = "DashBoard", Breakcrumb = false })
    <div id="message"></div>
     <div class="drag-container">
         <img class="drmDashboard" src = "/Content/Images/DRMDrashBoard.png" />
         <div id="multi-draggable-block">
             @foreach (KeyValuePair<int, string> item in Model)
             {
                if(item.Key == 4)
                {
                    @MvcHtmlString.Create(string.Format(
                                           "<div class='asf-block-wrapper {0}' id='Block{1:00}' data-index='{1}'>",
                                           item.Value, item.Key));
                 
                    Html.RenderPartial(string.Format("Block{0:00}", item.Key), new ASOFTChartSetting());
                 
                    @MvcHtmlString.Create("</div>")
                }
             }
		</div>
     </div>
    <div id="dashboard-toolbar"> <!-- Dashboard toolbar -->
        <ul class="asf-toolbar">
            <li><a class="asfbtn-item-32  k-button k-button-icon" id="btnResetLayout" style="" title="Đặt lại mặc định" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-reset"></span></a></li>
            <li><a class="asfbtn-item-32  k-button k-button-icon" id="btnSaveLayout" style="" title="Lưu thiết lập" data-role="button" role="button" aria-disabled="false" tabindex="0"><span class="k-sprite asf-icon asf-icon-32 asf-i-send-doc-32"></span></a></li>
        </ul>
    </div>
</div>


@section styleFeature{
    <link href="@Url.Content("~/Areas/DRM/Content/DRF0000.css")" rel="stylesheet" type="text/css" />
}
@section jsFeature {
    @*<script src="@Url.Content("~/Scripts/jquery.signalR-2.1.0.js")"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    @System.Web.Optimization.Scripts.Render("~/Areas/DRM/Scripts/DRF0000/DRF0000.js")*@
    <script src="@Url.Content("~/Areas/DRM/Scripts/DRF0000/DRF0000.js?v=" + ASOFTEnvironment.Version)"></script>
}

@Html.ASOFTHidden("UrlSaveData", Url.Action("SaveIndexer", "DRF0000", new { area = "DRM" }))
@Html.ASOFTHidden("UrlReset", Url.Action("ResetLayout", "DRF0000", new { area = "DRM" }))
@Html.ASOFTHidden("UrlBlock01", Url.Action("Block01", "DRF0000", new { area = "DRM" }))
@Html.ASOFTHidden("UrlBlock04", Url.Action("Block04", "DRF0000", new { area = "DRM" }))
@Html.ASOFTHidden("IsXR", ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_XUONGRONG ? 1 : 0)
@Html.ASOFTHidden("UserID", ASOFTEnvironment.UserID)