@using ASOFT.ERP.A00.Core.Control;
@using ASOFT.ERP.A00.Core;
@using Kendo.Mvc;
@using ASOFT.ERP.ViewModel.CI
@model ASOFT.ERP.ViewModel.CI.CIF1012ViewModel
@helper Group02()
{    
   <div class="asf-master-content">
        <div class="asf-content-block-sys left">
           <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateUserID"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CreateUserID)</td>
                </tr>
                <tr>
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateDate"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.CreateDate)</td>
                </tr>
            </table>
         </div>
        <div class="asf-content-block-sys right">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyUserID"))</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.LastModifyUserID)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyDate"))</td>
                    <td class="dot"></td>
                    <td class="content-text"> @Html.DisplayFor(model => model.LastModifyDate)</td>
                </tr>
            </table>
        </div>        
    </div>
}
@helper Group01()
{
        <div class="asf-master-content">
            <div class="asf-content-block first">
                <table class="asf-table-view">
                   
                     <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.TeamID)</td>
                    <td class="dot"></td>
                    <td class="content-text" id="TeamID">@Html.DisplayFor(model => model.TeamID)</td>
                     </tr>
                    <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.TeamName)</td>
                    <td class="dot"></td>
                    <td class="content-text"> @Html.DisplayFor(model => model.TeamName)</td>
                     </tr>
                    <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.DivisionID)</td>
                    <td class="dot"></td>
                    <td class="content-text"> @Html.DisplayFor(model => model.DivisionID)</td>
                     </tr>
                    <tr >
                    <td class="content-label">@Html.DisplayNameFor(model => model.DepartmentName)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.DepartmentName)</td>
                    </tr>  
                </table>
            </div>
            <div class="asf-content-block middle">
                <table class="asf-table-view">
                    @{
                        if(ASOFTEnvironment.CustomerIndex != ASOFTConstants.CUSTOMERINDEX_XUONGRONG)
                        {
                            <tr>
                                <td class="content-label">@Html.DisplayNameFor(model => model.AccountName)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.AccountName)</td>
                            </tr>  
                        }
                    }
                    @{
                        if(ASOFTEnvironment.CustomerIndex == ASOFTConstants.CUSTOMERINDEX_XUONGRONG)
                        {
                    <tr>
                        <td class="content-label">@Html.DisplayNameFor(model => model.AnaName)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.AnaName)</td>
                    </tr>  }  }                      
                     <tr>
                        <td class="content-label">@Html.DisplayNameFor(model => model.Notes)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.Notes)</td>
                     </tr>  
                                    <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.Notes01)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Notes01)</td>
                </tr>            
                </table>
           </div>
            <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.ContactPerson)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ContactPerson)</td>
                </tr>  
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.IsOrganizationDiagram)</td>
                    <td class="dot"></td>
                   <td class="content-text">
                        @{ string IsOrganizationDiagram = Model.IsOrganizationDiagram ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                        @IsOrganizationDiagram
                    </td>
                </tr>
                <tr>
                    <td class="content-label">@Html.DisplayNameFor(model => model.Disabled)</td>
                    <td class="dot"></td>
                   <td class="content-text">
                        @{ string disabled = Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                        @disabled
                    </td>
                    </tr>
            </table>
        </div>        
       </div>              
}
@helper History()
{
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.History")
    </div>
}
@helper Attach()
{
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.Attach")
    </div>
}
<script>
    $(document).ready(function () {
        ASOFT.form.setSameWidth("asf-content-block");
    });
</script>
@(Html.Kendo().PanelBar()
      .Name("panelbar")
      .HtmlAttributes(new { @class = "block-panel-master" })
      .Events(m => m.Activate("ASOFT.panelFormat.fitColumnHeight"))
      .Animation(animation => animation.Enable(true))
      .Items(panelbar =>
      {
          panelbar.Add().Text(Html.ASOFTRaw(m => m.CIF1012Group01Title))
          .HtmlAttributes(new { @class = "block-panel-master-header" })
          .Expanded(true).Content(this.Group01().ToHtmlString());
          
          panelbar.Add().Text(Html.ASOFTRaw(m => m.CIF1012Group02Title))
           .HtmlAttributes(new { @class = "block-panel-master-header" })
          .Expanded(true).Content(this.Group02().ToHtmlString());

          //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);
      }
))

