@model CIF1042ViewModel

@helper Group01()
{
    <div class="asf-master-content">
        <div class="asf-content-block-sys left">
            <fieldset>
                <legend><b>@Html.ASOFTLabel(model=>model.Tab02)</b></legend>
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">
                            @Html.ASOFTLabel(model => model.TemplateID)
                        </td>
                        <td class="dot"></td>
                        <td class="content-text" id="TemplateID">@Html.DisplayFor(model => model.TemplateID)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.TemplateName)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.TemplateName)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.EmailTitle)</td>
                        <td class="dot"></td>
                        <td class="content-text">@Html.DisplayFor(model => model.EmailTitle)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.EmailGroupID)
                             @Html.ASOFTHidden(model => model.EmailGroupID)
                        </td>
                        <td class="dot"></td>                       
                        <td class="content-text">@Html.DisplayFor(model => model.EmailGroupName)</td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.Disabled)</td>
                        <td class="dot"></td>
                        <td class="content-text">
                             @{ var disabled = Model.Disabled ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                                @disabled
                        </td>
                    </tr>
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.IsCommon)</td>
                        <td class="dot"></td>
                        <td class="content-text">
                            @{ var isCommon = Model.IsCommon ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
                                @isCommon
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend><b>@Html.ASOFTLabel(model=>model.Tab03)</b></legend>
                @Html.Partial("GridParams", new CIF1040GridViewModel())
            </fieldset>
        </div>
        <div class="asf-content-block-sys right">
            <fieldset>
                <legend><b>@Html.ASOFTLabel(model=>model.Tab04)</b></legend>
                <table class="asf-table-view">
                   <tr>
                        <td class="content-text">@Html.DisplayTextFor(model => model.EmailBody)</td>
                    </tr>
                  
                </table>
            </fieldset>
        </div>
    </div>
}



@(Html.ASOFTPanel()
      .Name("panelbar")
      .HtmlAttributes(new {@class = "block-panel-master"})
      .Animation(animation => animation.Enable(true))
      //.Events(m => m.Activate("CRMF2062.autoFitHeightAllColumn"))
      .Items(panelbar =>
             {
                 panelbar.Add().Text(Html.ASOFTRaw(m => m.Tab01))
                     .HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Expanded(true).Content(Group01().ToHtmlString());

                 panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new {@class = "block-panel-master-header"})
                     .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

                 //Html.Partial("~/Views/Shared/EditorTemplates/AttachHistoryTabbar.cshtml", panelbar);
             })
      )