
@using ASOFT.ERP.ViewModel.MT
@model ASOFT.ERP.ViewModel.MT.MTF2010ViewModel

@helper Group01()
    {
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr>
                    <td class="content-label">@Html.ASOFTLabel(model => model.EduVoucherNo)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.EduVoucherNo)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.StudentID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.StudentID)
                        @Html.ASOFTHidden("Shadow_StudentID", Model.StudentID)
                        @Html.ASOFTHidden("Shadow_ClassID", Model.ClassID)
                    </td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.StudentName)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.StudentName">@Html.DisplayFor(model => model.StudentName)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ClassID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ClassID)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ClassDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ClassDate)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.WeekQuantity)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.WeekQuantity)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.BeginDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.BeginDate)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.EndDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.EndDate)</td>
                </tr>
                @*<tr >
                   <td class="content-label for-xtra-label">@Html.ASOFTLabel(model => model.TeacherName1)</td>
                   <td class="dot for-xtra-label"></td>
                   <td class="content-text for-xtra-label">@Html.DisplayFor(model => model.TeacherName1)</td>
               </tr>*@
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.TeacherName1)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.TeacherName1)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.TeacherName2)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.TeacherName2)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.GroupFee)</td>
                    <td class="dot"></td>
                    <td class="content-text">@{ MvcHtmlString freeName = Model.IsFree ? Html.ASOFTLabel(model => model.IsFree)
                                                                             : Html.ASOFTLabel(model => model.IsNotFree); }
                        @freeName
                    </td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.StatusName)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.StatusName">@Html.DisplayFor(model => model.StatusName)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.NextClassID)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.NextClassID">@Html.DisplayFor(model => model.NextClassID)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.Notes)</td>
                    <td class="dot"></td>
                    <td class="content-text" title="@Model.Notes" ><div class='content-ellipsis'>@Html.DisplayFor(model => model.Notes)</div></td>
                </tr>
            </table>
        </div>
    </div>
}

@helper Group02()
    {
    <div class="asf-master-content">
        <div class="asf-content-block first">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.Amount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Amount)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.Paid)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Paid)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.Remaining)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.Remaining)</td>
                </tr>
                 <tr >
                    <td class="content-label for-xtra-label">@Html.ASOFTLabel(model => model.SendMoneyView)</td>
                    <td class="dot for-xtra-label"></td>
                    <td class="content-text for-xtra-label">@Html.DisplayFor(model => model.SendMoney)</td>
                </tr>
                 <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.SendNotesView)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.SendNotes)</td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block middle">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReduceAmount)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ReduceAmount)</td>
                </tr>
                <tr >
                    <td class="content-label for-xtra-label">@Html.ASOFTLabel(model => model.ReduceTime)</td>
                    <td class="dot for-xtra-label"></td>
                    <td class="content-text for-xtra-label">@Html.DisplayFor(model => model.ReduceTime)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReduceReason)</td>
                    <td class="dot"></td>
                    <td class="content-text ">@Html.DisplayFor(model => model.ReduceReason)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReduceNotes)</td>
                    <td class="dot"></td>
                    <td class="content-text"><div class='content-ellipsis'>@Html.DisplayFor(model => model.ReduceNotes)</div></td>
                </tr>
            </table>
        </div>
        <div class="asf-content-block last">
            <table class="asf-table-view">
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReturnMoney)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ReturnMoney)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReturnDate)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ReturnDate)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReturnReason)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ReturnReason)</td>
                </tr>
                <tr >
                    <td class="content-label">@Html.ASOFTLabel(model => model.ReturnPersonID)</td>
                    <td class="dot"></td>
                    <td class="content-text">@Html.DisplayFor(model => model.ReturnPersonID)</td>
                </tr>
            </table>
        </div>
    </div>
}

@helper Group03()
    {
    <div class="asf-master-content">
        <div class="full-fieldset padding-format">
            <div class="left-fieldset">
                <div class="full">
                    <fieldset>
                        <legend><b>@Html.ASOFTRaw(model => model.Tab02Fieldset01Title)</b></legend>
                        <table class="asf-table-view">
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Performance01)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Performance01)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Performance02)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Performance02)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Performance03)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Performance03)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Performance04)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Performance04)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Performance05)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Performance05)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Performance06)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Performance06)</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div class="full drop-fieldset">
                    <fieldset>
                        <legend><b>@Html.ASOFTRaw(model => model.Tab02Fieldset02Title)</b></legend>
                        <table class="asf-table-view">
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Listening)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Listening)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Speaking)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Speaking)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Reading)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Reading)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.Writing)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.Writing)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.MiddleTotal)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.MidTotalString)</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="right-fieldset">
                <fieldset>
                    <legend><b>@Html.ASOFTRaw(model => model.Tab02Fieldset03Title)</b></legend>
                    <table class="asf-table-view">
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result01)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result01)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result02)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result02)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result03)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result03)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result04)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result04)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result05)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result05)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result06)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result06)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result07)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result07)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result08)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result08)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result09)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result09)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result10)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result10)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.Result11)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.Result11)</td>
                        </tr>
                        <tr><td colspan="3">&nbsp;</td></tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="full-fieldset padding-format">
            <div class="full">
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.OverallAssess)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.OverallAssess">
                            <div class='content-ellipsis'>@Html.DisplayFor(model => model.OverallAssess)</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

@helper Group04()
    {
    <div class="asf-master-content">
        <div class="full-fieldset padding-format">
            <div class="left-fieldset">
                <div class="full">
                    <fieldset>
                        <legend><b>@Html.ASOFTRaw(model => model.Tab03Fieldset01Title)</b></legend>
                        <table class="asf-table-view">
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndPerformance01)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndPerformance01)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndPerformance02)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndPerformance02)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndPerformance03)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndPerformance03)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndPerformance04)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndPerformance04)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndPerformance05)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndPerformance05)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndPerformance06)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndPerformance06)</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div class="full drop-fieldset">
                    <fieldset>
                        <legend><b>@Html.ASOFTRaw(model => model.Tab03Fieldset02Title)</b></legend>
                        <table class="asf-table-view">
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndListening)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndListening)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndSpeaking)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndSpeaking)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndReading)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndReading)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndWriting)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndWriting)</td>
                            </tr>
                            <tr>
                                <td class="content-label">@Html.ASOFTLabel(model => model.EndTotal)</td>
                                <td class="dot"></td>
                                <td class="content-text">@Html.DisplayFor(model => model.EndTotalString)</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="right-fieldset">
                <fieldset>
                    <legend><b>@Html.ASOFTRaw(model => model.Tab03Fieldset03Title)</b></legend>
                    <table class="asf-table-view">
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult01)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult01)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult02)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult02)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult03)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult03)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult04)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult04)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult05)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult05)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult06)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult06)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult07)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult07)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult08)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult08)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult09)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult09)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult10)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult10)</td>
                        </tr>
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.EndResult11)</td>
                            <td class="dot"></td>
                            <td class="content-text">@Html.DisplayFor(model => model.EndResult11)</td>
                        </tr>
                        <tr><td colspan="3">&nbsp;</td></tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="full-fieldset padding-format">
            <fieldset>
                <legend><b>@Html.ASOFTRaw(model => model.Tab03Fieldset04Title)</b></legend>
                <div class="full">
                    <table class="asf-table-view">
                        <tr>
                            <td class="content-label">@Html.ASOFTLabel(model => model.IsPass)</td>
                            <td class="dot"></td>
                            <td class="content-text">
                                @{ string isPass = Model.IsPass
                                                       ? ASOFTLanguage.FindWordA00("A00.Yes")
                                                       : ASOFTLanguage.FindWordA00("A00.No"); }

                                @isPass
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="full-fieldset padding-format">
            <div class="full">
                <table class="asf-table-view">
                    <tr>
                        <td class="content-label">@Html.ASOFTLabel(model => model.EndOverallAssess)</td>
                        <td class="dot"></td>
                        <td class="content-text" title="@Model.EndOverallAssess">
                            <div class="content-ellipsis">@Html.DisplayFor(model => model.EndOverallAssess)</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

@helper History()
    {
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.History")
    </div>
}

@helper Attach()
    {
    <div class="asf-master-content">
        @ASOFTLanguage.FindWordA00("A00.Attach")
    </div>
}

<script>
    $(document).ready(function() {
        ASOFT.form.setSameWidth("asf-content-block");
    });
</script>

@(Html.Kendo().PanelBar()
      .Name("panelbar")
      .HtmlAttributes(new { @class = "block-panel-master" })
      .Events(m => m.Activate("ASOFT.panelFormat.fitColumnHeight"))
      .Animation(animation => animation.Enable(true))
      .Items(panelbar =>
      {
          panelbar.Add().Text(Html.ASOFTRaw(m => m.MTF2012Group01Title)).HtmlAttributes(new { @class = "block-panel-master-header" })
              .Expanded(true)
              .Content(Group01().ToHtmlString());

          panelbar.Add().Text(Html.ASOFTRaw(m => m.MTF2012Group02Title)).HtmlAttributes(new { @class = "block-panel-master-header" })
              .Content(Group02().ToHtmlString());

          panelbar.Add().Text(Html.ASOFTRaw(m => m.MTF2012Group03Title))
              .HtmlAttributes(new { @class = "block-panel-master-header" })
              .Content(Html.Partial("GridInherit", new MTF2012GridViewModel()).ToHtmlString());

          panelbar.Add().Text(Html.ASOFTRaw(m => m.MTF2012Group04Title)).HtmlAttributes(new { @class = "block-panel-master-header" })
              .Content(Group03().ToHtmlString());

          panelbar.Add().Text(Html.ASOFTRaw(m => m.MTF2012Group05Title)).HtmlAttributes(new { @class = "block-panel-master-header" })
              .Content(Group04().ToHtmlString());

          panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.SystemInfo")).HtmlAttributes(new { @class = "block-panel-master-header" })
              .Content(Html.Partial("~/Views/Shared/EditorTemplates/SystemInfo.cshtml", Model.SystemInfo).ToHtmlString());

          panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.History")).HtmlAttributes(new { @class = "block-panel-master-header" })
              .Content(History().ToHtmlString());
          panelbar.Add().Text(ASOFTLanguage.FindWordA00("A00.Attach")).HtmlAttributes(new { @class = "block-panel-master-header" })
              .Content(Attach().ToHtmlString());
      })
      )