
@model ASOFT.ERP.ViewModel.S.SF1052ViewModel
@using System.Web.UI.WebControls;
@using ASOFT.ERP.A00.Core;
@using ASOFT.ERP.A00.Entities.Database

<div class="container_12">
    <table class="asf-table-view">
            <tr>
                <td class="asf-td-caption" style="width: 20%">@Html.ASOFTLabel(model => model.GroupID)</td>
                <td class="asf-td-field">
                    @(Html.ASOFTTextBox(model => model.GroupID, htmlAttribute: new { initValue = Model.GroupID }))
                </td>
                <td class="asf-td-caption" style="width: 25%">@Html.ASOFTLabel(model => model.GroupName)</td>
                <td class="asf-td-field">@Html.ASOFTTextBox(model => model.GroupName, htmlStyle: new { width = Unit.Percentage(100) }) </td>
            </tr>
    </table>
 </div>
<div class="container_12 asf-button-filter-container">
    <div class="grid_6 omega float_right">
        <ul class="vertical float_right"  style="border-bottom: none !important">
            <li> 
                @(Html.ASOFTSearchButton()
                    .Name("SF1052GridGroupFilter")
                    .Events(e => e.Click("SF1052GridGroup_Click")))
            </li>
            <li> 
                @(Html.ASOFTSearchResetButton()
                    .Name("SF1052GridGroupClearFilter")
                .Events(e => e.Click("SF1052GroupClearFilter_Click")))

            </li>
        </ul>
    </div>
</div> 
<div class="clearfix"></div>  
@Html.Partial("GridGroupID")  