@*//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Created                Comment
//#     08/03/2017      Quang Hoàng           Tạo mới
//####################################################################
*@



@using ASOFT.ERP.ViewModel;
@using ASOFT.ERP.A00.Core
@model ASOFT.ERP.ViewModel.A00.AttachFileViewModel

@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = @Html.ASOFTPageTitle(@Html.PopupEditTitle(m => m.Title), "CMNF9006").ToHtmlString();
    ViewBag.Width = 650;
 }
<div class="asf-form-container">
@using (Html.BeginForm(null, null, FormMethod.Post, new
{
    id = "CMNF9005"
}))
{
    @Html.ASOFTHidden(m => m.Type)
    @Html.ASOFTHidden(m => m.RelatedToID)
    @Html.ASOFTHidden(m => m.RelatedToTypeID)
     <div class="container_12 asf-quick-search-container">
         @Html.ASOFTTextBox(m => m.TxtSearch, htmlStyle: new
       {
           @width = "calc(100% - 2px)",
       },
       htmlAttribute: new
       {
           @placeholder =  Html.ASOFTRaw(model=>model.TxtSearch)
       })
            <a id="btnSearchObject" class="k-button-icontext asf-button" style="" data-role="button" role="button" aria-disabled="false" tabindex="0" onclick="search_Click()"><span class="k-sprite asf-i-search-24"></span></a>
     </div>
        <div class="clearfix">
        @Html.Partial("GrilSelected")
    </div>
    <div class="container_12 asf-form-button">
            <ul>
                <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.AttachFile"))
                      .Name("btnAttachFile").Events(e => e.Click("btnAttachFile_Click")))
                </li>
                <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChoose"))
                      .Name("btnChoose").Events(e => e.Click("btnChoose_Click")))</li>
                <li>
                    @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnCancel"))
                      .Name("btnCancel").Events(e => e.Click("btnCancle_Click")))
                </li>
            </ul>
        </div> 
    
    <div hidden>
         @(Html.Kendo().Upload()
                                .Name("upload").HtmlAttributes(new { id = "AttachFile" })
                                .Messages(m => m.Select(ASOFTLanguage.FindWordA00("A00.AttachFile")))
                                .Multiple(false)
                                .ShowFileList(true)
                                .Async(a => a.Save("Save", "AttachFile").AutoUpload(true)
                                ).Events(e => e.Success("onImageSuccess")
                                            .Upload("onImageUpload"))
                                )
    </div>
}
</div>

<style>
.asf-quick-search-container {
    position:relative;
    height: 35px;
}

.asf-quick-search-container a {
    line-height: 1.3em;
    min-width: 30px;
    _padding: 2px 2px 2px 7px;
    position: absolute;
    right: 0;
    top: 0;
}
</style>

@section jsFeature {
   <script src="@Url.Content("~/Scripts/attachfile.js" + "?v="+ASOFTEnvironment.Version)" type="text/javascript"></script>
}
