@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     30/10/2014      Đức Quý         Tạo mới
//####################################################################
*@
@model CIF1013ViewModel
@{
    Layout = "~/Views/Shared/_PopupLayout.cshtml";
    ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "CIF1013").ToHtmlString();
    ViewBag.Width = 1100;

    // Form Status
    //bool isInsert = Model.FormStatus.Equals(ASOFTFormActionType.AddNew);
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CIF1013" }))
{        
<div class="asf-form-container">
    <div class="form-content">
        <table class="asf-table-view">
            <tr>
                <td class="asf-td-grid-caption">@Html.ASOFTLabel(model => model.TeamID)</td>
                <td class="asf-td-grid-field" colspan="2">
                    @*@(Html.ASOFTBussinessComboBox()
                        .ASOFTDRMTeamID(model => model.TeamID, branchID: "%").SelectedIndex(0)
                        .Events(e=>e.Change("CIF1013.comboTeamID_Changed")))*@
                    @Html.ASOFTTextBox(model=>model.TeamID).ReadOnlyIf(true)
                </td>
                <td class="asf-td-grid-space" colspan="3"></td>
                <td class="asf-td-grid-caption">@Html.ASOFTLabel(model => model.TeamLeaderID)</td>
                <td class="asf-td-grid-field" colspan="2">
                     @(Html.ASOFTBussinessComboBox()
                        .ASOFTCITeamleader(model => model.TeamLeaderID)
                        .Events(e=>e.Change("CIF1013.teamLeaderID_Changed")
                                    .DataBound("CIF1013.teamLeaderID_DataBound")))
                    @*@(Html.ASOFTBussinessComboBox()
                        .ASOFTCITeamleader(model => model.TeamLeaderID, option: new ComboOption() { 
                                        EventPostData = "CIF1013.teamLeaderID_SendData"
                        })
                        //.CascadeFrom("TeamID")
                         //.Events(e=>e.Change("DRF1021.combo_Changed")))
                    )*@
                </td>
            </tr>
            <tr>
               
            </tr>
        </table>
    </div>
    <div class="form-content">
        <div class="form-content-grid-left">
            <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption" colspan="3">@Html.ASOFTLabel(model => model.Grid1Title)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption" colspan="3">
                        @Html.Partial("Grid1")
                    </td>
                </tr>
            </table>
        </div>
        <div class="asf-btn-arrow">
             <table class="asf-table-view">
                 <tr>
                     <td>
                        <ul class="middle-buttons">
                            <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeSingle"))
                                    .Name("changeSingle")
                                    .Events(m => m.Click("CIF1013.addEmpToTeam"))
                                )
                            </li>
                            <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeReturn"))
                                    .Name("returnSingle")
                                    .Events(e => e.Click("CIF1013.removeEmpToTeam"))
                                )
                            </li>       
                            <li class="third">@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnChangeAll"))
                                    .Name("returnChangeAll")
                                    .Events(e => e.Click("CIF1013.addAllEmpToTeam"))
                                 )
                            </li>
                            <li>@(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnReturnAll"))
                                    .Name("ReturnAll")
                                    .Events(e => e.Click("CIF1013.removeAllEmpToTeam"))
                                )
                            </li>               
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-content-grid-right">
            <table class="asf-table-view">
                <tr>
                    <td class="asf-td-caption" colspan="3">@Html.ASOFTLabel(model => model.Grid2Title)</td>
                </tr>
                <tr>
                    <td class="asf-td-caption" colspan="3">
                        @Html.Partial("Grid2")
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="asf-form-button">
    <table class="asf-table-view">
        <tr>
            <td align="right">
                <div class="asf-popup-button-container">
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnClose"))
                              .Name("BtnClose")
                              .Events(e => e.Click("CIF1013.btnClose_Click")))
                    </div>
                    <div>
                        @(Html.ASOFTButton(ASOFTLanguage.FindWordA00("A00.btnSave"))
                                .Name("BtnSaveClose")
                                .Events(e => e.Click("CIF1013.btnSave_Click")))
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
}

@section jsFeature {
    <script src="@Url.Content("~/Areas/CI/Scripts/CIF1013.js?v=" + ASOFTEnvironment.Version)" type="text/javascript"></script>
}

@section styleFeature {
    <link href="@Url.Content("~/Areas/CI/Content/Common.css")" rel="stylesheet" type="text/css" />
}

@Html.ASOFTHidden("UrlUpdate", Url.Action("Update"))