@*
//####################################################################
//# Copyright (C) 2010-2011, ASoft JSC.  All Rights Reserved. 
//#
//# History:
//#     Date Time       Updater         Comment
//#     19/07/2014      Thai Son        Tạo Mới
//####################################################################
*@

@model ASOFT.ERP.ViewModel.S.SF1012ViewModel
@{
    // Required ---------------------------------------------------------------
    Layout = "~/Views/Shared/_MasterDetailLayout.cshtml";
    Queue<string> PanelNameQueue;
    Queue<string> TabNameQueue;
    ViewBag.PanelNameQueue = PanelNameQueue = new Queue<string>();
    ViewBag.TabNameQueue = TabNameQueue = new Queue<string>();
    //-------------------------------------------------------------------------

    //ViewBag.Title = Html.ASOFTPageTitle(m => m.Title, "POSF0025").ToHtmlString();
    ViewBag.Title = Html.ASOFTPageTitle(model => model.Title, "SF1012").ToHtmlString();
}

@Html.ASOFTHidden(m => m.GroupID)
@*----------------------------------*@

@* Define tab one by one, tab name format: "DetailTab" + index
    Indices must be continuous *@
@section DetailTab1
{
    @Html.AddDetailTabName(TabNameQueue, ASOFT.ERP.A00.Core.ASOFTLanguage.FindWordA00("A00.Details"))
    @Html.Partial("GridGroupDetail")
}

@section DetailTab2
{
    @Html.AddDetailTabName(TabNameQueue, ASOFT.ERP.A00.Core.ASOFTLanguage.FindWordA00("A00.History"))
}

@* Define panel one by one, panel name format: "MasterPanel" + index
    Indices must be continuous *@
@section MasterPanel1
{
    @Html.AddMasterPanelName(
        PanelNameQueue,
        Html.ASOFTRaw(model => model.Title2))
    <tr>
        <td>@Html.ASOFTLabel(model => model.GroupID)</td>
        <td>@Html.DisplayFor(model => model.GroupID)</td>
    </tr>
    <tr>
        <td>@Html.ASOFTLabel(model => model.GroupName)</td>
        <td>@Html.DisplayFor(model => model.GroupName)</td>
    </tr>
    <tr>
        <td>@Html.ASOFTLabel(model => model.DivisionID)</td>
        <td>@Html.DisplayFor(model => model.DivisionID)</td>
    </tr>
    <tr>
        <td>@Html.ASOFTLabel(model => model.Disabled)</td>
        <td>@{var disabled = Model.Disabled  ? ASOFTLanguage.FindWordA00("A00.Yes") : ASOFTLanguage.FindWordA00("A00.No"); }
             @disabled
        </td>
    </tr>

}

@section MasterPanel2
{
    @Html.AddMasterPanelName(
        PanelNameQueue,
        ASOFTLanguage.FindWordA00("A00.SystemInfo"))
    <tr>
        <td>@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateUserID"))</td>
        <td>@Html.DisplayFor(model => model.CreateUserID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.CreateDate"))</td>
        <td>@Html.DisplayFor(model => model.CreateDate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyUserID"))</td>
        <td>@Html.DisplayFor(model => model.LastModifyUserID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayName(ASOFTLanguage.FindWordA00("A00.LastModifyDate"))</td>
        <td>@Html.DisplayFor(model => model.LastModifyDate)</td>
    </tr>

}
@Html.ASOFTHidden("SF1010", Url.Action("Index"))
@* Javascript and css files are optional *@
@section styleFeature{
    <link href="@Url.Content("~/Areas/S/Content/SF1012.css")" rel="stylesheet" type="text/css" />
}

@section jsFeature{
    <script src="@Url.Content("~/Areas/S/Scripts/SF1012.js?v=" + ASOFTEnvironment.Version)"> </script>
}

